/* The SCSS used for Katalyo */
/* The CSS that's required to position the elements */
html {
  /*position: absolute;
  position: relative;
  min-height: 100%;
*/ }

body {
  /*background-color: #333333 !important;
      margin: 0;
      padding:0;
      padding-top:5px;*/
  /* background-color:  #f8faff; 
     background-color: #95c8d8  #c6d9ec;
      margin-bottom: 50px;
     
  margin-top: 0 !important;
  margin-left: 12px !important;
  margin-right: 12px !important;*/
  /*height: 100%;
      overflow-x: hidden;
      */

  font-size:0.9rem !important;
  line-height: 1.25 !important; }

  [v-cloak] {
    display: none;
  }
  
#app{
  height: 100vh;
}
#header {
  position: relative;
  /*height: 5%;
 padding:2px;*/
  width: 100%;
  height: 30px;
  background-color: #5f5f5f;
  /* border-bottom: 3px solid Green;*/
  color: white; }

#headerdetails {
  position: relative;
  /*height: 5%;*/
  padding: 2px;
  width: 100%;
  background-color: #dedede;
  /* border-bottom: 3px solid Green;*/
  display: none;
  color: #4D4DB8; }

.navbarsize {
  border: 1px solid red; }

#contentHolder {
  top: 5px;
  position: relative; }

.layout {
  top: 5px;
  margin-bottom: 10px; }

@media (max-width: 768px) {
  #contentHolder {
    margin-top: 240px; } }

.displayNone {
  display: none; }

.min10 {
  position: relative;
  height: 100%;
  min-height: 40px;
  /*padding:20px;*/
  border: 2px dashed gray; }

.max300 {
  /*position:relative;
  height:100%;*/
  max-height: 300px;
  overflow-y: auto; }

.max200 {
  /*position:relative;
  height:100%;*/
  max-height: 200px;
  overflow-y: auto; }

.placeholder-drag-drop {
  /*border: 3px dotted #000 !important;*/
  /*margin-bottom:10px;*/
  /*height:20px;*/ }

.myGrid {
  /*width: 98%;
    
   height: 250px;
   position:relative;*/
  height: 450px;
  /*width:100%;
 margin-right:15px !important;*/ }

@media (min-width: 1024px) {
  .my-grid {
    width: 772px; } }

@media (min-width: 1280px) {
  .my-grid {
    width: 972px; } }

@media (min-height: 768px) {
  .my-grid {
    height: 480px; } }

@media (min-height: 900px) {
  .my-grid {
    height: 650px; } }

.myGrid2 {
  height: 110px;
  margin-right: 0px;
  margin-left: 0px;
  background-color: #fff; }

.myGrid2CellClass .ui-grid-cell-contents {
  background-color: #fff; }

.myGridSmall {
  /*width: 98%;
    
   height: 250px;*/
  height: 300px;
  /* position:relative;
width:100%;*/ }

.padding0 {
  padding: 0 !important; }

.padding5 {
  padding: 5px !important; }

.margin0 {
  margin: 0 !important; }

.margL0 {
  margin-left: 0 !important; }

.padL0 {
  padding-left: 0 !important; }

.padR0 {
  padding-right: 0 !important; }

.right-0 {
  right: 0 !important; }

.padding5 {
  padding: 5px !important; }

.noHorizontalPadding {
  padding-left: 0 !important;
  padding-right: 0 !important;
  /*padding-top:2px;
 padding-bottom:1px;*/
  /*margin-left: -40px !important;*/ }

ul.form-container {
  padding: 0 !important;
  /*margin-left: -40px !important;*/ }

.marginL5 {
  margin-left: 5px !important; }

.inline-block-div {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  vertical-align: text-top; }

.full-screen {
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  left: 0; }

.sort-box {
  /* margin-right:10px !important;
  background-color: #F8F8F8;*/
  padding: 5px !important;
  /* padding-right: 15px !important;*/ }

.gridRow {
  /*background-color:#f1f1f1;
    border: 5px solid white;
    margin-left:1px;
    margin-right:15px;*/ }

.gridColumn {
  background-color: yellow;
  /*border: 5px solid white;
    margin-left:5px;
    margin-right:10px;*/ }

.no-border {
  border: none !important;
  box-shadow: none;
  /* You may want to include this as bootstrap applies these styles too */
  background: none;
  margin: 0 !important; }

.loadingGif {
  width: 55px;
  height: 55px;
  background-image: url("/static/loading.gif"); }

.processingContent {
  background-color: #fff;
  /* padding-top:5px;
   padding-bottom:5px;*/
  box-shadow: 0 0 10px 10px #444;
  /*#9CC1E6;#FFDEAD;*/ }

.show-border {
  border: 5px dotted green;
  background-color: green;
  color: green;
  /*min-height: 50px;*/
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.6; }

.grid-column-border {
  border: 2px dotted Gray !important;
  margin: 5px !important; }

.grid-row-border {
  border: 1px solid #e6e8eb !important; }

.grid-row-background-afafaf {
  background-color: #afafaf !important; }

.row-header-input {
  display: flex;
  font-size:12px;
  font-weight: 600;
  width: 100%;
  color: #212529;
  background-color: #707c8c;
  outline: none;
  padding-left: 1em; }

.column-header-wrap {
  width: 68%; }

.column-header-input {
  /* display: flex;*/
  font-size:12px;
  font-weight: 500;
  width: 100%;
  height: 2rem;
  outline: none;
  /*padding-top: 0.5em;MIGOR*/ }

.side-menu {
  padding-right: 0 !important;
  margin-right: 0 !important;
  padding-left: 5px;
  margin-top: 5px; }

.toolbox {
  max-width: 93%; }

.form-btns-top {
  z-index: 5;
  top: 50px; }

.form-props-pos {
  overflow-y: auto;
  top: 155px !important;
  max-height: calc(100vh - 7rem); }

.dataset-form-props-pos {
  overflow-y: auto;
  top: 120px !important;
  max-height: calc(100vh - 7rem); }

.properties-extended {
  background-color: #ffffff;
  width: 50%;
  position: absolute;
  right: 0;
  box-shadow: 0 0.5rem 1rem #0e1a3926 !important;
  border: 1px solid #e7e7e7; }

.menu-sticky-pos {
  overflow-y: auto;
  top: 55px !important;
  max-height: calc(100vh - 5rem); }

#content {
  padding: 5px !important;
  padding-left: 0px !important;
  margin-bottom: 50px;
  /*min-height:86vh;*/
  /*background-color:#6daac6;#b8d8d8;*/ }

.contentR {
  background-color: #6daac6;
  /*#b8d8d8;*/ }

.padding-0 {
  padding-right: 0 !important;
  margin-right: 0 !important;
  padding-left: 10px; }

.padding-3 {
  padding: 3px;
  padding-left: 5px; }

.footer {
  position: fixed;
  min-height: 2rem;
  bottom: 0;
  background-color: #eef1fa5c;
  width: 100%;
  align-items: center !important;
  text-align: right;
  /*padding-left:10px;
padding-right:10px;*/ }

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between; }

.boxshadow {
  position: relative;
  box-shadow: 1px 2px 3px #888888;
  /*padding: 10px;*/
  /*  background: white;*/
  margin-bottom: 5px;
  /* margin-right:15px;*/
  background-color: #fefefe; }

.boxshadow img {
  /*width: 100%;
    border: 1px solid #8a4419;
    border-style: inset;*/ }

.boxshadow::after {
  /* content: '';
    position: absolute;
    z-index: -1; /* hide shadow behind image 
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3); 
    width: 70%; 
    left: 15%;  /*one half of the remaining 30% 
    height: 100px;
    bottom: 0;*/ }

.well-custom {
  margin-bottom: 5px !important;
  padding: 5px !important;
  border-color: #c1c1c1 !important;
  border-radius: 0 !important; }

.well-custom-flex {
  margin-bottom: 5px !important;
  padding: 5px !important;
  border-color: #c1c1c1 !important;
  border-radius: 0 !important;
  display: flexbox; }

.well-custom-no-lock-padding {
  margin-bottom: 5px !important;
  padding: 20px;
  border-color: #c1c1c1 !important;
  border-radius: 0 !important; }

.margin-top-5 {
  margin-top: 5px !important; }

.ui-grid-row {
  clear: both; }

.noPadTopBottom {
  padding-bottom: 0 !important;
  padding-top: 0 !important; }

.checkbox-zoom-large {
  zoom: 1.75; }

/* The starting CSS styles for the enter animation */
.fade {
  transition: 0.1s linear all;
  opacity: 1; }

/* The finishing CSS styles for the enter animation */
.fade.ng-hide {
  opacity: 0; }

.exampleRow {
  /*  display: flex;
    flex-direction: row;  MIGOR VIDJETI DA LI PRIVRMENO*/ }

.exampleCell {
  flex-grow: 1; }

.exampleRow, .exampleCell {
  margin: 5px;
  padding: 5px;
  background-color: rgba(11, 11, 11, 0.3);
  border: 1px solid;
  border-radius: 3px;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab; }

.fade {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
  -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s; }

.fade.ng-hide {
  opacity: 0; }

.exampleCell2 {
  margin: 5px;
  padding: 5px;
  color: white;
  /* background-color: rgba(220, 5, 50, 0.7); */
  background-color: rgba(50, 50, 150, 0.7);
  border: 1px solid;
  border-radius: 5px;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab; }

.z-last {
  padding-left: 15px; }

.icon-list .fa-hover a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  color: #222;
  line-height: 32px;
  height: 32px;
  padding-left: 10px;
  border-radius: 4px;
  cursor: pointer; }

a.linkIcon {
  padding-top: 15px;
  border: 1px solid transparent; }

a.linkIcon:hover {
  /* background-color: #1d9d74;
    color: #fff;*/
  background-color: #f1f1f1;
  border: 1px solid #e1e1e1;
  color: orange;
  text-decoration: none;
  cursor: pointer; }

.spinner-std {
  width: 100px;
  height: 100px;
  position: absolute;
  top: calc(50% - 70px);
  left: calc(50% - 50px); }

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #9c9;
  border: solid 3px #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out; }

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }

@keyframes bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

form.well {
  position: relative; }

.overlay {
  opacity: .75;
  background-color: #000;
  width: calc(100% + 10px);
  height: calc(100% + 22px);
  position: absolute;
  z-index: 5;
  margin: -20px -20px;
  border-radius: 3px; }

.login-progress {
  text-align: center;
  position: absolute;
  top: calc(50% + 45px);
  left: calc(50% - 45px);
  color: #fff;
  z-index: 10; }

.active-edit-sidemenu {
  background-color: #F7D358;
  /*  background-color:#2980B9;*/
  color: #fff !important; }

.sidebar-nav .nav li a:hover {
  background-color: #428bca !important;
  color: white !important; }

.activeEditMode, .inactiveEditMode {
  font-size:30px;
  cursor: pointer; }

.activeEditMode, .inactiveEditMode {
  font-size:30px;
  cursor: pointer; }

i.activeEditMode {
  color: #5cb85c; }

i.inactiveEditMode {
  color: #b3b3b3; }

img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.visibility-visible {
  visibility: visible; }

.visibility-hidden {
  visibility: hidden; }

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.arrow-triangle {
  border-right: 2px solid;
  border-bottom: 2px solid;
  height: 10px;
  width: 10px;
  transform: rotate(-45deg);
  margin: 0 auto; }

.arrow-right {
  transform: rotate(-45deg);
  top: -6px;
  position: relative; }

.arrow-left {
  transform: rotate(135deg);
  top: -4px;
  position: relative; }

.arrow-up {
  transform: rotate(-135deg); }

.arrow-down {
  transform: rotate(45deg); }

.arrow-line-up {
  border: 1px solid;
  width: 0;
  margin: 0 auto;
  min-height: 30px;
  margin: 0 auto;
  top: -10px;
  position: relative; }

.arrow-line-down {
  border: 1px solid;
  width: 0;
  min-height: 30px;
  margin: 0 auto;
  bottom: -10px;
  position: relative; }

.arrow-line-up-down {
  border: 1px solid;
  width: 0;
  min-height: 30px;
  margin: 0 auto; }

.arrow-line-left-right {
  border: 1px solid;
  height: 0;
  top: 15%;
  position: relative; }

.bg-thistle {
  background-color: #eaeaea;
  /*#F3E2A9; #fffeee; #d5eabb;#E6E6FA; */ }

.bg-purple-custom {
  background-color: #210B61; }

.bg-head-custom {
  background-color: #ddefd8;
  /*#ddd888;*/ }

.properties-opened {
  position: relative;
  max-height: 50%;
  overflow-y: scroll;
  top: 50px;
  width: 98%; }

.sticky-properties-bottom {
  position: fixed;
  /* width: 100%;*/
  z-index: 500;
  overflow: scroll;
  max-height: 80%;
  /*width:inherit;*/
  max-width: 50%;
  /*left:0;
  
  top:20px;
 bottom:0px;
  margin-top:40px;
*/ }

/*
.prop-btn {
      display: none;
    visibility: hidden;
}
*/
/*.dataset-item:hover .prop-btn, .prop-btn:hover {
  display: inline-block;
      visibility: visible;
}*/
.ml-5rem {
  margin-left: -6.5rem !important; }

.element-properties-btns {
  visibility: hidden;
  position: absolute !important;
  /*margin-right: 0.75rem;*/
  z-index: 100;
  height: fit-content !important;
  right: 0;
  top: 0.5rem;
  min-width: max-content; }

.dataset-item:hover > div > .element-properties-btns, .dataset-item:focus > div > .element-properties-btns {
  visibility: visible; }

.dataset-item:hover > div > .blue-dropdown > .element-properties-btns, .dataset-item:focus > div > .blue-dropdown > .element-properties-btns {
  visibility: visible; }

div.build-mode .dataset-item:hover {
  /* treba vidjeti kako na hover da zasivi pozadinu, ovo nije to */
  /* border: 1px solid #e2e2e2;*/
  box-shadow: 0 0.125rem 0.25rem rgba(14, 26, 57, 0.08) !important;
  background-color: #ebfaff;
  border-radius: 0.25rem !important; }

/*
.dataset-item:hover .fa {
  color: rgba(255, 255, 255, 0.9) !important;
}
*/
.grid-row-background-afafaf:hover .fa {
  color: rgba(255, 255, 255, 0.9) !important; }

/*
.grid-row-background-afafaf:hover .container-prop-hover {
  visibility: visible; 
}*/
.container-prop-hover {
  background-color: #707c8c; }

.container-footer {
  /*visibility: hidden;*/
  position: sticky;
  right: 0.5rem; }

.bottom-0 {
  bottom: 0; }

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px; }

.nav-button, .nav-button-active {
  background-color: transparent;
  border-bottom: 1px solid #2C60E5;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  padding-left: 0;
  padding-right: 0;
  font-size:1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
  .nav-button-active {
    color: #2C60E5;
    border-bottom: 1px solid #2C60E5; }

.dropdown-max-content-width {
  width: max-content; }

.menu-arrow {
  position: absolute;
  left: 8em;
  top: -0.1em; }

.animFadeInOutOnce {
  width: 200px;
  height: 200px;
  background: red;
  -webkit-animation: fadeinout 4s linear forwards;
  animation: fadeinout 4s linear forwards;
  opacity: 0; }

@-webkit-keyframes fadeinout {
  50% {
    opacity: 1; } }

@keyframes fadeinout {
  50% {
    opacity: 1; } }

.animFadeInOut {
  animation: fadeIn 1s infinite alternate; }

@keyframes fadeIn {
  from {
    opacity: 0; } }

.builtOnKatalyo {
  position: fixed;
  right: 10px;
  bottom: 10px;
  border: 1px solid #efefef;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.95);
  color: #2b2b71e8;
  box-shadow: 1px 1px 3px #efefef;
  font-family: sans-serif; }

@media print {
  body * {
    /*  visibility: hidden;   found other solution with new tab so this is not needed */ }
  .printme, .printme * {
    visibility: visible; }
  .printme {
    position: absolute;
    left: 0;
    top: 0; }
  .noprint, .noprint * {
    visibility: hidden !important; }
  .table-katalyo-wrapper {
    overflow: visible !important; } }

.blue-dropdown {
  position: absolute !important;
  right: 0;
  top: 0.15rem;
  margin-right: 0.75rem;
  /*   z-index: 100; */ }

.blue-dropdown-new {
  position: absolute !important;
  visibility: visible !important;
  right: 0;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  z-index: 100; }

.element-properties-btns-new {
  visibility: hidden;
  background-color: #b1c2ef !important; }

.dataset-item:hover > .element-properties-btns-new, .dataset-item:focus > .element-properties-btns-new {
  visibility: visible; }

.dataset-item:hover > .blue-dropdown-new > .element-properties-btns-new, .dataset-item:focus > .blue-dropdown-new > .element-properties-btns-new {
  visibility: visible; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */ }

.gap-4 {
  gap: 4px; }

.gap-8 {
  gap: 8px; }

.gap-12 {
  gap: 12px; }

.gap-16 {
  gap: 16px; }

.gap-24 {
  gap: 24px; }

.col-gap-4 {
  column-gap: 4px; }

.col-gap-8 {
  column-gap: 8px; }

.col-gap-12 {
  column-gap: 12px; }

.col-gap-16 {
  column-gap: 16px; }

.col-gap-24 {
  column-gap: 24px; }

.row-gap-4 {
  row-gap: 4px; }

.row-gap-8 {
  row-gap: 8px; }

.row-gap-12 {
  row-gap: 12px; }

.row-gap-16 {
  row-gap: 16px; }

.row-gap-24 {
  row-gap: 24px; }

.bg-danger-10 {
  background-color: #FCEBED; }

.p-12 {
  padding: 12px; }

.pt-12,
.py-12 {
  padding-top: 12px; }

.pb-12,
.py-12 {
  padding-bottom: 12px; }

.pr-12,
.px-12 {
  padding-right: 12px; }

.pl-12,
.px-12 {
  padding-left: 12px; }

.multiselect-container {
  background: white;
  border: 1px solid black;
  list-style: none;
  margin: 0;
  padding: 0 10px; }

.animate-repeat {
  line-height: 30px;
  list-style: none;
  box-sizing: border-box; }

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition: all linear 0.5s; }

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity: 0;
  max-height: 0; }

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity: 1;
  max-height: 30px; }

.alert-messages {
  position: relative;
  /* z-index:9999;
  background-color: #efefef;
  right:0px;
  top:50px;
  margin: 0 auto;*/
  /*padding:10px;
  max-height:400px;*/
  /*overflow-y: scroll;*/ }

.alert-messages-inside {
  /* position:fixed;*/ }

.multiSelectItem:focus, .multiSelectItem:hover {
  background-color: #efefef;
  cursor: default; }

.ui-select-panel-body-v-scroll {
  max-height: 180px;
  overflow-y: auto; }

/* to support Bootstrap 4*/
.ui-select-bootstrap.open .dropdown-menu {
  display: block;
  width: 100%; }

.ui-select-bootstrap .ui-select-toggle {
  position: static;
  /* padding:0;*/ }

.ui-select-bootstrap .ui-select-toggle-multiple-list {
  position: relative;
  /* padding:0;*/ }

.ui-select-bootstrap .ui-select-toggle-multiple-list > .dropdown-toggle-multiple-list {
  margin-right: 35px; }

.ui-select-bootstrap .ui-select-toggle > .caret {
  position: absolute;
  height: 10px;
  top: 50%;
  right: 10px;
  margin-top: -2px; }

/* Fix Bootstrap dropdown position when inside a input-group }*/
.input-group > .ui-select-bootstrap.dropdown {
  /* Instead of relative */
  position: static; }

.ui-select-bootstrap > input.ui-select-search.form-control {
  /*border-radius: 4px;  FIXME hardcoded value :-/ */
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 100% !important; }

.input-group > .ui-select-bootstrap > input.ui-select-search.form-control.direction-up {
  border-radius: 4px !important;
  /* FIXME hardcoded value :-/ */
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important; }

.ui-select-bootstrap .ui-select-search-hidden {
  opacity: 0;
  height: 0;
  min-height: 0;
  padding: 0;
  margin: 0;
  border: 0; }

.ui-select-bootstrap > .ui-select-match > .btn {
  /* Instead of center because of .btn */
  text-align: left !important; }

.ui-select-bootstrap > .ui-select-match > .dropdown-toggle-multiple-list {
  /*position: absolute;
  top: 45%;
  right: 50px;*/
  margin-right: 30px; }

/* See Scrollable Menu with Bootstrap 3 http://stackoverflow.com/questions/19227496 */
.ui-select-bootstrap > .ui-select-choices, .ui-select-bootstrap > .ui-select-no-choice {
  width: 100%;
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
  margin-top: 0;
  border-top: 0; }

body > .ui-select-bootstrap.open {
  z-index: 1000;
  /* Standard Bootstrap dropdown z-index */ }

.ui-select-multiple.ui-select-bootstrap {
  height: auto;
  padding: 3px 3px 0 3px; }

.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
  background-color: transparent !important;
  /* To prevent double background when disabled */
  border: none;
  outline: none;
  height: 1.666666em;
  margin-bottom: 3px; }

.ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
  font-size:1.6em;
  line-height: 0.75; }

.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
  outline: 0;
  margin: 0 3px 3px 0; }

.ui-select-multiple .ui-select-match-item {
  position: relative; }

.ui-select-multiple .ui-select-match-item.dropping .ui-select-match-close {
  pointer-events: none; }

.ui-select-multiple:hover .ui-select-match-item.dropping-before:before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  margin-right: 2px;
  border-left: 1px solid #428bca; }

.ui-select-multiple:hover .ui-select-match-item.dropping-after:after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  margin-left: 2px;
  border-right: 1px solid #428bca; }

.ui-select-bootstrap .ui-select-choices-row > span {
  cursor: pointer;
  display: block;
  padding: 3px 10px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap; }

.ui-select-bootstrap .ui-select-choices-row > span:hover, .ui-select-bootstrap .ui-select-choices-row > span:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5; }

.ui-select-bootstrap .ui-select-choices-row.active > span {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca; }

.ui-select-bootstrap .ui-select-choices-row.disabled > span,
.ui-select-bootstrap .ui-select-choices-row.active.disabled > span {
  color: #777;
  cursor: not-allowed;
  background-color: #fff; }

/* fix hide/show angular animation */
.ui-select-match.ng-hide-add,
.ui-select-search.ng-hide-add {
  display: none !important; }

/* Mark invalid Bootstrap */
.ui-select-bootstrap.ng-dirty.ng-invalid > button.btn.ui-select-match {
  border-color: #D44950; }

/* Handle up direction Bootstrap */
.ui-select-container[theme="bootstrap"].direction-up .ui-select-dropdown {
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.25); }

.ui-select-bootstrap .ui-select-match-text {
  width: 100%;
  padding-right: 2em; }

.ui-select-bootstrap .ui-select-match-text span {
  display: inline;
  width: 100%;
  overflow: hidden; }

.ui-select-size-xs {
  line-height: 0.25; }

.ui-select-line-height-1 {
  line-height: 1; }

.ui-select-bootstrap .ui-select-toggle > a.btn {
  position: absolute;
  height: 10px;
  right: 10px;
  margin-top: -2px; }

.ui-select-focus {
  box-shadow: 0 0 0 0.2rem rgba(44, 96, 229, 0.25);
  border-color: #9eb6f3;
  border-radius: 0.25rem !important;
  color: #495057;
  outline: 0; }

.ui-select-focus-invalid {
  border-color: #dc3545 !important;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
  border-radius: 0.25rem !important;
  color: #495057;
  outline: 0; }

/* Spinner */
.ui-select-refreshing {
  position: absolute;
  right: 0;
  padding: 8px 27px;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

@-webkit-keyframes ui-select-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes ui-select-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

.ui-select-spin {
  -webkit-animation: ui-select-spin 2s infinite linear;
  animation: ui-select-spin 2s infinite linear; }

.ui-select-refreshing.ng-animate {
  -webkit-animation: none 0s; }

.input-group-multiple-list {
  position: relative;
  display: block; }

.btn-add-multiple-list {
  position: absolute !important;
  top: 1px;
  right: 0; }

.ui-select-panel-body-v-scroll {
  max-height: 180px;
  overflow-y: auto; }

.btn-form-def-disabled:disabled {
  opacity: unset !important; }

.max-height-1-rem {
  max-height: 1rem; }

.widget-head .widget-prop {
  visibility: hidden; }

.widget-head:hover .widget-prop {
  visibility: visible; }

.widget-active {
  border: 1px solid #9eb6f3; }

.widget-head-active {
  background-color: #EAF0FD; }

.inline-task-absolute {
  max-width: 75vw;
  width: 90rem;
  position: absolute;
  background-color: white;
  z-index: 2;
  top: -17px;
  border: 1px solid gray;
  box-shadow: 0 0.125rem 0.25rem rgba(14, 26, 57, 0.075) !important; }

.trumbowyg-editor, .trumbowyg-textarea {
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  min-height: 300px;
  width: 100%;
  border-style: none;
  resize: none;
  outline: 0;
  overflow: auto; }

.task-instance-def-item {
  /*
 overflow: hidden;
 position: relative;
 display: inline;
 */ }

.task-instance-def-item.ng-enter {
  transition: all ease-in-out 0.25s;
  left: 120%; }

.task-instance-def-item.ng-enter.ng-enter-active {
  left: 0; }

.task-instance-def-item.ng-leave {
  margin-top: 0; }

.task-instance-def-item.ng-leave.ng-leave-active {
  top: -50%; }

.codes-details {
  position: absolute;
  width: 70%;
  right: 15px;
  top: 0;
  height: 150px;
  background-color: white;
  overflow-y: auto;
  /* transition: height 0.5s; */
  box-shadow: 0 0.5rem 1rem rgba(14, 26, 57, 0.15) !important;
  border: 1px solid rgba(14, 26, 57, 0.1) !important; }

.codes-details.active {
  position: absolute;
  width: 70%;
  right: 15px;
  top: 0;
  height: 100%;
  background-color: white;
  /*visibility: visible;*/ }

:root {
  --kt-table-border: #0e1a39;
  --kt-table-font-color: #818181;
  --kt-table-bg-color: #f9f9f9;
  --kt-table-row-selected-bg:#216eff;
  --kt-table-row-hover-bg:#ccdbee;
  --white: #ffffff; }

.table-katalyo-wrapper {
  overflow: auto;
  /* border: 1px solid var(--kt-table-border) !important;
 padding: 10px; */ }

.table-katalyo {
  white-space: nowrap;
  width: 100%;
  margin-bottom: 0 !important;
  /* table-layout: fixed;
  border: 1px solid #8888ff !important;*/ }

.table-katalyo thead {
  /*background-color: var(--kt-table-bg-color);#2C60E5;
    color: var(--kt-table-font-color) !important;*/
  border: none;
  /*border-bottom: 1px solid var(--kt-table-border) !important;
    border-top: 1px solid var(--kt-table-border) !important;*/ }

.table-katalyo thead th {
  /*background-color: var(--kt-table-bg-color);#2C60E5;
    color: var(--kt-table-font-color) !important;*/
  border: none;
  /* border-bottom: 1px solid var(--kt-table-border) !important;
    padding: 0.5rem;*/ }

.table-katalyo th:hover {
  cursor: pointer; }

.table-katalyo th {
  padding: 0.375rem 0.375rem 0.375rem 0.375rem !important;
  /* position: relative;
    left: -10px;*/
  max-width: 20rem;
  text-overflow: ellipsis;
  overflow: hidden;
  border-top: none !important; }

.table-katalyo td {
  /* padding: 0.35rem !important;*/
  padding: 0.375rem 0.375rem 0.375rem 0.7rem;
  max-width: 20rem;
  text-overflow: ellipsis;
  overflow: hidden;
  border-top: none !important; }

.table-katalyo tbody tr:hover {
  background-color: #CAD7F8 !important;
  /* filter: brightness(0.4);
     font-weight: 700;
     color: #000 !important;*/
  cursor: pointer;
  box-shadow: 0 0.125rem 0.25rem #0e1a3914 !important; }

.table-katalyo th:last-child, .table-katalyo td:last-child {
  border-right: none; }

.pagination-sm .page-link {
  /* font-size:0.875rem !important;*/
  font-size:inherit !important;
  line-height: 1.25 !important; }

.page-item.active .page-link {
  background-color: lightslategrey !important;
  font-weight: bolder; }

.page-link {
  border: none !important;
  border-radius: 0.2rem;
  padding: 0.15rem 0.5rem !important; }

.white-border-dashed {
  border: 2px dashed white; }

.lr-drop-target-after {
  border-bottom: 2px solid orange;
  margin-bottom: 10px;
  margin-top: 10px; }

.lr-drop-target-before {
  border-top: 2px solid orange;
  margin-bottom: 10px;
  margin-top: 10px; }

.lr-drop-target-after:before, .lr-drop-target-before:before {
  position: absolute;
  content: '';
  border: 5px solid transparent;
  border-left-color: orange;
  display: inline-block; }

.lr-drop-target-after:before {
  z-index: 10;
  left: -5px;
  bottom: -6px; }

.lr-drop-target-before:before {
  z-index: 10;
  left: -5px;
  top: -6px; }

.lr-drop-target-after:after, .lr-drop-target-before:after {
  position: absolute;
  content: '';
  border: 5px solid transparent;
  border-right-color: orange;
  display: inline-block; }

.lr-drop-target-after:after {
  right: -5px;
  bottom: -6px; }

.lr-drop-target-before:after {
  right: -5px;
  top: -6px; }

.show-on-hover-container:hover {
  background-color: #f0f6ff !important; }

.show-on-hover-container.selected {
  background-color: #f0f6ff !important;
  box-shadow: 0 0.125rem 0.25rem #0e1a3913 !important;
  border: 1px solid #2C60E5; }

.show-on-hover-container:hover .show-on-hover-item {
  visibility: visible; }

.show-on-hover-container .show-on-hover-item {
  visibility: hiden; }

.show-on-hover-item {
  visibility: hidden; }

.initiate-task-widget {
  visibility: hidden; }

.initiate-task-widget.selected {
  visibility: visible; }

.paginator-container-query {
  container-type: inline-size;
  container-name: nav-cont; }

.nav-container {
  display: flex;
  width: 100%;
  padding-top: 1.5rem;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row; }

.paginator-placeholder {
  width: 33%;
  height: 0;
  visibility: hidden; }

@container nav-cont (max-width: 1060px) {
  .nav-container {
    flex-direction: column;
    justify-content: center;
    align-items: center; } }

.original-upload {
  height: 160px; }

.upload-area {
  container-type: inline-size;
  container-name: upload-area; }

@container upload-area (max-width: 434px) {
  .original-upload {
    height: 240px; } }

.row-upload {
  container-type: inline-size;
  container-name: row-upload;
  display: grid;
  grid-template-columns: 36px 1fr 0.3fr 0.3fr 0.5fr 0.6fr;
  padding: 8px 0px 8px 0px !important; }

.upload-abs-container {
  container-type: inline-size;
  container-name: upload-abs-container; }

@container upload-abs-container (max-width: 394px) {
  .row-upload {
    grid-template-columns: 36px 1fr 1fr 1fr 1fr; } }

.col-upload {
  font-size:1rem;
  padding: 6px 0px 6px 12px; }

@container row-upload (max-width: 486px) {
  .col-upload {
    font-size:0.75rem; }
  .upload-col-optional {
    display: none; }
  div.row-upload div:nth-child(1) {
    grid-column-start: 1; }
  div.row-upload span:nth-child(2) {
    grid-column-start: 2; }
  div.row-upload span:nth-child(3) {
    grid-column-start: 6; }
  div.row-upload span:nth-child(4) {
    grid-column-start: 3; }
  div.row-upload span:nth-child(5) {
    grid-column-start: 4; }
  upload-delete-container {
    grid-column-start: 5; } }

@container row-upload (max-width: 394px) {
  .col-upload {
    font-size:0.625rem; }
  .upload-col-optional {
    display: none; }
  div.row-upload div:nth-child(1) {
    grid-column-start: 1; }
  div.row-upload span:nth-child(2) {
    grid-column-start: 2; }
  div.row-upload span:nth-child(3) {
    grid-column-start: 6; }
  div.row-upload span:nth-child(4) {
    grid-column-start: 3; }
  div.row-upload span:nth-child(5) {
    grid-column-start: 4; }
  upload-delete-container {
    grid-column-start: 5; } }

div.row-upload div:nth-child(1) {
  grid-column-start: 1; }

div.row-upload span:nth-child(2) {
  grid-column-start: 2; }

div.row-upload span:nth-child(3) {
  grid-column-start: 3; }

div.row-upload span:nth-child(4) {
  grid-column-start: 4; }

div.row-upload span:nth-child(5) {
  grid-column-start: 5; }

.upload-delete-container {
  container-type: inline-size;
  container-name: upload-delete-container;
  text-align: end;
  padding: 6px 12px; }

.upload-delete-text {
  font-size:1rem !important; }

@container upload-delete-container (max-width: 66px) {
  .upload-delete-text {
    font-size:0.75rem !important; } }

@container upload-delete-container (max-width: 48px) {
  .upload-delete-text {
    font-size:0.625rem !important; } }

/* width & height*/
*::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

/* Track */
*::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px; }

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #555; }

/*
.task-instance-def-item.ng-enter
{
  animation-duration: 1s;
  animation-name: flyin;
  animation-iteration-count:  1;
 
}
.task-instance-def-item.ng-leave
{
  animation-duration: 1s;
  animation-name: flyout;
  animation-iteration-count:  1;
 
}
@keyframes flyin{
  
  from {
    top: -50px;   
  }
  to{
    top:0px;
  }
  
}
@keyframes flyout{
  
  from {
    top: 0px;   
  }
  to{
    top:-50px;
  }
  
}
*/
#titleSpan {
  margin: 0 auto;
  /*position:relative;
	top:0%;*/
  height: 30px;
  font-weight: bold;
  width: 89%;
  min-width: 200px;
  text-align: center;
  line-height: 30px;
  /*overflow:hidden;*/
  /*padding:5px;*/
  /*padding-right: 30px;*/ }

/*
	.collapsed
	{
		background:transparent url(/Resources/Icons/plus_2.png) left top no-repeat;
	    border:none;
		}
	.expanded
	{
		background:transparent url(/Resources/Icons/minus_2.png) left top no-repeat;
		border:none;
	
	}
	.collapsedSmall
	{
		background:transparent url(/Resources/Icons/plus_gray.png) left top no-repeat;
	    border:none;
		}
	.expandedSmall
	{
		background:transparent url(/Resources/Icons/minus_gray.png) left top no-repeat;
		border:none;
	
	}
	*/
/*.expanded:hover
	{cursor:pointer;}
	.collapsed:hover
	{cursor:pointer;}
	*/
#titleSpan:hover {
  cursor: pointer; }

#gwrapDiv {
  /*position:relative;*/
  border: 1px solid pink;
  /*width: 350px;
	height:430px;*/ }

#gmenuitems {
  position: relative;
  border: 1 px solid gray;
  width: 100%;
  min-width: 300px;
  min-height: 400px;
  margin-top: 5px;
  background: #e2e2e2;
  z-index: 1; }

#gcenterDiv {
  position: absolute;
  left: 25%;
  top: 25%;
  height: 50%;
  width: 45%;
  /*background:transparent url(/Resources/blueman_think.png) top left no-repeat;*/ }

#gmsgDiv {
  position: absolute;
  top: 0%;
  left: 30%;
  width: 80%;
  height: 25%;
  /*background:transparent url(/Resources/callout.png) top left no-repeat;*/
  padding: 10px;
  max-width: 250px;
  /*border:1px solid green;*/ }

#gmsgtext {
  /*border:1px solid black;*/
  position: relative;
  top: 10px;
  /*margin:10px;
		border:1px solid white;*/
  color: white;
  font-weight: bold; }

#gmenu1 {
  position: absolute;
  top: 25%;
  left: 70%;
  height: 25%;
  width: 30%; }

#gmenu2 {
  position: absolute;
  top: 50%;
  left: 70%;
  height: 25%;
  width: 30%;
  /*background:transparent url(/Resources/community.png) top right no-repeat;*/ }

#gmenu2:hover {
  cursor: pointer;
  /*background:transparent url(/Resources/community_hover.png) top right no-repeat;*/ }

#gmenu3 {
  position: absolute;
  top: 75%;
  left: 70%;
  height: 25%;
  width: 30%;
  /*background:transparent url(/Resources/search_menu.png) top left no-repeat;*/ }

#gmenu3:hover {
  cursor: pointer;
  /*background:transparent url(/Resources/search_menu_hover.png) top left no-repeat;*/ }

#gmenu4 {
  position: absolute;
  top: 75%;
  left: 30%;
  height: 25%;
  width: 40%;
  /*background:transparent url(/Resources/work_queue.png) center center no-repeat;*/ }

#gmenu4:hover {
  cursor: pointer;
  /*background:transparent url(/Resources/work_queue_hover.png) center center no-repeat;*/ }

#gmenu5 {
  position: absolute;
  top: 75%;
  width: 30%;
  height: 25%;
  /*background:transparent url(/Resources/initiate.png) top right no-repeat*;*/ }

#gmenu5:hover {
  cursor: pointer;
  /*background:transparent url(/Resources/initiate_hover.png) top right no-repeat;*/ }

#gmenu6 {
  position: absolute;
  top: 50%;
  width: 30%;
  height: 25%;
  cursor: pointer;
  /*background:transparent url(/Resources/design.png) top center no-repeat;*/ }

#gmenu6:hover {
  cursor: pointer;
  /*background:transparent url(/Resources/design_hover.png) top center no-repeat;*/ }

#gmenu7 {
  position: absolute;
  top: 25%;
  width: 30%;
  height: 25%; }

#gmenu8 {
  position: absolute;
  top: 0%;
  width: 30%;
  height: 25%; }

.positionCentrally {
  margin: 0 auto;
  height: auto;
  /*background:#fafafa;*/ }

.positionLeft10 {
  position: relative;
  left: 10%;
  height: auto;
  background: #fafafa; }

.centerText {
  text-align: center; }

.width50 {
  width: 50%; }

.width30 {
  width: 30%;
  min-width: 250px; }

.width80 {
  width: 80%; }

.widthAbs100 {
  width: 100px; }

.widthAbs300 {
  width: 300px; }

.dashedBorder {
  border: 2px dashed gray; }

.dottedBorder {
  border: 1px dotted gray; }

.divHeader {
  margin: 0 auto;
  background-color: #28466e;
  text-align: center;
  line-height: 30px;
  height: 30px; }

.padding10 {
  padding: 10px; }

.paddingLeft12Right12 {
  padding-left: 12px;
  padding-right: 12px; }

.sketchpadDiv {
  position: relative;
  margin: 0 auto;
  /*top:150px;
	left:60px;*/
  width: 99%;
  border: 2px dashed gray;
  padding: 10px;
  height: auto;
  /*height:50px;*/
  background: white; }

.sketchpadHeader {
  margin: 0 auto;
  /*top:150px;
	left:60px;*/
  width: 99%;
  /*border:2px dashed gray;*/
  background-color: #aabedd;
  /*#e6e6ff;#d1d1d1;*/
  color: #800;
  text-align: center;
  line-height: 30px;
  height: 30px;
  padding-left: 12px;
  padding-right: 12px; }

.sketchpadHeader:hover {
  cursor: pointer; }

.onboardMsg {
  background: white;
  color: Gray;
  border: 1px solid #dedede; }

.onboardMsgHead {
  background: #dedede;
  margin-top: 20px;
  color: white;
  /*text-align:center;*/ }

.progress2 {
  margin: 0 auto;
  z-index: 600;
  padding: 10px;
  max-width: 10%;
  position: relative; }

.msgContainer {
  /* position:fixed;
   
    top:40;*/
  position: relative;
  text-align: center;
  width: 100%; }

.msgVisuals {
  /*background:#DEFFBD;
    border:4px solid white;#CDD8C2*/
  /*color:#339966;#6f99d9;*/
  background: #f5f5f5;
  border: 4px solid #f5f5f5;
  /*white;#CDD8C2*/
  border-top: none;
  /*color:#339966;#6f99d9;*/
  font-weight: bold; }

.msgVisualsLogin {
  /* background:#DEFFBD;
    border:4px solid white/*#CDD8C2;
    border-top:none;*/
  color: #339966;
  /*#6f99d9;*/
  font-weight: bold;
  background: transparent url(/Resources/ajax-loader_green.gif) center right no-repeat;
  padding-left: 10px; }

.msgProgress {
  line-height: 30px;
  margin-right: 25px;
  text-align: left; }

.messageToUser {
  position: relative;
  margin: 0 auto;
  z-index: 700;
  max-width: 50%;
  overflow: visible; }

.requestInvite {
  left: -10px; }

.labelMsgWrap {
  padding: 10px;
  padding-right: 30px;
  /* padding-top:0;
    border:1px solid red;
   position:relative;
text-align:center;
   margin:0 auto;*/ }

.msgxclose {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  right: 0;
  /*float:right;*/
  /*background:transparent url(/Resources/Toolbox/Close_gray.PNG) bottom left no-repeat;*/ }

.msgxclose:hover {
  cursor: pointer;
  /*background:transparent url(/Resources/Toolbox/Close.PNG) bottom left no-repeat;*/ }

.searchBody {
  background: #e1e1e1; }

.searchShare {
  /*background:transparent url(/Resources/search_menu_hover.png) top left no-repeat;	*/
  height: 60px;
  padding-left: 60px;
  color: Gray; }

.outcomesDiv {
  min-width: 100px;
  min-height: 50px;
  width: 30%;
  padding: 10px;
  padding-left: 30px; }

.bkgGray {
  background: #c1c1c1;
  width: 30%;
  padding: 5px; }

.bkgBlue {
  background: #d1e3ff;
  padding: 5px; }

.outcomeDiv {
  margin: 0 auto;
  width: auto;
  height: auto;
  max-width: 80%;
  max-height: 50%;
  overflow: auto;
  background: #d1d1d1;
  border: 1px outset #d1d1d1;
  color: Yellow;
  padding: 5px; }

.olcodes {
  padding-left: 30px;
  /*border:3px solid pink;*/ }

.outcomeLi {
  /*margin-bottom:5px;*/
  list-style-type: none; }

.codeDiv {
  margin: 0 auto;
  width: auto;
  height: auto;
  max-width: 80%;
  max-height: 50%;
  overflow: auto;
  background: #e3e3e3;
  border: 1px outset #c3c3c3;
  /*color:Yellow;	*/
  padding: 5px; }

.codesLi {
  padding: 3px;
  display: list-item;
  /*border:3px solid pink;*/ }

.initTaskSearchResult {
  background: #f3f3f3;
  padding: 10px;
  border-bottom: 1px solid white;
  /*width:95%;
	top:20px;
	margin:0 auto;*/ }

.taskList {
  background: #f3f3f3;
  padding: 10px;
  width: 40%;
  top: 10px; }

.taskListWrap {
  position: relative;
  background: white;
  left: 22%;
  padding: 10px;
  width: 75%;
  /*margin:0 auto;*/
  margin-top: 10px; }

.wrapSearch {
  /*background:white;
	padding:5px;
	width:100%;
	top:20px;*/ }

.taskData {
  /*position:relative;*/
  padding: 1%; }

.taskInfo {
  margin-bottom: 20px; }

.taskInfoWrap {
  /* position:relative;*/ }

.taskInfoLeft {
  display: inline-block;
  /*position:relative;*/
  border: 1px solid gray;
  /*display:inline-block;
left:0;
top:0;
width:49%;*/ }

.taskInfoRight {
  /*position:absolute;*/
  left: 50%;
  width: 50%;
  top: 0;
  display: inline-block;
  vertical-align: top; }

.taskInputData {
  display: inline-block;
  width: 49%;
  left: 0;
  top: 0;
  /*background:#aabedd;*/ }

.outputForm {
  /*position:absolute;*/
  display: inline-block;
  width: 50%;
  left: 50%;
  top: 0;
  vertical-align: top;
  /*background:#aabedd;*/ }

.outputForm100 {
  /*position:absolute;*/
  display: inline-block;
  width: 100%;
  top: 0;
  vertical-align: top;
  /*background:#aabedd;*/ }

.taskStatus {
  /*		background:#aabedd;*/ }

.taskAudit {
  /*background:#e1e1e1;*/ }

.execTaskData {
  /* position:relative;*/
  margin: 0;
  padding: 5px;
  background: white; }

.ultaskdata li {
  margin-right: 1%;
  /*	 float:left;
		display:inline;*/
  list-style: none;
  /*width:22%;*/
  padding: 1%; }

.tableListStyle {
  background: #e1e1e1;
  padding: 5px;
  width: auto; }

.taskActions {
  /*background:#e1e1e1;*/
  padding: 5px;
  width: auto; }

.searchResult {
  position: relative;
  /*left:21%;
	width: 75%;*/
  background: white; }

.searchResultHeader {
  position: relative;
  /*left:21%;
	margin:0 auto;
	top:150px;
	left:60px;
	width: 75%;*/
  /*border:2px dashed gray;*/
  background-color: white;
  /*#aabedd; #e6e6ff;#d1d1d1;*/
  color: #b44646;
  text-align: left;
  line-height: 30px;
  height: 30px;
  padding-left: 12px;
  padding-right: 12px; }

.searchResultHeader:hover {
  cursor: pointer; }

.complexElementMsg {
  /*border:2px dotted #e6e6ff;*/
  border: 1px solid #dedede;
  /*background: #efefef;
	background: #e6e6ff;*/
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 5px; }

.inputForm {
  /*margin:0 auto;
	position:relative;
	left:21%;
	width:73%;*/
  padding-left: 30px;
  padding-right: 30px;
  background: white;
  border: 1px solid #dedede;
  position: relative;
  overflow: hidden; }

.inputFormElements {
  /*position:absolute;
	float:left;*/
  background-color: #f3f3f3;
  border: 1px solid #dedede;
  padding: 5px; }

.wrapAssign {
  /*float:left;
	left:65%;
	top:1%;
    padding:10px;*/
  background: white;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px; }

.overridesElements {
  background: #f3f3f3;
  padding: 5px;
  /*padding-bottom:0px;*/
  /*width:300px;*/
  max-height: 130px;
  overflow: auto; }

.wrapToggle {
  /*margin-bottom:5px;*/ }

.wrapTopMenu {
  /*padding:5px;
	position:relative;
	left:22%;
	margin:0 auto;
	top:150px;
	left:60px;*/
  /*width: 75%;
	top:50px;
	border:2px dashed gray;*/
  /*background-color:#aabedd; /*#e6e6ff;#d1d1d1;*/
  /*color:#b44646;
	text-align:center;
	line-height:30px;
	height:30px;
	padding-left:12px;
	padding-right:12px;
*/ }

.btnToggle {
  /*position:relative;*/
  width: 24px;
  height: 24px;
  /* border:1px solid orange;
 line-height:40px;*/
  margin-top: 3px;
  /* top:0px;*/ }

.btnToggle:hover {
  cursor: pointer; }

.btnToggleSmall {
  /*position:relative;*/
  width: 16px;
  height: 16px;
  /* border:1px solid orange;
 line-height:40px;*/
  /* margin-top:3px;
 top:0px;*/ }

.btnToggleSmall:hover {
  cursor: pointer; }

.toggleHeadLayoutColors {
  position: relative;
  /*left:21%;
	margin:0 auto;
	top:150px;
	left:60px;
	width: 35%;*/
  /*border:1px solid #dedede;#aabedd;*/
  /*background-color: #dedede;#D9E2FF; aabedd; #e6e6ff;#d1d1d1;*/
  /*background:transparent url(/Resources/back_head.png) center left repeat-x;*/
  line-height: 30px;
  /*color:#800;*/
  text-align: left;
  height: 30px;
  padding-left: 12px;
  padding-right: 12px;
  /*opacity:0.7;*/ }

.toggleHead:hover {
  /*cursor:pointer;line-height:30px;*/ }

.toggleBodyLayoutColors {
  /*position:relative;
	margin:0 auto;*/
  /*left:21%;
	top:150px;
	left:60px;
	width: 40%;*/
  border: 1px solid #dedede;
  padding: 10px;
  height: auto;
  background: white; }

.toggleHeadLayoutColorsInit {
  position: relative;
  background-color: #dedede;
  /*White;#D9E2FF; aabedd; #e6e6ff;#d1d1d1;*/
  color: #5888aa;
  /*#800;*/
  text-align: left;
  line-height: 30px;
  height: 30px;
  padding-left: 12px;
  padding-right: 20px;
  min-width: 200px; }

.itemDashboard {
  margin-bottom: 10px; }

.sortPlaceholder {
  border: 1px dotted gray;
  height: 15px;
  background: White;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 50%;
  min-width: 630px; }

.sortPlaceholderMenu {
  border: 1px dotted gray;
  height: 15px;
  background: White;
  margin-bottom: 5px;
  margin-top: 5px; }

.signUpDiv {
  text-align: center;
  font: Verdana; }

.signUpHeadToggle:hover {
  color: #f59644; }

.actionDivHead {
  position: relative;
  /*left:22%;
	width:75%;
	*/
  width: 30%;
  background-color: white;
  /*#aabedd; #e6e6ff;#d1d1d1;*/
  color: #800;
  text-align: left;
  line-height: 30px;
  height: 30px;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 5px;
  opacity: 0.7;
  border: 1px solid #aabedd; }

.actionDivHead:hover {
  cursor: pointer; }

.actionDivBody {
  position: relative;
  /*left:22%;
	width:75%;
	min-height:70px;*/
  padding: 5px;
  background: white; }

p.blogText {
  font-size:1.2em;
  font-family: Calibri;
  text-align: justify;
  text-indent: 20px;
  line-height: 20px;
  color: #6e6e6e; }

p.blogTextNoIndent {
  font-size:1.2em;
  font-family: Calibri;
  text-align: justify;
  line-height: 20px;
  color: #6e6e6e; }

.backgroundLightGray {
  background: #e3e3e3; }

.periodDiv {
  padding: 10px; }

.padding10 {
  padding: 10px; }

.fixDateDiv {
  padding: 10px; }

.reminderDiv {
  /*     padding:10px;
    border:1px dotted gray;*/ }

.escalationDiv {
  padding: 10px;
  border: 1px dotted gray; }

.backgroundFilter {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: #000;
  filter: alpha(opacity=60);
  opacity: 0.6;
  z-index: 2; }

.taskExecDetailsContentWrap {
  /*position:absolute;
position:fixed;
top:42px;
bottom:2px;
left:2px;
right:2px;*/
  /*height:90%;
width:99%;
 width:14%; 
z-index:3; 
background-color:White; */
  padding: 20px;
  padding-top: 0;
  /*
overflow:auto; 
border:solid 5px #000;
font-family:Tahoma; 
text-align:center; 
color:Gray; */ }

.taskExecDetailsContent {
  /* position:relative;
    top:80px;*/ }

.visualBoardHeader {
  /*position:fixed;*/
  padding-top: 10px;
  right: 20px;
  left: 20px;
  /* z-index:4;*/
  background: white; }

.fixedActions {
  top: 43px;
  position: fixed;
  /* min-height:50px;
    border:1px solid #dedede;
    border-right:none;*/
  background: #fafafa;
  width: 75%;
  left: 25%;
  padding-left: 10px;
  z-index: 1;
  border-bottom: 2px solid #dedede;
  border-left: 2px solid #dedede; }

.footer-bar-no-sticky {
  /* position:relative;
    width:100%;
    border-bottom:1px solid #dedede;*/ }

.leftPanel {
  position: relative;
  display: inline-block;
  width: 74%;
  /* border-right:1px solid #dedede;*/ }

.rightPanel {
  position: relative;
  display: inline-block;
  width: 24%;
  padding: 5px;
  padding-left: 0px;
  border-left: 1px solid #dedede;
  vertical-align: top; }

.borderRight {
  border-right: 1px solid #dedede; }

.borderTop {
  border-top: 1px solid #dedede; }

.borderBottom {
  border-bottom: 1px solid #dedede; }

.mainDesktopRightDivs {
  padding: 5px;
  color: Gray; }

.mainDesktopSearchLeft {
  /* display:inline-block;
     width:50%;
     width:300px;
    position:relative;
    
    padding-right:5px;*/
  border-right: 1px solid #dedede;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px; }

.mainDesktopRight {
  display: inline-block;
  /* background:#f1f1f1; 
       border-left:5px outset #dedede; */
  overflow: hidden;
  vertical-align: top;
  max-width: 50%;
  border-left: 1px solid #dedede; }

.mainDesktopMiddle {
  display: inline-block;
  border: 2px solid #c1c1c1;
  border-right: none;
  background: #f1f1f1;
  padding: 3px;
  vertical-align: top; }

.mainDesktopResult {
  background: #f1f1f1;
  display: inline-block; }

.smallHead {
  padding: 3px;
  border: 1px solid #dedede;
  /* border-bottom:1px solid #dedede;*/
  background-color: #dedede;
  /*line-height:25px;*/
  color: Gray; }

.inlineBlock {
  display: inline-block;
  vertical-align: middle; }

.rightDiv {
  padding: 5px;
  width: 48%;
  border-left: 1px solid #dedede; }

.form-grid-container {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%; }

.halfOval {
  background-color: #a0C580;
  border-radius: 40px 0px 0px 40px;
  width: 15px; }

.borderGreen {
  border: solid #a0C580 2px; }

#floatingCirclesG {
  position: relative;
  margin: 0 auto;
  width: 128px;
  height: 128px;
  -moz-transform: scale(0.6);
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6); }

.f_circleG {
  position: absolute;
  background-color: #FFFFFF;
  height: 23px;
  width: 23px;
  -moz-border-radius: 12px;
  -moz-animation-name: f_fadeG;
  -moz-animation-duration: 1.04s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: normal;
  -webkit-border-radius: 12px;
  -webkit-animation-name: f_fadeG;
  -webkit-animation-duration: 1.04s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  -ms-border-radius: 12px;
  -ms-animation-name: f_fadeG;
  -ms-animation-duration: 1.04s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-direction: normal;
  -o-border-radius: 12px;
  -o-animation-name: f_fadeG;
  -o-animation-duration: 1.04s;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: normal;
  border-radius: 12px;
  animation-name: f_fadeG;
  animation-duration: 1.04s;
  animation-iteration-count: infinite;
  animation-direction: normal; }

#frotateG_01 {
  left: 0;
  top: 52px;
  -moz-animation-delay: 0.39s;
  -webkit-animation-delay: 0.39s;
  -ms-animation-delay: 0.39s;
  -o-animation-delay: 0.39s;
  animation-delay: 0.39s; }

#frotateG_02 {
  left: 15px;
  top: 15px;
  -moz-animation-delay: 0.52s;
  -webkit-animation-delay: 0.52s;
  -ms-animation-delay: 0.52s;
  -o-animation-delay: 0.52s;
  animation-delay: 0.52s; }

#frotateG_03 {
  left: 52px;
  top: 0;
  -moz-animation-delay: 0.65s;
  -webkit-animation-delay: 0.65s;
  -ms-animation-delay: 0.65s;
  -o-animation-delay: 0.65s;
  animation-delay: 0.65s; }

#frotateG_04 {
  right: 15px;
  top: 15px;
  -moz-animation-delay: 0.78s;
  -webkit-animation-delay: 0.78s;
  -ms-animation-delay: 0.78s;
  -o-animation-delay: 0.78s;
  animation-delay: 0.78s; }

#frotateG_05 {
  right: 0;
  top: 52px;
  -moz-animation-delay: 0.91s;
  -webkit-animation-delay: 0.91s;
  -ms-animation-delay: 0.91s;
  -o-animation-delay: 0.91s;
  animation-delay: 0.91s; }

#frotateG_06 {
  right: 15px;
  bottom: 15px;
  -moz-animation-delay: 1.04s;
  -webkit-animation-delay: 1.04s;
  -ms-animation-delay: 1.04s;
  -o-animation-delay: 1.04s;
  animation-delay: 1.04s; }

#frotateG_07 {
  left: 52px;
  bottom: 0;
  -moz-animation-delay: 1.17s;
  -webkit-animation-delay: 1.17s;
  -ms-animation-delay: 1.17s;
  -o-animation-delay: 1.17s;
  animation-delay: 1.17s; }

#frotateG_08 {
  left: 15px;
  bottom: 15px;
  -moz-animation-delay: 1.3s;
  -webkit-animation-delay: 1.3s;
  -ms-animation-delay: 1.3s;
  -o-animation-delay: 1.3s;
  animation-delay: 1.3s; }

@-moz-keyframes f_fadeG {
  0% {
    background-color: #003D7A; }
  100% {
    background-color: #FFFFFF; } }

@-webkit-keyframes f_fadeG {
  0% {
    background-color: #003D7A; }
  100% {
    background-color: #FFFFFF; } }

@-ms-keyframes f_fadeG {
  0% {
    background-color: #003D7A; }
  100% {
    background-color: #FFFFFF; } }

@-o-keyframes f_fadeG {
  0% {
    background-color: #003D7A; }
  100% {
    background-color: #FFFFFF; } }

@keyframes f_fadeG {
  0% {
    background-color: #003D7A; }
  100% {
    background-color: #FFFFFF; } }

.navbar-custom #navbar-collapse-1 {
  min-width: 796px; }

@media (max-width: 976px) {
  .navbar-custom {
    /* background-color: #fff; #2980B9;
    border-radius:0;*/
    padding-left: 10px;
    padding-right: 10px;
    border-top: none; } }

@media (max-width: 1334px) {
  .navbar-header {
    float: none; } }


.navbar-custom .navbar-header {
  margin-top: 6px; }

.navbar-custom .navbar-brand {
  color: #a1a1b1;
  /* margin-top:10px;*/ }

.navbar-custom .navbar-toggle {
  background-color: #006f9e;
  /* border:1px solid #006f9e;*/ }

.empty-side-menu {
  min-height: 45px;
  border: 2px dashed #efefef; }

.side-menu-color {
  /* background-color: #ffffff;*/
  color: #a1a1b1; }

div.toggle-side-menu {
  border-right: 5px solid transparent; }

div.toggle-side-menu:hover {
  border-right: 5px double #cc4545;
  cursor: pointer; }

.active-edit-navbar {
  background-color: #F7D358;
  /*  background-color:#2980B9;*/
  color: #fff !important; }

.dropdown-menu > li a {
  color: #a1a1b1; }

/* change background color on hover */
.dropdown-submenu > a:focus, .dropdown-submenu > a:hover, .dropdown-submenu:focus > a, r, .dropdown-submenu:hover > a,
.dropdown-menu > li a:hover,
.dropdown-menu > li a:focus {
  background-color: #efefef;
  color: #cc4545;
  background-image: none;
  filter: none;
  text-decoration: none;
  border: none; }

.action-tab-item {
  width: 100%;
  text-align: left;
  /*border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem
    */ }

.action-tab-item > a {
  border-radius: 4px 0 0 4px;
  margin-right: 0;
  display: block;
  padding: 0.25rem;
  /* border: 1px solid transparent;*/
  border-right: 1px solid #a1a1b1;
  text-decoration: none;
  width: 100%;
  /* padding-left: 1.5rem !important;*/ }

.action-tab-item > a.active {
  border-radius: 4px 0 0 4px;
  margin-right: 0;
  display: block;
  padding: 0.25rem;
  border: 1px solid #a1a1b1;
  border-right: 1px solid transparent;
  box-shadow: 0 0.2rem 0 rgba(14, 26, 57, 0.075) !important; }

.action-tab-item > a:hover {
  background-color: #ddd;
  /* border-right: 1px solid transparent;*/
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  text-decoration: none; }

.action-tab-item > a:disabled:hover {
  /* background-color: #ddd;
    border-right: 1px solid transparent;*/
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  text-decoration: none; }

.right-pane-top-border {
  border-top: 1px solid #a1a1b1; }

.spinner-std {
  /* margin: 100px auto;
 
  top: 5px;*/
  position: relative;
  /*width: 50px;*/
  height: 40px;
  /* text-align: center;
 border:1px solid red;*/
  font-size:10px;
  /*display: inline-block;
  background-color: #fff;*/ }

.spinner-std > div {
  /* background-color: #333;*/
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out; }

.spinner-std .rect1 {
  background-color: #eef1fa; }

.spinner-std .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
  background-color: #eef1fa; }

.spinner-std .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
  background-color: #eef1fa; }

.spinner-std .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
  background-color: #eef1fa; }

.spinner-std .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
  background-color: #eef1fa; }

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1); } }

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4); }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1); } }

.alert-messages-inside {
  margin-bottom: 5px;
  margin-right: 1px !important; }

.alert-msg-padd {
  padding: 5px; }

.processing-style {
  color: #eef1fa;
  background-color: gray;
  box-shadow: 1px 2px 3px gray; }

.app-msg-container {
  z-index: 2000;
  max-height: 200px;
  position: fixed;
  display: flex;
  bottom: 0;
  min-width: 35rem;
  max-width: 50rem;
  right: 2rem;
  margin-bottom: 1rem; }

.app-msg {
  overflow-y: auto; }

.app-msg-animate.ng-enter {
  transition: ease-out all 0.3s;
  transform: translateY(130%); }

.app-msg-animate.ng-enter.ng-enter-active {
  transform: translateY(0); }

.app-msg-animate.ng-leave {
  transition: ease-in all 0.3s;
  transform: translateX(0); }

.app-msg-animate.ng-leave.ng-leave-active {
  transform: translateY(130%); }

/*
.app-msg.ng-enter
{
  animation-duration: 1s;
  animation-name: flyin;
  animation-iteration-count:  1;
 
}

.app-msg.ng-leave {
  animation-duration: 1s;
  animation-name: flyout;
  animation-iteration-count:  1;
}

@keyframes flyin{
  
  from {
    top: -200px;   
  }
  to{
    top:50px;
  }
  
}
@keyframes flyout{
  
  from {
    top: 50px;   
  }
  to{
    top:-50px;
  }
  
}*/
.loader {
  vertical-align: middle;
  border: 6px solid #f3f3f3;
  /* Light grey */
  border-top: 6px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
  display: inline-block; }

.loader-lg {
  border: 18px solid #f3f3f3;
  /* Light grey */
  border-top: 18px solid #3498db;
  /* Blue */
  width: 100px;
  height: 100px; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.processing-overlay {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  margin: 0 !important; }

.properties-container {
  position: absolute;
  /* z-index: 1;
  height: 100%;*/
  width: 100%;
  background-color: white;
  /* margin: 0 !important;*/
  margin-top: -0.75rem !important; }

/***************************************/
/*This is timeline processing animation*/
/***************************************/
.timeline-item {
  background: #fff;
  /* border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;*/
  padding: 12px;
  margin: 0 auto;
  /*max-width: 472px;*/
  min-height: 200px; }

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0; }
  100% {
    background-position: 468px 0; } }

.animated-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  /*background-size: 800px 104px;
    height: 96px;*/
  position: relative; }

.background-masker {
  background: #fff;
  /* position: absolute;*/ }

/* Every thing below this is just positioning */
.background-masker.masker-item {
  height: 20px; }

.background-masker.masker-margin {
  height: 10px; }

.background-masker.button-bottom {
  height: 40px; }

.controls {
  margin-bottom: 20px; }

.page-header {
  margin-top: 20px; }

ul {
  list-style: none;
  /*padding-left: 10px; migor dodao novo 
    padding-right: 15px; migor dodao novo */ }

.box {
  height: 100%;
  border: 1px solid #ccc;
  /*   background-color: #fff;*/ }

.box-no-border {
  height: 100%;
  /*   border: 1px solid #ccc;
   background-color: #fff;*/ }

.box-autoheight {
  /*migor dodao novo */
  border: 1px solid #ccc;
  background-color: #fff; }

.box-header {
  background-color: #eee;
  padding: 0 10px 0 10px;
  border-bottom: 1px solid #ccc;
  cursor: move;
  position: relative; }

.box-header h3 {
  margin-top: 10px;
  display: inline-block; }

.box-content {
  background-color: #F2F2F2;
  /* background-color: #FFFFF1;
    padding: 10px;*/ }

.box-header-btns {
  top: 20%;
  right: 10px;
  cursor: pointer;
  position: absolute; }

.gridster {
  border: 1px solid #ccc; }

.fa-svg-icon {
  display: inline-block;
  vertical-align: middle;
  min-width: 1em;
  min-height: 1em;
  height: 100%;
  position: relative;
  top: -1px; }

.fa-svg-icon svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.fa-svg-icon svg g,
.fa-svg-icon svg path {
  fill: currentColor; }

.custom-el-layout-style {
  resize: both;
  overflow: auto; }

.dropdown-list-item a {
  color: #2C60E5;
  display: block;
  text-decoration: none; }

.dropdown-list-item a:hover, .dropdown-list-item a:focus {
  color: #ffffff;
  background-color: #2C60E5;
  text-decoration: none; }

.kt-checkbox-label {
  color: rgba(14, 26, 57, 0.6) !important;
  font-size:0.75rem; }

.kt-checkbox-properties {
  color: rgba(14, 26, 57, 0.9);
  background-color: #fff;
  outline: 0;
  margin-left: 3px;
  transform: scale(1.15); }

.text-placeholder {
  color: #b7bac4 !important; }

/* Media Queries */
/* Smartphones, small screens (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  font-size:20px; }

/* Smartphones, small screens (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
  font-size:24px; }

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
  font-size:24px; }

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
  font-size:24px; }

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
  font-size:24px; }

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
  font-size:24px; }

/**********
iPad 3
**********/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
  font-size:24px; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
  font-size:24px; }

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
  font-size:24px; }

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
  font-size:24px; }

/* iPhone 4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
  font-size:24px; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
  font-size:24px; }

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
  font-size:24px; }

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
  font-size:24px; }

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
  font-size:24px; }

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
  font-size:20px; }

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
  font-size:24px; }

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
  font-size:24px; }

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
  font-size:24px; }

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
  font-size:24px; }

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
  font-size:24px; }

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
  font-size:24px; }

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
  font-size:24px; }

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
  font-size:24px; }

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
  font-size:24px; }

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
  font-size:24px; }

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
  font-size:24px; }

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
  font-size:20px; }
