
  <script setup lang="ts">
  import { ref, computed,getCurrentInstance } from 'vue';
  import { useRouter, useRoute } from 'vue-router';
  import { useAuthUserStore } from '@/m_auth/stores/authUser'
  

  
  let errorMsg = ref('');
  let successMsg = ref('');
  let checkDone = ref(false);
  let checkDigestOk = ref(false);
  let dataLoading = ref(false);
  let passwordChangeSuccess = ref(false);
  let usernameInvalid = ref(false);
  let passwordInvalid1 = ref(false);
  const passwordInvalid2 = ref(false);

  const authStore = useAuthUserStore()
  
  const username = ref('');
  const password1 = ref('');
  const password2 = ref('');
  let userId:number

  const route = useRoute()

  //let langCode = (authStore.getCurrentUser || {}).langObj.Code

  var langCode = authStore.getCurrentUser?.langObj?.Code ?? 'en-GB'

  const instance = getCurrentInstance()
  const label = instance?.proxy?.$myGlobalProperty[langCode] || {}

 
  let signupkey =  route.params?.digest
  
  
  const pageLabels = ref({
    // You can add default values or replace them with actual translations
    upsMsg: 'Ooops!',
    invalidRequestMsg: 'Invalid request',
    gotoLoginLink: 'Go to login page',
    checkdRequestMsg: 'Checking request...',
    resetPasswordLabel: 'Reset password',
    processingLabel: 'Processing...',
    username: 'Username',
    usernameError: 'Username is required',
    newPasswordLabel: 'New password',
    newChangePassError: 'Password is required',
    confirmNewPasswordLabel: 'Confirm new password',
    confirmPasswordError: 'Passwords must match',
    changePasswordButton: 'Change password',
  });
  
  const router = useRouter();

  
  const checkPasswordValidity2 = () => {
    passwordInvalid2.value = !password2.value.trim() || password1.value !== password2.value;
  }

  const checkPasswordValidity1=function() {      
             if (password1.value==='' || password1.value===undefined) 
                passwordInvalid1.value=true
             else passwordInvalid1.value=false
         }
  
  const hideError = () => {
    errorMsg.value = '';
  };
  
  const isFormValid = computed(() => {
   
    return ( 
      username.value &&
      password1.value &&
      password1.value === password2.value &&
      !usernameInvalid.value &&
      !passwordInvalid1.value &&
      !passwordInvalid2.value
    );
  });
  

    let touched=[false,false]
    //AuthenticationService.ClearCredentials();

    let cp={username : "", password1 : "",password2 : ""}
    
    //let lang = $location.search().lang
   
                  
     authStore.CheckPassChangeRequest(signupkey,function(response:any) {
             if (response.status === 200) {                
                          checkDigestOk.value = true
                          //userId = response.data.user_id
              }else
                        {
                          checkDigestOk.value = false
             
                        }
            checkDone.value = true                  
    });
                  

     const checkUsernameValidity=function() {        
            if (username.value ==='' || username.value===undefined)
                 usernameInvalid.value=true
            else usernameInvalid.value=false
            passwordInvalid1.value = !password1.value.trim();
            usernameInvalid.value = !username.value.trim();
        }


        const ResetPassword = function(username:any,userId:any,password1:any,password2:any,digest:any) {
          
          dataLoading.value = true;

          authStore.PswReset(username,userId,password1,password2,digest, function(response:any) { 

                if(response.success) {
                    passwordChangeSuccess.value=true
                    successMsg.value = response.message;
                } else {        
                    errorMsg = response.message;
                    passwordChangeSuccess.value=false   
                 }

                  dataLoading.value = false;

          })

        }

/*
      const checkPasswordValidity2=function() { 
           
             if (cp.password1!==cp.password2) passwordInvalid2=true
              else passwordInvalid2=false
        }


        

*/

  </script>

<template>
    <div class="col-lg-24">
      <form  class="form-horizontal" role="form" novalidate>
        <div v-if="errorMsg" class="row justify-content-md-center">
          <div class="col-lg-12 p-0">
            <div class="text-center alert alert-danger">
              <span class="h5">
                {{ errorMsg }}
                <a  style="float:right;margin-left:10px" @click="hideError()"><i class="fa fa-times text-danger"></i></a>
              </span>
            </div>
          </div>
        </div>
  
        <div class="row justify-content-md-center">
          <div v-if="checkDone && !checkDigestOk">
            <div class="text-center">
              <div
                style="font-family: Roboto; font-size: 40px; font-weight: bold; color:#19a3b8; text-align: center; margin-top: 3rem; margin-bottom: 3rem;"
              >
                {{ label.upsMsg || 'Ooops!' }}
              </div>
              <h4 class="alert-danger rounded text-center p-2 px-4">
                <i class="fa fa-times mr-2"></i>
                <span>{{ label.invalidRequestMsg || 'Invalid request' }}</span>
              </h4>
              <div v-if="errorMsg" class="col-lg-24">
                <div class="my-2 text-center text-danger">
                  <h6>{{ errorMsg }}</h6>
                </div>
              </div>
  
              <div class="h5 mt-4"><router-link to="/login">{{ label.gotoLoginLink || 'Go to login page' }}</router-link></div>
            </div>
          </div>
          <div v-if="!checkDone" class="text-center">
            <div class="loader loader-lg"></div>
            <div class="mt-2">
              <div class="panel-title px-1" style="vertical-align:middle;color:#3498db">
                {{ label.checkdRequestMsg || 'Checking request...' }}
              </div>
            </div>
          </div>
        </div>
  
        <div class="row justify-content-md-center" v-if="checkDigestOk">
          <div class="col-lg-12 card p-0">
            <div class="card-header text-center">
              <b class="card-title" v-if="!dataLoading">
                <i class="fa fa-lock mr-2"></i>
                {{ label.resetPasswordLabel || 'Reset password' }}
              </b>
              <div v-if="dataLoading" class="text-center">
                <div class="loader"></div>
                <b class="card-title ml-2" style="vertical-align:middle;color:#3498db">{{ label.processingLabel || 'Processing...' }}</b>
              </div>
            </div>
  
            <div class="card-body">
              <div>
                <div :class="{ 'text-danger' : usernameInvalid }" class="form-group">
                  <label class="mr-1 mb-2" for="username">{{ label.username || 'Username' }}</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="fas fa-user" id="basic-addon1"></i>
                      </div>
                    </div>
                    <input
                      type="text"
                      v-model="username"
                      @input="checkUsernameValidity"
                      :disabled="dataLoading"
                      aria-label="Password"
                      aria-describedby="basic-addon2"
                      class="form-control"
                      name="username"
                      :placeholder="label.username"
                    />
                  </div>
                  <span v-if="usernameInvalid" class="text-danger small">{{ label.usernameError || 'Username is required' }}</span>
                </div>
  
                <div :class="{ 'text-danger' : passwordInvalid1 }" class="form-group">
                  <label class="mr-1 mb-2" for="password">{{ label.newPasswordLabel || 'New password' }}</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="fas fa-key" id="basic-addon1"></i>
                      </div>
                    </div>
                   
                    <input type="password"  v-model="password1"  @input="checkPasswordValidity1"
                      :disabled="dataLoading"
                      aria-label="Password"
                      aria-describedby="basic-addon2"
                      class="form-control"
                      name="password1"
                      :placeholder="label.newPasswordLabel"
                    />
                    
                  </div>
                  <span v-if="passwordInvalid1" class="text-danger small">{{ label.newChangePassError || 'Password is required' }}</span>
                </div>
  
                <div class="form-group mt-2" :class="{ 'text-danger' : passwordInvalid2 }">
                  <label class="mr-1 mb-2" for="password">{{ label.confirmNewPasswordLabel || 'Confirm new password' }}</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="fas fa-key" id="basic-addon2"></i>
                      </div>
                    </div>
                    <input
                      type="password"
                      v-model="password2"
                      @input="checkPasswordValidity2"
                      :disabled="dataLoading"
                      aria-label="Password"
                      aria-describedby="basic-addon2"
                      class="form-control"
                      name="password2"
                      :placeholder="label.confirmNewPasswordLabel"
                    />
                  </div>
                  <span v-if="password1 && (password1 !== password2)" class="text-danger small">{{ label.confirmPasswordError || 'Passwords must match' }}</span>
                </div>
  
                <br />
                <div class="form-group controls">
                  <button   type="button"  v-if="!passwordChangeSuccess" @click="ResetPassword(username,userId,password1,password2,signupkey) "
                    :disabled="!isFormValid || dataLoading"
                    class="btn btn-primary"
                  >
                    <span class="fa fa-lock"></span> {{ label.changePasswordButton || 'Change password' }}
                  </button>
                </div>
              </div>
  
              <div class="col-lg-24">
                <div>
                  <div v-if="passwordChangeSuccess && successMsg" class="text-center" style="padding:20px !important">
                    <span class="h4 alert alert-success"><i class="fa fa-thumbs-up"></i> {{ successMsg }}</span>
                    <div class="h5 mt-4"><router-link to="/login">{{ label.gotoLoginLink || 'Go to login page' }}</router-link></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </template>
  
  
  <style scoped>
  /* Add your custom styles here */
  </style>
  