
<script setup lang="ts">

  import { ref , computed,reactive} from "vue";
  import { storeToRefs } from 'pinia';
  import { useAuthUserStore } from '@/m_auth/stores/authUser';
  import { useAlertStore,alertMessage } from '@/g_stores/alert';
  import { usePageStore } from '@/m_page/stores/page';
  import { useApplicationStore } from '@/g_stores/application';
  import { useCookies, globalCookiesConfig } from "vue3-cookies"
  import  router from '@/g_router/index';
  
  import type { Ref } from 'vue'
  import { useRoute } from 'vue-router';
  
  const authStore = useAuthUserStore();
  const appStore = useApplicationStore()
  const pageStore = usePageStore()
  const alertStore = useAlertStore()
  const {cookies} = useCookies()
  const route = useRoute()

  let pswChangeSuccess= ref(false)
  let email = ref('')
  let errorMsg = ref('')
  let dataLoading= ref(false)

  let retMsg = ref('')                                                         
  let  unregisterOk=ref(false)


  let register= reactive({
        organisation_name: '',
        fname: '',
        lname: '',
        username: '',
        password: '',
        re_password: '',
        pswChange_key: route.params?.pswChange_key,
        organisation_type: 'Personal'
})


let form = reactive({
    organisation_name: {$invalid:false , $touched:false ,$dirty:false , $error: {required:true}},
    fname: {$invalid:false ,$touched:false ,$dirty:false , $error: {required:true}},
    lname: {$invalid:false , $touched:false ,$dirty:false , $error: {required:true}},
    username: {$invalid:false , $touched:false ,$dirty:false , $error: {required:true}},
    password: { $valid:true, $invalid:false , $touched:false ,$dirty:false , $error: {required:true}},
    re_password: { $valid:true, $invalid:false , $touched:false ,$dirty:false , $error: {required:true}},
    $submitted: false,
})
 
let emailInvalid = computed(() => {
    //if (!recaptchaResponse.value) return true
    let pattern = /^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/
    if (email.value.match(pattern)) return false 
    return true
  })

const fn_register = async () => 
{
    //if (!isValidForm()) return;
    dataLoading.value = true;

    try {

        const response = await authStore.register(register)
        if (response.status === 200) { 
                    
                    let currentUser = authStore.getCurrentUser 
                    let session_id= cookies.get('sessionid')
                    
                    authStore.login('fake','fake',true)         //this is only to update all cookies/sessionStoraga/localStorage
                    

                    alertStore.info(new alertMessage('Succesfully registered! ','Succesfully registered! ', 200 ) )

                    // Navigate to home page
                    router.replace({ name: 'onboarding', query: {  'session_id': session_id, 'env': currentUser?.uep.defaultenv } })

         } else {
                    throw new Error('Failed to fetch organization schemas');
                }
    } catch (error) {
        alertStore.error(new alertMessage('Something went wrong! ','Something went wrong! ', 400) )
        dataLoading.value = false;
    }
}





const  resetPassword = async () => {
                       
          dataLoading.value = true
          
         // let response = await authStore.ResetPassword( authStore?.currentUser?.userid ?? 0 )
         let response = await authStore.ChangePasswordRequest( email.value )
         dataLoading.value = false

           if (response.status === 200) { 
            // if successful, bind success message to message                                                         
                                  retMsg.value = response.data;                                                           
                                  pswChangeSuccess.value = true;                                   
           } else {  
                              alertStore.warning(new alertMessage(response.data.msg)) 
            }
              
                 
  };

  

  const goto_registration= () => {
                 router.replace({
                    name: "register",
                    params: {pswChange_key: route.params?.pswChange_key},
                    query:{app_ref:appStore.currentApp.uid,  session_id:authStore.currentUser?.sessionid}})        
    }


</script>

<template>


<form  id="resetPswForm" name="form" class="mt-5 form-horizontal" role="form" novalidate="true">
    <div v-if="errorMsg" class="row justify-content-md-center">
     <div  class="col-lg-12 p-4">
        <div  class="text-center alert alert-danger">
          <h5>{{errorMsg}}</h5>
        </div>
      </div>
    </div> 
    <div class="row justify-content-md-center">
  
     <div class="col-lg-12 card p-0">
        <div class="card-header text-center"><b class="card-title" v-if="!dataLoading"><i class="fa fa-lock"></i>&nbsp Password reset</b>
                            <div v-if="dataLoading" class="text-center">
                             <div class="loader"></div>
                            <b class="card-title" style="vertical-align:middle;color:#3498db">&nbsp&nbsp Logging in...</b>
                            </div>        
                                          
            <div >
            
                <b class="panel-title" v-show="!pswChangeSuccess" >
                  <i class="text-warning " style="margin-right: 10px; "></i>
                  <h3 class="text-warning">Enter your e-mail to reset password</h3>
                </b>
                <b class="panel-title" v-show="!dataLoading && pswChangeSuccess">
                  <i class="text-success fa fa-check fa-3x p-3" style="margin-right: 10px; "></i>
                  <h3 class="text-success"> To complete the password reset process please check your inbox at</h3>
                </b>
                
                <div v-show="dataLoading" class="text-center">
                 <div class="loader"></div>
                <b class="panel-title" style="vertical-align:middle;color:#3498db">&nbsp&nbsp Processing request...</b>
                </div>
                            
          </div>
        
        
        </div>
     
        <div class="card-body p-1">
        
         <div class="well-custom bg-white" style="padding:10px !important">
            
                <div v-show="!pswChangeSuccess" class="form-group row" :class="{ 'has-error' : false}">
                            <div class="col-md-4 ">
                               <!-- <label class="form-control no-border"  style="" for="email">E-mail</label>-->
                            </div>
                            <div  class="col-md-16">
                              <input required type="email"  v-model="email" id="email" :disabled="dataLoading" :class="[ 'form-control',emailInvalid]" class="form-control" name="email" placeholder="Enter e-mail">
                              <span v-show="emailInvalid" class="help-block"> E-mail is required</span>
        
                                <br>
                                
                            </div>
                            
                </div>
                
                  
                <div v-show="!pswChangeSuccess" class="controls row justify-content-center">
                       
                           <button @click="resetPassword()" :disabled="emailInvalid" type="button"  id="loginBtn" class="btn btn-primary" data-loading-text="<span class='fa fa-hourglass'></span> Signing up...">
                                <span class="fa fa-user-plus"></span> Reset password
  
                           </button>
                            
                           <br>
                          <!-- <small>By clicking "Reset password", you agree to our terms of service and privacy statement.
                           Your e-mail will be used only to interact with the system and to receive notifications.
                           </small>-->
                </div>
                
         
                <div class="row justify-content-center" v-show="pswChangeSuccess"> 
                  <span class="text-primary"><h3 ><i class="fa fa-envelope"></i>  {{email}}</h3> </span> 
                 <!-- <span class="text-success">
                    <h3><i class="fa fa-envelope"></i> To complete the password reset process please check your inbox at {{email}} !</h3>
                    </span> -->
                </div>
                
              <!--  <div v-show="errorMsg">
                  <span class="alert alert-danger"> {{errorMsg}}<a href style="margin-left:10px" v-click="hideError"><i  class="fa fa-times"></i></a></span>
                </div>-->
                   
          
        </div>      
  
  
         </div>
        </div> 
    </div>
    
    
  </form>
  
  
</template>

 <style>
    * {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        box-sizing: border-box;
    }

    .main-container {
        display: grid;
        grid-template-columns: repeat(24, 1fr);
        align-items: center;
    }

    h1 {
        font-size: 64px;
        line-height: 1;
        text-align: center;
        color: #4C4E5C;
    }

    h2 {
        font-size: 24px;
        font-weight: normal;
        line-height: 1;
        margin-bottom: 24px;
        text-align: center;
        color: #4C4E5C;
    }

    #left {
        position: fixed;
        top: 0;
        left: 0;
        width: 60%;
        z-index: -1;
    }

    #right {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 60%;
        z-index: -1;
    }

    .cls-form {
        grid-area: 1 / 6 / 2 / 20;
        background-color: #E8F6F8;
        display: flex;
        flex-direction: column;
        padding: 48px 24px;
        gap: 48px;
        justify-content: center;
        align-items: center;
        border-radius: 32px;
        position: relative;
        margin-top: 320px;
        margin-bottom: 10vh;
    }

    .form-control {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        /*font-weight: $input-font-weight;*/
        line-height: 1.5;
        color: #26314D;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #E7E9EC;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    @media (prefers-reduced-motion: reduce) {
        .form-control {
            transition: none;
        }
    }

    .form-control::-ms-expand {
        background-color: transparent;
        border: 0;
    }

    .form-control:focus {
        color: rgba(14, 26, 57, 0.9);
        background-color: #fff;
        border-color: #9eb6f3;
        outline: 0;
        box-shadow: 0 0 0 0.15rem rgba(44, 96, 229, 0.25);
    }

    .form-control::placeholder {
        color: #B7BAC4;
        opacity: 1;
    }

    .form-control:disabled,
    .form-control[readonly] {
        background-color: #F3F3F5;
        opacity: 1;
    }

    div.input {
        display: grid;
    }

    .btn-onboarding {
        display: flex;
        gap: 8px;
        padding: 8px 20px;
        font-size: 20px;
        color: white;
        background: #17A2B8;
        border: 1px solid #17A2B8;
        border-radius: 3.6px;
        align-items: center;
    }

    .btn-onboarding:hover {
        cursor: pointer;
    }

    .btn-onboarding>i {
        font-size: 16px;
    }

    div.inner-form {
        width: 60%;
        display: grid;
        gap: 24px;
    }

    .img-pajajac {
        position: absolute;
        width: 320px;
        right: -100px;
        top: -190px;
    }

    div.headers {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    @media (max-width: 1920px) {
        h1 {
            font-size: 52px;
        }

        h2 {
            font-size: 20px;
        }

        .cls-form {
            margin-top: 160px;
            margin-bottom: 24px;
            gap: 24px;
            padding: 40px 24px;
        }

        div.inner-form {
            gap: 16px;
        }

        .img-pajajac {
            width: 200px;
            right: -70px;
            top: -116px;
        }
    }

    @media (max-width: 1280px) {
        h1 {
            font-size: 40px;
        }

        h2 {
            font-size: 16px;
        }
    }

    @media (max-width: 991px) {
        .cls-form {
            grid-area: 1 / 3 / 2 / 23
        }

        h1 {
            font-size: 32px;
        }

        h2 {
            font-size: 16px;
        }

        #left {
            width: 70%;
        }

        #right {
            width: 70%;
        }

        .img-pajajac {
            width: 180px;
            right: -55px;
            top: -108px;
        }

        div.inner-form {
            width: 70%;
        }

        .btn-onboarding {
            gap: 8px;
            padding: 8px 16px;
            font-size: 16px;
        }

        .btn-onboarding>i {
            font-size: 14px;
        }
    }

    @media (max-width: 720px) {
        .img-pajajac {
            width: 140px;
            right: -40px;
            top: -80px;
        }

        .cls-form {
            margin-top: 140px;
        }
    }

    @media (max-width: 500px) {
        .cls-form {
            padding: 64px 16px 16px 16px;
            grid-area: 1 / 2 / 2 / 24
        }

        h1 {
            font-size: 28px;
        }

        .cls-form {
            margin-top: 120px;
        }

        .img-pajajac {
            right: -10px;
            top: -80px;
        }

        #left {
            width: 100%;
        }

        #right {
            width: 100%;
        }

        div.inner-form {
            width: 100%;
        }
    }
</style>
  
