
<script setup lang="ts">

import { ref, computed, onMounted, reactive } from "vue";
import { storeToRefs } from 'pinia';
import { useAuthUserStore } from '@/m_auth/stores/authUser';
import { usePageStore } from '@/m_page/stores/page';
import { useApplicationStore } from '@/g_stores/application';
import { useCodesStore } from "@/g_stores/codes"
import type {ICodeHead} from "@/g_stores/codes"
import router from '@/g_router/index';
import type { Ref } from 'vue'
import { useAlertStore, alertMessage } from '@/g_stores/alert';
import { useUserStore } from '@/m_auth/stores/user'
import  DropDown  from '@/g_components/DropDown.vue'
import {  useRoute } from 'vue-router'


const authStore = useAuthUserStore();
const appStore = useApplicationStore()
const pageStore = usePageStore()
const alertStore = useAlertStore()
const userStore = useUserStore()
const codesStore = useCodesStore() 

const route = useRoute()

let code_id:string

if (Array.isArray(route.params?.code_id)) {
  code_id = route.params?.code_id.join(',')
} else {
  code_id = route.params?.code_id ?? '' // If it's a string, use it directly
}


const user =authStore.getCurrentUser || {}

const lang = user.lang.toString()

const CodeTypeList = [{id:1,name:'System'},{id:2,name:'User'}]

let codeHead= reactive({
  id: 0,
  CodeName: '',
  CodeHeadName: '',
  Description: '',
  CodeType: null,
  UserGeneratedId: false,
  Active: true,
  Version:0
})



let CodeTypeListDownloaded= true

let  submitted= false
let  touched= {
  CodeName: false,
  CodeHeadName: false,
  Description: false,
  CodeType: false
}

type TInvalid = { 
  CodeName: boolean,
  CodeHeadName: boolean,
  Description: boolean,
  CodeType:boolean,
}

const  invalid = computed<TInvalid>(() => {
return {
  CodeName: !codeHead.CodeName,
  CodeHeadName: !codeHead.CodeHeadName,
  Description: !codeHead.Description || codeHead.Description.length < 3,
  CodeType: !codeHead.CodeType
}
})

const   invalidForm= computed(() => {
  let key: keyof TInvalid
  for(key in invalid.value) {
      if (invalid.value[key]) return true
  }
return false
})

if (codesStore.getCodeHeadListFiltered('').length==0) {
        codesStore.CodesGet(lang)
    }

const  saveNewCode = (isValid:boolean) => {
    submitted = true;    
    if (invalidForm.value) {
        alertStore.warning(new alertMessage('Invalid data!','Invalid data!', 400))
        return
    }

    codeHead.Version=1 

    codesStore.CodesPost(codeHead,lang).then(
            function(resp) {         
                     alertStore.info(new alertMessage('Success!','Success!', 200))
                      if (resp) codeHead.id=resp.data.data;    
             },function(error){
                        //MessagingService.addMessage(error.msg,'error');
     });                              

  }

  if (code_id) 
    codesStore.getCodesHead(code_id, lang).then((resp)=> {
      if (resp.status==200)    Object.assign( codeHead , resp.data) //  to retain reactivity
  })

  

</script>
<template>
 
    <div class="card my-1">
      <div class="text-center">
        <div v-if="code_id!='0'" class="h4 my-2">Edit code</div>
        <div v-if="code_id=='0'" class="h4 my-2">Enter new code</div>
      </div>
    </div>
  
    <div class="card p-2">
      <div class="row p-0">
        <div :class="['col-lg-10 p-4', {'col-lg-6': codeHead.id > 0}]">
          <form id="form" name="form" class="needs-validation form-horizontal" novalidate>
            <div class="form-group" v-if="codeHead.id > 0">
              <label for="codeId">Code id</label>
              <input type="text" v-model="codeHead.id" disabled class="form-control" id="codeId" name="codeId" placeholder="Code id" />
            </div>
  
            <div class="form-group" :class=" {'is-invalid was-validated': (submitted || touched.CodeName) && invalid.CodeName}">
              <label :class="{'text-danger': (submitted || touched.CodeName) && invalid.CodeName}" for="CodeName">Code name</label>
              <input type="text" v-model="codeHead.CodeName" required class="form-control" id="CodeName" name="CodeName" placeholder="Code name" @blur="touched.CodeName = true" />
              <p v-show="(submitted || touched.CodeName) && invalid.CodeName" class="invalid-feedback">Enter code name</p>
            </div>
  
            <div class="form-group" :class=" {'is-invalid was-validated': (submitted || touched.CodeHeadName) && invalid.CodeHeadName}">
              <label :class="{'text-danger': (submitted || touched.CodeHeadName) && invalid.CodeHeadName}" for="CodeHeadName">Code hashtag</label>
              <input type="text" v-model="codeHead.CodeHeadName" class="form-control" id="CodeHeadName" name="CodeHeadName" placeholder="Code unique identifier" @blur="touched.CodeHeadName = true" />
              <p v-show="(submitted || touched.CodeHeadName) && invalid.CodeHeadName" class="invalid-feedback">Enter unique hashtag (any text up to 255 characters)</p>
            </div>
  
            <div class="form-group" :class=" {'is-invalid was-validated': (submitted || touched.Description) && invalid.Description}">
              <label :class="{'text-danger': (submitted || touched.Description) && invalid.Description}" for="Description">Code description</label>
              <textarea v-model="codeHead.Description" name="Description" required minlength="20" class="form-control" @blur="touched.Description = true"></textarea>
              <p v-show="(submitted || touched.Description) && invalid.Description" class="invalid-feedback">Enter code description (min 20 chars)</p>
            </div>
  
            <div v-if="CodeTypeListDownloaded" class="form-group" :class="{'is-invalid was-validated': (submitted || touched.CodeType) && invalid.CodeType}">
              <label :class="{'text-danger': (submitted || touched.CodeType) && invalid.CodeType}" for="CodeType">Code type</label>
              <select v-model="codeHead.CodeType" required class="form-control" id="CodeType" name="CodeType">
                <option v-for="type in CodeTypeList" :key="type.id" :value="type">
                
                {{ type.name }}
                </option>
              </select>
              <p v-show="(submitted || touched.CodeType) && invalid.CodeType" class="invalid-feedback">Select code type</p>
            </div>
  
            <div class="row py-2">
              <div class="col-6 form-group">
                <label for="UserGeneratedId">User generated id
                  <input type="checkbox" class="ml-2 my-2" style="transform: scale(1.4)" v-model="codeHead.UserGeneratedId" name="UserGeneratedId" />
                </label>
              </div>
              <div class="col-6 form-group">
                <label for="Active">Active
                  <input type="checkbox" class="ml-2 my-2" style="transform: scale(1.4)" v-model="codeHead.Active" name="active" />
                </label>
              </div>
            </div>
  
            <div class="control-group mb-2" >
              <button type="button" @click="saveNewCode(true)" :disabled="false && invalidForm" class="btn btn-outline-success">
                <span class='fa fa-save mr-2'></span> Save code
              </button>
            </div>
          </form>
        </div>
  
        <div class="col-10">
          <!-- Add your code detail component here -->
        </div>
      </div>
    </div>
  </template>
  
  
  <style scoped>
  /* Add your styles here */
  </style>
  