<script setup lang="ts">
  import { ref } from "vue";
  import { storeToRefs } from 'pinia';
  import { useAuthUserStore } from '@/m_auth/stores/authUser'
  //import  router from "@/g_router/index"
  //import PageLayoutExe from "@/components/PageLayoutExe.vue";
  //import AppMenuExe from "../g_components/AppMenuExe.vue";
  const authStore = useAuthUserStore()

  const isAuthenticated = ref(authStore.getIsAuthenticated)
  const currentUser =authStore.getCurrentUser
  //const resource = await 

  //setTimeout(null,5000)
</script>

<template>
    <div class="page">
          <div v-if="isAuthenticated">
            This is groups definition page!
        </div>
       <div v-else>
           <h4> Unauthorised! </h4>
        </div>
        
    </div>
</template>

<style scoped>
.page{
    padding-left: 44px;
    padding-right: 44px;
}
</style>