<script setup lang="ts">
  import { ref } from "vue";
  import { storeToRefs } from 'pinia';
  import { useAuthUserStore } from '@/m_auth/stores/authUser';
  import { usePageStore } from '@/m_page/stores/page';
  import { useApplicationStore } from '@/g_stores/application';
  import { useAlertStore } from '@/g_stores/alert';
  import  router from '@/g_router/index';
  import type { Ref } from 'vue'
  
  const alertStore = useAlertStore();
  const authStore = useAuthUserStore();
  const appStore = useApplicationStore()
  const pageStore = usePageStore()

  let errorMsg:Ref<string> = ref('')

  let returnUrlName:string='dashboard'
  let urlParams:any={}

  if (sessionStorage.getItem('returnUrl')) returnUrlName = sessionStorage.getItem('returnUrl') || 'dashboard'
  if (sessionStorage.getItem('urlParams')) urlParams = JSON.parse(sessionStorage.getItem('urlParams') || '{}')

  let usernameInvalid = ref(false)
  let passwordInvalid = ref(false)
  let firstTimePass = ref(true)
  let firstTimeUser = ref(true)

  let username = ref('')
  let password = ref('')
  authStore.authInProgress = false
  pageStore.loadCurrentPageCompleted=true
  authStore.clearAuthData()
 
  let login = async (username:string,password:string) =>
  {

    checkUsernameValidity()
    checkPasswordValidity()
    if (usernameInvalid.value || passwordInvalid.value) return

    const {isAuthenticated , error_message }= await authStore.login(username,password);
    //debugger
    if (isAuthenticated) {
        // redirect to previous url or default to dashboard page
        alertStore.clearAllMessages()
        let session_id= authStore.getSessionId
        if (authStore?.getCurrentUser?.uep?.ExtendedUserDataErrors?.length) {
            errorMsg.value = authStore?.getCurrentUser?.uep?.ExtendedUserDataErrors[0]?.msg      
        } else  {
            sessionStorage.removeItem('returnUrl')
            sessionStorage.removeItem('urlParams')
            router.push({name:returnUrlName,params:urlParams,query:{'app_ref':appStore.currentApp.id, 'sessionid': session_id}})
        }
    }
    else errorMsg.value = error_message


  }
  
  let checkUsernameValidity = () =>
  {
    if (!username.value.length && !firstTimeUser.value) usernameInvalid.value = true
    else usernameInvalid.value = false
    firstTimeUser.value = false
  }
   let checkPasswordValidity = () =>
  {
    if (!password.value.length && !firstTimePass.value) passwordInvalid.value = true
    else passwordInvalid.value = false
    firstTimePass.value=false
  }
  let passwordVisibility = ref(false)
  let passwordType = ref('password')

  let changePassVisibility = () =>
  {
    if (passwordVisibility.value) {

        passwordVisibility.value=false
         passwordType.value='password'
    }
    else {
        passwordVisibility.value = true
        passwordType.value='text'
    }
  }
  
</script>

<template>
   


    <form @submit.prevent="login(username,password)"  name="form" class="login-form" role="form" novalidate="true">

        <div class="login-grid">

            <div class="msg-cls" :class="{'show':errorMsg,'hide':!errorMsg}">
              <i class="fa fa-warning"></i><span class="fs-16">{{errorMsg}}</span>
              <button type="button" class="btn btn-clear" @click="errorMsg=''"><i class="fa fa-xmark"></i></button>
            </div>

      
       
        
            <div class="form-elements">    
                
                
                
                <div class="display-2">
                    <div class="img-top">
                        <img width="160" loading="lazy" src="@/g_assets/img/Katalyo_final_aqua.png" />
                    </div>  Please login 
                </div>

                <div class="form-group" :class="{'text-danger is-invalid' : usernameInvalid }">
                          
                    <label   class="mr-1 mb-2" for="username">Username</label>
                    <input type="text" autocomplete="username" v-bind:class="{ 'text-danger border border-danger' : usernameInvalid }" @keyup="checkUsernameValidity()" v-model="username" id="username" :disabled="authStore.authInProgress" aria-label="Username" aria-describedby="basic-addon1" class="form-control" name="username" placeholder="Username">
                    <span class="text-danger small err-msg-cls" :class="{'show':usernameInvalid,'hide':!usernameInvalid}"> Username is required</span>
     
                </div> 
          
                <div class="form-group" style="position: relative;" :class="{'text-danger is-invalid' : passwordInvalid}">
                         
                    <label class="mr-1 mb-2" for="password">Password</label>
                    <input :type="passwordType" autocomplete="current-password" v-bind:class="{ 'text-danger border border-danger' : passwordInvalid }" @keyup="checkPasswordValidity()" v-model="password" id="password" :disabled="authStore.authInProgress" aria-label="Password" aria-describedby="basic-addon2" class="form-control" name="password" placeholder="Password">
                    <button type="button"  class="password-float slash" @click="changePassVisibility()">
                                <i v-if="passwordVisibility" class="vis fa fa-eye"></i>
                                <i v-if="!passwordVisibility" class="hid fa fa-eye-slash"></i>
                    </button>
                    <span class="text-danger small err-msg-cls" :class="{'show':passwordInvalid,'hide':!passwordInvalid}"> Password is required</span>
                 
                 </div>
            
                <div class="form-group controls">
                    <div class="row m-0 login-button">
                                   
                               <button type="submit" :disabled="usernameInvalid || passwordInvalid || authStore.authInProgress" id="loginBtn" class="btn btn-primary col-24" data-loading-text="<span class='fa fa-hourglass'></span> Logging in...">
                                 <i v-if="!authStore.authInProgress" class="fa fa-lock"></i> <span v-if="!authStore.authInProgress">Login</span>
                                 <i v-if="authStore.authInProgress" class="fa fa-cog fa-spin"></i> <span v-if="authStore.authInProgress">Login in progress...</span>
                               </button>
                               <a  href="/changepasswordrequest"> Forgot password? </a>
                    </div>
                
                
                </div>
                <div class="row sign-up">Don't have an account? <a href="/signup">Signup</a></div>
            </div>
 
        </div>
    </form>
</template>

<style scoped>

.img-top{
    text-align: center;
    margin: 12px;
}

.form-elements{
    display: grid;
    grid-row-gap: 24px;
    padding: 24px 40px;
    border-radius: 8px;
    background-color: #FBFBFB;
    box-shadow: 0px 0px 8px 0px rgba(44, 96, 229, 0.15);
}

.login-grid {
    display: grid;
    grid-template-columns: 640px;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100vh;
    padding: 24px 0;
    box-sizing: border-box;
}
 
.display-2 {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.2;
    text-align: center;
    border-bottom:
    1px solid #ECECED;
    padding-bottom: 1rem;
}
.msg-cls{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 29fr 1fr;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #79283f;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    align-items: center;
    gap: 4px;
}

.msg-cls.show{
    visibility: visible;
}


.msg-cls.hide{
    visibility: hidden;
}

.err-msg-cls.show{
    visibility: visible;
}
.err-msg-cls.hide{
    visibility: hidden;
}

.fs-16 {
    font-size: 16px;
}
.btn{
    display: inline-block;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    font-size:1rem;
    line-height: 1.5;
    border-radius: 100px;
    padding: .75rem 2rem;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-clear {
    color: #79283f;
    padding: 4px;    
}
.display-1 {
    font-size:4rem;
    font-weight: 700;
    line-height: 1;
    text-align: left;
}


.display-1 {
    font-size:4.13rem;
    font-weight: 700;
    line-height: 1.2
}

.is-invalid input,.is-invalid textarea{

border-color: #dc3545;
}

.is-invalid input:focus,.is-invalid textarea:focus{

    box-shadow: 0 0 0 0.15rem rgba(220, 53, 69, 0.25);
}

@media (max-width: 1200px) {
    .display-1 {
        font-size:calc(1.538rem + 3.456vw)
    }
}

.display-3 {
    font-size:1rem;
    font-weight: 300;
    line-height: 1.5;
}
.bold{

  font-weight: bold;
}
@media (max-width: 991.98px) {
    .display-1 {
        font-size:calc(1.538rem + 1.456vw)
    }

    .h2 {
        font-size:calc(1rem + .2856vw)
    }
}

.btn.btn-primary {
    background-color: #2DCBE3;
}
.font-weight-normal {
    font-weight: 400 !important
}
.img-fluid {
    max-width: 100%;
    height: auto;
}.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size:1rem;
    line-height: 1.5;
    color: rgba(14, 26, 57, 0.9);
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(14, 26, 57, 0.1);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-sizing: border-box;
}


.form .form-group {
    margin-bottom: 1rem;
}
.form-group {
    margin-bottom: 0;
}
.form .form-group label {
    margin-bottom: .5rem;
    margin-left: 4px;
    font-size:.93rem
}

.password-float {
  position: absolute;
  top: 38px;
  right: 12px;
  border: none;
  background: none;
  color: #2C95F6;
}

.password-float.slash {
  color: #AFB0B6;
}

.password-float:focus, .password-float:focus-visible, .password-float:focus-within {
  outline: none;
  color: #2C95F6;
  border-radius: 2px;
}

.password-float>i {
  position: absolute;
  right: 0;
  top: 0;
}

.password-float>.hid {
 
  right: -1px;
  /*transition: all 500ms ease-in-out;*/
}


.sign-up {
    justify-content: center;
    column-gap: 4px;
}

.login-button {
    justify-content: end;
    row-gap: 24px;
}

.form-group.controls button {
    padding: 6px 12px;
    border-radius: 4px;
}

.form-group.controls button>i {
    font-size: 14px;
}

.btn.btn-primary {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    background-color: #2DCBE3;
    border-color: #2DCBE3; 
}

.display-2 {
    font-size: 1rem;
    text-align: center;
}
@media (max-width: 720px) {
    .login-grid {
        grid-template-columns: 80%;
    }
    
    .form-elements {
        padding: 24px 36px;
    }
}

@media (max-width: 500px) {
    .login-grid {
        grid-template-columns: 88%;
    }
    .form-elements {
        padding: 24px 20px;
    }
}

@media (max-width: 360px) {
    .login-grid {
        grid-template-columns: 90%;
    }
    .form-elements {
        padding: 20px 16px;
    }
    .sign-up {
        flex-wrap: wrap;
    }
    .img-top>img {
        width: 120px;
    }
}

</style>