<script setup lang="ts">
    
    import { getActivePinia } from "pinia"
    import { ref,onMounted  } from "vue";
    import { useAuthUserStore } from '@/m_auth/stores/authUser';
    import { useApplicationStore } from '@/g_stores/application';
    import  router from '@/g_router/index';
    import type { Ref } from 'vue'
    import type { Pinia } from 'pinia'

    let logoutResult:Ref<boolean | undefined>
    
    
    const authStore = useAuthUserStore()
    const applicationStore = useApplicationStore()
    let appId:string=applicationStore.getCurrentApp.id
    let envId:string=applicationStore.currentEnv
    authStore.logout()

    


    // map through that list and use the **$dispose** fn to reset the state
    let activep:any = getActivePinia()

    activep._s.forEach((store:any) => store.$dispose())
    
</script>

<template>
    
    <div class="logout-header">
        <img src="@/g_assets/img/Katalyo_final_aqua.png" style="margin-bottom:3rem;width: 20%"/>
        <div class="logout-success" v-if="!authStore.logoutInProgress && authStore.logoutSuccess===true">Logout successful!</div>
        <div class="logout-error" v-if="!authStore.logoutInProgress && !authStore.logoutSuccess">Logout error!</div>
         
            <div  class="login-link">
                <RouterLink  v-if="appId && envId" :to="{name:'login',query:{app_ref:appId,env:envId}}">Login and open last application</RouterLink>
            </div>
            <div class="login-link">
                <RouterLink :to="{name:'login'}">Login</RouterLink>
            </div>

    </div>
</template>

<style scoped>
 .logout-header {
    padding: 44px;
    text-align: center;
}
.logout-success{
    font-size: x-large;
    color:green;

}
.logout-error{
    font-size: x-large;
    color:red;
    
}

.login-link{
    font-size: large;
    color:gray;
    margin: 1rem;
    
}
</style>