<script setup lang="ts">

 
  import { ref , computed,reactive} from "vue";
  import { storeToRefs } from 'pinia';
  import { useAuthUserStore } from '@/m_auth/stores/authUser';
  import { useAlertStore,alertMessage } from '@/g_stores/alert';
  import { usePageStore } from '@/m_page/stores/page';
  import { useApplicationStore } from '@/g_stores/application';
  import  router from '@/g_router/index';
  import type { Ref } from 'vue'
  import { useRoute } from 'vue-router';
  
  const authStore = useAuthUserStore();
  const appStore = useApplicationStore()
  const pageStore = usePageStore()
  const alertStore = useAlertStore()
  const route = useRoute()


  let noshow= ref(false)

  let currentSection = ref('One')

    let closeProcess= async (status:any, gotoServer:boolean) =>  {
            // Last button closes the whole process.
            
            if (!authStore?.getCurrentUser) return        
          
			if (! authStore.getCurrentUser?.userid)  {
                router.push({name:'home', query:{ 'sessionid': authStore.currentUser?.sessionid}})
            }
			
            // update onboarding status to finish
            if  (authStore.getCurrentUser?.uep==undefined)  authStore.getCurrentUser.uep={}
            if  (authStore.getCurrentUser?.uep.Params==undefined)  authStore.getCurrentUser.uep.Params={}
            
            authStore.getCurrentUser.uep.Params.Onboarding=status
           
            //ToDo - send onboarding status to server 
            if (gotoServer) {  
                let response = await authStore.saveUserExtended(status)

                if (response.status==200) {
                    alertStore.info(new alertMessage('Success ! ','Success ! ', 200 ) )
                    router.push({name:'app.navbar.home', query:{ 'sessionid': authStore.currentUser?.sessionid}})
                }
                          
            } else   
                    router.push({name:'app.navbar.home', query:{ 'sessionid': authStore.currentUser?.sessionid}})

     }
        
   
    let openProcess = (orderNumber:any) => {
        
      currentSection.value = orderNumber
               // Get all elements with class="onboard-grid" and hide them
               document.querySelectorAll<HTMLElement>(".onboard-grid").forEach((content) => {
                content.style.display = "none";
            });

            // Get all elements with class="dot" and remove "dot-active" class from them.
            document.querySelectorAll<HTMLElement>(".dot").forEach((content) => {
                content.classList.remove("dot-active");
            });

            // Show the current tab, and add an "dot-active" class to the dotter.
            let current =   document.querySelector<HTMLElement>('#'+orderNumber)
            if (current)   current.style.display = "grid"
            let dot =   document.querySelector<HTMLElement>('#dot' + orderNumber)
            if (dot) dot.classList.add("dot-active")  
    }


 // Function to set the display property for elements with the class 'onboarding-container'
let display = (d: string) => {
    document.querySelectorAll<HTMLElement>(".onboarding-container").forEach((content) => {
        content.style.display = d;
    });
}

// Function to hide 'onboarding-container' elements and show the element with ID 'noShow'
let dontShow = () => {
    noshow.value=true
}

// Function to show 'onboarding-container' elements and hide the element with ID 'noShow'
let reopenProcess = () => {
    //debugger;
    //display('block');
    noshow.value=false
}


</script>


<template>
  <div class="dark"></div>
  <div class="onboarding-container">
    <button type="button" class="close" @click="closeProcess('stoppedOnClient',false)">
      <i class="">x</i>
    </button>
    <div class="onboarding-inner">

      <div id="One" class="onboard-grid" v-if="currentSection === 'One'">
        <section>
          <h2>Welcome {{ authStore.getCurrentUser?.first_name  }} !</h2>
          <p class="pt-3">
            Thanks for joining an amazing community of citizen developers!
            Katalyo will empower you to design and develop awesome applications without writing a single line of code!
          </p>
        </section>
        <img src="@/g_assets/img/onboarding/Welcome.png" alt="">
        <div class="button-container">
          <button type="button" id="defaultOpen" class="btn-primary" @click="openProcess('Two')">Next</button>
        </div>
      </div>

      <div id="Two" class="onboard-grid" v-if="currentSection === 'Two'">
        <section>
          <h2>How it all works?</h2>
          <p class="pt-3">
            Katalyo is a component based no-code platform from top to bottom.
            Resource is the name of the main building block and you will use various resources in diverse ways to build full blown applications.
            It’s simple, fast and scalable.
          </p>
        </section>
        <img src="@/g_assets/img/onboarding/Concept.png" alt="">
        <div class="button-container">
          <button type="button" class="btn-outline-primary" @click="openProcess('One')">Back</button>
          <button type="button" class="btn-primary" @click="openProcess('Three')">Next</button>
        </div>
      </div>

      <div id="Three" class="onboard-grid" v-if="currentSection === 'Three'">
                <section>
                    <h2>Resources</h2>
                    <p class="pt-3">
					A cornerstone of the Katalyo platform is the resource, serving as a fundamental building block.Think of it as a puzzle piece; when combined, these resources create a cohesive and complete product.
Various resource types play a crucial role in constructing applications on the platform, encompassing datasets, files, pages, menus, and even the application itself, which is essentially another type of resource.

					</p>
                </section>
                <img src="@/g_assets/img/onboarding/Resources.png" alt="">
                <div class="button-container">
                    <button type="button" class="btn-outline-primary" @click="openProcess( 'Two')">Back</button>
                    <button type="button" class="btn-primary" @click="openProcess( 'Four')">Next</button>
                </div>
            </div>
            <div id="Four" class="onboard-grid" v-if="currentSection === 'Four'">
                <section>
                    <h2>Dataset</h2>
                    <p class="pt-3">
					A dataset serves as a resource for the storage and retrieval of data within an application. It can acquire data from various sources, including a database table, a REST API endpoint, or information stored on a blockchain. Almost every other resource within an application relies on data sourced from datasets, forming a fundamental link in the functionality of the application.
Typically, a single application will utilize multiple datasets.

					</p>
                </section>
                <img src="@/g_assets/img/onboarding/Dataset.png" alt="">
                <div class="button-container">
                    <button type="button" class="btn-outline-primary"
                        @click="openProcess( 'Three')">Back</button>
                    <button type="button" class="btn-primary" @click="openProcess( 'Five')">Next</button>
                </div>
            </div>

            <div id="Five" class="onboard-grid" v-if="currentSection === 'Five'">
                <section>
                    <h2>Page</h2>
                    <p class="pt-3"> 
					An application is composed of one or more pages, each serving as a means for users to interact with the application.
Typically, a page includes one or more form elements, commonly known as widgets. These widgets are designed to enable users to input, view, or update data within the application. In essence, a page acts as a user interface, providing a platform for users to engage with the application.

            </p>
                </section>
                <img src="@/g_assets/img/onboarding/Page.png" alt="">
                <div class="button-container">
                    <button type="button" class="btn-outline-primary" @click="openProcess( 'Four')">Back</button>
                    <button type="button" class="btn-primary" @click="openProcess( 'Six')">Next</button>
                </div>
            </div>

            <div id="Six" class="onboard-grid" v-if="currentSection === 'Six'">
                <section>
                    <h2>Menu</h2>
                    <p class="pt-3">
					The menu is the primary navigation resource in the application. Users can navigate throughout the entire application using the application menu, while side menus aid in navigation within specific pages of the application. Unlike page menus, there’s only one application menu per application.  
					</p>				
						
                </section>
                <img src="@/g_assets/img/onboarding/Menu.png" alt="">
                <div class="button-container">
                    <button type="button" class="btn-outline-primary" @click="openProcess( 'Five')">Back</button>
                    <button type="button" class="btn-primary" @click="openProcess( 'Seven')">Next</button>
                </div>
            </div>


            <div id="Seven" class="onboard-grid" v-if="currentSection === 'Seven'">
                <section>
                    <h2>Application</h2>
                    <p class="pt-3"> An application is a collection of resources working in unison to offer a specific functionality to users. Application brings together various resources to ensure they function collectively, presenting a consolidated solution.
					</p>
                </section>

				<img src="@/g_assets/img/onboarding/App.png" alt="">
                <div class="button-container">
                    <button type="button" class="btn-outline-primary" @click="openProcess( 'Six')">Back</button>
                    <button type="button" class="btn-primary" @click="closeProcess('completed',true)">Finish</button>
                </div>
            </div>

            <div class="dot-container">
                <div id="dotOne" class="dot dot-active"></div>
                <div id="dotTwo" class="dot"></div>
                <div id="dotThree" class="dot"></div>
                <div id="dotFour" class="dot"></div>
                <div id="dotFive" class="dot"></div>
                <div id="dotSix" class="dot"></div>
                <div id="dotSeven" class="dot"></div>
            </div>
        </div>
        <button type="button" class="dont-show" @click="dontShow()">I'm ready to start. Don't show this tutorial any more.</button>
  
</div>
  <div id="noShow" class="dont-show-container" v-if="noshow">
    <p>Are you sure you don't want to see this tutorial again?</p>
    <div class="d-flex justify-content-center">
      <button type="button" class="btn-outline-primary" @click="reopenProcess">No</button>
      <button type="button" class="btn-primary" @click="closeProcess('stoppedOnClient',true)">Yes</button>
    </div>
  </div>

</template>


<style scoped>
    
        * {
            font-family: Arial, Helvetica, sans-serif;
        }

    
        .onboard-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 72px;
            justify-content: center;
            align-items: center;
        }

        .onboarding-container {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            border-radius: 8px;
        }

        .dont-show-container {
            width: 440px;
            height: 20vh;
            padding: 24px;
            display: grid;
            place-content: center;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            border-radius: 8px;
        }

        .dont-show-container>p {
            text-align: center;
        }

        .onboarding-inner {
            width: 60vw;
            height: 55vh;
            padding: 24px;
            padding-bottom: 84px;
            display: grid;
            place-content: center;
        }

        .dont-show {
            color: #2c60e5;
            background-color: #D5DFFA;
            padding: 12px;
            display: grid;
            place-content: center;
            border-radius: 0 0 8px 8px;
            outline: none;
            border: 1px solid #D5DFFA;
            display: block;
            font-size: 1rem;
            width: 100%;
        }

        .dont-show:hover {
            cursor: pointer;
        }

        section {
            grid-column: span 1;
            padding: 0 24px;
			
        }

        img {
            grid-column: span 1;
            width: calc(100% - 96px);
            padding: 48px;
        }
        body{
                background-color: #383a49 !important;
        }
        .dark {
            background-color: #383a49;
            width: 100vw;
           /* height: 100vh;*/
        }

        .btn-primary {
            border: 1px solid #2c60e5;
            background: #2c60e5;
            color: white;
            padding: 8px 16px;
            font-size: 16px;
            line-height: 1;
            border-radius: 3.2px;
        }

        .btn-outline-primary {
            border: 1px solid #D5DFFA;
            background: white;
            color: #2c60e5;
            padding: 8px 16px;
            font-size: 16px;
            line-height: 1;
            border-radius: 3.2px;
            margin-right: 12px;
        }

        .btn-outline-primary:hover {
            border: 1px solid #2c60e5;
            background: #2c60e5;
            color: white;
            cursor: pointer;
        }

        .btn-primary:hover {
            outline: none;
            background-color: #2a56c6;
            cursor: pointer;
        }

        .dot-container {
            display: flex;
            gap: 4px;
            position: absolute;
            bottom: 64px;
            left: 50%;
            transform: translateX(-50%);
        }

        .dot {
            width: 8px;
            height: 8px;
            background-color: #D5DFFA;
            border-radius: 100px;
        }

        .dot-active {
            background-color: #2c60e5;
        }

        .onboarding-container>button.close {
            background-color: transparent;
            border: none;
            font-size: 1rem;
            right: 12px;
            top: 12px;
            position: absolute;
        }

        .onboarding-container>button.close:hover {
            cursor: pointer;
        }

        .d-flex {
            display: flex;
        }

        .justify-content-center {
            justify-content: center;
        }

        .button-container {
            position: absolute;
            bottom: 100px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
        }

        @media (max-width: 1440px) {

            img {
                padding: 0;
                width: 100%;
            }

            section {
                padding: 0 12px;
            }
        }

        @media (max-width: 991px) {

            .onboarding-inner {
                height: fit-content;
                width: 80vw;
                padding-bottom: 80px;
            }

            .dont-show-container {
                width: 80vw;
                height: fit-content;
            }

            .dot-container {
                bottom: 56px;
            }

            img {
                grid-area: 1 / 1 / 2 / 3;
                padding: 12px;
                width: calc(60% - 24px);
                justify-self: center;
                align-self: center;
            }

            section {
                grid-area: 2 / 1 / 3 / 3;
                text-align: center;
                padding: 0;
            }

            section>h2 {
                text-align: center;
            }

            section>p {
                text-align: center;
            }

            .button-container {
                bottom: 80px;
            }
        }

        @media (max-width: 600px) {

            img {
                width: calc(80% - 24px);
            }
        }

        @media (max-width: 475px) {

            img {
                width: calc(100% - 24px);
            }
        }
</style>