<script setup lang="ts">

  import { ref , computed,reactive} from "vue";
  import { storeToRefs } from 'pinia';
  import { useAuthUserStore } from '@/m_auth/stores/authUser';
  import { useAlertStore,alertMessage } from '@/g_stores/alert';
  import { usePageStore } from '@/m_page/stores/page';
  import { useApplicationStore } from '@/g_stores/application';
  import { useCookies, globalCookiesConfig } from "vue3-cookies"
  import  router from '@/g_router/index';
  
  import type { Ref } from 'vue'
  import { useRoute } from 'vue-router';
  
  const authStore = useAuthUserStore();
  const appStore = useApplicationStore()
  const pageStore = usePageStore()
  const alertStore = useAlertStore()
  const {cookies} = useCookies()
  const route = useRoute()

  let checkingSignup= ref(false)
  let signupCheckDone= ref(false)
  let signupOK = ref(true)
  let errorMsg = ref('')
  let dataLoading= ref(false)

  let register= reactive({
        organisation_name: '',
        fname: '',
        lname: '',
        username: '',
        password: '',
        re_password: '',
        signup_key: route.params?.signup_key,
        organisation_type: 'Personal'
})


let form = reactive({
    organisation_name: {$invalid:false , $touched:false ,$dirty:false , $error: {required:true}},
    fname: {$invalid:false ,$touched:false ,$dirty:false , $error: {required:true}},
    lname: {$invalid:false , $touched:false ,$dirty:false , $error: {required:true}},
    username: {$invalid:false , $touched:false ,$dirty:false , $error: {required:true}},
    password: { $valid:true, $invalid:false , $touched:false ,$dirty:false , $error: {required:true}},
    re_password: { $valid:true, $invalid:false , $touched:false ,$dirty:false , $error: {required:true}},
    $submitted: false,
})
 

const fn_register = async () => 
{
    if (!isValidForm()) return;
    dataLoading.value = true;

    try {

        const response = await authStore.register(register)
        if (response.status === 200) { 
                    
                    let currentUser = authStore.getCurrentUser 
                    let session_id= cookies.get('sessionid')
                    
                    authStore.login('fake','fake',true)         //this is only to update all cookies/sessionStoraga/localStorage
                    

                    alertStore.info(new alertMessage('Succesfully registered! ','Succesfully registered! ', 200 ) )

                    // Navigate to home page
                    router.replace({ name: 'onboarding', query: {  'session_id': session_id, 'env': currentUser?.uep.defaultenv } })

         } else {
                    throw new Error('Failed to fetch organization schemas');
                }
    } catch (error) {
        alertStore.error(new alertMessage('Something went wrong! ','Something went wrong! ', 400) )
        dataLoading.value = false;
    }
}

const isValidForm = () => {
    // Implement your form validation logic here
    return true;
};


authStore.checkSignup( route.params?.signup_key).then( (response:any) => {
    
    signupCheckDone.value =true
    checkingSignup.value = false;

    if (response.status === 200) {
            signupOK.value = true;
        } else {
            signupOK.value = false;
            if (response.data)  errorMsg.value = response.data
        }

})

</script>



<template>
 
 <div v-if="!signupCheckDone" class="mt-4 pt-4 text-center">
          <div class="loader loader-lg"></div>
          <div class="my-2">
            <div class="panel-title px-1" :style="{ verticalAlign: 'middle', color: '#3498db' }"><span class="h5">Checking request...</span></div>
          </div>
 </div>

  <div v-if="signupCheckDone" class="main-body">
    <svg id="left" viewBox="0 0 1349 802" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M780 119C1025.98 126.234 1374.11 45.9081 1347.45 0.000121944L0.00324394 0.000187252L0.00317383 802C38.2631 802 85.0451 689.185 124.001 388C162.956 86.8154 472.53 109.958 780 119Z"
        fill="#17A2B8" fill-opacity="0.15" />
      <path
        d="M579.994 90C756.794 95.2 987.664 32.9998 968.498 -0.000183203L-0.00269618 -0.000145802L-0.00268555 576.5C27.4973 576.5 154.998 533.499 182.998 316.999C210.998 100.499 358.994 83.5 579.994 90Z"
        fill="#17A2B8" fill-opacity="0.3" />
      <path
        d="M101 272.5C101 460.9 49.1667 590.833 0 637V0H874C852.833 29.9999 695.5 133.5 523 133.5C350.5 133.5 101 37 101 272.5Z"
        fill="#17A2B8" fill-opacity="0.3" />
    </svg>

    <div class="main-container">

      <div v-if=" !signupOK" class="cls-form">
        <img class="img-pajajac" src="@/g_assets/img/oops.png" alt="">
       
        <div >
          <div class="text-center">
            <img src="@/g_assets/img/Katalyo_final_aqua.png" :style="{ width: 'calc(60px + 3vw)', marginTop: '20px' }">
            <div :style="{ fontFamily: 'Roboto', fontSize: '40px', fontWeight: 'bold', color: '#19a3b8', textAlign: 'center', marginTop: '3rem' }">
              Ooops!
            </div>
            <div v-if="errorMsg" class="col-lg-24">
              <div class="my-2 text-center text-danger">
                <h6>{{ errorMsg }}</h6>
              </div>
            </div>
            <div class="pt-5">
              <h6><router-link to="/signup">Sign up</router-link> for Katalyo</h6>
              <h6>Go to <router-link to="/login">login page</router-link></h6>
              <h6>Visit our <a href="https://www.katalyo.com">website</a></h6>
            </div>
          </div>
        </div>


      </div>
      

      <form v-if="signupOK" @submit.prevent="fn_register" name="form" class="cls-form" novalidate>
        <img class="img-pajajac" src="@/g_assets/img/register_eggman_sitting.png" alt="">

        <div class="headers">
          <h1>Welcome onboard Katalyo!</h1>
          <h2>Please enter basic info and you'll be up and running in no time!</h2>
        </div>

        <div class="inner-form">
          <div v-if="register.organisation_type !== 'Personal'" class="form-group" :class="{ 'text-danger': (form.organisation_name.$touched || form.organisation_name.$dirty || form.$submitted) && form.organisation_name.$invalid }">
            <label class="mb-1 bold" for="organisation_name">Organisation name</label>
            <input type="text" v-model="register.organisation_name" :disabled="dataLoading" id="organisation_name" aria-label="organisation_name" class="form-control" name="organisation_name" placeholder="Organisation name" :class="{ 'border-danger is-invalid': (form.organisation_name.$touched || form.organisation_name.$dirty || form.$submitted) && form.organisation_name.$error.required }" required>
            <span v-show="(form.organisation_name.$touched || form.organisation_name.$dirty || form.$submitted) && form.organisation_name.$error.required" class="text-danger small"> Organisation name is required</span>
          </div>

          <div class="form-group" :class="{ 'text-danger': (form.fname.$touched || form.fname.$dirty || form.$submitted) && form.fname.$error.required }">
            <label class="mb-1 bold" for="fname">First name</label>
            <input type="text" v-model="register.fname" :disabled="dataLoading" id="fname" aria-label="fname" class="form-control" name="fname" placeholder="First name" :class="{ 'is-invalid': (form.fname.$touched || form.fname.$dirty || form.$submitted) && form.fname.$error.required }" required>
            <span v-show="(form.fname.$touched || form.fname.$dirty || form.$submitted) && form.fname.$error.required" class="text-danger small">First name is required</span>
          </div>

          <div class="form-group" :class="{ 'text-danger': (form.lname.$touched || form.lname.$dirty || form.$submitted) && form.lname.$error.required }">
            <label class="mb-1 bold" for="lname">Last name</label>
            <input type="text" v-model="register.lname" :disabled="dataLoading" id="lname" aria-label="lname" class="form-control" name="lname" placeholder="Last name" :class="{ 'is-invalid': (form.lname.$touched || form.lname.$dirty || form.$submitted) && form.lname.$error.required }" required>
            <span v-show="(form.lname.$touched || form.lname.$dirty || form.$submitted) && form.lname.$invalid" class="text-danger small"> Last name is required</span>
          </div>

          <div class="form-group" :class="{ 'text-danger': (form.username.$touched || form.username.$dirty || form.$submitted) && form.username.$error.required }">
            <label class="mb-1 bold" for="username">Username</label>
            <input type="text" v-model="register.username" :disabled="dataLoading" id="username" aria-label="Username" aria-describedby="basic-addon1" class="form-control" name="username" placeholder="Username" :class="{ 'is-invalid': (form.username.$touched || form.username.$dirty || form.$submitted) && form.username.$error.required }" required>
            <span v-show="(form.username.$touched || form.username.$dirty || form.$submitted) && form.username.$invalid" class="text-danger small"> Username is required</span>
          </div>

          <div class="form-group">
            <label class="mb-1 bold" :class="{ 'text-success': (form.password.$dirty || form.password.$touched || form.$submitted) && form.password.$valid, 'text-danger': (form.password.$dirty || form.password.$touched || form.$submitted) && form.password.$invalid }" for="password">Password</label>
            <i v-if="(form.password.$dirty || form.password.$touched || form.$submitted) && form.password.$valid" class="fa fa-check text-success"></i>
            <input type="password" v-model="register.password" :disabled="dataLoading" id="password" aria-label="Password" class="form-control" name="password" placeholder="Password" :class="{ 'is-invalid': (form.password.$touched || form.password.$dirty || form.$submitted) && form.password.$invalid }" required>
            <span v-show="(form.password.$dirty || form.password.$touched || form.$submitted) && form.password.$invalid" class="text-danger small">Please enter strong password (Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character)</span>
          </div>

          <div class="form-group">
            <label class="mb-1 bold" :class="{ 'text-success': (form.re_password.$dirty || form.re_password.$touched || form.$submitted) && form.re_password.$valid, 'text-danger': (form.re_password.$dirty || form.re_password.$touched || form.$submitted) && form.re_password.$invalid }" for="re_password">Repeat password</label>
            <i v-if="(form.re_password.$dirty || form.re_password.$touched || form.$submitted) && form.re_password.$valid" class="fa fa-check text-success"></i>
            <input type="password" v-model="register.re_password" :disabled="dataLoading" id="re_password" aria-label="Repeat password" class="form-control" name="re_password" placeholder="Repeat password" :class="{ 'is-invalid': (form.re_password.$touched || form.re_password.$dirty || form.$submitted) && form.re_password.$invalid }" required>
            <span v-show="register.password !== register.re_password" class="text-danger small">Passwords don't match</span>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block p-2">
            <span v-if="dataLoading" class="spinner-border spinner-border-sm"> Processing request...</span>
            <span v-else>Sign up</span>
          </button>
        </div>
      </form>
    </div>

    <svg id="right" viewBox="0 0 1408 613" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M631.5 456C454.7 450.8 448.834 580 468.001 613H1408L1408 114C1380.5 114 1282 157.5 1254 374C1226 590.5 852.5 462.5 631.5 456Z"
            fill="#17A2B8" fill-opacity="0.3" />
        <path
            d="M547 479.5C110.56 472.699 -3.89361 552.468 1.00037 613L1408 612.999V1.4993C1290.54 -16.7892 1228 202.001 1207 334.499C1186 466.998 1092.55 488 547 479.5Z"
            fill="#17A2B8" fill-opacity="0.15" />
        <path
            d="M721.5 501C439.1 496.6 374.834 573.834 378 613L1408 613V199C1332 187.166 1180 190.7 1180 299.5C1180 435.5 1074.5 506.5 721.5 501Z"
            fill="#17A2B8" fill-opacity="0.3" />
        <path
            d="M721.5 501C439.1 496.6 374.834 573.834 378 613L1408 613V199C1332 187.166 1180 190.7 1180 299.5C1180 435.5 1074.5 506.5 721.5 501Z"
            fill="#17A2B8" fill-opacity="0.3" />
      </svg>


  </div>
</template>





<style scoped>
       
       * {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            box-sizing: border-box;
        }

        .main-container {
            display: grid;
            grid-template-columns: repeat(24, 1fr);
            align-items: center;
        }

        h1 {
            font-size: 64px;
            line-height: 1;
            text-align: center;
            color: #4C4E5C;
        }

        h2 {
            font-size: 24px;
            font-weight: normal;
            line-height: 1;
            margin-bottom: 24px;
            text-align: center;
            color: #4C4E5C;
        }

        #left {
            position: fixed;
            top: 0;
            left: 0;
            width: 60%;
            z-index: -1;
        }

        #right {
            position: fixed;
            bottom: 0;
            right: 0;
            width: 60%;
            z-index: -1;
        }

        .cls-form {
            grid-area: 1 / 6 / 2 / 20;
            background-color: #E8F6F8;
            display: flex;
            flex-direction: column;
            padding: 48px 24px;
            gap: 48px;
            justify-content: center;
            align-items: center;
            border-radius: 32px;
            position: relative;
            margin-top: 320px;
            margin-bottom: 10vh;
        }

        .form-control {
            display: block;
            width: 100%;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            /*font-weight: $input-font-weight;*/
            line-height: 1.5;
            color: #26314D;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #E7E9EC;
            border-radius: 0.25rem;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }

        @media (prefers-reduced-motion: reduce) {
            .form-control {
                transition: none;
            }
        }

        .form-control::-ms-expand {
            background-color: transparent;
            border: 0;
        }

        .form-control:focus {
            color: rgba(14, 26, 57, 0.9);
            background-color: #fff;
            border-color: #9eb6f3;
            outline: 0;
            box-shadow: 0 0 0 0.15rem rgba(44, 96, 229, 0.25);
        }

        .form-control::placeholder {
            color: #B7BAC4;
            opacity: 1;
        }

        .form-control:disabled,
        .form-control[readonly] {
            background-color: #F3F3F5;
            opacity: 1;
        }

        div.input {
            display: grid;
        }

        .btn-onboarding {
            display: flex;
            gap: 8px;
            padding: 8px 20px;
            font-size: 20px;
            color: white;
            background: #17A2B8;
            border: 1px solid #17A2B8;
            border-radius: 3.6px;
            align-items: center;
        }

        .btn-onboarding:hover {
            cursor: pointer;
        }

        .btn-onboarding>i {
            font-size: 16px;
        }

        div.inner-form {
            width: 60%;
            display: grid;
            gap: 24px;
        }

        .img-pajajac {
            position: absolute;
            width: 320px;
            right: -100px;
            top: -190px;
        }

        div.headers {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        @media (max-width: 1920px) {
            h1 {
                font-size: 52px;
            }

            h2 {
                font-size: 20px;
            }

            .cls-form {
                margin-top: 160px;
                margin-bottom: 24px;
                gap: 24px;
                padding: 40px 24px;
            }

            div.inner-form {
                gap: 16px;
            }

            .img-pajajac {
                width: 200px;
                right: -70px;
                top: -116px;
            }
        }

        @media (max-width: 1280px) {
            h1 {
                font-size: 40px;
            }

            h2 {
                font-size: 16px;
            }
        }

        @media (max-width: 991px) {
            .cls-form {
                grid-area: 1 / 3 / 2 / 23
            }

            h1 {
                font-size: 32px;
            }

            h2 {
                font-size: 16px;
            }

            #left {
                width: 70%;
            }

            #right {
                width: 70%;
            }

            .img-pajajac {
                width: 180px;
                right: -55px;
                top: -108px;
            }

            div.inner-form {
                width: 70%;
            }

            .btn-onboarding {
                gap: 8px;
                padding: 8px 16px;
                font-size: 16px;
            }

            .btn-onboarding>i {
                font-size: 14px;
            }
        }

        @media (max-width: 720px) {
            .img-pajajac {
                width: 140px;
                right: -40px;
                top: -80px;
            }

            .cls-form {
                margin-top: 140px;
            }
        }

        @media (max-width: 500px) {
            .cls-form {
                padding: 64px 16px 16px 16px;
                grid-area: 1 / 2 / 2 / 24
            }

            h1 {
                font-size: 28px;
            }

            .cls-form {
                margin-top: 120px;
            }

            .img-pajajac {
                right: -10px;
                top: -80px;
            }

            #left {
                width: 100%;
            }

            #right {
                width: 100%;
            }

            div.inner-form {
                width: 100%;
            }
        }


</style>