<script setup lang="ts">
 
  import { ref , computed,  onMounted ,nextTick }  from "vue";
  import { storeToRefs } from 'pinia';
  import { useAuthUserStore } from '@/m_auth/stores/authUser';
  import { usePageStore } from '@/m_page/stores/page';
  import { useApplicationStore } from '@/g_stores/application';
  import  router from '@/g_router/index';
  import type { Ref } from 'vue'
  import { useAlertStore , alertMessage} from '@/g_stores/alert';
  
  const authStore = useAuthUserStore();
  const appStore = useApplicationStore()
  const pageStore = usePageStore()
  const alertStore = useAlertStore()


window.grecaptcha = window.grecaptcha || {};

const recaptchaKey = "6LeBxQMqAAAAAMB-SVWbqlaBJ-sX42WLShxsc8Du-CH"        // MIGOR - TESTNI RADI
const recaptchaURL = "https://www.google.com/recaptcha/enterprise.js?render=" // MIGOR - TESTNI RADI
 
  let errorMsg:Ref<string> = ref('')

  const {authInProgress} = storeToRefs(authStore)
 
  let dataLoading = ref(false)
  let emailError = ref(false)
  let signupSuccess = ref(false)
  let email = ref('')

  pageStore.loadCurrentPageCompleted=true

  let recaptchaResponse = ref('')

  let recaptchaCallback = (response:any) => {
    recaptchaResponse.value=response
   
    /* grecaptcha.ready(function() {
        grecaptcha.render("recaptcha-container", {
          "sitekey": "your-site-key"
        });
      })*/
  
}

  let recaptchaScript = document.createElement("script");
  recaptchaScript.setAttribute(    "src",    recaptchaURL + recaptchaKey  );
  recaptchaScript.setAttribute("async", "true");
  recaptchaScript.setAttribute("defer", "true");
  document.head.appendChild(recaptchaScript);
 
  
  let formInvalid = computed(() => {
    if (!recaptchaResponse.value) return true
    let pattern = /^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/
    if (email.value.match(pattern)) return false 
    return true
  })


   onMounted(() => {
    window.recaptchaCallback = recaptchaCallback 
  })


let signup = async () => 
  {
    recaptchaResponse.value = window.grecaptcha.enterprise.getResponse()

    if (!recaptchaResponse.value) {
      alert('Please complete the reCAPTCHA');
      return;
    }

    dataLoading.value = true
    let post_data = { 'vue': 'y', 'email': email.value, 'captchaResponse': recaptchaResponse.value }

    let response = await authStore.signup(post_data)

    if (response.status === 200) {
        signupSuccess.value = true;
        alertStore.success(new alertMessage('Signup success!', 'Signup success!', 200))
    } else {  
      signupSuccess.value = false;
      errorMsg.value = response.data
      recaptchaResponse.value=''
      window.grecaptcha.enterprise.reset() 
       
    }
    dataLoading.value = false;
  }


    let hideError = () => {
      errorMsg.value = '';
    }

    let container:any = document.getElementById('dropdown-menu-right-id');


</script>



<template>

  <div class="card col-24 shadow-sm ">
    <div>
      <div class="row m-0">
        <div class="col-lg-9 text-center" style="border-right: 0.3rem solid #2C60E5;padding:2.4rem !important;padding-bottom:0 !important;padding-top:1rem !important;">
          <div class="p-3 text-center" style="font-size: xxx-large;">Start building today</div>
          <div class="w-100 my-4" style="position:relative">
            <img src="@/g_assets/img/idea-development.png" class="w-100">
            <div class="firepit">
              <div class="fire">
                <div class="flame"></div>
                <div class="flame"></div>
                <div class="flame"></div>
                <div class="flame"></div>
              </div>
            </div>
          </div>
          <div class="d-none mt-4 d-md-block">
            <div class="p-0">
              <div class="py-1 col-24" style="font-size: 2rem; color: #0e1a39; text-align: middle;  ">Build with Katalyo.</div>
            </div>
            <div class="p-0">
              <div class="py-1 col-24" style="font-size: 2rem; color: #0e1a39; text-align: middle; ">Unleash innovation.</div>
            </div>
            <div class="p-0">
              <div class="py-1 col-24" style="font-size: 2rem; color: #0e1a39; text-align: middle; ">No coding.</div>
            </div>
          </div>
          <div class="d-none p-0">
            <div class="pt-4 col-24" style="font-size: 1rem; color: #0e1a39; text-align: middle; ">Did you know you can earn rewards for building with Katalyo!</div>
          </div>
          <div class="p-0 d-none d-md-block">
            <div class="py-1 col-24" style="font-size: 0.8rem; color: #0e1a39; text-align: middle;"></div>
          </div>
        </div>

        <div class="col m-1  justify-content-center align-items-center bg-white" style="padding: 2.4rem !important;padding-top:1rem !important;">
          <div class="d-none d-md-block py-4"></div>

        <form id="myForm" name="myForm">
         
            <div v-if="!signupSuccess">
              <div>
                <div class="p-3 text-center" style="font-size: xxx-large;">Sign up</div>
              </div>
            </div>

            <div v-if="!signupSuccess" class="form-group row" :class="{ 'has-error': emailError }">
              <div class="col-sm-18 offset-sm-2 col-md-14 offset-md-5">

                <input required type="email"  v-model="email" id="email" :disabled="dataLoading" class="form-control" name="email" placeholder="Enter e-mail">
                <span v-if="emailError" class="help-block">E-mail is required</span>
              </div>

             
              <div class="d-block d-md-none col-24 mt-2">
                <div class="text-center">
                  <small>By clicking "Sign up for Katalyo", you agree to our <a href="https://beta.katalyo.com/nm/public/1/terms">terms of service</a> and <a href="https://beta.katalyo.com/nm/public/1/privacy">privacy statement</a>.</small>
                  <small>Your e-mail will be used only to interact with the system and to receive notifications.</small>
                  <small>At Katalyo we value your privacy so we promise never to share your e-mail with anyone</small>
                </div>
              </div>
            </div>

            <div v-if="!signupSuccess" RECAPTCHA class="col-24 d-flex justify-content-center my-4">
               <div class="g-recaptcha" data-callback="recaptchaCallback" data-sitekey="6LfhfAMqAAAAADDQ6fOmmwKrUteTUHszauszD-CH" data-action="LOGIN">
               </div>
            </div>

            <div v-if="!signupSuccess && !dataLoading" class="row mt-4">
              <div class="col-24 pt-4 text-center">

                <button type="button" @click="signup()" :disabled="formInvalid" id="loginBtn" class="btn btn-primary">
                  Sign up for Katalyo
                </button>

                <div class="d-none d-md-block col-24 mt-2">

                  <div class="text-center">
                    <small>By clicking "Sign up for Katalyo", you agree to our <a href="https://beta.katalyo.com/nm/public/1/terms">terms of service</a> and <a href="https://beta.katalyo.com/nm/public/1/privacy">privacy statement</a>.</small>
                  </div>
                  <div class="text-center">
                    <small>Your e-mail will be used only to interact with the system and to receive notifications.</small>
                  </div>
                  <div class="text-center">
                    <small>At Katalyo we value your privacy so we promise never to share your e-mail with anyone</small>
                  </div>
                </div>
              </div>
              <div class="col-24 text-center">
                <div class="mt-5 py-5 col-24" style="font-size: 0.8rem; color: #0e1a39; text-align: middle; ">Already have an account? <a class="ml-2" href="/login">Log in</a></div>
              </div>
            </div>


            
            <div v-if="!signupSuccess && dataLoading" class="row">
              <div class="col-24 text-center">
                <div class="loader"></div>
                <b class="panel-title ml-2" style="vertical-align:middle;color:#3498db">Processing signup request...</b>
              </div>
            </div>

            <div v-if="signupSuccess">
              <div class="text-success text-center">
                <i class="fa fa-check-square fa-4x"></i>
              </div>
              <div class="m-3 text-success h5 text-center">Thank you for signing up for Katalyo!</div>
              <div class="text-dark text-center" style="border-radius: 4px;padding: 7px;font-weight: 700;">
                <span>To complete the signup process please check your inbox at </span>
                <span class="text-primary bold">{{ email }}</span>!
              </div>
            </div>

            <div v-if="errorMsg" class="row p-4 bold rounded alert-danger">
              <div class="col d-flex justify-content-center">{{ errorMsg }}</div>
              <div class="col-auto">
                <a href="#" class="text-danger ml-2" @click="hideError"><i class="fa fa-times"></i></a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</template>

<style scoped>

/*
.g-recaptcha {
 transform: scale(0.9);
}
*/

* {
  box-sizing: border-box;
}

.img-top{
    text-align: center;
    margin: 3rem;
}
.login-grid {
    padding: 44px;
    display: grid;
    grid-template-columns: 50%;
    justify-content: center;
 
}
.form-elements {
    display: grid;
    grid-row-gap: 1rem;
    border: 1px solid lightgrey;
    padding: 1rem;
    border-radius: 1rem;
    background-color: aqua;

}
.msg-cls{
    position: relative;
    display: grid;
    grid-template-columns: 29fr 1fr;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #79283f;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.btn{
    display: inline-block;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    font-size:1rem;
    line-height: 1.5;
    border-radius: 100px;
    padding: .75rem 2rem;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.display-1 {
    font-size:4rem;
    font-weight: 700;
    line-height: 1;
    text-align: left;
}


.display-1 {
    font-size:4.13rem;
    font-weight: 700;
    line-height: 1.2
}

@media (max-width: 1200px) {
    .display-1 {
        font-size:calc(1.538rem + 3.456vw)
    }
}

.display-2 {
    font-size:1.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 1rem;
    text-align: center;
    border-bottom: 1px solid aliceblue;
    padding-bottom: 1rem;
}

@media (max-width: 1200px) {
    .display-2 {
        font-size:calc(1.451rem + 2.412vw)
    }
}

.display-3 {
    font-size:1rem;
    font-weight: 300;
    line-height: 1.5;
}
.bold{

  font-weight: bold;
}
@media (max-width: 991.98px) {
    .display-1 {
        font-size:calc(1.538rem + 1.456vw)
    }

    .h2 {
        font-size:calc(1rem + .2856vw)
    }
}

.btn.btn-primary {
    background-color: #302CE5
}
.font-weight-normal {
    font-weight: 400 !important
}
.img-fluid {
    max-width: 100%;
    height: auto;
}.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size:1rem;
    line-height: 1.5;
    color: rgba(14, 26, 57, 0.9);
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(14, 26, 57, 0.1);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-sizing: border-box;
}


.form .form-group {
    margin-bottom: 1rem;
}

.form .form-group label {
    margin-bottom: .5rem;
    margin-left: 4px;
    font-size:.93rem
}


.firepit {
	position: absolute;
    top: 65%;
    right: 12%;
}

.fire {
	position: relative;
    transform: rotate(180deg);
	filter: blur(0.04em);
	width:3.2vw;
	height:3.2vw;
}



@media (max-width: 992px) {
	.fire{
		width: 7.2vw;
		height: 7.2vw;
	}
	.firepit {
		position: absolute;  
		top: 63%;
		left: 79%;
	}
}

  
.firepit2 {
  position: absolute;
  bottom: 0;
  left: 47%;
}
  
.fireBig {
  position: relative;
  width: 60px;
  height: 60px;
}

.fire .flame {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: .9;
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 70%;
  border-bottom-left-radius: 70%;
  border-top-left-radius: 70%;
  transform: rotate(-45deg) skew(-10deg, -10deg);
  background-color: #ff2200;
  background-image: linear-gradient(to bottom left, rgba(255, 34, 0, 0.9), rgba(255, 106, 0, 0.7));
  z-index: 1;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-name: burn-left;
  animation-duration: 300ms;
}
.fire .flame:nth-of-type(2n) {
  animation-name: burn-right;
  animation-duration: 400ms;
}
.fire .flame:nth-of-type(2) {
  height: 80%;
  width: 80%;
  left: 10%;
  background-color: #ff6a00;
  background-image: linear-gradient(to bottom left, rgba(255, 106, 0, 0.1), rgba(255, 200, 0, 0.1));
  z-index: 2;
}
.fire .flame:nth-of-type(3) {
  height: 50%;
  width: 50%;
  left: 25%;
  background-image: linear-gradient(to bottom left, #ffc800, #ffffff);
  z-index: 3;
}
.fire .flame:nth-of-type(4) {
  height: 30%;
  width: 30%;
  left: 35%;
  background-color: white;
  background-image: linear-gradient(to bottom left, rgba(255, 255, 255, 0.3), rgba(0, 55, 255, 0.9));
  opacity: 1;
  z-index: 4;
}


@keyframes burn-left {
  0%, 100% {
    transform: rotate(-45deg) skew(-10deg, -10deg) scale(1);
  }
  30%, 60% {
    transform: rotate(-44deg) skew(-12deg, -12deg) scale(1.01);
  }
}
@keyframes burn-right {
  0%, 100% {
    transform: rotate(-45deg) skew(-10deg, -10deg) scale(1);
  }
  30%, 60% {
    transform: rotate(-46deg) skew(-6deg, -6deg) scale(1.01);
  }
}
@keyframes fly-up-burnout-1 {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  33% {
    transform: translate(12px, -70px);
  }
  66% {
    transform: translate(0, -140px);
    opacity: .6;
  }
  100% {
    transform: translate(6px, -200px);
    opacity: 0;
  }
}
@keyframes fly-up-burnout-2 {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  50% {
    transform: translate(-10px, -80px);
  }
  80% {
    transform: translate(-4px, -140px);
    opacity: .6;
  }
  100% {
    transform: translate(-6px, -160px);
    opacity: 0;
  }
}


</style>