<script setup lang="ts">

    import { ref,reactive,computed } from 'vue'  
    import type { Ref,ReactiveEffect } from 'vue'
    import { useAuthUserStore } from '@/m_auth/stores/authUser'
    import { usePageStore } from '@/m_page/stores/page'
    import { useVuelidate } from '@vuelidate/core'
    import { required,sameAs,helpers } from '@vuelidate/validators'
  
    const authStore = useAuthUserStore()
    const user =authStore.getCurrentUser

    const pageLabels:any = {}
  
    const pageStore = usePageStore()
    pageStore.loadCurrentPageCompleted=true

    let password:any = reactive({
        //currentPass:null,
       // pass1:null,
       // pass2:null
    })
    const strongPass:any = helpers.regex(/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#%&<>;:,_/'\"\$\\s\*\(\)\=\?\+\^\.\-]).{8,}$/)

    let validations:any = computed(()=>{
        
        const rules:any={
            currentPass: { required:helpers.withMessage(pageLabels?.currentPassError ? pageLabels?.currentPassError :'Enter current password', required) },
            pass1: { required:helpers.withMessage(pageLabels?.newPassError ? pageLabels?.newPassError : 'Enter valid password (at least 8 characters long, at least 1 number, 1 lower case and 1 upper case letter and 1 special character)', required),strongPass:helpers.withMessage(pageLabels?.newPassError ? pageLabels?.newPassError : 'Enter valid password (at least 8 characters long, at least 1 number, 1 lower case and 1 upper case letter and 1 special character)', strongPass) },
            pass2: { sameAs:helpers.withMessage(pageLabels?.confirmPassError ? pageLabels?.confirmPassError :  'Passwords must match', sameAs(password.pass1,'pass1')) }
        }
        return rules
    })
   
   

    const $v = useVuelidate(validations,password)
    
    function changePass () {  
       authStore.changePassword($v.value,password)
    }
</script>

<template>
 

    <div class="card p-3 m-3">
        
        <div class="p-2 text-center border-bottom mb-4"><span class="h5">{{pageLabels?.myDetailsPageHeader ? pageLabels?.myDetailsPageHeader : 'User details'}}</span></div>

        <div class="p-4 user-details-grid">        
        
            <div class="my-2">
                <div class="h5 border-bottom pb-2"><span>{{pageLabels?.editUserHeader ? pageLabels?.editUserHeader : 'User info'}}</span></div>
            
                <div class="form-group">
                    <label class=" ">{{pageLabels?.username ? pageLabels?.username : 'Username'}}</label>
                    <div class="bold">
                        <span class="">{{user?.username}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class=" " for="first_name">{{pageLabels?.first_name ? pageLabels?.first_name : 'First name'}}</label>
                    <div class="bold">
                        <span class="">{{user?.first_name}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class=" " for="last_name">{{pageLabels?.last_name ? pageLabels?.last_name : 'Last name'}}</label>
                    <div class="bold">
                        <span class="">{{user?.last_name}}</span>
                    </div>
                </div>
                
                    <div class="form-group">
                    <label class=" " for="email">{{pageLabels?.email ? pageLabels?.email :  'E-mail'}}</label>
                    <div class="bold">
                        <span class="">{{user?.email}}</span>
                    </div>
                </div>
                <div class="form-group">
                    
                    <div class="bold">
                        <span class="mr-2">{{pageLabels?.superUserLabel ? pageLabels?.superUserLabel : 'Super user'}}</span>
                        <i class="fas fa-check-square" :title="pageLabels?.superUserTitle" v-if="user?.is_superuser"></i>
                        <i class="far fa-square" :title="pageLabels?.notSuperUserTitle" v-if="!user?.is_superuser"></i>

                    </div>
                    
                </div>
                
                <div class="form-group">
                    
                    <div class="">
                    <span class="mr-2">{{pageLabels?.lastLoginLabel ? pageLabels?.lastLoginLabel : 'Last login'}}</span> <span class="ml-2 bold">{{new Date(user?.last_login).toLocaleString(user?.lang?.Code,{dateStyle:'full',timeStyle:'full'})}}</span>
                    </div>
                </div>

                </div>

                <div class="my-2">
                    <div class="h5 border-bottom pb-2">{{pageLabels?.changePasswordHeader ? pageLabels?.changePasswordHeader : 'Change password'}}</div>
                        
                    
                        <div class="form-group p-1" :class="{ 'text-danger bg-danger-light' : $v?.currentPass?.$error }">
                            <label class=" " for="currentPass">{{ pageLabels?.currentPasswordLabel ? pageLabels?.currentPasswordLabel : 'Current password'}}</label>
                            <div class="">
                                <input type="password" v-model="password.currentPass" @change="$v?.currentPass?.$validate()" :disabled="authStore.apiInProgress" class="form-control default-style-text" id="currentPass" name="currentPass" :placeholder="pageLabels?.currentPasswordLabel ? pageLabels?.currentPasswordLabel : 'Current password' " />
                                <span class="small text-danger" v-for="error in $v?.currentPass.$errors" :key="error.$uid"> {{ error.$message }} </span>
                            </div>
                        </div>
                        
                        <div class="form-group p-1" :class="{ 'text-danger bg-danger-light' :  $v?.pass1.$error }">
                            <label class=" " for="pass1">{{pageLabels?.newPasswordLabel ? pageLabels?.newPasswordLabel : 'New password'}}</label>
                            <div class="">
                                <input type="password" v-model="password.pass1" @change="$v?.pass1?.$validate()" :disabled="authStore.apiInProgress" class="form-control default-style-text" id="pass1" name="pass1" :placeholder="pageLabels?.newPasswordLabel ? pageLabels?.newPasswordLabel : 'New password'" />
                                <span class="small text-danger" v-for="error in $v?.pass1.$errors" :key="error.$uid"> {{ error.$message }} </span>
                            </div>
                        </div>
                        
                            <div class="form-group p-1" :class="{ 'text-danger bg-danger-light' : $v?.pass2.$error }">
                            <label class=" " for="pass2">{{pageLabels?.confirmNewPasswordLabel ? pageLabels?.confirmNewPasswordLabel : 'Confirm new password'}}</label>
                            <div class="">
                                <input type="password" v-model="password.pass2" @change="$v?.pass2?.$validate()" :disabled="authStore.apiInProgress" class="form-control default-style-text" id="pass2" name="pass2" :placeholder="pageLabels?.confirmNewPasswordLabel ? pageLabels?.confirmNewPasswordLabel : 'Confirm new password'" />
                                <span class="small text-danger" v-for="error in $v?.pass2.$errors" :key="error.$uid"> {{ error.$message }} </span>
                            </div>
                        </div>
                        <div class="form-group p-1">
                            <button type="button" :disabled="$v?.$error || $v?.$invalid || authStore.apiInProgress" @click="changePass()" class="btn btn-primary">
                                <i v-if="authStore.apiInProgress" class="fas fa-spinner fa-spin spin mr-2"></i> <i v-if="!authStore.apiInProgress" class="fa fa-lock mr-2"></i><span v-if="!authStore.apiInProgress">{{pageLabels?.changePasswordButton ? pageLabels?.changePasswordButton : 'Change password'}}</span><span v-if="authStore.apiInProgress">{{pageLabels?.changingPasswordButton ? pageLabels?.changingPasswordButton : 'Changing password'}}</span></button>
                        </div>
            
                </div>
        </div>
        <div class="p-4 mt-3" v-if="false">
            <div class="my-1">
                    <div class="h5 border-bottom pb-2">Groups</div>
                
            </div>
            <div class="my-1">
            <div class=""> 
                    <div class="border-rigth">
                        <b>Group id</b>
                    </div>
                    <div class="">
                    <b>Group name</b>
                    </div>
                </div>
            <ul class="list-group">
                <li class="list-group-item px-0" v-for="group in user?.groups" :key="group.id">
                <div class=""> 
                    <div class="border-rigth">
                        {{group.id}}
                    </div>
                    <div class="">
                    {{group.name}}
                    </div>
                </div>
                </li>
            </ul>

            </div>
        </div>
    </div>    
</template>

<style scoped>
.user-details-grid{

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-flow: row;
    column-gap: 1rem;
}
.default-style-text{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size:1rem;
    line-height: 1.5;
    color: #26314d;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #E7E9EC;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-sizing: border-box;
}
</style>