<script setup lang="ts">
    import { useAlertStore } from '@/g_stores/alert';
    import {computed,ref } from "vue"
    import type { ComputedRef,Ref } from 'vue'
    import { RouterLink, useRoute,useRouter } from 'vue-router'
    
    const router = useRouter()
    const route = useRoute()
    const alertStore = useAlertStore()
 
   
    let uid:ComputedRef<string> = computed( ()=>{ 
        let luid:string=''
        if (router.currentRoute.value?.params?.uid) {
            if (Array.isArray(router.currentRoute?.value?.params?.uid)) luid = router.currentRoute?.value?.params.uid[0]
            else luid = router.currentRoute.value.params.uid
        }
        return luid

    })
    let message:ComputedRef<any> = computed( ()=>{ 
        if (uid.value) return alertStore.getMessageByUid(uid.value)
        else return {}
    })
    
        const goBack=()=>{
        router.back()
    }
    let sendingMsg:Ref<boolean> = ref(false)
    const reportMsg = ()=>{
        sendingMsg.value=!sendingMsg.value
    }
</script>

<template>

<div>
    <div class="row justify-content-md-center my-2">
        
        <div class="col-lg-16 px-0">
        
            <div class="my-2 h6 text-left">
                <RouterLink to="" @click="goBack()">
                    <i  class="fa fa-reply"></i>
                    <span class="px-1"   style="white-space: nowrap;">Back</span>
                </RouterLink>               
            </div>
        </div>
		
    </div>
    <div class="row justify-content-md-center mb-2">
        <div class="col-lg-16 card">
         
            <div class="card-body">
                     
                  <div class="row justify-content-center">      
                        <div class="col-24 m-1 text-center h4">
                            <i  class="fa fa-message mr-3"></i> 
                            <span> Message details</span>             
                        </div>
                </div>

            </div>
      </div> 
    </div>
	

    <div class="row justify-content-md-center my-2">
        
        <div class="col-lg-16 card">
            <div class="msg-item"><b>Id</b><br><span>{{message.uid}}</span></div>
            <div class="msg-item"><b>Date</b><br><span>{{message.date}}</span></div>
            <div class="msg-item"><b>Message type</b><br><span>{{message.msgType}}</span></div>
            <div class="msg-item"><b>Message</b><br><span>{{message.message}}</span></div>
            <div class="msg-item"><b>Details</b><br><span>{{message.messageDetail}}</span></div>
            <div class="msg-item"><b>Source</b><br><span>{{message.source}}</span></div>
            <div class="msg-item" v-if="message.fn"><b>Function</b><br><span>{{message.fn}}</span></div>
            <div class="msg-item"><b>Application</b><br><span>{{message.appId?.Name}} ({{message.appId?.uid}})</span></div>
            <div class="msg-item"><b>Page name</b><br><span>{{message.pageId?.params?.Name}} ({{message.pageId?.params?.id}})</span></div>
            <div class="msg-item"><b>Page instance</b><br><span>{{message.pageId?.instanceId}}</span></div>
        </div>
       
    </div>
    <div class="row justify-content-md-center my-2">
        <button type="button" class="btn btn-success" @click="reportMsg()"><i v-if="!sendingMsg" class="fa fa-paper-plane mr-2"></i> <span v-if="!sendingMsg"> Send message to Katalyo </span>
            <i v-if="sendingMsg" class="fas fa-spinner fa-spin mr-2"></i> <span v-if="sendingMsg"> Sending message... </span>
         </button>
    </div>
  

</div>

</template>

<style scoped>
.msg-item{
    margin:0.5rem;
}
    .dashboard {
    padding: 44px;
    text-align: center;
}
.welcome-user{
    color: #707070;
    padding: 1rem;
    font-weight: bold;
}
.db-mode{
    margin-top: 1rem;
    font-weight: bold;
}
</style>