<script setup lang="ts">
  import { ref , computed} from "vue"
  import { storeToRefs } from 'pinia'
  import { useAuthUserStore } from '@/m_auth/stores/authUser'
  import { usePageStore } from '@/m_page/stores/page'
  import { useApplicationStore } from '@/g_stores/application'
  import { useSettingsStore } from '@/g_stores/settings'
  import { useRouter, useRoute } from 'vue-router'
  import type {Ref} from "vue"
  import PageAccessCheck from "@/g_components/PageAccessCheck.vue"

  const authStore = useAuthUserStore()
  const pageStore = usePageStore()
  const route = useRoute()
  pageStore.loadCurrentPageCompleted=true
  
  const applicationStore = useApplicationStore()
  const settingsStore = useSettingsStore()
  let showTab:Ref<number> = ref(1)
  

const organisation:Ref<any> = ref({})

let invalidOrgName = ref(false)
let invalidOrgDescription = ref(false)

const setDebugMode = (dbMode:boolean)=>{
    applicationStore.debugMode = dbMode
}


const setTab = (tabId:number,ev:any)=>{
    ev.preventDefault()
    showTab.value=tabId
}

settingsStore.getOrganisation(authStore.getCurrentUserOrgId)

settingsStore.getCredits('org')

const checkOrgValidity = () =>{
    if (!checkNameValidity()) return false
    
    if (!checkDescriptionValidity()) return false

    return true
}

let checkNameValidity = () =>
  {
    if (!settingsStore.organisation.Name.length) {
        invalidOrgName.value = true
        return false
    }
    invalidOrgName.value = false
    return true
  }
   let checkDescriptionValidity = () =>
  {
    if (settingsStore.organisation.Description.length<20) {
        invalidOrgDescription.value = true   
        return false
    }
    invalidOrgDescription.value = false
    return true
  }
const saveOrganisation = async (ev:any)=>{

    ev.preventDefault()
    const isValid:boolean = checkOrgValidity()
    if (isValid) {
        
        let res:any = await settingsStore.saveOrganisation()
        
    }
        
}

let page_id = computed( ()=> {
      let pageId:string   
      if (Array.isArray(route.params?.page_id)) 
         pageId= route.params?.page_id[0]
      else 
        pageId= route.params?.page_id
      return pageId
   })

let hasAccess:Ref<boolean> = ref(false)
const checkedAccess = (ha:boolean)=>{
  hasAccess.value = ha
}
</script>

<template>
    <PageAccessCheck :resource-id="page_id" @hasAccess="checkedAccess"></PageAccessCheck>
     
   <div v-if="hasAccess && pageStore.getLoadCurrentPageCompleted" class="card m-3 p-3">

    <form @submit="saveOrganisation($event)" id="saveForm" name="form" class="form-horizontal" role="form" novalidate>

    <div class="row m-0">
            <div class="col-lg-24 p-2 text-center border-bottom mb-4"><span class="h5">Community info</span></div>
            
            <div class="col-lg-24 mb-4">
                        <ul class="nav nav-tabs border-0 simple-tabs" id="myTab" role="tablist">
                            
                            <li class="nav-item bold">
                              <a class="nav-link" @click="setTab(1,$event)" href="" :class="{'active show':showTab==1}" id="info_tab" data-toggle="tab" role="tab" aria-controls="all_apps" aria-selected="true">
                                <i class="fa fa-info mr-2"></i> Basic info
                              </a>
                            </li>
                            <li class="nav-item bold">
                              <a class="nav-link" id="my_tab" href="" :class="{'active show':showTab==2}" @click="setTab(2,$event)" data-toggle="tab" role="tab" aria-controls="credits" aria-selected="false">
                                <i class="fas fa-money-bill-wave mr-2"></i> Credits
                                
                              </a>
                            </li>
                           
                        </ul>
      </div>

        <div v-if="showTab==1" class="col-lg-24">
            
            <div v-if="!settingsStore.itemsLoaded['organisation']" style="text-align:center;margin:1rem;font-size: large;"><i class="fa fa-spinner fa-spin"></i>  Loading org info...</div>    

            <div v-if="settingsStore.itemsLoaded['organisation']">
                    <div class="form-group" :class="{ 'is-invalid' : invalidOrgName }">
                        <label :class="{'text-danger':invalidOrgName}" for="organisationName">Community name</label>
                        <div class="">
                            <input type="text" v-model="settingsStore.organisation.Name" @keyup="checkNameValidity()" :required="true" class="form-control" id="organisationName" name="organisationName" placeholder="Community name" />
                            <p v-if="invalidOrgName" :class="{'text-danger small':invalidOrgName}">Enter community name</p>
                        </div>
                    </div>
                                
                    <div class="form-group" :class="{ 'is-invalid' : invalidOrgDescription }">
                        <label :class="{ 'text-danger' : invalidOrgDescription }" for="organisationDescription">Community description</label>
                        <div class="">
                            <textarea v-model="settingsStore.organisation.Description" @keyup="checkDescriptionValidity()" name="organisationDescription" :required="true" class="form-control"></textarea>
                            <p v-if="invalidOrgDescription" :class="{'text-danger small':invalidOrgDescription}">Enter community description(min 20 chars).</p>

                        </div>
                    </div>
                    
                    <div v-if="false" class="row m-0 my-1">
                        
                        
                            <div class="col-24 p-0">
                                <label class="mb-1">Organisation type</label>
                            
                            </div>	
                                <div class="btn-group" role="group" aria-label="Menu type">
                                    <button type="button" @click="settingsStore.organisation.OrgType='ForProfit'" :class="{'active':settingsStore.organisation.OrgType=='ForProfit'}" class="btn btn-sm btn-outline-primary">
                                        For profit
                                    </button>
                                    <button type="button" @click="settingsStore.organisation.OrgType='NonProfit'" :class="{'active':settingsStore.organisation.OrgType=='NonProfit'}" class="btn btn-sm btn-outline-primary">
                                        Non profit
                                    </button>
                                    
                                </div>
                                
                        
                    </div>
                    
                        
                    
                        
                        
                            
                        <div class="form-group">
                                <label  class="form-control-label" for="status">
                                    Active
                                    <input type="checkbox" class="my-2 ml-2" style="transform: scale(1.4);" name="status" v-model="settingsStore.organisation.Active" />
                                </label>
        
                        </div>
            </div>
        </div>
        
        
        <div v-if="showTab==1" class="col-lg-24 m-0 my-1">
            
                    <div class=""> 
              
                            <button type="submit" id="clearBtn" :disabled="invalidOrgName || invalidOrgDescription" class="btn btn-outline-success">
                                <span class="fa fa-save mr-2"></span> Save community info</button>
                    </div>
        </div>

        <div v-if="showTab==2" class="col-lg-24 mb-2">
            <div v-if="!settingsStore.itemsLoaded['balances']" style="text-align:center;margin:1rem;font-size: large;"><i class="fa fa-spinner fa-spin"></i>  Loading transactions & balances...</div>    
            <div v-if="settingsStore.itemsLoaded['balances'] && settingsStore.loadBalanceStatus==403" >Credits available only in DEV environment!</div> 
            <div v-if="settingsStore.itemsLoaded['balances'] && settingsStore.loadBalanceStatus!=403" >
                <div class="d-inline-block w-25" style="vertical-align: top;">
                    <div class="text-primary bold">
                        <i class="fa fa-dollar-sign mr-2"></i> Balances
                    </div>

                    <div v-for="bal in settingsStore.balances" :key="bal.ccy" class="my-3 bold">
                        
                        <div><span class="">{{bal.amt.toLocaleString()}}</span><span class="ml-2" style="color: darkgray;">  {{bal.ccy}}</span></div>

                    </div>
                        
                
                </div>
                <div class="d-inline-block w-75" style="vertical-align: top;"> 
                    <div class="text-primary bold">
                        <i class="fas fa-credit-card mr-2"></i> Transactions
                    </div>

                        <div  class="row mt-3 mb-2 bold border-bottom">

                        <div class="col-2">
                            ID
                        </div>
                        <div class="col-2">
                            Amount
                        </div>
                        <div class="col-3">
                            Currency
                        </div>
                        <div class="col-3">
                            Date
                        </div>
                        <div class="col-10">
                            Description
                        </div>
                    </div>

                    <div v-for="tr in settingsStore.transactions" :key="tr.id" class="row my-1">

                        <div class="col-2">
                            {{tr.id}}
                        </div>
                        <div class="col-2 text-right">
                            {{ tr.amt.toLocaleString() }}
                        </div>
                        <div class="col-3">
                            {{tr.ccy}} 
                        </div>
                        <div class="col-3">
                            {{tr.tdate}}  
                        </div>
                        <div class="col-10">
                            {{tr.tdesc}}
                        </div>
                    </div>
                        

                </div>
            </div>
        </div>
    </div>  
</form>
</div>

</template>

<style scoped>
    .dashboard {
    padding: 44px;
    text-align: center;
}
.welcome-user{
    color: #707070;
    padding: 1rem;
    font-weight: bold;
}
.db-mode{
    margin-top: 1rem;
    font-weight: bold;
}
.form-control{
    box-sizing: border-box;
}
.is-invalid input,.is-invalid textarea{

border-color: #dc3545;
}

.is-invalid input:focus,.is-invalid textarea:focus{

    box-shadow: 0 0 0 0.15rem rgba(220, 53, 69, 0.25);
}
</style>