<script setup lang="ts">
  import { ref,computed } from "vue"
  import { storeToRefs } from 'pinia'
  import { useAuthUserStore } from '@/m_auth/stores/authUser'
  import { usePageStore } from '@/m_page/stores/page'
  import { useApplicationStore } from '@/g_stores/application'
  import { useRouter, useRoute } from 'vue-router'
  import ApplicationList from "../g_components/ApplicationList.vue"
  import WidgetCustomExe from "../g_components/widgets/WidgetCustomExe"
  const authStore = useAuthUserStore()
  const pageStore = usePageStore()
  pageStore.loadCurrentPageCompleted=true
  
  const isAuthenticated = authStore.getIsAuthenticated
  const currentUser = authStore.getCurrentUser
  
  const applicationStore = useApplicationStore()

  let currentEnv = computed( ()=> {
    let cur= applicationStore.currentEnv ?? ''
    if (cur) return authStore.getEnvironments[cur]
    else return {}
  })

  let switchEnv = computed( ()=> {
    let cur= applicationStore.currentEnv ?? ''
    let oth:any
    authStore.getEnvArray.forEach((element:any) => {
        if (element.id!=cur) oth = element
    }); 
    if (oth) return oth
    else return {}
  })

const dataLoadingText='Loading'

const envStyle = (envId:number)=> {
    
    let dStyle=""
    if (envId) {
        if (authStore.getEnvironments[envId].parameters?.icon) dStyle+="background-color:"+authStore.getEnvironments[envId].parameters?.bgcolor+";"
        if (authStore.getEnvironments[envId].parameters?.color) dStyle+="color:"+authStore.getEnvironments[envId].parameters?.color+";"
    }
   
    return dStyle 
    
  }

  const appVersion:string = import.meta.env.VITE_APP_VERSION
  
</script>

<template>
   
   <div class="dashboard">
    <img :title="'Version: '+appVersion" src="@/g_assets/img/Katalyo_final_aqua.png" style="margin-bottom:3rem;width: 20%"/>

    <div v-if="isAuthenticated">
        <h3 class="welcome-user">Welcome back {{currentUser?.first_name}} {{currentUser?.last_name}},</h3>
        <br>
        <h5 class="app-run" v-if="applicationStore.currentApp?.uid" >Application <u :title="applicationStore.currentApp?.uid">{{applicationStore.currentApp?.Name}}</u> is running!</h5>
        <div class="env-div">  
                <span style="font-size: large;">You are using</span>
                    <i :class="currentEnv.parameters?.icon+' mx-2 p-1 rounded'" :style="envStyle(currentEnv.id)"> </i>
                    <span style="font-size: large; border-bottom: 1px solid;"> {{currentEnv.description}} ({{currentEnv.id}}) </span>
                    <div class="change-env">
                        <RouterLink :to="{name:'dashboard',query:{ sessionid:authStore.getSessionId, env:switchEnv.id }}"  class="btn" :style="envStyle(switchEnv.id)" :data-loading-text="dataLoadingText">
                        <i :class="switchEnv.parameters?.icon+' mr-2'"> </i>
                        <span > Switch to  {{switchEnv.description}} ({{switchEnv.id}})  </span>
              
                        </RouterLink>
                    </div> 
        </div>
                    
        <br>
        <div class="app-dashboard">
            <i class="fa fa-laptop-code mr-2"></i><span>App dashboard</span>
        </div>
        <br>
        <ApplicationList :env="applicationStore.currentEnv.toString()"/>
        <br>
    </div>
    <div v-if="!isAuthenticated">
        This would be dashboard if authenticated!<br>Authentication required!
    </div>
    <RouterLink v-if="!isAuthenticated" to="/login">Login</RouterLink>
   </div>
</template>

<style scoped>
.env-div{
    width: 80%;
    margin: 0 auto;
    text-align: left;
    left: -1.5rem;
    position: relative;
}
.change-env{
    display: inline-block;
    margin-left: 1.5rem;
}
    .dashboard {
    padding: 44px;
    text-align: center;
}
.welcome-user{
    color: #707070;
    width: 80%;
    margin: 0 auto;
    font-weight: bold;
    text-align: left;
    left: -1.5rem;
    position: relative;
}

.app-run{
    color: #707070;
    width: 80%;
    margin: 0 auto;
    font-weight: bold;
    text-align: left;
    left: -1.5rem;
    position: relative;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.app-dashboard{
    color: #707070;
    padding: 1rem;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 2rem;
}

@media (max-width: 1024px) {
 
    .dashboard {
        padding: 24px;
    }

}

@media (max-width: 768px) {

    .dashboard {
        padding: 12px;
    }
  
}
</style>