 <script setup lang="ts">

  import { ref, onMounted,getCurrentInstance,computed } from 'vue';
  import type { Ref } from 'vue'
  import  KatalyoApi from '@/g_libs/kt-api';
  //import config from '@/config';
  import { useAlertStore ,alertMessage} from '@/g_stores/alert';
 

  
  // Reactive state for paginated data
  //const pagedData = ref([]);
  let pagedData:Ref<Array<any>> = ref([]);

  const currentPage = ref(1);
  const totalPages = ref(1);
  const alertStore = useAlertStore()
  const limit = 5; // Number of records per page

  const isModalOpen = ref(false); // Control modal visibility
  const id = ref(null); // This would be set if editing an existing page


  // Open modal (param can be 'new' or 'edit')
const openModal = (id?:any) => {
  
 if (id==undefined) helpPage.value = helpClear

 
  isModalOpen.value = true; // Show the modal
};

// Close modal
const closeModal = () => {
  isModalOpen.value = false;
};

  const api_main = KatalyoApi()
  const api = api_main.KatalyoApiClass
  const instance = getCurrentInstance()
 
  const apiconfig= instance?.proxy?.$apiconfig
  const server = apiconfig?.[apiconfig.env]['api']['server']    
 


  // Reactive state for form data
  const helpPage = ref({
    id:'',
    pageid: '',
    pagev: null,
    envid: null,
    uniqueid: '',
    lang: null,
    params: '',
    maxwidth: null,
    exeuser: null,
    active: false,
  });

  let helpClear = helpPage.value
  
  // Message to show success or error
  const message = ref('');
  
  // Fetch paged data for the table
  const fetchHelpPages = async () => {
    try {

      //let response = await api.get("/api/helppages/?page=${currentPage.value}&limit=${limit}");
      let response = await api.get(server + "helppages/?page=" + currentPage.value + "&limit=" + limit);
      pagedData.value = response.data.records;
      totalPages.value = response.data.totalPages;
    } catch (error) {
      console.error("Error fetching help pages:", error);
    }
  };
  
  // Fetch a specific help page for editing
  const fetchHelpPage = async (id:string) => {
    try {
      //const response = await axios.get(`/api/helppages/${id}`);
      let response = await api.get(server + 'helppages/' + id + '/')
      helpPage.value = response.data
    } catch (error) {
      console.error("Error fetching help page:", error)
    }
  };


  
  // Create or update a help page
  const submitForm = async () => {
    try {
      if (helpPage.value?.id) {// UPDATE
        const response = await api.put(server + "helppages/"+ helpPage.value.id + '/', helpPage.value);
        alertStore.info(new alertMessage('Help page updated successfully!'))
      } else { //CREATE NEW
        
        //delete helpPage.value.id
        const response = await api.post(server + 'helppages/', helpPage.value);
        if (response.status ==200 || response.status==201) {
            alertStore.info(new alertMessage('Help page created successfully!'))
        }
      }
      fetchHelpPages(); // Refresh the table after submit
    } catch (error) {
      alertStore.error(new alertMessage('Failed to save help page data.'))
    }
    closeModal()
  };
  
  // Edit existing page
  const editPage = (id:any) => {
    
    fetchHelpPage(id);
    openModal(id)
  };
  
  // Delete a help page
  const deletePage = async (id:any) => {
    try {
      //await axios.delete(`/api/helppages/${id}`);

      const response = await api.delete(server + `helppages/${id}`);
      message.value = 'Help page deleted successfully!';
      fetchHelpPages(); // Refresh the table after deletion
    } catch (error) {
      console.error("Error deleting help page:", error);
      message.value = 'Failed to delete help page.';
    }
  };
  
  // Pagination controls
  const nextPage = () => {
    if (currentPage.value < totalPages.value) {
      currentPage.value++;
      fetchHelpPages();
    }
  };
  
  const previousPage = () => {
    if (currentPage.value > 1) {
      currentPage.value--;
      fetchHelpPages();
    }
  };
  
  // On component mount, fetch the first page of help pages
  onMounted(() => {
    fetchHelpPages();
  });
  </script>
  
  <template>


<div>
   
   

    <!-- Modal Structure -->
    <div v-if="isModalOpen" class="modal">

      <div class="modal-content">
        
         <h2 v-if="helpPage.id">Edit Help Page</h2>
         <h2 v-else>Create New Help Page</h2>


        <form @submit.prevent="submitForm">
         
        <div>
          <label for="pageid">Page ID:</label>
          <input v-model="helpPage.pageid" type="text" id="pageid" />
        </div>
        <div>
          <label for="pagev">Page Version:</label>
          <input v-model="helpPage.pagev" type="number" id="pagev" />
        </div>
        <div>
          <label for="envid">Env ID:</label>
          <input v-model="helpPage.envid" type="number" id="envid" />
        </div>
        <div>
          <label for="uniqueid">Unique ID:</label>
          <input v-model="helpPage.uniqueid" type="text" id="uniqueid" />
        </div>
        <div>
          <label for="lang">Language ID:</label>
          <input v-model="helpPage.lang" type="number" id="lang" />
        </div>
        <div>
          <label for="params">Parameters:</label>
          <input v-model="helpPage.params" type="text" id="params" />
        </div>
        <div>
          <label for="maxwidth">Max Width:</label>
          <input v-model="helpPage.maxwidth" type="number" id="maxwidth" />
        </div>
        <div>
          <label for="exeuser">Executed User:</label>
          <input v-model="helpPage.exeuser" type="number" id="exeuser" />
        </div>
        <div class="my-3">
          <label style="width:50px" for="active">Active:</label>
          <input style="width:30px" v-model="helpPage.active" type="checkbox" id="active" />
        </div>


          <button class="btn btn-primary" type="submit">{{ helpPage.id ? 'Update' : 'Create' }}</button>
          <button class="ml-2  btn btn-warning-outline " @click="closeModal()">  Cancel  </button>

        </form>

      </div>
    </div>
  </div>



    <div>
      <h2 class="m-4 text-center">Help Pages</h2>
  
      <!-- Table View -->
      <table class="m-2">
        <thead>
          <tr>
            <th>ID</th>
            <th>Page ID</th>
            <th>Page Version</th>
            <th>Env ID</th>
            <th>Max width</th>
            <th>Unique ID</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="page in pagedData" :key="page.id">
            <td>{{ page.id }}</td>
            <td>{{ page.pageid }}</td>
            <td>{{ page.pagev }}</td>
            <td>{{ page.envid }}</td>
            <td>{{ page.maxwidth }}</td>
            <td>{{ page.uniqueid }}</td>
 
            <td>
              <button class="btn btn-outline-primary btn-sm" @click="editPage(page.id)">Edit</button>
       
              <button type="button" class="btn btn-sm p-0 px-1" title="Remove code" ng-click="deletePage(page.id)"><i class="fas fa-trash-alt"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
  
      <!-- Pagination Controls -->
     <div class="text-center mt-4">
        <button class="btn btn-outline-primary ml-2" @click="previousPage()" :disabled="currentPage === 1">Previous</button>
        <span>Page {{ currentPage }} / {{ totalPages }}</span>
        <button class="btn btn-outline-primary ml-2" @click="nextPage()" :disabled="currentPage === totalPages">Next</button>
      </div>
     
      <button class="ml-4  btn btn-primary  " @click="openModal()">  Create New   </button>

    </div>
    <AppMessage />
  </template>

  <style scoped>
  table {
    width: 100%;
    border-collapse: collapse;
  }
  table, th, td {
    border: 1px solid #00000030;
  }
  th, td {
    padding: 6px;
  }
  button {
    margin-right: 10px;
  }
  form {
    margin-top: 20px;
    /*max-width: 600px;*/
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
  }
  div {
    margin-bottom: 10px;
  }
  label {
    display: inline-block;
    width: 120px;
  }
  input {
    width: calc(95%);
    padding: 5px;
  }


  .modal {
  display: block; /* Show the modal */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000;
}

.modal-content {
  background-color: white;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Width of the modal content */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


  </style>
  