<script setup lang="ts">
import IndexComponent from "@/g_components/IndexComponent.vue";

import { ref,computed,getCurrentInstance } from "vue";
  import PageLayoutExe from "@/g_components/PageLayoutExe.vue";
  import type { Ref,ComputedRef } from 'vue'
  import Utility from '@/g_libs/kt-utility';
  import { useRoute } from 'vue-router'
  
 

  const route = useRoute()
  let querystr:any =  route.query
  const instance = getCurrentInstance()
  let configRef:Ref<any> = ref(instance?.proxy?.$apiconfig['indexpage'] || {})
  
    let domain:Ref<string> = ref(window.location.hostname)

  let isStandardIndex:ComputedRef<boolean | undefined> = computed( ()=> {
        let isi:boolean = true
        if (configRef.value[domain.value]?.type=='custom') isi=false
        return isi
    })

    let isPublic:ComputedRef<boolean | undefined> = computed( ()=> {
        let pub:boolean = true
        if (!configRef.value[domain.value]?.public) pub=false
        return pub
    })

    let indexC = computed( ()=> {
      
      if (isStandardIndex) return IndexComponent
      //return configRef.value.indexpage[domain.value]?.component || IndexComponent
    })
    let orgId:ComputedRef<number | undefined> = computed( ()=> {
      
      let org:number = 0
        if (configRef.value[domain.value]?.orgid) org=configRef.value[domain.value]?.orgid
        return org
    })

    let finalPid = computed( ()=> {
      let pageId:string = configRef.value[domain.value].pageid
      return pageId
    })

    let resourceVersion:ComputedRef<number> = computed( ()=> {
      let rVersion:number = configRef.value[domain.value].pageversion
      return rVersion
    })
    const uuid:string = new Utility().uuidv4()

    let instanceId:Ref<string> = computed( ()=> {
      if (!querystr?.rinstance || Number(querystr?.rinstance)==0) return uuid
      else return querystr?.rinstance
    })

</script>

<template>
    <Component :is="indexC" v-if="isStandardIndex" />
    <PageLayoutExe  v-else :resource-version="resourceVersion" :resource-id="finalPid" :instance-id="instanceId" :org-id="orgId" :public="isPublic"/> 
</template>
