<script setup lang="ts">
  import { ref } from "vue";
  import { useAuthUserStore } from '@/m_auth/stores/authUser'
  //import { usePageStore } from '@/m_page/stores/page'
  import { useRoute } from 'vue-router'
  //import ResourceFormDef from "../g_components/ResourceFormDef.vue";
  import type { Ref } from 'vue'
  const authStore = useAuthUserStore()

  const isAuthenticated = ref(authStore.getIsAuthenticated)
  //const currentUser =authStore.getCurrentUser
  const route = useRoute()
  let resourceId:number | undefined
  if (Array.isArray(route.params?.page_id)) resourceId= parseInt(route.params?.resource_id[0])
  else resourceId= parseInt(route.params?.resource_id.toString())
  const resourceIdFinal:Ref<number> = resourceId !== undefined ? ref(resourceId) : ref(0)

</script>

<template>
        
            
   <!-- <ResourceFormDef  v-if="isAuthenticated" :resource-id="resourceIdFinal" resource-type="dataset" />   -->
    <div v-if="!isAuthenticated" >
        This would be PoC page if authenticated!<br>Authentication required!
        <RouterLink to="/login">Login</RouterLink>
    </div>
        
        
    
</template>

<style scoped>

</style>