<script setup lang="ts">
  import { ref , computed, provide} from "vue";
  import { useAuthUserStore } from '@/m_auth/stores/authUser'
  import { useRoute } from 'vue-router'
  import PageLayoutExe from "../g_components/PageLayoutExe.vue";

  import type { Ref } from 'vue'
  import Utility from '@/g_libs/kt-utility';

  const authStore = useAuthUserStore()
  const isAuthenticated = ref(authStore.getIsAuthenticated)

  const route = useRoute()
  let querystr:any =  route.query
  let pageId:string | undefined
  let resourceVersion:number 
  

  if (Array.isArray(route.params?.page_version)) 
    resourceVersion= +route.params?.page_version[0]
  else 
    resourceVersion= +route.params?.page_version

  if (Array.isArray(route.params?.page_id)) 
    pageId= route.params?.page_id[0]
  else 
    pageId= route.params?.page_id

    let finalPid = computed( ()=> {
      if (Array.isArray(route.params?.page_id)) 
       pageId= route.params?.page_id[0]
      else 
        pageId= route.params?.page_id
      return pageId
    })

    const uuid:string = new Utility().uuidv4()

    let instanceId:Ref<string> = computed( ()=> {
      if (!querystr?.rinstance || Number(querystr?.rinstance)==0) return uuid
      else return querystr?.rinstance
    })

    let pInstanceId:Ref<string> = computed( ()=> {
      if (querystr?.prinstance) return querystr?.prinstance
      else return '0'
    })

    provide('instanceId', instanceId)
    provide('prevInstanceId', pInstanceId)

</script>

<template>

    <PageLayoutExe  v-if="isAuthenticated" :resource-version="resourceVersion" :resource-id="finalPid" :instance-id="instanceId" :prev-instance-id="pInstanceId" :org-id="0" :public="false"/> 

    <div v-if="!isAuthenticated" class="no-auth-msg-cls">
        <br>Authentication required!
        <RouterLink to="/login">Login</RouterLink>
    </div>
    
</template>

<style scoped>
.no-auth-msg-cls{
  margin-top: 5rem;
  text-align: center;
  font-size: large;
}
</style>