<script setup lang="ts">
  import { ref , computed} from "vue"
  import { storeToRefs } from 'pinia'
  import { useAuthUserStore } from '@/m_auth/stores/authUser'
  import { usePageStore } from '@/m_page/stores/page'
  import { useApplicationStore } from '@/g_stores/application'
  import { useAppMenuStore } from '@/g_stores/appMenu'
  import { useRouter, useRoute } from 'vue-router'

  const authStore = useAuthUserStore()
  const pageStore = usePageStore()
  const appMenuStore = useAppMenuStore()
  pageStore.loadCurrentPageCompleted=true
  
  const isAuthenticated = authStore.getIsAuthenticated
  const currentUser = authStore.getCurrentUser ?? {}
  const applicationStore = useApplicationStore()

  let currentEnvName = computed( ()=> {
    let cur= applicationStore.currentEnv ?? ''
    if (cur) return authStore.getEnvironments[cur].description
    else return 'unknown'
  })

const dataLoadingText='Loading'

const envStyle = (envId:number)=> {
    
    let dStyle="width:100%;"
    if (envId) {
        if (authStore.getEnvironments[envId].parameters?.icon) dStyle+="background-color:"+authStore.getEnvironments[envId].parameters?.bgcolor+";"
        if (authStore.getEnvironments[envId].parameters?.color) dStyle+="color:"+authStore.getEnvironments[envId].parameters?.color+";"
    }
   
    return dStyle 
    
  }

const setDebugMode = (dbMode:boolean)=>{
    applicationStore.debugMode = dbMode
}

const appVersion = import.meta.env.VITE_APP_VERSION
//const appVersion = process.env.VITE_APP_VERSION

</script>

<template>
   

<div class="dashboard">

    <div v-if="!isAuthenticated">
        This would be select env if authenticated!<br>Authentication required!
    </div>
    
    <RouterLink v-if="!isAuthenticated" to="/login">Login</RouterLink>
</div>


<div id="selectENVIRONMENT">

    <div class="text-center p-4">
        <img src="@/g_assets/img/Katalyo_final_aqua.png" class="mx-1" style="width:20%"/>
    </div>

   
  <form @submit.prevent="false"  name="form" class="form-horizontal" role="form" novalidate="true">
    <div  class="justify-content-md-center">
     <div  class=" p-0">  
      </div>
    </div>
	
    <div class="row justify-content-md-center mb-2">
        
        <div class="col-lg-12 card">
        
            <div class="card-header h6 text-center">
                <RouterLink :to="{name: 'dashboard'}">
                    <i  class="fa fa-home"></i>
                    <span class="px-1"   style="white-space: nowrap;">Home page</span>
                </RouterLink>               
            </div>
        </div>
		
    </div>
    <div class="row justify-content-md-center mb-2">
        <div class="col-lg-12 card">
         
            <div class="card-body">
                     
                  <div class="row justify-content-center">      
                        <div class="col-24 m-1 text-center"> 
                            <span class="h4"> You are in  <b><q>{{ currentEnvName }} </q></b></span>             
                        </div>
                </div>

            </div>
      </div> 
    </div>
	
    
    <div class="row justify-content-md-center">
        <div class="col-lg-12 card">
            <div class="card-header h5 mt-3 text-center">
        
                <span class="card-title" v-if="true">  <i class="far fa-building mr-2"> </i>
                    Select Environment:
                </span>
                       
            </div>
     
        <div class="card-body">
                   
            <div class="row justify-content-center"> 
                  <div class="col-12">
                        <div class="col-24 m-1 " v-for="(env,index) in currentUser?.environments" >  

                            <RouterLink :to="{name:'dashboard',query:{ sessionid:authStore.getSessionId, env:env.id }}"  class="btn" :style="envStyle(env.id)" :data-loading-text="dataLoadingText">
                                <i :class="env.parameters?.icon+' mr-2'"> </i>
                                <span >   {{env.description}} ({{env.id}})  </span>        
                            </RouterLink>

                        </div>
					</div>
                
            </div>
                        

        </div>
      </div> 
    </div>

  </form>
  <div class="row justify-content-md-center my-2">
        
        <div class="col-lg-12 card">
        
            <div class="card-header h6 text-center">
                <button type="button" class="btn btn-light mr-1" @click="setDebugMode(true)"> Turn on debug mode </button>
                <button type="button" class="btn btn-light" @click="setDebugMode(false)"> Turn off debug mode </button>
                <div class="db-mode">
                    <span>Debug mode is</span><span v-if="applicationStore.debugMode"> on!</span><span v-if="!applicationStore.debugMode"> off!</span>
                </div>
            </div>
        </div>
		
    </div>
   <div class="row justify-content-md-center mt-2">
        <div class="col-lg-12 card">
         
            <div class="card-body">
                       
                  <div class="row justify-content-center"> 
                     
                       <div class="col-24 m-1 text-center text-primary"> 
                                      <span> Katalyo platform version <b>{{appVersion}}</b> </span>             
                       </div>
                       <div class="col-24 m-1 text-center"> 
                                      <span> Build <b>ac9d965729737e9661acde2f6e5ede08a6824565</b> </span>             
                       </div>
                  
                </div>
       
            </div>
      </div> 
    </div>
  

</div>

</template>

<style scoped>
    .dashboard {
    padding: 44px;
    text-align: center;
}
.welcome-user{
    color: #707070;
    padding: 1rem;
    font-weight: bold;
}
.db-mode{
    margin-top: 1rem;
    font-weight: bold;
}
</style>