<script setup lang="ts">

import { useRdbmsResourceStore } from '@/m_resource/stores/rdbmsResource'
  import { ref, reactive, onMounted ,getCurrentInstance,computed} from 'vue'
  import { useRoute, useRouter } from 'vue-router'
  import { useAppMenuStore } from '@/g_stores/appMenu'
  import { useAlertStore, alertMessage } from '@/g_stores/alert'
  import  DropDown  from '@/g_components/DropDown.vue'
  import { useAuthUserStore } from '@/m_auth/stores/authUser';
  import { useUserStore } from '@/m_auth/stores/user'
  import { usePageStore } from '@/m_page/stores/page'
  import type { Ref } from 'vue'
  import PageAccessCheck from "@/g_components/PageAccessCheck.vue"
  
  const rdbmsStore = useRdbmsResourceStore()
  const appMenuStore = useAppMenuStore()
  const alertStore = useAlertStore()
  const instance = getCurrentInstance()
  const authStore = useAuthUserStore()   
  const userStore = useUserStore()
  const pageStore = usePageStore()

  let showResourceList = ref(false)

  let localVars = reactive<any>({
    showList: 1,
    adminUsers: [],
    adminGroups: [],
    newgroup: null,
    appMenu: {}
  })

  let isSelectedGroups = reactive<{ [key: string]: boolean }>({});
  let isSelectedUsers = reactive<{ [key: string]: boolean }>({});

  let allGroups:Ref<Array<{ id: string; name: string } | undefined>> = ref([])
  let all_page_groups = reactive<{ [key: string]: { gid: string; gname: string } }>({});
  let all_menu_groups = reactive<{ [key: string]: { gid: string; gname: string } }>({});
  
  let resourceDict = reactive<{ [key: string]: any }>({});
  let appList:Ref<Array<any>> = ref([])
  
  let menuDict = reactive<{ [key: string]: any }>({});
  let pageDict = reactive<{ [key: string]: any }>({});
  let allchecked = reactive<any>({})
  let resourceList =  reactive<{ [key: string]: boolean }>({}); //not actually list but dict

  let appListLoading = ref(false)
  let menuLoading = ref(false)

  let userList = ref([])
  let groupList = ref([])
  let currentApp = ref<any>({'name':''})
  const route = useRoute()
  const router = useRouter()

  
  
  let langCode = (authStore.getCurrentUser || {}).langObj.Code

  const label = instance?.proxy?.$myGlobalProperty[langCode] || {}

  let menuList:Ref<Array<Record<PropertyKey,any>>> = ref([])
  let saved = ref(false)


let fetchAndProcessMenu = async function () {
    menuLoading.value=true
    const data = await appMenuStore.fetchMenuExe(localVars.appMenu.id, 'a', localVars.appMenu.version, undefined, true);
    menuList.value = data.menus ?? []

    for (const item of menuList.value) {
      all_menu_groups[item.auth_group_uid] = { 'gid': item.auth_group_uid, 'gname': item.auth_group_name }
    }
    //create resource dict
    for (const item of menuList.value) {
      if (menuDict?.[item.s_menus_id] == undefined) menuDict[item.s_menus_id] = {}

      Object.keys(all_menu_groups).forEach(function (group_id: any) {
        let resource = all_menu_groups[group_id]
        //add all groups
        if (menuDict[item.s_menus_id][group_id] == undefined) 
            menuDict[item.s_menus_id][group_id] = { '$checked': null,  '$resourceid': item.s_menus_id, 'gid': resource.gid, 'gname': resource.gname }
        if (item.auth_group_uid == group_id)
          menuDict[item.s_menus_id][group_id]['$checked'] = true
      })

      menuDict[item.s_menus_id]['name'] = item.s_menus_Name
      menuDict[item.s_menus_id]['type'] = item.s_menus_MenuType
      menuDict[item.s_menus_id]['$resource_version'] = item.s_menus_VersionTo
      menuDict[item.s_menus_id]['userCanWrite'] = true
      menuLoading.value=false
    }


}


  const show = (type:any) => {
    
    switch (type) {
      case 'page':
        localVars.showList = 1
        Object.keys(resourceDict).forEach(key => delete resourceDict[key]);
        Object.assign(resourceDict, pageDict	)
        break
      case 'admin':
        localVars.showList = 2
        break
      case 'menu':
        localVars.showList = 3
        Object.keys(resourceDict).forEach(key => delete resourceDict[key]);
        fetchAndProcessMenu().then(() => {
              Object.assign(resourceDict, menuDict	)
        })

        break
    }
  }
  
  
  userStore.getUsersGroups('users').then(function (data) {
      userList.value = data?.data
})

userStore.getUsersGroups('groups').then((groups) => {
    groupList.value = groups?.data
})


const showAppList:Ref<Number> = ref(1)
  
			
let loadAppSettings =  function(myApp:any)
	{	    
    myApp.loadingApp=true
        rdbmsStore.getResourceAccess(myApp).then(response => {
			 
          if (response.status === 200 || response.status === 201 ) { 

						currentApp.value = myApp	
            Object.assign(resourceList, response.data.access_records	)
						localVars.adminUsers= response.data.admin_users
						localVars.adminGroups= response.data.admin_groups

            //prepare dict for dropdown
            localVars.adminUsers.forEach(  (item:any)=> {    isSelectedUsers[item.id]= true  })
            localVars.adminGroups.forEach(  (item:any)=> {    isSelectedGroups[item.id]= true  })
            
						allGroups.value = response.data.allgroups
						showResourceList.value = true
            showAppList.value=0
						
						for (const item of  myApp.ResourceExtended ) {
							if (item.LinkType=='app-menu')  localVars.appMenu = {id: item.Resource2, version: item.Version}
						}
   
            Object.keys(resourceList).forEach(function(key) {
              let resource:any=resourceList[key]
							if (resource.itemSubType=="menu") localVars.appMenu = { 'id':key,'version':resource.version}
							if (resource.itemSubType!="page") delete resourceList[key] //delete non pages
							if (resource.version==null) delete resourceList[key] //delete if version is null (for examp. Home page) TODO - find another way to detect home page
							
                Object.keys(resource.$access).forEach(function(gid:any) {
									all_page_groups[gid]= { 'gid':gid, 'gname': resource.$access[gid].$group_name }
							}	)
						})
						
						//create resource dict

            Object.keys(resourceList).forEach(function(key) {
              let item:any=resourceList[key]
							//create empty resource object if undefined
							if (pageDict?.[item.id]==undefined) {	
								pageDict[item.id]={}					
                  Object.keys(all_page_groups).forEach(function(group_id:any) {
                    let resource=all_page_groups[group_id]
										pageDict[item.id][group_id] = {	
											'$checked': item.$access?.[group_id]?.e , '$resourceid': item.id, 'gid': resource.gid, 	'gname': resource.gname
										}
								})
							}
							
							pageDict[item.id]['name']= item.itemName
							pageDict[item.id]['type']= item.itemSubType
							pageDict[item.id]['userCanWrite']= item.$userCanWrite ?? true
							pageDict[item.id]['$resource_version']= item.version
							
						})

            Object.assign(resourceDict, pageDict	)
							
               
        //fetchmenu..
				
            } else {
                alertStore.info(new alertMessage(response.data))      }
            
                myApp.loadingApp=false
					
        }, 
				error => {   
          myApp.loadingApp=true
          alertStore.error(new alertMessage(error.msg, error.msg, error.status))}
		)
	}

    

  const saveApplicationSettings = (isFormValid:any) => {
    
    if (isFormValid) {
      const appData = 
      {
        appId: currentApp.value.uid,
        type: 'admins',
        admins: {
          users: localVars.adminUsers,
          groups: localVars.adminGroups
        },
        version: currentApp.value.version
      }

      rdbmsStore.saveApplication(appData).then(data => {
       alertStore.info(new alertMessage(data.data.msg , data.data.msg, 200))   
      }).catch(error => {
       alertStore.error(new alertMessage(error.msg,  error.msg, 200))   
      })
    } else {
     // addMessage('App description is mandatory!', 'error')
     alertStore.error(new alertMessage('App description is mandatory!' , 'App description is mandatory!', 200))   
    }

   // saved.value = true;    - da li treba ovo ?

  }
  

  
  const addGroup = (newgroup:any) => {
    showResourceList.value = false
    saved.value=false
    if  (!all_page_groups[newgroup.uid]) {
      all_page_groups[newgroup.uid] = { gid: newgroup.uid, gname: newgroup.name }
      Object.keys(resourceDict).forEach(function(key:any) {
        let resource = resourceDict[key]
          if (typeof resource === 'object' && resource !== null) {
              resource[newgroup.uid] = { '$checked': null, 'gid': newgroup.uid, 'gname': newgroup.name }
        }
      })
    }

    showResourceList.value = true
  }
  
  const inputchanged = (item:any, group:any) => {
    saved.value=false
    //item[group.gid].gid = group.gid
    //item[group.gid].gname = group.gname
  }
  
  const allChanged = (group:any) => {
      Object.keys(resourceDict).forEach(function(key:any) {
      let resource=resourceDict[key]
      if (resource[group.gid] && allchecked[group.gid] !== undefined) {
        resource[group.gid].$checked = allchecked[group.gid]
      }
    })
  }
  
  const SaveResourceAccess = () => {
    for (const key in resourceDict) {
      const entry = resourceDict[key]
      for (const subKey in entry) {
        if (entry[subKey]["$checked"] == null && entry[subKey]['$resourceid']) {
          delete entry[subKey]
        }
      }
      if (!entry.userCanWrite) {
        delete resourceDict[key]
      }
    }
    
    if (localVars.showList === 1) {
        rdbmsStore.saveResourceAccess(currentApp.value, resourceDict).then(response => {
          if (response.status === 200) {
              saved.value=true
              alertStore.info(new alertMessage(`Inserted: ${response?.data?.inserted?.length}, Updated: ${response?.data?.updated?.length} items` ))
          } else  alertStore.info(new alertMessage(response?.data ))

      }).catch(error => {
        alertStore.error(new alertMessage(error.msg))   
      })
    } else if (localVars.showList === 3) {   
        rdbmsStore.saveMenuAccess(currentApp.value, resourceDict).then(response => {
          if (response.status === 200)   alertStore.info(new alertMessage(`Inserted: ${response.data.inserted.length}, Updated: ${response.data.updated.length} items` ))   
          else alertStore.info(new alertMessage(response?.data ))
      }).catch(error => {
        alertStore.error(new alertMessage(error.msg))   
      })
    }
  }
  
  const reloadPage = () => {
    showAppList.value=1
    router.go(1)
  }
  
  const getApps = () => {
    
    appListLoading.value = true

    rdbmsStore.getResourceSubscriptions('application').then( data => {
        
      appListLoading.value = false
      appList.value = data.data
    }).catch(error => {
      appListLoading.value = false
      //addMessage(error.msg, 'error')
      alertStore.info(new alertMessage('Get resources in manifest!' , 'Get resources in manifest!', 200))   
    })
  }
  
  onMounted(() => {
    const app_ref = route.query.app_ref
    const over = !app_ref
    //clearSideMenu()
    appMenuStore.setDefaultMenu()
   // loadDefaultMenu(over)
    getApps()
  })
  

//executed from  user dropdowns !
let clickItem = (item:any, isSelected:any) =>   {
    isSelected[item.id] = !isSelected[item.id] 
    localVars.adminUsers=  userList.value.filter( (itemm:any)=> isSelected?.[item.id] )
}

//executed from group dropdowns !
let clickItem2 = (item:any, isSelected:any) =>   {
    isSelected[item.id] = !isSelected[item.id]
    localVars.adminGroups= groupList.value.filter( (itemm:any)=> isSelected?.[item.id] )
}

//let page_id='02e3d37e-cfe6-4866-ee8d-8c955673db4e4'

let page_id = computed( ()=> {
      let pageId:string   
      if (Array.isArray(route.params?.page_id)) 
         pageId= route.params?.page_id[0]
      else 
        pageId= route.params?.page_id
      return pageId
   })

let hasAccess:Ref<boolean> = ref(false)
const checkedAccess = (ha:boolean)=>{
  hasAccess.value = ha
}

</script>
  
  <template>
     <PageAccessCheck :resource-id="page_id" @hasAccess="checkedAccess"></PageAccessCheck>
    

    <div v-if="hasAccess && pageStore.getLoadCurrentPageCompleted" class="row pt-3">

      <div v-if="!showAppList" class="col-24">
            <div class="text-primary m-2">
                <a title="Home page" style="cursor: pointer" class="fnt9 text-center">
                    <i class="fas fa-reply"></i>
                    <span @click="reloadPage" class="px-1"   :class="{ 'hide-on-mobile': 'ni.s_menus_Params.hideTextOnSmallScr' }"    style="white-space: nowrap;">
                        back
                    </span>
                </a>
            </div>
            <div class="fnt12 my-2 text-center">Access permissions for <b>'{{ currentApp?.Name }}'</b></div>

            <!-- TABS -->
            
            <div class="row mt-1">
                <div class="col-lg-24 border-bottom">
                    <div class="row m-1">
                        <div class="col">
                            <ul class="nav nav-tabs border-0 simple-tabs" idd="myAppsTab" role="tablist">
                                <li class="nav-item bold">
                                    <a class="nav-link" @click="show('page')"
                                        :class="{ 'active show': localVars.showList == 1 }" href="#" role="tab"  aria-controls="all_apps" aria-selected="true">
                                        Page access
                                    </a>
                                </li>
                                <li class="nav-item bold">
                                    <a class="nav-link" @click="show('menu')"
                                        :class="{ 'active show': localVars.showList == 3 }" href="#" role="tab"   aria-controls="all_apps" aria-selected="true">
                                        Menu access
                                    </a>
                                </li>
                                <li class="nav-item bold">
                                    <a class="nav-link" @click="show('admin')"
                                        :class="{ 'active show': localVars.showList == 2 }" href="#" role="tab" aria-controls="my_apps" aria-selected="false">
                                        Admin settings
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div v-if="localVars.showList == 2" name="appsettings2" class="col-lg-14 pl-0 pt-3">
         
                <div class="col-auto">
                            
                            <div class="row form-group"  :class="{ 'text-danger': false }">
                                      <label class=" col-18" for="description"> {{ label.groups || 'Groups' }}  </label>
                                        <div class="col-18">
                                           
                                            <DropDown   :items="groupList"  @clickItem="clickItem2"  :my-model="localVars.adminGroups"  :isSelected="isSelectedGroups"   > 
                                            </DropDown> 

                                            <!-- <p  v-for="err in $v.groups.$errors"  class="text-danger small"> {{  err.$message}}</p>-->
                                        </div>
                            </div>

                            <div class="row form-group" :class="{ 'has-error': false }">
                              <span class="col-18"> Users </span>
                              <div class="col-18">
                               
                                <DropDown   :items="userList"  @clickItem="clickItem" :my-model="localVars.adminUsers"  :isSelected="isSelectedUsers"     > 
                                </DropDown> 
                              
                                <!--<p v-if="isInvalid(formNew.newGroupOwners)" class="help-block">Select users</p>-->
                              </div>
                            </div>

                </div>

                <div class="col-auto">
                    <div class="col">
                        <button type="button" @click="saveApplicationSettings(true)" id="saveResourceBtn"  :disabled="false" class="btn btn-success my-2">
                            <span class="fa fa-save mr-2"></span>Save
                        </button>
                    </div>
                </div>
              </div>

              <!--PAGE and MENU -->
            <div pageAndMenu v-if="!menuLoading && (localVars.showList == 1 || localVars.showList == 3)" class="col-24">
                

                <form class="row my-4" name="appsettings">
                    <div class="col-4">

                            <select v-model="localVars.newgroup" class="form-control" id="codeType" name="newgroup">
                                    <option v-for="item in allGroups" :value="item">{{ item?.name }}</option>
                             </select>
                            
                    </div>
                    <button type="button" class="btn btn-sm btn-primary border-primary" @click="addGroup(localVars.newgroup)">
                        Add group
                    </button>
                </form>

                <div class="row">
                    <div class="col-6 mb-2 bold border-bottom">Resource</div>
                    <div class="col-2 mb-2 bold border-bottom">Version</div>
                    <div class="col mb-2 bold border-bottom" v-for="g in all_page_groups" :key="g.gid">
                        {{ g.gname }}
                     
                    </div>
                </div>
               
                <div class="row" v-for="(item, key) in resourceDict" :key="key">
                    <div class="col-6 bold">{{ item.name }} - ({{ key }})</div>
                    <div class="col-2">{{ item.$resource_version }}</div>

                   <div class="col" style="background-color: white;" v-for="g in all_page_groups" :key="g.gid">
       
                        <input  @change="inputchanged(item, g)" :disabled="!item.userCanWrite" type="checkbox"  class="my-1 mr-2" style="transform: scale(1.1);" name="cbHideHeader"
                            v-model="item[g.gid].$checked"  />

                    </div>
                </div>

                <div class="row">
                    <div class="col-6 border-top bold"></div>
                    <div class="col-2 border-top py-2 bold">ALL</div>
                    <div class="col border-top py-2" v-for="g in all_page_groups" :key="g.gid">
                        <input @change="allChanged(g)" type="checkbox" class="my-1 mr-2" style="transform: scale(1.2);"
                            name="cbHideHeader" v-model="allchecked[g.gid]" />
                    </div>
                </div>

                <div class="row justify-content-start text-primary">
                    <button :disabled="saved" type="button" @click="SaveResourceAccess" class="btn btn-success ml-2">
                        Save
                    </button>
                </div>
            </div>

            <div v-if="menuLoading" style="text-align:center;margin:3rem;font-size: x-large;"><i class="fa fa-spinner fa-spin"></i>  Loading info...</div>
                
        </div>

        <!-- applications -->
        <div APPLIST  v-if="showAppList==1"  class="col-lg-20 m-auto border rounded bg-white">
            <div class="row m-2">
                <div class="col-lg-24">
                    <div class="row mt-1">
                        <div class="col-lg-24 border-bottom">
                            <div class="row mt-1">
                                <div class="col p-0">
                                    <ul class="nav nav-tabs border-0 simple-tabs" idd="myAppsTab" role="tablist">
                                        <li class="nav-item bold">
                                           
                                            <a class="nav-link" @click="showAppList = 1"
                                                :class="{ 'active show': showAppList == 1 }" href="#" role="tab"  aria-controls="all_apps" aria-selected="true">
                                                My apps 
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                 
                 
                    <div  class="row my-4 one">
                        
                      <template v-for="app in appList" >
                        <div two  v-if="app.uniqueId !== 'ktlyo_builder'" class="two col-lg-6 col-sm-12 col-xs-24 p-1">
                            <div class="shadow-sm border rounded" style="position:relative;height: 100%;">
                                <div style="height: 100%;">
                                    <div class="p-1 text-left my-auto" style="min-height: 8rem;">
                                        <div class="row mx-1">
                                            <div class="col-auto px-1">
                                               <!-- <a class="small bold"  :href="`#/app/navbar/resources/view/${app.uid}?prev_state=app.navbar.home&tab=${showAppList}&resource_type=${app.app_type}`">Info</a>-->
                                              <div style="min-height:1.5rem;"></div>
                                            </div>
                                        </div>

                                        <div class="text-center m-2">
                                            <!--icon can be added here -->
                                        </div>

                                        <div class="my-4">
                                           <div class="text-center">
                                                <span v-if="!app.loadingApp" class="h5"    style="font-weight: bold; color: #6f7ec7">{{ app.Name }}</span>
                                                <br v-if="!app.loadingApp">
                                                <span v-if="!app.loadingApp" class="small">v{{ app.version }}</span>
                                                <div v-if="app.loadingApp" class="h5">
                                                    <div class="loader"></div>
                                                </div>
                                            </div>

                                            <div class="text-center pb-2">
                                                <span v-if="!app.loadingApp" class="small bold">Created by {{      app.OrgName }}</span>
                                                <span v-if="app.loadingApp" class="small">Loading {{ app.Name  }} permissions...</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="px-2 w-100"  style="top: -40px; position: relative; margin-left: auto; margin-right: auto; width: 40%;">
                                    <button type="button" :disabled="app.loadingApp" class="btn btn-sm w-100"   :class="{ 'btn-primary': app.uniqueId === 'katalyo_builder' || app.uniqueId === 'ktlyo_admin', 'btn-success': app.uniqueId !== 'ktlyo_builder' && app.uniqueId !== 'ktlyo_admin'  }"
                                        @click="loadAppSettings(app)">
                                        <span class="m-2" style="color: white;">Edit</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                      </template>
                    </div>



                </div>
            </div>

            <div class="last row m-2">
                <div v-if="appList.length === 0 && !appListLoading" class="col-24 text-center">
                    <i class="fa fa-minus-circle fa-4x text-primary"></i>
                    <div class="text-primary h4 mt-3">There are no applications in your organisation!</div>
                </div>
            </div>
        </div>
    </div>
</template>




  <style>
  * {
  box-sizing: border-box;
}

  .border {
    border: 1px solid #c6cbd2 !important;
  }
  .form-control {
    border: 1px solid #90959d;
  }
  </style>
  