<script setup lang="ts">
  import { ref } from "vue";
  import { storeToRefs } from 'pinia';
  import { useAuthUserStore } from '@/m_auth/stores/authUser';
  
  const authStore = useAuthUserStore()

  const isAuthenticated = authStore.getIsAuthenticated
  const currentUser =authStore.getCurrentUser
</script>

<template>
   
   <div class="dashboard">
    <div></div>
    <div v-if="isAuthenticated">
        <h2>This is dashboard!</h2>
            Login success! <br>
        <h3>Welcome {{currentUser?.first_name}} {{currentUser?.last_name}}!</h3>
        <br>
        <RouterLink :to="{name: 'page',params: {page_id: 373}}">Open PoC page</RouterLink>
        <br>
    </div>
    <div v-if="!isAuthenticated">
        This would be dashboard if authenticated!<br>Authentication required!
    </div>
    <RouterLink v-if="isAuthenticated" to="/logout">Logout</RouterLink>
    <RouterLink v-if="!isAuthenticated" to="/login">Login</RouterLink>
   </div>
</template>

<style scoped>
    .dashboard {
    padding: 44px;
    text-align: center;
}
</style>