<script setup lang="ts">
  import { useApplicationStore } from '@/g_stores/application'
  import AppMenuExe from "../g_components/AppMenuExe.vue";
  import AppMessage from "../g_components/AppMessage.vue";
  const name="AppNoFooterLayout"

  let applicationStore = useApplicationStore()

</script>

<template>
   
    <AppMenuExe v-if="applicationStore.getCurrentApp?.menuId!==undefined && applicationStore.getCurrentApp?.appType!==undefined" :menu-id="applicationStore.getCurrentApp?.menuId" :menu-type="applicationStore.getCurrentApp?.menuType" :menu-version="applicationStore.getCurrentApp?.menuVersion" />
    
    <slot />
    <AppMessage />
</template>