<script setup lang="ts">
  import { useApplicationStore } from '@/g_stores/application'
  import { useAppMenuStore } from '@/g_stores/appMenu'
  import AppMenuExe from "../g_components/AppMenuExe.vue";
  import AppMessage from "../g_components/AppMessage.vue";

  const applicationStore = useApplicationStore()
  const menuStore = useAppMenuStore()

</script>
   
<template>

  <AppMenuExe v-if="menuStore.getCurrentMenuId" :menu-id="applicationStore.getCurrentApp?.menuId" :menu-type="applicationStore.getCurrentApp?.menuType" :menu-version="applicationStore.getCurrentApp?.menuVersion" />
    
  <slot />
  <AppMessage />
</template>

<style scoped>

</style>