<script setup lang="ts">

    import { toRef,ref ,computed, reactive,inject} from "vue"
    import  WidgetBaseExe  from './WidgetBaseExe'
    import { useResourceFormStore } from '@/m_resource/stores/resourceForm'
    import type { Ref } from 'vue'
    import { required,email,helpers } from '@vuelidate/validators'
    
    const props = defineProps({
        fd: Object,
        parentResourceWidgetId:String,
        formStyleId:String
    });

    const emit = defineEmits(['applyFilters'])

    let me:any = props.fd
    let parentId:Ref<any> =  toRef(props,'parentResourceWidgetId') ?? ref('')
    let formDataRules:any = {}
    formDataRules[me?.FieldName]={}

    if (me?.Required)   {
      formDataRules[me?.FieldName] = {...formDataRules[me?.FieldName],...{ required:helpers.withMessage(me?.ErrorMsg, required) }}
    }
    
    const dataSrcTypeRef = inject("dataSrcTypeRef") 

    if (me?.Parameters?.Regex!="" && me?.Parameters?.Regex!=undefined && me?.Parameters?.Regex!=null)
      {
        const regexp = helpers.regex(new RegExp(me?.Parameters?.Regex.toString().replace('/','')))
        formDataRules[me?.FieldName] = {...formDataRules[me?.FieldName],...{ regex:helpers.withMessage(me?.ErrorMsg,regexp) }}
      }
      
    const formStore = useResourceFormStore()
    if (!me?.WidgetRef) me.WidgetRef = parentId.value

    formStore.addValidationRule(me?.WidgetRef,me?.FieldName,formDataRules)
    
    const elementWidth:Ref<number | undefined> = ref(me?.Parameters?.ElementWidth)
    const labelLength:Ref<number | undefined> = ref(me?.LabelLength) 
    const valueLength:Ref<number | undefined> = ref(me?.ValueLength)

    let labelElementStyle = computed(()=>{
      let tmpStyle = 'label-style-'+ props.formStyleId +'-'+me?.ElementType+'-'+me?.UuidRef 
      let validations = formStore.getFormValidations(parentId.value,me?.FieldName)
      if (validations?.$errors?.length) tmpStyle=tmpStyle+' error'
      return tmpStyle
    })

    let elementStyle = computed(()=>{
      let validations = formStore.getFormValidations(parentId.value,me?.FieldName)
      if (validations?.$errors?.length) return 'error'
      else return ''
    })

    let showFilterSubmenu=ref(false) 

    let toggleSearchFilter = () =>{   showFilterSubmenu.value=!showFilterSubmenu.value  }
        
    let applyFilters = function(index:number) 
    {
        toggleSearchFilter()
        emit('applyFilters', index)    
    }

</script>

<template>

<div :idd="me?.ElementType+'-widget'" v-if="me?.ShowField" class="element-wrapper" :class="me?.Parameters?.customCSS"  :title="me?.titleCalc">
    <label v-show="!me?.Parameters?.HideLabel" :class="labelElementStyle" class="label-style"  :for="me?.localGuid">
         {{me?.Label}} 
    </label>
    <div class="element-style" :class="elementStyle">
      <slot />
      <span   v-for="error in formStore.getFormValidations(parentId,me?.FieldName)?.$errors" :key="error.$uid" style="font-size:12px;color: red"  :title="'Validation: '+error.$validator"> 
         {{ error.$message }} 
      </span>

    </div>
  

    <div v-if="dataSrcTypeRef=='search' && !me.hideFilter?.[me?.UuidRef]" class="dropleft element-properties-btns bg-primary rounded shadow noprint " >
      
        <div idd="search-filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button"   class="btn btn-primary btn-xs prop-btn ng-binding" href="" @click="toggleSearchFilter()">
          <i class="fa fa-filter  mr-1"  title="Filter : "> </i>
               {{me.Search?.name}}
        </div>
        
        <div iid="filterSubmenu" v-show="showFilterSubmenu" class="dropdown-menu shadow p-0 dropdown-max-content-width" style="min-width:0px !important"    aria-labelledby="search-filter-2012">

            <div  class="btn-group-vertical" role="group"  aria-label="Search filter" >
           
                <button  v-for="(item, index) in me?.searchFilters"  type="button" @click="applyFilters(index)"  class="btn"  :class="item.class" style="text-align: left;">
                  <span :class="item.icon"></span> 
                      {{ item?.name }} 
                </button>
              
            </div>

        </div>
    </div>


  </div>



</template>

<style scoped>

.btn-primary {
    color: #fff;
    background-color: #2C60E5;
    border-color: #2C60E5;
}

.element-wrapper{
  position: relative;
  display: grid;
  grid-template-columns: repeat(24,1fr);
  grid-auto-flow: row;
  grid-column: auto / span v-bind(elementWidth);
}

/*
.element-wrapper:hover .dropleft {
  visibility: visible;
 border:3px black bold;
}
*/
.element-wrapper:hover > .element-properties-btns, .element-wrapper:focus > .element-properties-btns {
  visibility: visible; }

.element-wrapper:hover > .blue-dropdown > .element-properties-btns, .element-wrapper:focus > .blue-dropdown > .element-properties-btns {
  visibility: visible; }

.label-style{
  grid-column:auto / span v-bind(labelLength);
}

.label-style.error
{
  color:red;
}

:deep(.element-style.error > [class*='form-item'])
{
  color:red;
  border-color: red !important;

}
:deep(.element-style.error > [class*='form-item']:focus)
{
  color:red;
  background-color: #fff;
  border-color: #f39e9e;
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgba(229, 72, 44, 0.25);

}

.element-style{
  grid-column:auto / span v-bind(valueLength);
}
.default-style{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size:1rem;
    line-height: 1.5;
    color: #26314d;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #E7E9EC;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.default-style-area{
    height: auto;
}
@media (prefers-reduced-motion: reduce) {
    .default-style {
      transition: none; } }
  .default-style::-ms-expand {
    background-color: transparent;
    border: 0; }
  .default-style:focus {
    color: rgba(14, 26, 57, 0.9);
    background-color: #fff;
    border-color: #9eb6f3;
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgba(44, 96, 229, 0.25); }
  .default-style::placeholder {
    color: #B7BAC4;
    opacity: 1; }
  .default-style:disabled, .default-style[readonly] {
    background-color: #F3F3F5;
    opacity: 1; }
</style>