<script setup lang="ts">

    import { useApplicationStore } from '@/g_stores/application';
    import { useAlertStore,alertMessage } from '@/g_stores/alert';
    //import { useTaskStore } from '@/g_stores/task';
    import { usePageStore } from '@/m_page/stores/page';
    import { useResourceFormStore } from '@/m_resource/stores/resourceForm';
    import { useRdbmsResourceStore } from '@/m_resource/stores/rdbmsResource'
    import { toRef,computed,ref,watch,reactive,provide } from "vue";
    import  WidgetBaseExe  from './WidgetBaseExe'
    import ResourceFormExe  from '../ResourceFormExe.vue'
    import  router from '@/g_router/index';
    import DataTable from '../DataTable.vue'
    import type { Ref } from 'vue'
    import LoadingPlaceholder from '../LoadingPlaceholder.vue';
    import CardListLayout from '../CardListLayout.vue';
    import DropDownSingle from '../DropDownSingle.vue';
    import { useEventBusStore } from '@/g_stores/eventBus'
    import  DropDown  from '@/g_components/DropDown.vue'
    import { storeToRefs } from 'pinia';
    import { useFileStore } from '../../g_stores/file';
    
    
    //define props
    const props = defineProps({
        fd: Object,
        parentResourceWidgetId:String,
        dataRef:Object,
        cssPrefix:String
    });
    
    let fd:Record<PropertyKey,any> = toRef(props,'fd')
    if (fd?.value?.Parameters?.PresentationType=='card') fd.value.reduceParentId = true
    let parentId:Ref<any> = toRef(props,'parentResourceWidgetId')
    const {createCssLink,authStore,me,formStyleId} = WidgetBaseExe(fd,parentId.value)
    let myUuid =   me?.UuidRef 
    let clientFilter:any = ref({})
    me.WidgetRef=myUuid

    const appStore = useApplicationStore()
    const fileStore = useFileStore()
    const alertStore = useAlertStore()
    const rdbmsStore = useRdbmsResourceStore()
    const pageStore = usePageStore()
    const formStore = useResourceFormStore()
    const eventBus = useEventBusStore()
    
    let fileActions:Array<any> = [{btnClass:"btn-outline-info",btnLabel: "Download file",name:"Download file",size:"btn-sm",icon:"fa fa-download",atype:"download"},{btnClass:"btn-outline-info",btnLabel: "Preview file",name:"Preview file",size:"btn-sm",icon:"fa fa-search",atype:"preview"}]    
    let actionsArr:Array<any> 
    if (me?.Parameters.SelectedResourceType=='file') {
        actionsArr = fileActions.concat(me?.FormDef) 
    }else actionsArr = me?.FormDef
    let parentRecordId:number = 0
    let parentResourceDefId:string = ''
    let initialDataLoad:boolean = false
    const tableConfig = {
        pagination: {
            pageSizeOptions: [5,10,15,25,50,100,500,1000],
            pageSize:10,
        }
    }

    const initialState = { 
        allRecords:[],
        currentPage: 1,
        selectedRecords: [],
        selectedRowIndex: {0:false},
        selectedRows:new Set(),
        pageStart: 1,
        pageEnd: 10,
        pageMin: 1,
        pagination:tableConfig.pagination,
        stateType:'form',
        stateFieldName:'selectedRecords'
       // totalPages: 10
    }

    formStore.registerWidget(me,'record')

    formStore.registerFormWidget(me.UuidRef+'-search', pageStore.getCurrentPage.instanceId, 'form',true) 
    formStore.registerFormWidget(me.UuidRef, pageStore.getCurrentPage.instanceId, 'form',true)

    

    const searchFormData=formStore.getFormData(me.UuidRef+'-search' ,pageStore.currentPage.instanceId)
 
    provide("data", rdbmsStore.resourceData[me.UuidRef])
    provide("searchData", formStore.getFormData(me.UuidRef+'-search' ,pageStore.currentPage.instanceId))

    
    let widgetKey =  computed(() => { 
        return pageStore.currentPage.instanceId+'-'+myUuid
    })

    rdbmsStore.setDataObjectArray(widgetKey.value)
    
    
    let myState:any = pageStore.getCurrentPageWidgetState(myUuid)

    if (!Object.keys(myState).length)  pageStore.setState( myUuid, initialState )
    else{
        myState.selectedRecords = []
        myState.selectedRowIndex =  {}
        pageStore.setState( myUuid, myState )
    }
    
    //get resource list data

    const currentPageId:string = pageStore.getCurrentPage?.defId 
    const currentPageInstanceId:string = pageStore.getCurrentPage?.instanceId 

    
    let selectedRecord:Record<PropertyKey,any> = ref({}) 
    let parentWidgetState:any
    let onSelectedRowFn = ( tableState:Record<PropertyKey,any> )=>{
        pageStore.setState(myUuid,tableState)
        eventBus.emit(pageStore.currentPage.instanceId+'-selectionChanged-'+myUuid,tableState)
    }

    
    let  unselectItems = async (data:any) => {
        
        let myWidgetState  =  pageStore.getCurrentPageWidgetState(me?.WidgetRef)

        myWidgetState.selectedRows.clear()
        myWidgetState.selectedRecords.length=0
        return {status_message:'ok',status:0,actionIdx:data.flowData?.actionIdx,result:myWidgetState.selectedRecords?.length}
    }

    let  onClickedActionFn=( action:Record<PropertyKey,any> ) =>
    {
        //set last task action state
        let fileIdField:string='resource'+me?.Related+'_guid'
        let fileNameField:string='resource'+me?.Related+'_FileName'
        let fileTypeField:string='resource'+me?.Related+'_FileType'

        if (action?.ResourceType=="flow") {
           //let sel = pageStore.getCurrentPageWidgetState(myUuid).selectedRecords[0]
           eventBus.emit(pageStore.currentPage.instanceId+'-'+action.btnLabel + '-' + myUuid, pageStore.getCurrentPageWidgetState(myUuid))

           let a=10

        } else 
             if (action?.atype=='download') downloadFile(pageStore.getCurrentPageWidgetState(myUuid).selectedRecords[0][fileIdField],pageStore.getCurrentPageWidgetState(myUuid).selectedRecords[0][fileNameField],pageStore.getCurrentPageWidgetState(myUuid).selectedRecords[0][fileTypeField])
        else 
            if (action?.atype=='preview') previewFile(pageStore.getCurrentPageWidgetState(myUuid).selectedRecords[0][fileIdField],pageStore.getCurrentPageWidgetState(myUuid).selectedRecords[0][fileNameField],pageStore.getCurrentPageWidgetState(myUuid).selectedRecords[0][fileTypeField])
        else {
            pageStore.setLastPageState(pageStore.getCurrentPage.instanceId,me?.UuidRef,myState)
            router.push({name: action?.page_def?.ResourceExtended?.Target,params: {page_id:action?.page_def?.uid,page_version:0},query:{app_ref:appStore.currentApp.uid,rinstance:'0',prinstance: pageStore.currentPage.instanceId,session_id:authStore.currentUser?.sessionid}})        
        }
    }
   
    const getResourceData = (getChildren:boolean) => {
        
        if (me?.AutoSearch && !getChildren && !initialDataLoad)
        {
            rdbmsStore.fetchResourceList(myUuid, me?.Related, me?.PresentationId, currentPageId,currentPageInstanceId,0,me?.Parameters?.PublishedResourceVersion)
            initialDataLoad = true
 
        }
        else{
           let is_valid:boolean = false //formStore?.$v.$valid //change here to vuelidate $v
           is_valid = true
           //let is_valid = scope.datasetListSearchForm?.$valid
           let child:Record<PropertyKey,any> = {}
          
            //get parent record here
            //const widgetType:string = formStore.getWidgetSrcType(pageStore.getCurrentPage?.instanceId,me?.SrcParentWidgetId)
            parentWidgetState  =  pageStore.getCurrentPageWidgetState(me?.SrcParentWidgetId)
            if (getChildren){
                child['is_child'] = getChildren
                child['parent_resource_id'] = parentWidgetState?.resourceDefId
                child['parent_record_id'] = parentWidgetState?.resourceRecordId
            }
           
           if (is_valid){
                rdbmsStore.fetchResourceListFiltered (myUuid, me?.Related , me?.PresentationId , currentPageId,currentPageInstanceId, [searchFormData] , me.FormDefSearch.SearchForm , [],me?.Parameters?.PublishedResourceVersion,0,child,me?.Parameters?.CacheResults)
                initialDataLoad = true
               
           }else{
             const alertStore = useAlertStore()
             alertStore.warning(new alertMessage('Form validation failed','Form validation failed',400))
            }
             
        } 
           
        if (rdbmsStore.getResourceDataLoaded(widgetKey.value)) {
            eventBus.emit(pageStore.currentPage.instanceId+'-dataLoaded-'+myUuid,myData)
            formStore.setWidgetDataLoadedDirect(pageStore.currentPage.instanceId,me?.UuidRef,true)
        }
        else{
            //watch
            watch(()=> rdbmsStore.getResourceDataLoaded(widgetKey.value), (newValue,oldValue) => {
                //updateWidget STATE
                if (newValue && oldValue!=newValue) {
                    eventBus.emit(pageStore.currentPage.instanceId+'-dataLoaded-'+myUuid,myData)
                    formStore.setWidgetDataLoadedDirect(pageStore.currentPage.instanceId,me?.UuidRef,true)
                }
            })
        }
    }
    const getDatasetDataClick = () => {
        if (me?.HasParentDataset && me?.PopulateParentMethod=='A') getResourceData(me?.HasParentDataset)
        else getResourceData(false)

    }
    
    const refreshData = async () =>{
        if (me?.HasParentDataset && me?.PopulateParentMethod=='A') getResourceData(me?.HasParentDataset)
        else getResourceData(false)

    }
    let procSelectedItem = (item:any) => {
      //eventBus.emit('valueChanged-'+myUuid,selectedItem[me?.FieldName])
      eventBus.emit(pageStore.currentPage.instanceId+'-selectionChanged-'+myUuid,selectedItem[me?.FieldName])
    }
    /*********************************** preview and dowlload files functions *************************/
    /*********************************** preview and dowlload files functions *************************/
    /*********************************** preview and dowlload files functions *************************/
    const downloadFile= (fileId:string,fileName:string,fileType:string)=>{
        fileStore.downloadFile(me?.Related,fileId,fileType).then(function(data:any) {
            
            if (data)
            {
                alertStore.info(new alertMessage('File '+fileName+' downloaded','',200))

                let url = fileStore.getFileUrl(me?.Related,fileId)
                if (url) {
                let a = document.createElement('a')
                a.href = url
                a.download = fileName
                a.target = '_blank'
                a.click()
                } else alertStore.error(new alertMessage('Error downloading '+fileName,'',500))
            } else alertStore.error(new alertMessage('Error downloading '+fileName,'',500))
        },function(error:any){    
            alertStore.error(new alertMessage(error.msg,error.msg,error.status))
        });
};// dowload file END


const previewFile = (fileId:string,fileName:string,fileType:string)=>{
 
  fileStore.downloadFile(me?.Related,fileId,fileType).then(function(data:any) {
                if (data)
                {        
                        let url = fileStore.getFileUrl(me?.Related,fileId)
                          //let new_doc = 
                        if (url)  window.open(url,"_blank")
                }else   alertStore.error(new alertMessage('Error previewing '+fileName,'',500))      
                      },function(error:any){    
                        alertStore.error(new alertMessage(error.msg,error.msg,error.status))
                       
                      
                   });
};//

const applyFilterFn = (item:any)=>{ 
    let filterType:string = ''
    let filterData:any

    let rval:boolean = false
    clientFilter.value.forEach((fItem:any) => {
        filterType=fItem.operator
        filterData=fItem.data || []
        if (filterType.includes("in") && filterData.length)
        {
            
            let arrIds:Array<number | string> = []
            let dataKey:string=''
            fItem.filter.forEach((element:any)=> {
                arrIds = arrIds.concat(filterData.map((a:any) => a[element.src]))
                dataKey=element.dest
            })
                
            if (filterType=="in") rval= arrIds.includes(item[dataKey])
            else rval=!arrIds.includes(item[dataKey])
            
        } else rval=true
    })
       return rval
        
}

const myData = computed(()=>{
    if (!clientFilter.value?.length) return rdbmsStore.getResourceData(widgetKey.value)?.data
    else{

        return rdbmsStore.getResourceData(widgetKey.value)?.data.filter(applyFilterFn) 
        
    }
})
    const setFilter = async (data:any) =>{
        
        let inParams:any =data.flowData?.inParams
        let inData:any = data.eventData
        let actionIdx:number = data.flowData?.actionIdx
        clientFilter.value = []
        if (Array.isArray(inParams[actionIdx])){
            
            inParams[actionIdx].forEach((element:any) => {
                clientFilter.value.push({operator:element.operator,data:inData,filter:element.filter})
           
            });

        }

    }

    const countSelected = async (data:any) =>{
        let cState = pageStore.getCurrentPageWidgetState(myUuid)
        return {status_message:'ok',status:0,actionIdx:data.flowData?.actionIdx,result:cState.selectedRows.size}

    }

    const countRecords = async (data:any) =>{
        return {status_message:'ok',status:0,actionIdx:data.flowData?.actionIdx,result:myData.value.length}
    }
    me.actions['refreshData'] = refreshData
    me.actions['setFilter'] = setFilter
    me.actions['countSelected'] = countSelected
    me.actions['countRecords'] = countRecords
    me.actions['unselectItems'] = unselectItems
    


    let openPage = (action:Record<PropertyKey,any>)=>{        
        //set previous task - set it on page
        //set last task action state
        pageStore.setLastPageState(pageStore.getCurrentPage.instanceId,me?.UuidRef,myState)
        router.push({name: action?.page_def?.ResourceExtended?.Target,params: {page_id:action?.id},query:{app_ref:appStore.currentApp.uid,rinstance:0,prinstance: pageStore.currentPage.instanceId,session_id:authStore.currentUser?.sessionid}})        
    }
    let jsonDef:Ref<any> = ref({})
    let errorImport:Ref<string | undefined> = ref(undefined)
          
    createCssLink()
    
    pageStore.setWidgetLoaded(me?.UuidRef)
    
    if (me?.HasParentDataset && me?.PopulateParentMethod=='A' && me?.AutoSearch) 
    {
        parentWidgetState  =  pageStore.getCurrentPageWidgetState(me?.SrcParentWidgetId)
            
        if (parentWidgetState?.resourceRecordId>0) 
        
        {
            if (me.SrcWidgetId && formStore.getFormLoadCompleted(pageStore.getCurrentPage.instanceId,me.SrcWidgetId)) getResourceData(me?.HasParentDataset)
            else if (me.SrcWidgetId){
                watch( () => formStore.getFormLoadCompleted(pageStore.getCurrentPage.instanceId,me.SrcWidgetId),(newValue,oldValue) => {
                    if  (!oldValue && newValue) getResourceData(me?.HasParentDataset) 
                })
            }else getResourceData(me?.HasParentDataset)
           
        }
        else{
            watch(()=> pageStore.getCurrentPageWidgetState(me?.SrcParentWidgetId).resourceRecordId, (newValue,oldValue) => {
                //updateWidget STATE
                if (newValue>0 && oldValue!=newValue) {
                    if (me.SrcWidgetId && formStore.getFormLoadCompleted(pageStore.getCurrentPage.instanceId,me.SrcWidgetId)) getResourceData(me?.HasParentDataset)
                    else if (me.SrcWidgetId){
                        watch( () => formStore.getFormLoadCompleted(pageStore.getCurrentPage.instanceId,me.SrcWidgetId),(newValue,oldValue) => {
                        if  (!oldValue && newValue) getResourceData(me?.HasParentDataset) 
                    })
                    }else getResourceData(me?.HasParentDataset)
                }
            })
        }
    }
    else if (me?.AutoSearch) {
    
        if (me.SrcWidgetId && formStore.getFormLoadCompleted(pageStore.getCurrentPage.instanceId,me.SrcWidgetId)) getResourceData(me?.HasParentDataset)
        else if (me.SrcWidgetId){
            watch( () => formStore.getFormLoadCompleted(pageStore.getCurrentPage.instanceId,me.SrcWidgetId),(newValue,oldValue) => {
                    if  (!oldValue && newValue) getResourceData(me?.HasParentDataset) 
                })
        }else getResourceData(me?.HasParentDataset)

    }
        
 let  noItems:number = 4

 if (me.Parameters?.PresentationType=='table') noItems=8

let selectedItem:any = {}
let customStyle:string=''  

let labelElementStyle = computed(()=>{
      let tmpStyle = 'label-style-'+ parentId.value +'-'+me?.ElementType+'-'+me?.UuidRef 
     // let validations = formStore.getFormValidations(parentId.value,me?.FieldName)
      //if (validations?.$errors?.length) tmpStyle=tmpStyle+' error'
      return tmpStyle
})
me.FieldName = myUuid
if (me?.Parameters?.events?.length) eventBus.subscribe_2_events(me.Parameters.events,me.actions,pageStore.currentPage.instanceId,me.UuidRef)

</script>


<template>

    <div v-if="me?.Parameters?.PresentationType!='dropdown' || me.ShowSearchForm" class="resource-list-wrapper" :class="'element-style-' + parentId + '-' + me?.ElementType + '-' + me?.UuidRef">
      <!--  <div v-if="envStore.getDebugMode" :title="me?.UuidRef">This is resource list widget {{ me?.UuidRef }}</div>
        SEARCH FORM-->
       
            <ResourceFormExe v-if="me.ShowSearchForm" :dataSrcType="'search'" :data="searchFormData" :form-id="me.UuidRef"
            :widget-id="me?.UuidRef" :form-definition="me.FormDefSearch?.SearchForm" />
        
                
        
            <div v-if="me?.Parameters?.ShowGetDataButton" class="my-auto px-0">

                <button @click="getDatasetDataClick" type="button"
                    :style="'font-size: ' + (me.Parameters?.searchButtonSize || '16') + 'px'"   :class="'btn btn-sm ' + (me.Parameters?.searchButtonClass || 'btn-outline-primary')">

                    <span v-if="!rdbmsStore.getFetchDataInProgress(myUuid)">
                        <i :class="'btn-label-style ' + me?.Parameters?.searchButtonIcon"></i>
                        <span> {{ me.ParametersLang?.GetDataBtnLabel || 'Get data' }} </span>
                    </span>

                    <span v-if="rdbmsStore.getFetchDataInProgress(myUuid)">
                        <i class="fas fa-circle-notch fa-spin" style="margin-right:0.25rem"></i>
                        <span> {{ me.ParametersLang?.LoadingMessage || 'Loading data' }} </span>
                    </span>
                </button>
            </div>
       



        <LoadingPlaceholder :animation-type="me.Parameters.PresentationType" :show-msg="me?.Parameters?.ShowLoadingMessage" :numberOfItems="noItems"
            v-if="me.Parameters.PresentationType!='dropdown' && rdbmsStore.getFetchDataInProgress(myUuid) && !me?.Parameters?.HideDataUi">
            <h3>{{me?.ParametersLang?.LoadingMessage}}</h3>
        </LoadingPlaceholder>

        <CardListLayout
            v-if="me?.Parameters?.PresentationType=='card' && !rdbmsStore.getFetchDataInProgress(myUuid) && !me?.Parameters?.HideDataUi"
            :parentUid="myUuid"  :config="tableConfig" :fd="me" :actions="actionsArr" :isFetchinProgress="rdbmsStore.getFetchDataInProgress(myUuid)"
            :tableData="myData"
            :card-form="me?.FormDefSearch?.CardForm" :tableState="initialState"
            @clickedRow="onSelectedRowFn" @clickedAction="onClickedActionFn" />


        <DataTable ref="childRef" v-if="me.Parameters?.PresentationType=='table' && !rdbmsStore.getFetchDataInProgress(myUuid) && !me?.Parameters?.HideDataUi"
            :parentUid="myUuid" :config="tableConfig" :actions="actionsArr" :fd="me"
            :isFetchinProgress="rdbmsStore.getFetchDataInProgress(myUuid)"
            :tableData="myData"
            :tableColumns="rdbmsStore.getResourceData(widgetKey)?.columns?.columnsDef" :tableState="initialState"
            @clickedRow="onSelectedRowFn" @clickedAction="onClickedActionFn">
        </DataTable>
      

    </div>

    <div class="resource-list-wrapper" v-if="me?.Parameters?.PresentationType=='dropdown' && !me?.Parameters?.HideDataUi">

            <label v-show="!me?.Parameters?.HideLabel" :class="labelElementStyle" class="label-style"  :for="parentId+me?.UuidRef">
                {{me?.Label}} 
            </label>
            
                <DropDownSingle v-if="!me?.ReadOnly && !me?.Multiline" :fd="me" :custom-style="customStyle" @selectItem="procSelectedItem" :field-name="me?.FieldName" :items="rdbmsStore.getResourceData(widgetKey)?.data" :data-ref="selectedItem" :css-style="parentId+'-'+me?.ElementType+'-'+me?.UuidRef" :parentResourceWidgetId="me?.UuidRef"> 
                </DropDownSingle>
                <!--
                    <DropDown :fd="me" v-if="!me?.ReadOnly && me?.Multiline" :custom-style="customStyle" :field-name="me?.FieldName" :items="rdbmsStore.getResourceData(widgetKey)?.data" :data-ref="dataRef" :css-style="cssPrefixR+'-'+me?.ElementType+'-'+me?.UuidRef" :parentResourceWidgetId="me?.UuidRef"> 
                    </DropDown> 
                -->
            
        <div v-if="me?.ReadOnly"></div>
    </div>
</template>

<style scoped>
.resource-list-wrapper{
grid-column: auto / span 24;
}

.btn-style{
border: 1px solid gray;
margin-right: 0.25rem;
background-color: white;
padding: 0.3rem;
margin-bottom: 0.5rem;
}
.btn-style:hover{
color:white;
background-color:darkslategrey;

}
.btn-label-style{
margin-right: 5px;
}
</style>