<script setup lang="ts">

    import { toRef,computed,watch } from "vue";
    import  WidgetBaseExe  from './WidgetBaseExe'
    //import { usePageStore } from '@/m_page/stores/page';
    import { useTaskStore } from '@/g_stores/task'
    import TaskExecute from "../TaskExecute.vue";
    import LoadingAnimation from "../LoadingAnimation.vue";
    //define props
    
   
    const props = defineProps({
        fd: Object,
    });

    let fd = toRef(props,'fd')
    const dp = fd.value || {}
    const {createCssLink,authStore,me} = WidgetBaseExe(fd)

    const taskStore = useTaskStore()

    taskStore.registerWidget(dp)

    taskStore.startTask(dp.UuidRef)
    
    //const pageStore = usePageStore()
    //pageStore.setWidgetLoaded(dp?.UuidRef)

    //if (!taskStore.getStartTaskInProgress(dp.UuidRef)) 
   

</script>

<template>

   <!-- NOT authorised to create the task -->
   <div class="loading-style">
    <h3 v-if="taskStore.getTaskStatus(dp.UuidRef)==403" class="">{{taskStore.getTaskStatusResponseMsg(dp.UuidRef)}}</h3>
    <LoadingAnimation v-if="taskStore.getStartTaskInProgress(dp.UuidRef)"><h4>Starting task {{fd?.UuidRef}}...</h4></LoadingAnimation>
  </div>
    <!-- Task list -->
   
   <!--   <TaskProcList v-if="taskStore.getTaskProcType(dp.UuidRef)==1" />-->
    <!-- Start form -->
    <!--<TaskInitiate v-if="taskStore.getTaskProcType(dp.UuidRef)==2" />-->
      <!--   
      <div kt-task-proc-initiate task-definition="localVars.inlineTaskDefinition" dashboard="localVars.inlineTask" resource-definition="localVars.inlineTask.resourceDefinition" local-vars="localVars"></div>
    -->
    <!-- Execute form -->

        <TaskExecute v-if="taskStore.getTaskProcType(dp.UuidRef)==3" :task-id="fd?.UuidRef" />
        <!--
      <div kt-task-proc-execute task-definition="localVars.inlineTaskDefinition" dashboard="localVars.inlineTask" resource-definition="localVars.inlineTask.resourceDefinition" task-execute-instance="localVars.inlineTaskDefinition.taskExecuteInstance" task-initiate-instance="localVars.inlineTaskDefinition.taskInitiateInstance" local-vars="localVars"></div>
     -->


</template>

<style scoped>
.loading-style{
  padding-left:12px;
  padding-right:12px;
  margin:0 auto;
  grid-column: auto / span 24;
}
</style>