<script setup lang="ts">

import Utility from '@/g_libs/kt-utility';
import { storeToRefs } from 'pinia';
import { useResourceFormStore } from '@/m_resource/stores/resourceForm';
import { useAuthUserStore } from '@/m_auth/stores/authUser';
import { useTaskStore } from '@/g_stores/task';
import { usePageStore } from '@/m_page/stores/page';
import { useDatasetStore } from '@/g_stores/dataset';
import { useRdbmsResourceStore } from '@/m_resource/stores/rdbmsResource';
import { useResourceDefinitionStore } from '@/m_resource/stores/resourceDefinition';
import { toRef, reactive, computed, ref, inject,watch } from "vue";
import router from '@/g_router/index';
import WidgetBaseExe from './WidgetBaseExe'
import type { Ref } from 'vue'
import { parse, evaluate, compile, jsep } from 'jse-eval'
import * as expr from 'jse-eval'

let util = new Utility()

expr.addBinaryOp('++', 11, true, 
(a, b) =>  a.toString() + b.toString()
)



let dataSourcesPrepared:Ref<any> = ref({})
const props = defineProps({
    fd: Object,
    cssPrefix:String,
    parentResourceWidgetId: String,
});

let parentId: Ref<any> = toRef(props, 'parentResourceWidgetId')
let fd: Ref<any> = toRef(props, 'fd')

const { createCssLink, authStore, me } = WidgetBaseExe(fd)


const formStore = useResourceFormStore()
const taskStore = useTaskStore()
const rdbmsStore = useRdbmsResourceStore()
const datasetStore = useDatasetStore()
const pageStore = usePageStore()
const userStore = useAuthUserStore()

taskStore.registerChildWidget(fd?.value?.UuidRef, parentId.value)
datasetStore.registerWidget(fd?.value)
pageStore.setWidgetLoaded(fd?.value?.UuidRef)


let selectedAnalytics = me?.Parameters?.SelectedChartAnalytics || 0

const elementWidth:Ref<number | undefined> = ref(me?.Parameters?.ElementWidth)

let instanceId:Ref<any>= inject('instanceId') ?? ref('')

let anal = computed(() => {
    let rdata =rdbmsStore.getResourceData( instanceId.value)//rdbmsStore.getResourceData( instanceId.value +'-'+myAnalyticWidget)
    let analitics = rdata?.analytics?.[selectedAnalytics]
    return analitics?.[me?.Parameters?.CalculateFunction.name]
})

let cssPrefixR:Ref<string | undefined> = toRef(props,'cssPrefix')
if (!cssPrefixR.value) cssPrefixR.value = parentId.value

let cssClass =  computed(() => { 
      let returnCss:string=''
      returnCss=returnCss+'element-style-'+cssPrefixR.value+'-'+me?.ElementType+'-'+me?.UuidRef
      if (me?.Parameters?.BorderForReadOnly && me?.ReadOnly) returnCss=returnCss+' form-control'
      
      return returnCss
    })


let ods:any = reactive({})

for (let i=0;i<me.Parameters?.DataSources?.length;i++)
{
        if (formStore.getFormLoadCompleted(pageStore.getCurrentPage.instanceId,me.Parameters.DataSources[i].widgetId)){
            ods[me.Parameters.DataSources[i].srcName] =  formStore.formData[pageStore.currentPage.instanceId][me.Parameters.DataSources[i].widgetId]?.data
        } else{       
                
            watch( () => formStore.getFormLoadCompleted(pageStore.getCurrentPage.instanceId,me.Parameters.DataSources[i].widgetId),(newValue,oldValue) => {
                    if  (!oldValue && newValue)   {
                        ods[me.Parameters.DataSources[i].srcName] =  formStore.formData[pageStore.currentPage.instanceId][me.Parameters.DataSources[i].widgetId]?.data
                    }
                }) 
        }
 }




let formulaValue =  computed(() => {
    if (me?.Parameters?.ValueFormula==undefined) return null
    
    const context = {
                ...util,
                ...ods,
                Date,
                Array,
                Math,  
     } 
    
      let returnVal: any
      let ast:any = parse(me?.Parameters?.ValueFormula)  
     
      try {
        returnVal = evaluate(ast, context)  
      } catch (error) {
        console.log(error)
      }


    //if ( me?.Parameters?.decimalPlaces)  
    //     returnVal = new Intl.NumberFormat("de-DE", {   style: 'decimal',   minimumFractionDigits: me?.Parameters?.decimalPlaces}).format(returnVal)
   // else if (me?.Parameters.useGroupingSeparator) 
    //     returnVal = new Intl.NumberFormat("de-DE", { useGrouping: true }).format(returnVal)
   
     return returnVal
})


let  checkType =  (value: any)  => {
    if (typeof value === "string") {
        return "string"
    } else if (typeof value === "number") {
        return "number"
    } else {
        return "??"
    }
}

</script>


<template>
 

    <div WIDGETLABEL  :id="'widgetlabel'+fd.PresentationId"    class="my-class" >
    <!--:class="'element-style-'+pageStore.getCurrentPage.defId+'-'+me?.ElementType+'-'+me?.UuidRef">-->

    <FormWidgetExeBase :fd="me" :parent-resource-widget-id="parentId" :form-style-id="cssPrefixR"  >
     
       <div  :class="cssClass" :title="'label'+me?.UuidRef+' / '+me?.FieldName">
       
               <span FORMULA v-if="checkType( formulaValue) == 'number' &&  me.Parameters?.ValueFormula"  >
            
                    {{ util.formatNumber(formulaValue || 0, me?.Parameters) }}       {{ me?.Parameters?.CounterUnits }}

               </span>

               <span FORMULA v-if="checkType( formulaValue) === 'string' &&  me.Parameters?.ValueFormula"  >

                    {{ formulaValue}}  {{ me?.Parameters?.CounterUnits }}

            </span>

            <!--
                <span FILTERFIELD v-if="me.Parameters.chartFilterField" >     
                       {{ util.formatNumber(anal?.[me?.Parameters.chartFilterField] || 0, me?.Parameters) }}
                       {{ me?.Parameters?.CounterUnits }}
                </span>-->


        </div>
        
    </FormWidgetExeBase>
    
    <!--
        <div>
            
            <div v-if="!mydata" style="text-align: center;">
                        <i class="fas fa-circle-notch fa-spin fa-2x" style="margin-right:0.25rem"></i>
                        <div style="margin-top:0.25rem;"> Loading chart data </div>
            </div>
          
            <div  v-show="mydata && mydata.datasets[0].data.length==0"   style="text-align: center;  margin: 1em;" :style="'font-size:'+ fd.Parameters.FontSize || '7rem'">
			    {{ me?.ParametersLang?.NoDataMsg || 'No data!'}}
			</div>
        
        </div>

        <div v-if="false"
            style=" display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 24px 0;  gap: 12px;"  :id="'LabelCounter'+fd.PresentationId">
            <div :style="me?.Parameters.cssStyle">
                <div :style=" 'font-size:' + (me?.Parameters.FontSize || '7rem')">
                    {{ me?.Parameters.scriptValue }}
                </div>
            </div>
        </div>


        <div v-if="true"
            style=" display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 24px 0;  gap: 12px;"  :id="'LabelCounter'+fd.PresentationId">

            <div :style="me?.Parameters.cssStyle">     

                <div IFFIELD v-if="me.Parameters.chartFilterField" :style=" 'font-size:' + (me?.Parameters.FontSize || '7rem')">
                   
                    <div style="text-align:center">
       
                        {{ util.formatNumber(anal?.[me?.Parameters.chartFilterField] || 0, me?.Parameters) }}

                        {{ me?.Parameters.CounterUnits }}

                    </div>
                    <div style=" font-size: calc(12px + 0.15em); text-align: center;"> {{ me?.Parameters.chartLabel }} </div>
                </div>


                <div COUNTALL v-if="!me?.Parameters.chartFilterField" :style=" 'font-size:' + ( me?.Parameters.FontSize || '7rem')">
                    <div style="text-align:center" >
                 
                        {{ util.formatNumber(countAll ?? 0, me?.Parameters) }} {{ me?.Parameters.CounterUnits }}
                    </div>
                    <div style=" font-size: calc(12px + 0.15em);text-align: center;"> {{ me?.Parameters.chartLabel }} </div>
                </div>

            </div>
        </div>-->

    </div>

</template>

<style scoped>
.my-class{
    grid-column: auto / span v-bind(elementWidth);
}

.chart-wrapper {
    grid-column: auto / span 24;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.default-style{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size:1rem;
    line-height: 1.5;
    color: #26314d;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #E7E9EC;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
  .default-style {
      transition: none; } }
  .default-style::-ms-expand {
    background-color: transparent;
    border: 0; }
  .default-style:focus {
    color: rgba(14, 26, 57, 0.9);
    background-color: #fff;
    border-color: #9eb6f3;
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgba(44, 96, 229, 0.25); }
  .default-style::placeholder {
    color: #B7BAC4;
    opacity: 1; }
  .default-style:disabled, .default-style[readonly] {
    background-color: #F3F3F5;
    opacity: 1; }
</style>