<script setup lang="ts">

import { useAuthUserStore } from '@/m_auth/stores/authUser';
import { required,helpers } from '@vuelidate/validators'
import { usePageStore } from '@/m_page/stores/page';
import { useAlertStore,alertMessage } from '@/g_stores/alert';
import { toRef, provide, ref, inject , reactive, computed} from "vue";
import { useFileStore } from '@/g_stores/file';
import router from '@/g_router/index';
import KatalyoApi from '@/g_libs/kt-api'
import WidgetBaseExe from './WidgetBaseExe'
import { useCookies, globalCookiesConfig } from "vue3-cookies"
import { useResourceDefinitionStore } from '@/m_resource/stores/resourceDefinition'
import type { Ref } from 'vue'
import  uiUploader from '@/g_libs/uiUploader';
import ResourceFormExe  from '@/g_components/ResourceFormExe.vue'
import { useResourceFormStore } from '@/m_resource/stores/resourceForm';
import  configuration from '@/config';

const props = defineProps({
    fd: Object,
    parentResourceWidgetId: String,
});

let parentId: Ref<any> = toRef(props, 'parentResourceWidgetId')

let fd: Ref<any> = toRef(props, 'fd')

const { createCssLink, authStore, me } = WidgetBaseExe(fd)

createCssLink()

const fileStore = useFileStore()
const formStore = useResourceFormStore()
const pageStore = usePageStore()
const alertStore = useAlertStore()
const userStore = useAuthUserStore()

const elementWidth:Ref<number | undefined> = ref(me?.Parameters?.ElementWidth)
const labelLength:Ref<number | undefined> = ref(me?.LabelLength) 
const valueLength:Ref<number | undefined> = ref(me?.ValueLength)

const api = KatalyoApi()

formStore.registerFormWidget(me.UuidRef, pageStore.getCurrentPage.instanceId, 'form', true)


const processWidgetsSuccess = ()=>{
    btn_upload()
    console.log('Process widget success '+me?.UuidRef)
}

const processWidgetsError = ()=>{
    console.log('Process widget error '+me?.UuidRef)
}

//rdbmsStore.setDataObject(me?.UuidRef)

const callback:Record<PropertyKey,any>={'processWidgetsSuccess':processWidgetsSuccess,'processWidgetsError':processWidgetsError}
formStore.registerWidgetCallBackFn(me?.UuidRef, pageStore.currentPage.instanceId, callback)
pageStore.setWidgetLoaded(me?.UuidRef)


let selectedRecord: Record<PropertyKey, any> = ref({})
let resourceRecordId: Ref<string> = ref('resource' + fd?.value?.Related + '_' + userStore.getCurrentUser?.organisation?.id + '_id')


let files: Ref<Array<any>> = ref([])

let uploadReady: Ref<boolean | undefined> = ref(undefined)
let validationErrors:any = reactive({files:[], meta:0})
let showRecordDetails: Ref<boolean | undefined> = ref(undefined)

let showTransactionDetails: Ref<boolean | undefined> = ref(undefined)
let hideAll: Ref<boolean | undefined> = ref(undefined)

let btnClean = () => { }
let btnRemove = (index: number, file: any) => { }


let uploaders = {}
let  uploader:any = new uiUploader(uploaders, me?.PresentationId, fileStore.api)

let formDataArray:any[]=reactive([])
//provide("formDataArray", formDataArray)



let onChangeFiles = (e:any) => {
    
    var filewidget = document.getElementById('fileWidget' + me.PresentationId ) as HTMLInputElement | null
    var filelen= (filewidget?.files || []).length
    let files:any = filewidget?.files

    if (filelen==0) return;
    
    for (var i = 0; files && i < filelen; i++) {
        formStore.registerFormWidget(me.UuidRef + '-' + files[i]['name'], pageStore.getCurrentPage.instanceId, 'form')
        let current = formStore.getFormData(me.UuidRef+'-'+files[i]['name'], pageStore.currentPage.instanceId)
        if (current) formDataArray.push(current )
        files[i]['formData']=current
        files[i]['status']=reactive({})
        uploader.addFile(files[i], me?.PresentationId);
    }
 
     testRules(uploader.files)
}


let onChangeFiles2 = (e:any) => {
    
   
     var filewidget = document.getElementById('fileWidget' + me.PresentationId ) as HTMLInputElement | null
     //var filelen= (filewidget?.files || []).length
     //let files:any = filewidget?.files
    filewidget?.click()


 }
 const getParentWidgetData = () =>{

    let parentResourceField:Ref<string> = ref('resource'+me?.ParentResourceDefId?.replaceAll('-','')+'_id')
    let parentRecordId:Ref<number> = ref(0)
    //get db record from previous resource
    let resourceState:any

    let resourceRecord:any
    let pageWidgets:any = {}

    let pTypeLen:number
    
    if (me?.SrcParentWidgetId && me?.SrcParentWidgetId?.length<73) pTypeLen = 36
    else if (!me?.SrcParentWidgetId) pTypeLen = 36
    else pTypeLen = me?.SrcParentWidgetId.length

    if (me?.PopulateTypeParent.toString().substr(0,1)=='3') 
    {
        resourceState = pageStore.getPrevResourceExeState
        pageWidgets = resourceState?.pDef?.widgets || {}
    }
    else if  (me?.PopulateTypeParent.toString().substr(0,1)=='2') {
        
        resourceState = pageStore.getCurrentPageState
        pageWidgets = resourceState[me?.SrcParentWidgetId.substr(0,pTypeLen)] || {}
    }

    
    let widgetState:any

    if (me?.SrcParentWidgetId && me?.PopulateTypeParent.toString().substr(0,1)=='2')
    {
        widgetState=resourceState[me?.SrcParentWidgetId.substr(0,pTypeLen)]
        if (widgetState!=undefined)
        {
                let recs:any
                if (widgetState.stateType=='form')
                {
                    recs = widgetState[widgetState.stateFieldName]
                    if (Array.isArray(recs))
                    {
                    
                            if (recs.length>0) parentRecordId.value=recs[0][parentResourceField.value] || recs[0]['id'] || recs[0]
                    
                    }else if (recs!=undefined) 
                    {
                        parentRecordId.value=recs[parentResourceField.value] || recs['id'] || recs
                    } else parentRecordId.value = 0

                }else if (widgetState.stateType=='record')
                {
                    parentRecordId.value = widgetState.resourceRecordId 
                }
        }
    }
    else if (me?.PopulateTypeParent.toString().substr(0,1)=='3')
    {
        for (const key in pageWidgets)
        {
            if (pageWidgets[key]?.Related==me?.Related) //get state if same resource
            {   
                
                widgetState=resourceState.pageState[pageWidgets[key]?.UuidRef]
                if (widgetState!=undefined)
                {
                    let recs:any
                    if (widgetState.stateType=='form')
                    {
                        recs = widgetState[widgetState.stateFieldName]
                        if (Array.isArray(recs))
                        {
                        
                                if (recs.length>0) parentRecordId.value=recs[0][parentResourceField.value] || recs[0]['id'] || recs[0]
                        
                        }else if (recs!=undefined) 
                        {
                            parentRecordId.value=recs[parentResourceField.value] || recs['id'] || recs
                        } else parentRecordId.value = 0

                    }else if (widgetState.stateType=='record')
                    {
                        parentRecordId.value = widgetState.resourceRecordId 
                    }
                }
            }

        }
    }
    if (parentRecordId.value) return parentRecordId.value
    else return 0
    
}

let btn_upload = function () {

    var errMsg = null
    testRules(uploader.files)

    if (errMsg == null && 'upload_form.$valid') {

        let url_var = 'api/upload-file/' + me?.PresentationId + '/'
        url_var += url_var.indexOf('?') >= 0 ? '&' : '?'  
        url_var += "env=" + api.get_env()
        // ZA svaki FAJL pojedinaèno !
        uploader.startUpload(me?.PresentationId, {
            url: url_var,
            headers: { 'X-CSRFToken': api.get_csrf(), 'Authorization': api.get_auth_data() },
            //concurrency: 3,
            // u data napuniti podatke vezane za fajl - fileType , ID resursa ,  scope.fd.Parameters.rules[0].fileType;
            data: {resource_id: me.Parameters.rules[0].fileType.ResourceDefUid, fileType: me.Parameters.rules[0].fileType},
            onProgress: function (file:any) {
                     file.status.msg = 'Uploading...'; 
            },
            onCompleted: function (caller:any, file:any, response:any, status:any) {
                
                //let formDataArray= inject('formDataArray')
                if (status == 201) {

                    response = JSON.parse(response);
                    let file_id = response.file_id;

                    file.status.uploadSuccess = true; 
                    file.eosResponse = JSON.stringify(response.jsonResponseEOS, null, 2);
                    file.eosResponse2 = JSON.stringify(response.jsonResponseEOS2, null, 2);

                    if ((file.formData && !me?.Parameters?.NoMeta) || me?.HasParentDataset) {
                            const parentRecId:number = getParentWidgetData() || 0
                            let parentDefId = me.ParentResourceDefId || '0'

                            file.status.metaStatus = 'Saving metadata...'

                            fileStore.fileMetaUpdate(file_id, this.data.resource_id , this.data.fileType, pageStore.currentPage.instanceId, pageStore.currentPage.prevResourceId, parentDefId, parentRecId, file.formData, me, pageStore.currentPage.defId)
                            .then(function (data) {

                                    if (data.status===200 || data.status===201){
                                        alertStore.success(new alertMessage(data.data.msg, data.data.msg, 200))
                                        
                                        file.status.metaSuccess = true;
                                        file.loaded=file.size
                                    }else{
                                        file.metaError = true;
                                        file.status.metaStatus = data.msg;
                                    }
                                }, function (error) {
                                // MessagingService.addMessage(error.msg, 'error');
                                
                                    file.metaError = true;
                                    file.status.metaStatus = error.msg;
                                });
                     } //IF

                } else {
                    file.status.uploadSuccess = false;
                }
            }//on_completed
        }); //startUpload
    } else {
        //MessagingService.addMessage(me?.ErrorMsg, 'warning');
    }
}; // FUNCTION b.n_up1oad



let showAll = (showHide: boolean) => { }

let testRules = function (files: any) {
    
    validationErrors.files.splice(0)
    validationErrors.meta=0

    for (var i = 0; i < me?.Parameters.rules.length; i++) { //search rules

        if (me?.Parameters.rules[i].min != undefined)
            if (files.length < me?.Parameters.rules[i].min) {
                validationErrors.files.push({err: 'NotEnoughFiles', errorMsg:'You need to select at least ' + me?.Parameters.rules[i].min + ' file(s)!'})
                me.ErrorMsg = me?.Parameters?.ErrorNotEnoughFiles || ('You need to select at least ' + me?.Parameters.rules[i].min + ' file!')
            } else {
                // formCtrl['uploadFileForm' + me?.PresentationId].$setValidity('NotEnoughFiles', true);
            }

        if (me?.Parameters.rules[i].max != undefined)
            if (files.length > me?.Parameters.rules[i].max) {
                //formCtrl['uploadFileForm' + me?.PresentationId].$setValidity('TooManyFiles', false);
                validationErrors.files.push({err: 'TooManyFiles', errorMsg: 'More than ' + me?.Parameters.rules[i].max + ' file(s) selected!'})
                me.ErrorMsg = me?.Parameters?.ErrorTooManyFiles || ('More than ' + me?.Parameters.rules[i].max + ' file(s) selected!')
            } else {
                //formCtrl['uploadFileForm' + me?.PresentationId].$setValidity('TooManyFiles', true);
            }

    }
    


for (const [index, file] of files.entries()) {
    let is_invalid=formStore.validateForm(me.UuidRef+'-'+file.name, pageStore.getCurrentPage.instanceId )
    validationErrors.meta= validationErrors.meta + is_invalid 
}



}//test_RULES


</script>

<template>

 
<div v-if="me?.ShowField" class="element-wrapper" :class="me?.Parameters?.customCSS"  :title="me?.FieldName">
   
    <div class="element-style">
       
        <div :class="fd?.gridClassElement + ' my-auto p-0'"> 

            <div class="form-group">

                <div v-if="fd?.Parameters.ShowResetButton || !fd?.Parameters.ShowResetButton"
                    :class="{ 'custom-el-layout-style col-auto': fd?.Parameters.CustomSize, 'col-auto': fd?.Parameters.CustomSize }"
                    :style="fd?.customStyleElement" class="border rounded position-relative">

                    <div class="p-4 h5" style="text-align: center;  display: flex;  flex-direction: column;  gap: 24px">
                        <i class="fa fa-file-upload" style="font-size:100px;color:#cad7f8"> </i>
                        <span class="font-weight-bold" style="font-size:24px;color:#2c60f5">{{ fd?.SearchText }}</span>
                        <span class="font-weight-bold" style="font-size:24px;color:#2c60f5"
                            v-if="fd?.SearchText === undefined || fd?.SearchText === ''">or drag and drop files
                            bellow</span>
                    </div>

                   
                    <div class="upload-area" style="height: 100%; width: 100%; position: absolute; margin-top: -210px;">
                        <input @change="onChangeFiles" :id="'fileWidget' + fd?.PresentationId" :multiple="true"
                            type="file" name="myfile" class="fileElement original-upload w-100 p-4" :change="files"
                            validfile style="opacity:0" />

                      
                    
                        </div>

                </div>

              <!--  <div v-if="fd?.Parameters.ShowResetButton || !fd?.Parameters.ShowResetButton"  style="text-align:center;margin-top:24px;">
                                <button type="button" class="btn btn-outline-primary" @click="onChangeFiles2">
                                    <span>
                                    {{   fd?.Parameters?.ButtonLabel }}
                                    </span><span
                                        v-if="fd?.Parameters.ButtonLabel === undefined || fd?.Parameters.ButtonLabel === ''">Select
                                        files</span>
                                </button>
                            </div>-->

             


            <div idd="ERRORS-AREA"  class="mt-4 d-flex flex-column row-gap-8" v-if="validationErrors.files.length"  style="font-size:16px; line-height: 24px;" >

                 <div v-for="(vError, index) in validationErrors.files">
                    <div v-show="vError.err=='TooManyFiles' || vError.err=='NotEnoughFiles'"  class="d-flex flex-column row-gap-12 bg-danger-10 border border-danger rounded col-auto px-4 py-12">
                           <div class="d-flex col-gap-24"><i class="fa fa-exclamation-circle text-danger" style="font-size:20px;"></i>
                           <span class="text-dark font-weight-bold d-flex justify-content-center align-items-center" >
                               {{  vError.errorMsg }}
                           </span></div>
                   </div>
                    
                </div>

                <div v-show="validationErrors.meta"  class="d-flex flex-column row-gap-12 bg-info-20 border border-info rounded col-auto px-4 py-12">
                           <div class="d-flex col-gap-24"><i class="fa fa-bell text-info" style="font-size: 20px;"></i>
                           <span class="text-dark font-weight-bold d-flex justify-content-center align-items-center" >
                               {{ fd?.Parameters.ErrorNoMetadata || 'Before upload, all data from the form must be entered!' }}
                           </span></div>
                </div>
    
            </div>
  


                <div style="display:grid; gap:4px; margin-top:24px">
                    <div class="upload-abs-container">
                        <div class="row-upload px-0 rounded" style="background-color:#cad7f8">
                            
                            <div idd="HEADER" class="my-auto">
                                <button type="button" v-if="hideAll" class="btn p-0 border-0 btn-link text-dark "   @click="hideAll = !hideAll; showAll(true)">
                                    <i class="fa fa-angle-up" style="font-size:1.25rem;padding:6px 12px"> </i>
                                </button>
                                <button type="button" v-if="!hideAll" class="btn p-0 border-0 btn-link text-dark "     @click="hideAll = !hideAll; showAll(false)">
                                    <i class="fa fa-angle-down" style="font-size:1.25rem;padding:6px 12px"> </i>
                                </button>
                            </div>


                            <span class="col-upload my-auto font-weight-bold"> {{ fd?.Parameters.FileNameLabel ||  'Name' }}</span>
                            <span class="col-upload my-auto font-weight-bold upload-col-optional">       {{ fd?.Parameters.FileTypeLabel || 'Type' }}</span>
                            <span class="col-upload my-auto font-weight-bold"> {{ fd?.Parameters.FileSizeLabel ||  'Size' }}</span>
                            <span class="col-upload my-auto font-weight-bold"> {{ fd?.Parameters.FileStatusLabel ||   'Status' }}</span>


                            <div class="upload-delete-container my-auto">

                                <button type="button"
                                    class="btn btn-link font-weight-bold text-danger text-right p-0 upload-delete-text"
                                    style="text-decoration:none" v-if="files.length > 0" @click="btnClean()">
                                    <span v-if="fd?.Parameters.RemoveAllButtonLabel !== undefined">{{        fd?.Parameters.RemoveAllButtonLabel }}</span>
                                    <span v-if="fd?.Parameters.RemoveAllButtonLabel === undefined">Remove all</span>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>


                <div v-for="(file, index) in uploader.files" :key="file.id" class="mt-1 border rounded upload-abs-container">

                    <div class="row-upload m-0 px-0">

                        <div   v-if="(file.fileTypeSelected || !fd?.showFileSelect) && !fd?.Parameters.VerifyOnly && !fd?.Parameters.NoMeta" style="grid-column-start: 1"       class="my-auto">
                            <button type="button" v-show="file.hideForm" class="btn p-0 border-0 btn-link text-dark "      @click="file.hideForm = !file.hideForm">
                                <i class="fa fa-angle-down" style="font-size:1.25rem;padding:6px 12px"> </i>
                            </button>
                            <button type="button" v-show="!file.hideForm" class="btn p-0 border-0 btn-link text-dark "     @click="file.hideForm = !file.hideForm">
                                <i class="fa fa-angle-up" style="font-size:1.25rem;padding:6px 12px"> </i>
                            </button>
                        </div>

                        <span style="grid-column-start: 2" class="col-upload my-auto"> {{ file.name }}  </span>
                        <span style="grid-column-start: 3" class="col-upload my-auto upload-col-optional"> {{ file.name.split(".").pop() }} </span>
                        <span style="grid-column-start: 4" class="col-upload my-auto">     {{ (file.size / 1000).toFixed(2)   }}    <b>kb</b> </span>

                        <div class="col-auto my-auto" v-if="fd?.Parameters.VerifyOnly" v-show="!file.status.uploadSuccess">
                            <input type="text" class="form-control form-control-xs" v-model="file.fileVerificationId" />
                        </div>

                        <div class="my-auto" style="grid-column-start: 5; padding:6px 12px 6px 12px">

                            <progress style="width:100%" :value="file.loaded" :max="file.size"></progress>

                        <!--   <i v-show="file.status.uploadSuccess || file.status.uploadError" title="File upload completed"   class="fa fa-upload text-primary fa-lg"> </i>
                            <i v-show="file.status.uploadSuccess" title="Success" class="fa fa-check-circle text-success"></i>
                            <i v-show="file.status.uploadError" title="Error" class="fa fa-times-circle text-danger"> </i>

                            <i v-show="(file.status.metaSuccess || file.status.metaError) && !file.noMeta"     title="File metadata upload" class="fa fa-list-alt fa-lg"></i>
                            <i v-show="file.status.metaSuccess && !file.noMeta" title="Success"    class="fa fa-check-circle text-success"></i>
                            <i v-show="file.metaError" title="Error" class="fa fa-times-circle text-danger"></i>-->

                            <span v-show="!file.status.uploadSuccess">{{ file.status.msg }} </span>
                            <span v-show="!file.status.metaSuccess">{{ file.status.metaStatus }} </span>
                        </div>


                        <div  class="col-auto my-auto upload-delete-container"  style="grid-column-start: 6">
                           
                            <div class="d-flex">
                              
                                <i v-show="file.status.uploadError || file.metaError" title="Error" class="fa fa-times-circle text-danger"> </i>
                                <i v-show="file.status.uploadError" title="File upload error"   class="fa-solid fa-cloud-arrow-up fa-lg"> </i>
                                <i v-show="file.metaError" title="Error" class="fa fa-list-alt fa-lg text-danger"></i>

                                <i v-show="file.status.uploadSuccess && (file.status.metaSuccess && !file.noMeta)" title="Success"    class="fa fa-lg fa-check-circle text-success"></i>
                             
                            </div>
                          
                           
                            <button   v-show="!file.status.uploadSuccess" @click="btnRemove(index, file)" type="button"   class="btn btn-link upload-delete-text font-weight-bold text-danger p-0 text-right"
                                title="Remove from list to be uploaded" style="text-decoration:none">
                                <span v-if="fd?.Parameters.RemoveButtonLabel !== undefined">
                                    {{    fd?.Parameters.RemoveButtonLabel }}
                                </span>
                                <span v-if="fd?.Parameters.RemoveButtonLabel === undefined">Remove file</span>

                            </button>
                        </div>

                        <div class="col-auto my-auto" v-show="file.status.uploadSuccess">
                        </div>

                    </div> <!--row-->


                    <div  v-show="true || (file.fileTypeSelected || !fd?.showFileSelect) && !fd?.Parameters.VerifyOnly && !fd?.Parameters.NoMeta && !file.hideForm">

                        <ResourceFormExe  :dataSrcType="'form'"  :data="formDataArray[index]"  :form-id="fd?.UuidRef" :widget-id="fd?.UuidRef+ '-'+ file.name" :form-definition="me.Parameters.rules[0].FormDef"/>

                    </div>


                  <div v-if="file.eosResponse != null && file.eosResponse != undefined && !fd?.Parameters.VerifyOnly"     class="p-1 mt-1">
                        <div> <a href="" @click="showTransactionDetails = !showTransactionDetails">Blockchain    transaction   details</a></div>
                        <div v-show="showTransactionDetails">
                            <pre>{{ file.eosResponse }}</pre>
                        </div>
                    </div>

                    <div v-if="file.eosResponse2 != null && file.eosResponse2 != undefined && fd?.Parameters.VerifyOnly && file.fileFound"   class="p-1 mt-1">
                        <span v-if="file.fileHash == file.blockchainHash" class="text-success">File hash is a perfect    match to the hash stored on blockchain!</span>
                        <span v-if="file.fileHash != file.blockchainHash" class="text-danger">File hash does not match     to      the hash stored on blockchain!</span>
                    </div>

                    <div v-if="file.eosResponse2 != null && file.eosResponse2 != undefined" class="p-1 mt-1">
                        <div><a href="" @click="showRecordDetails = !showRecordDetails"> Blockchain record </a></div>
                        <pre v-show="showRecordDetails">{{ file.eosResponse2 }}</pre>
                    </div> 

                </div> <!--repeat -->
            </div>

            <div class="">
                <div class="text-right ">
                    <button type="button" class="btn btn-primary mt-4" v-if="  !fd?.ReadOnly"     @click="btn_upload()">
                        <span   v-if="fd?.ParametersLang?.UploadButtonLabel!==undefined">   {{fd?.ParametersLang?.UploadButtonLabel}}   </span>
                        <span v-if="fd?.ParametersLang?.UploadButtonLabel===undefined">Upload</span>
                    </button>
                </div>
            </div>

        </div> <!-- element-->

</div>


</div>


</template>

<style scoped>
.btn-primary {
    color: #fff;
    background-color: #2C60E5;
    border-color: #2C60E5;
}

.element-wrapper{
  position: relative;
  display: grid;
  grid-template-columns: repeat(24,1fr);
  grid-auto-flow: row;
  grid-column: auto / span v-bind(elementWidth);
}

.element-wrapper:hover > .element-properties-btns, .element-wrapper:focus > .element-properties-btns {
  visibility: visible; }

.element-wrapper:hover > .blue-dropdown > .element-properties-btns, .element-wrapper:focus > .blue-dropdown > .element-properties-btns {
  visibility: visible; }

.label-style{
  grid-column:auto / span v-bind(labelLength);
}

.label-style.error
{
  color:red;
}

:deep(.element-style.error > [class*='form-item'])
{
  color:red;
  border-color: red !important;

}
:deep(.element-style.error > [class*='form-item']:focus)
{
  color:red;
  background-color: #fff;
  border-color: #f39e9e;
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgba(229, 72, 44, 0.25);

}

.element-style{
  grid-column:auto / span v-bind(valueLength);
}
.default-style{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size:1rem;
    line-height: 1.5;
    color: #26314d;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #E7E9EC;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.default-style-area{
    height: auto;
}
@media (prefers-reduced-motion: reduce) {
    .default-style {
      transition: none; } }
  .default-style::-ms-expand {
    background-color: transparent;
    border: 0; }
  .default-style:focus {
    color: rgba(14, 26, 57, 0.9);
    background-color: #fff;
    border-color: #9eb6f3;
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgba(44, 96, 229, 0.25); }
  .default-style::placeholder {
    color: #B7BAC4;
    opacity: 1; }
  .default-style:disabled, .default-style[readonly] {
    background-color: #F3F3F5;
    opacity: 1; }
</style>