<script setup lang="ts">

    //import { storeToRefs } from 'pinia';
    //import { useAlertStore } from '@/g_stores/alert';
    import { toRef,computed,ref } from "vue";
    import { usePageStore } from '@/m_page/stores/page';
    import { useResourceFlowStore } from '@/m_resource/stores/resourceFlow'
    import { useDatasetStore } from '@/g_stores/dataset';
    import { useTaskStore } from '@/g_stores/task';
    import { useApplicationStore } from '@/g_stores/application';
    import  WidgetBaseExe  from './WidgetBaseExe'
    import ResourceFormExe  from '../ResourceFormExe.vue'
    import  router from '@/g_router/index';
    import type { Ref } from 'vue'
    //define props
    const props = defineProps({
        fd: Object,
        parentResourceWidgetId:String,
        cssPrefix:String,
        dataRef:Object
    });
    let fd:Record<PropertyKey,any> = toRef(props,'fd')
    let parentId:Ref<any> = toRef(props,'parentResourceWidgetId') || ref('')
    const dataRef:Ref<any> = toRef(props,'dataRef')
    const {createCssLink,authStore,me} = WidgetBaseExe(fd)
   
    const taskStore = useTaskStore()

    taskStore.registerChildWidget(fd?.value?.UuidRef,parentId.value)

    //const datasetStore = useDatasetStore()

    //datasetStore.registerWidget(fd.value)
    //widgetStore.fetchPublishedResourceForm(fd?.value?.UuidRef)
    const pageStore = usePageStore()
    pageStore.setWidgetLoaded(fd?.value?.UuidRef)
    
    const appStore = useApplicationStore()
    const flowStore = useResourceFlowStore()
    let selectedAction:any
    let lastClickedButton:any
    let lastClickedButtonIndex:number
    
    let process_button_visibility = function(){
        if (lastClickedButton!==undefined && me?.FormDef.length>lastClickedButtonIndex){
            let j:number
            for (j=0;j<me?.FormDef[lastClickedButtonIndex].visibilityAfterAction.length;j++)
            {
                me.FormDef[j].hideButton = !me.FormDef[lastClickedButtonIndex].visibilityAfterAction[j].visible;
            }

        }
    }
    let resultError:any = ref('')
    let processButtonAction = async (button:any,index:number)=>{
                    
        button.disabled=true
        resultError.value={}
        //set last resource action state
        pageStore.setLastPageState(pageStore.getCurrentPage.instanceId,parentId.value,taskStore.getTaskExeState(parentId.value))
        lastClickedButton = button
        lastClickedButtonIndex = index
        if (button?.actions==undefined) button.actions = [button?.action]
                    /*else{
                            action= button.actions[0].action
                            l_button= button.actions[0]
                    }*/
        button.id=me?.UuidRef
        if (index>=0) button.id=button.id+'-'+index.toString()
        if (button.widgetRef==undefined || button.widgetRef=="") button.widgetRef = me.UuidRef
        flowStore.addFlow(button)
        let flowResult:any = await flowStore.executeFlow(button.id)
                    
        if (flowResult?.status) resultError.value=flowResult?.error
        else process_button_visibility()
        button.disabled=false

    }

    let proc_widgets = async (data:any,flowId:string)=>{
        let result:any = await pageStore.processWidgets(flowId)
        let status:number = -1
        let rval:any
        selectedAction = pageStore.processWidgetsInProgress
        if (result) rval = result
        else 
        {
            status = -1
            rval={status:status,result:result?.result,status_message:'nok',actionIdx:data.flowData?.actionIdx} 
        } 
        return rval
    }

    let open_page = async (data:any)=>{
        
        let actionIndex:number = 0
        let args:any
        let target:string | undefined
        let pageid:string | undefined
        if (lastClickedButton?.actions.length){

            if (lastClickedButton?.actions[actionIndex]?.page_def) target = lastClickedButton?.actions[actionIndex]?.page_def?.ResourceExtended?.Target

            if (target){

                pageid = lastClickedButton?.actions[actionIndex]?.page.id
            
            }else if (lastClickedButton?.page_def){
                target = lastClickedButton?.page_def?.ResourceExtended?.Target 
                pageid = lastClickedButton?.page?.id
            }
            args={
                    name:target
                    ,params:{page_id: pageid }
                    ,query:{app_ref:appStore.getCurrentApp?.uid,rinstance:0,prinstance: pageStore.currentPage.instanceId,sessionid:authStore.getSessionId}
                }
        }
        
        if (!lastClickedButton?.actions.length && lastClickedButton?.action && lastClickedButton?.page?.id){
            
            args={
                name:lastClickedButton?.page_def?.ResourceExtended?.Target
                ,params:{page_id: lastClickedButton?.page.id}
                ,query:{app_ref:appStore.getCurrentApp?.uid,  rinstance:0,prinstance: pageStore.currentPage.instanceId,  sessionid:authStore.getSessionId}
            }
        }
        if (args) {
            router.push(args)
            return  {status_message:'ok',status:0,actionIdx:data.flowData?.actionIdx,result:true} 
        }else return {status_message:'nok',status:-1,actionIdx:data.flowData?.actionIdx,result:false}

    }

    let back_button = async (data:any)=>{
        window.history.back()
        return {status_message:'ok',status:0,actionIdx:data.flowData?.actionIdx,result:true} 
    }
    
    me.actions['procwidgets'] =  proc_widgets
    me.actions['openpage'] =  open_page
    me.actions['backbutton'] =  back_button

    pageStore.addWidgetToPage(me.UuidRef,me)

const actionInProgress = computed(() => {
                  return selectedAction
              })


const justifyBtns = computed(() => {
                  return me?.Parameters?.AlignButtons
            })

</script>

<template >

    <div idd="actionbutton" class="action-btns-wrapper" v-show="me?.ShowField" :style="me?.Parameters?.CustomCSS + '; ' +me?.Parameters?.customCSS+'; '" >
        <div class="action-btn-wrapper" v-for="(button,index) in me?.FormDef" :key="button.id">
            <button  v-if="!button.hideButton"  @click="processButtonAction(button,index)" :disabled="actionInProgress || button.disabled" type="button"  :class="'btn btn-ext '+button.size+' '+button.btnClass+' '+button.btnClass+'-ext text-'+button.textAlign">
                <i v-if="!actionInProgress && !button.disabled" :class="button.icon"></i> <i v-if="actionInProgress || button.disabled" class="fas fa-spinner fa-spin"></i> <span>{{button.btnLabel}}  </span>
            </button> 
        </div>
        
    </div>
    <div v-if="resultError.message" class="error-style">{{ resultError.message }}</div>
    <div v-if="resultError.stack" class="error-style">{{ resultError.stack }}</div>

</template>

<style scoped>
.btn-ext {
    white-space: nowrap;
}
.action-btns-wrapper{
    display: flex;
    column-gap: 0.5rem;
    margin-bottom: 0.5rem;
    grid-column: auto / span 24;
    justify-content: v-bind(justifyBtns);

}
.action-btn-wrapper{
    display: inline;
  

}
.error-style{
    color: red;
    margin-top: 0.5rem;
    font-weight: 700;
    grid-column: auto / span 24;
  

}
.btn-link-ext{
    padding: 0.375rem 0rem;

}

.btn-label{
margin-left: 5px;
}

</style>