<script setup lang="ts">

//import { storeToRefs } from 'pinia';
//import { useAlertStore } from '@/g_stores/alert';
import { toRef, computed, ref, watch } from "vue";
import { usePageStore } from '@/m_page/stores/page';
import { useResourceFormStore } from '@/m_resource/stores/resourceForm';
import { useApplicationStore } from '@/g_stores/application';
import { useRdbmsResourceStore } from '@/m_resource/stores/rdbmsResource';
import { useEventBusStore } from '@/g_stores/eventBus';
import WidgetBaseExe from './WidgetBaseExe'
import ResourceFormExe from '../ResourceFormExe.vue'
import type { Ref,ComputedRef } from 'vue'
import Utility from '@/g_libs/kt-utility';
import  { parse, evaluate } from 'jse-eval'

const props = defineProps({
    fd: Object,
    parentResourceWidgetId: String,
    cssPrefix:String,
    dataRef:Object
});
let fd: Record<PropertyKey, any> = toRef(props, 'fd')
let parentId: Ref<any> = toRef(props, 'parentResourceWidgetId') || ref('')

const { createCssLink, authStore, me } = WidgetBaseExe(fd)

const formStore = useResourceFormStore()
const rdbmsStore = useRdbmsResourceStore()
const pageStore = usePageStore()
const applicationStore = useApplicationStore()
const eventBus = useEventBusStore()

const utility = new Utility()


//rdbmsStore.setDataObject(me?.UuidRef)
pageStore.setWidgetLoaded(me?.UuidRef)
createCssLink()
let resourceVersion:number = Number(me?.Parameters?.PublishedResourceVersion) || 0

if (!me?.Parameters?.SelectVersionDirect) resourceVersion=0
let resourceField: Ref<string> = ref('resource' + me?.Related + '_id')

let tablePrefix:string = me?.Related
let resourceRecordId:number = 0
let multipleFormsUids:Ref<Array<string>> = ref([])
let dataSourcesPrepared:Ref<any> = ref({})
let ods:any = {}

   let dataSourcesReady:ComputedRef<boolean> = computed(()=>
   {
       let rVal:boolean = true
       if (!me.Parameters?.DataSources) return rVal
       if (me.Parameters?.DataSources?.length!=Object.keys(dataSourcesPrepared.value).length) return false
       
       for (const [key, value] of Object.entries(dataSourcesPrepared.value)) {
           
           if (!value) rVal = false

     }
     return rVal

   })



let myDataRecRef:ComputedRef<string> =  computed(() => {
    
    if (recordId.value) me.rdbmsRecId = me?.Related+'_'+recordId.value.toString()
    else me.rdbmsRecId = me.UuidRef

    return me.rdbmsRecId

    })

let myDataRef:ComputedRef<string> =  computed(() => { 
       return me.UuidRef
    })

let recordId:ComputedRef<number> =  computed(() => {
   
   return formStore.getResourceRecordId(pageStore.currentPage.instanceId,myDataRef.value,resourceField.value) || resourceRecordId

})

let myDataRefSearch:ComputedRef<string> =  computed(() => { 
       return me.UuidRef+'-search'
    })

let myDataSearch:ComputedRef<any> =  computed(() => { 
        
        return formStore.formData[pageStore.currentPage.instanceId][myDataRefSearch.value].data
        
        })
const setOds = ()=>{

    for (let i=0;i<me.Parameters?.DataSources?.length;i++)
    {
       if (formStore.getFormLoadCompleted(pageStore.getCurrentPage.instanceId,me.Parameters.DataSources[i].widgetId)){
           ods[me.Parameters.DataSources[i].srcName] =  formStore.formData[pageStore.currentPage.instanceId][me.Parameters.DataSources[i].widgetId]?.data
           dataSourcesPrepared.value[me.Parameters.DataSources[i].srcName]=true
       }else{
           dataSourcesPrepared.value[me.Parameters.DataSources[i].srcName]=false
           watch( () => formStore.getFormLoadCompleted(pageStore.getCurrentPage.instanceId,me.Parameters.DataSources[i].widgetId),(newValue,oldValue) => {
                   if  (!oldValue && newValue)  
                   {
                       ods[me.Parameters.DataSources[i].srcName] =  formStore.formData[pageStore.currentPage.instanceId][me.Parameters.DataSources[i].widgetId]?.data
                       formStore.extendFormData(pageStore.currentPage.instanceId,me?.UuidRef,ods)
                       dataSourcesPrepared.value[me.Parameters.DataSources[i].srcName]=true
                   }
               }) 
       }

    }
}

formStore.extendFormData(pageStore.currentPage.instanceId,me?.UuidRef,ods)

formStore.registerFormWidget(me.UuidRef, pageStore.getCurrentPage.instanceId, 'form')
formStore.registerFormWidget(myDataRefSearch.value, pageStore.getCurrentPage.instanceId, 'form')

const getDataMultiple = ()=>{

let dataMultiple:any = []
for (let i=0;i<multipleFormsUids.value.length;i++)
{
    dataMultiple.push([formStore.formData[pageStore.currentPage.instanceId][me?.UuidRef+'-'+multipleFormsUids.value[i]].data])
}
return dataMultiple
}

const prepareUpdateData = () =>{
        let dataSrcTmp,dataSrc
        if (rdbmsStore.getResourceDataLoaded(myDataRecRef.value))
            {
                if (recordId.value)  dataSrcTmp = rdbmsStore.getResourceDataRecord(me?.Related,recordId.value)
                else dataSrcTmp = formStore.getFormData(pageStore.currentPage.instanceId,myDataRecRef.value)

                dataSrc = Object.assign({},dataSrcTmp)
                formStore.formData[pageStore.currentPage.instanceId][myDataRef.value].data = dataSrc
                setOds()
                evalMapping()
            }
        
        else{

                watch(()=> rdbmsStore.getResourceDataLoaded(myDataRecRef.value), (newValue,oldValue) => {
                    //updateWidget STATE
                    if (!oldValue && newValue) {
                        if (recordId.value)  dataSrcTmp = rdbmsStore.getResourceDataRecord(me?.Related,recordId.value)
                        else dataSrcTmp = formStore.getFormData(pageStore.currentPage.instanceId,myDataRecRef.value)

                        dataSrc = Object.assign({}, dataSrcTmp)
                        formStore.formData[pageStore.currentPage.instanceId][myDataRef.value].data = dataSrc
                        setOds()
                        evalMapping()
                    }
                })
        }
}

let goRecordUpdate =  computed(() => {
    if (!me?.Parameters?.UpdateRecordCondition) return true

    const context = {
            ...utility,
            ...ods,
            Date,
            Array,
            Math,  
    } 

    let returnVal: any
    let ast:any = parse(me?.Parameters?.UpdateRecordCondition)  
    
    try {
        returnVal = evaluate(ast, context)  
    } catch (error) {
        console.log(error)
        return true
    }


    return returnVal
})

const getWidgetState = () =>{

    let resourceDefId:string = me?.Related
    
    //get db record from previous resource
    let resourceState:any

    let resourceRecord:any
    let pageWidgets:any = {}

    let pTypeLen:number
    if (me?.SrcWidgetId && me?.SrcWidgetId?.length<73) pTypeLen = 36
    else if (!me?.SrcWidgetId) pTypeLen = 36
    else pTypeLen = me?.SrcWidgetId.length

    if (me?.PopulateType.toString().substr(0,1)=='3') 
    {
        resourceState = pageStore.getPrevResourceExeState
        pageWidgets = resourceState?.pDef?.widgets || {}
    }
    else if  (me?.PopulateType.toString().substr(0,1)=='2') {
        
        resourceState = pageStore.getCurrentPageState
        pageWidgets = resourceState[me?.SrcWidgetId.substr(0,pTypeLen)] || {}
    }


    let widgetState:any

    if (me?.SrcWidgetId && me?.PopulateType.toString().substr(0,1)=='2')
    {
            widgetState=resourceState[me?.SrcWidgetId.substr(0,pTypeLen)]
            if (widgetState!=undefined)
            {
                    let recs:any
                    if (widgetState.stateType=='form')
                    {
                        recs = widgetState[widgetState.stateFieldName]
                        if (Array.isArray(recs))
                        {
                        
                                if (recs.length>0) resourceRecordId=recs[0][resourceField.value] || recs[0]['id'] || recs[0]
                        
                        }else if (recs!=undefined) 
                        {
                            resourceRecordId=recs[resourceField.value] || recs['id'] || recs
                        } else resourceRecordId = 0

                    }else if (widgetState.stateType=='record')
                    {
                        resourceRecordId = widgetState.resourceRecordId 
                    }
            }

    }
    else if (me?.PopulateType.toString().substr(0,1)=='3')
    {
        for (const key in pageWidgets)
        {
            if (pageWidgets[key]?.Related==me?.Related) //get state if same resource
            {   
                
                widgetState=resourceState.pageState[pageWidgets[key]?.UuidRef]
                if (widgetState!=undefined)
                {
                    let recs:any
                    if (widgetState.stateType=='form')
                    {
                        recs = widgetState[widgetState.stateFieldName]
                        if (Array.isArray(recs))
                        {
                        
                                if (recs.length>0 && (recs[0][resourceField.value] || recs[0]['id'] || recs[0])) resourceRecordId=recs[0][resourceField.value] || recs[0]['id'] || recs[0]
                        
                        }else if (recs!=undefined) 
                        {
                            if ((recs[resourceField.value] || recs['id'] || recs)) resourceRecordId=recs[resourceField.value] || recs['id'] || recs
                        } else if (!resourceRecordId) resourceRecordId = 0

                    }else if (widgetState.stateType=='record')
                    {
                        if (widgetState.resourceRecordId) resourceRecordId = widgetState.resourceRecordId 
                    }
                }
            }

        }
    }
    if (recordId.value) {
        me.rdbmsRecId = me?.Related+'_'+recordId.value.toString()
        
    }
    prepareUpdateData()

}
//get record id
const getWidgetData = async () =>{

    
    let taskInstanceId:string = '0'
    getWidgetState()
    //         fetchResourceRecord(  widgetId: ,                       pageId, taskInstanceId: ,                     prevResourceId: ,                 resourceInstanceId,formType ,resourceDefId, recordId     ,resourceVersion,  qType?:string) 
    if (!me.SrcWidgetId || formStore.getFormLoadCompleted(pageStore.getCurrentPage.instanceId,me.SrcWidgetId)) rdbmsStore.fetchResourceRecord(me?.UuidRef,pageStore.getCurrentPage.defId, taskInstanceId, pageStore.getCurrentPage.prevResourceId, pageStore.getCurrentPage.instanceId,'i',  me?.Related,  resourceRecordId, resourceVersion)
    else {

        watch( () => formStore.getFormLoadCompleted(pageStore.getCurrentPage.instanceId,me.SrcWidgetId),(newValue,oldValue) => {
               if (!oldValue && newValue) {
                    getWidgetState()
                    rdbmsStore.fetchResourceRecord(me?.UuidRef,pageStore.getCurrentPage.defId, taskInstanceId, pageStore.getCurrentPage.prevResourceId, pageStore.getCurrentPage.instanceId,'i',  me?.Related,  resourceRecordId, resourceVersion)
               }
        })

    }
}

    
    const updateResourceRecord = async (valueStateParam:any,act_idx:number)=>{
        
        let goUpdate:boolean=false
        if (goRecordUpdate.value)
        {
            if (me?.Parameters.flowActions?.length)
            {
                    for (let i=0;i<me?.Parameters.flowActions?.length;i++)
                    {
                    let condition:any={}
                    let values:any={}
                    if (!me?.Parameters.flowActions[i].NoCondition)
                    {
                        condition = JSON.parse(me?.Parameters.flowActions[i].Condition)
                    }
                    
                    values = JSON.parse(me?.Parameters.flowActions[i].Values)
                    
                    if (utility.check_condition(condition?.operator,condition?.value,formStore.formData[pageStore.currentPage.instanceId][me?.UuidRef].data[condition?.field]) || me?.Parameters.flowActions[i].NoCondition)
                    {     
                            if (me?.Multiline)
                            {
                                for (let j=0;j<multipleFormsUids?.value?.length;j++)
                                { 
                                    for ( const property in values ) {
                                    formStore.formData[pageStore.currentPage.instanceId][me.UuidRef+'-'+multipleFormsUids?.value[j]].data[property] = values[property]
                                }  
                                }
                            }
                            else{
                                
                                for ( const property in values ) {
                                    formStore.formData[pageStore.currentPage.instanceId][me?.UuidRef].data[property] = values[property]
                                }
                            }
                            goUpdate = true
                    }
                    
                    }
            }else  goUpdate = true

            if (goUpdate)
            {
                let recData = formStore.getFormData(me?.UuidRef,pageStore.currentPage.instanceId)

                if (me?.Multiline) recData = getDataMultiple()
                let updRec:any = await rdbmsStore.updateResourceRecord(me?.Related,pageStore.currentPage.defId,me.UuidRef,recData,0,pageStore.currentPage.instanceId,pageStore.currentPage.prevResourceId)

                if (updRec){
                    if (me?.Multiline)
                    {
                        for (let i=0;i<updRec.records.length;i++) {
                            resourceRecordId = utility.extractIdFromRecord(updRec.records[i],tablePrefix)
                            let recId:string =  me?.Related+'_'+resourceRecordId?.toString()

                            if (!rdbmsStore.resourceData[recId]) rdbmsStore.resourceData[recId]=updRec.records[i]
                            else Object.assign(rdbmsStore.resourceData[recId],updRec.records[i])
                            if (!rdbmsStore.resourceData[recId][resourceRecordId]) rdbmsStore.resourceData[recId][resourceRecordId]=rdbmsStore.resourceData[recId].id
                            rdbmsStore.dataLoaded[recId] = true
                            const stamp:number = new Date().getTime()
                            rdbmsStore.staleFlag[me?.Related] = stamp
                            rdbmsStore.staleFlag[recId] = stamp    
                        }
                    }
                    else{
                    resourceRecordId = utility.extractIdFromRecord(updRec.record,tablePrefix)
                    let recId:string =  me?.Related+'_'+resourceRecordId?.toString()
                    if (!rdbmsStore.resourceData[recId]) rdbmsStore.resourceData[recId]=updRec.record
                    else Object.assign(rdbmsStore.resourceData[recId],updRec.record)
                    if (!rdbmsStore.resourceData[recId][resourceRecordId]) rdbmsStore.resourceData[recId][resourceRecordId]=rdbmsStore.resourceData[recId].id
            
                    rdbmsStore.dataLoaded[recId] = true
                    const stamp:number = new Date().getTime()
                    rdbmsStore.staleFlag[me?.Related] = stamp
                    rdbmsStore.staleFlag[recId] = stamp
                    }

                }
            }
        }
    }
   
   
    const addRecords = async (data:any)=>{
       
       let recs:any,input_params:string,default_data:any,idx:number
       if (data.eventData?.stateFieldName){
           recs = data?.eventData[data.eventData?.stateFieldName]
           input_params = data.flowData?.inParams?.[data.flowData.actionIdx]
 
           
           for (let i=0;i<recs.length;i++){
               default_data={}
              
               for (const [key, value] of Object.entries(input_params)) {
             
                       default_data[key] = utility.eval_expr(recs[i],value,parse,evaluate)
                   
               }
               idx = addManualRecordToMultiple()
               formStore.setFormData(pageStore.currentPage.instanceId,me.UuidRef+'-'+multipleFormsUids.value[idx],default_data)
               formStore.extendFormData(pageStore.currentPage.instanceId,me?.UuidRef+'-'+multipleFormsUids.value[idx],ods)
           }
       }
       evalMapping()
       return {status_message:'ok',status:0,actionIdx:data.flowData?.actionIdx,result:recs?.length}   
   }

   const addRecordsWithRefresh = async (data:any)=>{
       
       let recs:any,input_params:string,default_data:any,idx:number
       if (data.eventData?.stateFieldName){
           recs = data?.eventData[data.eventData?.stateFieldName]
           input_params = data.flowData?.inParams?.[data.flowData.actionIdx]
 
           
           for (let i=0;i<recs.length;i++){
               default_data={}
              
               for (const [key, value] of Object.entries(input_params)) {
             
                       default_data[key] = utility.eval_expr(recs[i],value,parse,evaluate)
                   
               }
               idx = addManualRecordToMultipleWithRefresh(recs[i]['resource'+me?.Related+'_id'])
               formStore.setFormData(pageStore.currentPage.instanceId,me.UuidRef+'-'+multipleFormsUids.value[idx],default_data)
               formStore.extendFormData(pageStore.currentPage.instanceId,me?.UuidRef+'-'+multipleFormsUids.value[idx],ods)
           }
       }
       evalMapping()
       return {status_message:'ok',status:0,actionIdx:data.flowData?.actionIdx,result:recs?.length}   
   }
    const setRecords = async (data:any)=>{
        if (data.eventData?.stateFieldName)   {
            
           multipleFormsUids.value.length = 0             
           formStore.removeFormWidget(me?.UuidRef,pageStore.currentPage.instanceId)
        } 
        return addRecords(data)           
    }
    const setRecordsWithRefresh = async (data:any)=>{
        if (data.eventData?.stateFieldName)   {
            
           multipleFormsUids.value.length = 0             
           formStore.removeFormWidget(me?.UuidRef,pageStore.currentPage.instanceId)
        } 
        return addRecordsWithRefresh(data)           
    }
    const resetFormdata = async ()=>{
       
       formStore.resetFormData(pageStore.currentPage.instanceId,me?.UuidRef)
           
    }

    me.actions['updateResourceRecord'] = updateResourceRecord
    me.actions['resetFormData'] = resetFormdata
    me.actions['setRecords'] = setRecords
    me.actions['setRecordsWithRefresh'] = setRecordsWithRefresh
    me.actions['addRecords'] = addRecords
    me.actions['addRecordsWithRefresh'] = addRecordsWithRefresh

   let currentIndex:Ref<number> = ref(0)

   const setCurrentIndex = (idx:number)=>
    {
        currentIndex.value=currentIndex.value+idx
    }

    pageStore.setState( me?.UuidRef, {'resourceDefId':me?.Related,'resourceRecordId':resourceRecordId,'stateType':'form'} )
    
    /*
    let pagerText:ComputedRef<string> =  computed(() => { 
            let start:number = currentIndex.value+1
            return start+' / '+rdbmsStore.getResourceData(me?.UuidRef)?.length
        })
    */
    let myData:ComputedRef<any> =  computed(() => { 
        if (formStore.getFormDataLoaded(pageStore.currentPage.instanceId,myDataRef.value))
        {
            if (!resourceRecordId) 
            {
                let resourceData=formStore.getFormData(myDataRef.value,pageStore.currentPage.instanceId)
                if (Array.isArray(resourceData))   
                  resourceRecordId=resourceData[0]?.[resourceField.value]
                else 
                    resourceRecordId=resourceData?.[resourceField.value]
          
                pageStore.setState( me?.UuidRef, {'resourceDefId':me?.Related,'resourceRecordId':resourceRecordId})
                rdbmsStore.setRecordById(me?.UuidRef,me?.Related,resourceRecordId)

            }
        }
        return formStore.formData[pageStore.currentPage.instanceId][me?.UuidRef].data
    })
    let createdByLabel:ComputedRef<string> =  computed(() => { 
        if (rdbmsStore.getResourceDataLoaded(me?.UuidRef)) return utility.processAuditInfo(myData.value,'create',me?.ParametersLang?.CreatedByTemplate,tablePrefix)
        else return ''
        })
    
    let changedByLabel:ComputedRef<string> =  computed(() => { 
        if (rdbmsStore.getResourceDataLoaded(me?.UuidRef)) return utility.processAuditInfo(myData.value,'change',me?.ParametersLang?.ChangedByTemplate,tablePrefix)
        else return ''
        })

    let hasChangedBy:ComputedRef<boolean> =  computed(() => {
        if (myData.value && myData.value[tablePrefix+'_ChangedBy.name']) return true
        else return false
        })
  
    watch( () => formStore.getFormLoadCompleted(pageStore.getCurrentPage.instanceId,me?.UuidRef),(newValue,oldValue) => {
                if  (!oldValue && newValue && me?.AutoSearch && me?.PopulateMethod=='M')  rdbmsStore.getResourceDataFn(me?.Related,me?.UuidRef,pageStore.currentPage.instanceId,resourceVersion,formStore.formData[pageStore.currentPage.instanceId][me?.UuidRef].data)
            })
   
    let updateDataPrepared:Ref<boolean>=ref(false)

    watch( () => formStore.getFormLoadCompleted(pageStore.getCurrentPage.instanceId,myDataRefSearch.value),(newValue,oldValue) => {
                if  (!oldValue && newValue && me?.AutoSearch && me?.PopulateMethod=='M')  rdbmsStore.getResourceDataFn(me?.Related,me?.UuidRef,pageStore.currentPage.instanceId,resourceVersion,formStore.formData[pageStore.currentPage.instanceId][myDataRefSearch.value].data)
            })

    

    const processMapping = async ()=>{

        const filter_data:any = {}
            
        let mapping:any = await rdbmsStore.processR2rMapping(me.UuidRef,pageStore.currentPage.defId,0,me.DatasetMapping,filter_data,pageStore.currentPage.instanceId,pageStore.currentPage.prevResourceId)
        
            Object.keys(mapping).forEach(function(key) {
            
                formStore.formData[pageStore.currentPage.instanceId][me?.UuidRef].data[key]=mapping[key]
                
        })
        updateDataPrepared.value=true
    }

    const evalMapping = ()=>{
        if (me.DatasetMapping?.length && formStore.getFormLoadCompleted(pageStore.getCurrentPage.instanceId,me.SrcWidgetId)) processMapping ()
        else if (me.DatasetMapping?.length){
            watch( () => formStore.getFormLoadCompleted(pageStore.getCurrentPage.instanceId,me.SrcWidgetId),(newValue,oldValue) => {
                if  (!oldValue && newValue) processMapping()
            })
        }
        else updateDataPrepared.value=true
    
    }

    /*
    const start_widget = ()=>{
        if (me.DatasetMapping?.length && (!me.SrcWidgetId || (me.SrcWidgetId && formStore.getFormLoadCompleted(pageStore.getCurrentPage.instanceId,me.SrcWidgetId)))) processMapping ()
        else if (me.DatasetMapping?.length && me.SrcWidgetId){
            watch( () => formStore.getFormLoadCompleted(pageStore.getCurrentPage.instanceId,me.SrcWidgetId),(newValue,oldValue) => {
                    if  (!oldValue && newValue && me.DatasetMapping?.length) processMapping()
                })
        }else{
            updateDataPrepared.value=true
        }
    }
        */
    if (!me?.Multiline) {
        getWidgetData()
    }
    else evalMapping()
    /* check if this is needed*/

  

    
    
    const removeManualRecordFromMultiple = (idx:number) =>{

        const formUid:string = multipleFormsUids.value[idx]
        //multipleForms.value.splice(idx,1)
        formStore.removeFormWidget(me?.UuidRef+'-'+formUid,pageStore.currentPage.instanceId)
        
        multipleFormsUids.value.splice(idx,1)
       
        
    }
    const addManualRecordToMultiple = () => {
        
        multipleFormsUids.value.push(utility.uuidv4())
        const idx:number = multipleFormsUids.value.length-1
        formStore.registerFormWidget( me?.UuidRef+'-'+multipleFormsUids.value[idx], pageStore.currentPage.instanceId ,'form')
        //multipleForms.value.push(me.FormDef)
        return idx

    }

    const addManualRecordToMultipleWithRefresh = (recId:number) => {
        
        multipleFormsUids.value.push(utility.uuidv4())
        const idx:number = multipleFormsUids.value.length-1
        formStore.registerFormWidget( me?.UuidRef+'-'+multipleFormsUids.value[idx], pageStore.currentPage.instanceId ,'form')
        rdbmsStore.fetchResourceRecord(me?.UuidRef+'-'+multipleFormsUids.value[idx],pageStore.getCurrentPage.defId,'0', pageStore.getCurrentPage.prevResourceId, pageStore.getCurrentPage.instanceId,'i',  me?.Related, recId , resourceVersion)

        return idx

    }

    if (me?.Parameters?.events?.length) eventBus.subscribe_2_events(me.Parameters.events,me.actions,pageStore.currentPage.instanceId,me.UuidRef)
    
</script>

<template>
      <div class="form-wrapper-wait update-widget" v-if="(!updateDataPrepared && !goRecordUpdate) || applicationStore.debugMode">
        <h6 v-if="me?.Parameters?.PublishedResourceId < 1">Published resource id is missing</h6>
        <div> Update widget {{me?.UuidRef}}... Search form processing for method {{ me?.PopulateMethod }}</div>
        <div v-if="!me?.ShowSearchForm && me?.PopulateMethod=='M'"> Loading search form in the background</div>
        <div>Waiting for widgets: {{ formStore.getFormLoadNotDone(pageStore.getCurrentPage.instanceId,myDataRefSearch) }}</div>
        <i class="fas fa-circle-notch fa-spin fa-2x"></i> 
        <div v-if="me?.SrcWidgetId"> Waiting for widget {{me?.SrcWidgetId}}</div>
    </div>
    <div class="form-wrapper update-widget" v-if="updateDataPrepared && goRecordUpdate">
 
        <!--   <div>{{widgetStore.getWidgetFormDefinition(fd?.UuidRef)}}</div>-->
        <div v-if="applicationStore.debugMode">This is update widget {{ me?.UuidRef }}</div>
        <div v-show="me?.ShowSearchForm">
            <ResourceFormExe v-if="Array.isArray(me?.FormDefSearch)" :data-src-type="'form'" :data="myDataSearch" :widget-id="myDataRefSearch" :form-definition="me?.FormDefSearch"/>
        </div>
        <ResourceFormExe v-if="!me?.Multiline && dataSourcesReady && formStore.getFormDataLoaded(pageStore.getCurrentPage.instanceId,myDataRef) && Array.isArray(me?.FormDef)" data-src-type="'form'" :form-id="me?.UuidRef" :widget-id="me?.UuidRef" :data="formStore.formData[pageStore.currentPage.instanceId][me?.UuidRef]?.data" :form-definition="me?.FormDef" />
        
        <div class="mt-1" v-if="me.Multiline">
            <div v-for="(uid,index) in multipleFormsUids" :key="uid" class="add-record-item">
                <div class="remove-btn">
                    <button type="button" class="btn btn-xs btn-danger" @click="removeManualRecordFromMultiple(index)" ><i class="fa fa-trash mr-1"></i><span >{{me.ParametersLang.RemoveRecLabel || 'Remove item'}}</span></button>
                </div>
                    <b v-if="applicationStore.debugMode">{{ uid }}</b>
                    <b v-if="applicationStore.debugMode">{{ dataRef }}</b>
                    
                    <ResourceFormExe data-src-type="'form'" :form-id="me?.UuidRef" :widget-id="me?.UuidRef+'-'+uid" :data="formStore.getFormData(me?.UuidRef+'-'+uid,pageStore.getCurrentPage.instanceId)" :form-definition="me?.FormDef"/>
            </div>
            
            <div v-if="(me?.FormDef.length<me.Parameters?.MaxItems && me?.Parameters?.MaxItems>0) || me?.Parameters?.MaxItems==undefined">
                <button type="button" class="btn btn-sm btn-outline-primary" @click="addManualRecordToMultiple()" ><i class="fa fa-plus mr-1"></i><span>{{ me?.ParametersLang?.AddRecLabel || 'Add item' }}</span></button>
                
            </div>
        </div>

        <div v-if="me?.Parameters?.ShowAuditInfo"><b>Audit info:</b></div>
        <div v-if="me?.Parameters?.ShowAuditInfo">{{createdByLabel}}</div>
        <div v-if="me?.Parameters?.ShowAuditInfo && hasChangedBy">{{changedByLabel}}</div>
    </div>
</template>

<style scoped>
.form-wrapper {
    grid-column: auto / span 24;
}
.form-wrapper-wait{
        grid-column: auto / span 24;
        background-color: lightblue;
        padding: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        text-align: center;
}
</style>