<script setup lang="ts">

//import { useAlertStore } from '@/g_stores/alert';
import { toRef, ref, computed, reactive, inject, unref , toRaw, watch} from "vue";
import { usePageStore } from '@/m_page/stores/page';
import { required, helpers } from '@vuelidate/validators'
import WidgetBaseExe from './WidgetBaseExe'
import { useResourceFormStore } from '@/m_resource/stores/resourceForm'
import { useRdbmsResourceStore } from '@/m_resource/stores/rdbmsResource'
import FormWidgetExeBase from './FormWidgetExeBase.vue'
import type { Ref, ComputedRef } from 'vue'
import { DateTime } from "luxon";
import  {parse,evaluate } from 'jse-eval'
import Eval from 'jse-eval';
import Utility from '@/g_libs/kt-utility';

const utility:Utility = new Utility()

const props = defineProps({
    fd: Object,
    parentResourceWidgetId: String,
    cssPrefix:String,
    dataRef: Object,
});


const fun:Utility = new Utility()
let oldv:any

//const evaluator = new Eval() //NOT USED CURRENTLY

const pageStore = usePageStore()
const rdbmsStore = useRdbmsResourceStore()

const dataSrcTypeRef = inject("dataSrcTypeRef") 

let fd: Ref<any> = toRef(props, 'fd')
let parentId: Ref<any> = toRef(props, 'parentResourceWidgetId') !== undefined ? toRef(props, 'parentResourceWidgetId') : ref('')

const { createCssLink, authStore, me ,formStyleId} = WidgetBaseExe(fd,parentId.value)

let cssPrefixR:Ref<string | undefined> = toRef(props,'cssPrefix')
if (!cssPrefixR.value) cssPrefixR.value = parentId.value

let formDataRules: any = {}
if (me?.Required) formDataRules[me?.FieldName] = { required: helpers.withMessage(me?.ErrorMsg, required) }
const formStore = useResourceFormStore()

formStore.addValidationRule(parentId?.value, me?.FieldName, formDataRules)
pageStore.setWidgetLoaded(me?.UuidRef)
const dataRef: Ref<any> = toRef(props, 'dataRef')

const formData: any = {}
const showSearchFilters = true
const parentWidget: any = pageStore.getWidgetOnCurrentPage(parentId.value)
const recId = parentWidget?.rdbmsRecId

if (me?.UseSystemDate) {
    if (me?.Dbtype === 'datefielddefinition') 
            dataRef.value[me?.FieldName] = DateTime.now().toFormat("yyyy-MM-dd")
    else 
            dataRef.value[me?.FieldName]=DateTime.now().toFormat("yyyy-MM-dd'T'HH:mm")
 }  


let applyDateFilters = function (index: number) {

    me.Search = searchFilters[index];

    if (dataRef.value[me?.FieldName] != undefined)  me.Search.value = dataRef.value[me?.FieldName]
    if (me?.Search.id == 4)
         me.Search.ShowSecondDate = true // kad je  between
    else 
        me.Search.ShowSecondDate = false

}

let on_change_action = function () {
    if (me?.Dbtype === "datefielddefinition" && dataRef.value[me?.FieldName] !== undefined && dataRef.value[me?.FieldName] !== null) {
        let tmpDate: Date = new Date(dataRef.value[me?.FieldName])
        tmpDate.setHours(12, 0, 0, 0)
        dataRef.value[me?.FieldName] = tmpDate

    }
}

let on_change_between = function (between: string) {
    if (me?.Dbtype === "datefielddefinition" && me?.Search[between] !== undefined && me?.Search[between] !== null) {
        me.Search[between].setHours(12, 0, 0, 0);
    }
}


let calculatedDate =  () => {
    let evaluated:any 
    let datev:Date | null 

    if ( me?.Parameters?.ValueFormula) {
        let ast:any = parse(me?.Parameters?.ValueFormula)
           
        let data = dataRef.value

        const context = {
                ...fun,
                ...data, //TODO - vidjeti da li je pametno dataRef ovdje otpakiravati zbog reaktivnosti?????
                Date,
                Array,
                Math,  
        }
        evaluated = evaluate(ast, context)
        datev=evaluated
        
    } else {
       if (typeof dataRef.value[me?.FieldName] == 'string') 
            datev = new Date(dataRef.value[me?.FieldName])
        else if (dataRef.value[me?.FieldName]) 
            datev = dataRef.value[me?.FieldName]
        else datev=null  
    }


    let finalDate:string

    if (datev) {
         if (me?.Dbtype === 'datefielddefinition')   
            return DateTime.fromJSDate(datev).toFormat("yyyy-MM-dd")
         else
            return DateTime.fromJSDate(datev).toFormat("yyyy-MM-dd'T'HH:mm")
    }
    else return null

    
    }


    let formatedDate  = computed(() => {
        let dat:any, final:string
        if (typeof dataRef.value[me?.FieldName] == 'string') 
                dat = new Date(dataRef.value[me?.FieldName])
        else if (dataRef.value[me?.FieldName]) 
                dat = dataRef.value[me?.FieldName]
        else dat=null       

        if (dat)
            return DateTime.fromJSDate(dat).toFormat(me.format.replace(":sss", ""))
        else
             return ''

    })


   if ( me?.Parameters?.ValueFormula?.length) {
    
    watch( dataRef, (newValue, oldValue) => {

    let newv = calculatedDate()

    if ( oldv !=  newv)    {
            dataRef.value[me?.FieldName] = newv
            oldv = newv

    } }, { deep: true })
   }    
   
    


    let calcReadOnlyClass:ComputedRef<string> = computed(()=> {
      let css = ''
      if (me?.Parameters?.BorderForReadOnly) css=css+'form-control'
      css+=' element-style-'+cssPrefixR.value+'-'+me?.ElementType+'-'+me?.UuidRef
      return css
    })


    const  searchFilters:Array<Record<PropertyKey,any>> = [
      {   "id":1, "filter": "gt", "name": "From date",    "class": "btn-sm btn-light",      "icon": "fa fa-chevron-right" },
      {   "id":2, "filter": "lt",  "name": "To date",    "class": "btn-sm btn-light",      "icon": "fa fa-chevron-left" },
      {   "id":3, "filter": "eq",  "name": "Ends",    "class": "btn-sm btn-light",      "icon": "fa fa-bars" },
      {   "id":4, "filter": "between",  "name":"Between <date1> and <date2>",  "class": "btn-sm btn-light",   "icon": "fa fa-expand"  }
    ]
    
    me.searchFilters= searchFilters
    if (me.Search==undefined) me.Search= me.searchFilters[1]  //contains

    if (me?.UseDefault) {
        if (me?.Dbtype === 'datetimefielddefinition')
            dataRef.value[me?.FieldName]=  DateTime.fromISO(me?.DefaultValue.value, { zone: DateTime.local().zoneName }).toFormat("yyyy-MM-dd'T'HH:mm");
        else
            dataRef.value[me?.FieldName]= me?.DefaultValue.value.substring(0,10)
      }

    
    //if (me?.Parameters?.ValueFormula?.length)   dataRef.value[me?.FieldName] = calculatedDate()


    //if (me?.Parameters?.ValueFormula?.length)  me.ReadOnly=true //MIGOR  - force readonly when formula

</script>

<template>

    <FormWidgetExeBase :fd="me" :parent-resource-widget-id="parentId" :form-style-id="cssPrefixR" @apply-filters="applyDateFilters">

        <div WRITTABLE v-if="!me?.ReadOnly" :title="me?.UuidRef + ' / ' + me?.FieldName">

            <div name="first-date"   v-if="!me?.Search?.ShowSecondDate"> 
              <!--  <input  datefield v-if=" me?.Dbtype === 'datefielddefinition'"  type="date"  v-model="dataRef[me?.FieldName]"   :id="parentId + me?.UuidRef" :placeholder="me?.SearchText"
                    :class="'element-style-' + cssPrefixR + '-' + me?.ElementType + '-' + me?.UuidRef"
                    :tabindex="me?.TabIndex" class="default-style" /

                    V-MODEL U OVOM SLUČAJU NE RADI ŠTO JE ZABRINJAVAJUĆE JER GA KORISITIMO DOSTA NA OVAKAV NAČIN!!!! (OVO DOLE RADI)

                    >-->

                    <input  datefield v-if=" me?.Dbtype === 'datefielddefinition'"  type="date" @input="dataRef[me?.FieldName] = ($event.target as HTMLInputElement).value" :value="dataRef[me?.FieldName]"   :id="parentId + me?.UuidRef" :placeholder="me?.SearchText"
                    :class="'element-style-' + cssPrefixR + '-' + me?.ElementType + '-' + me?.UuidRef"
                    :tabindex="me?.TabIndex" class="default-style" />


            
                <input  datetime  v-if=" me?.Dbtype === 'datetimefielddefinition'"  type="datetime-local" v-model="dataRef[me?.FieldName]"   :id="parentId + me?.UuidRef" :placeholder="me?.SearchText"
                     :class="'element-style-' + cssPrefixR + '-' + me?.ElementType + '-' + me?.UuidRef"
                     :tabindex="me?.TabIndex" class="default-style" />        
            </div>

            <div name="second-date" v-if="me?.Search?.ShowSecondDate">
                <template WHEN_TYPE_DATE v-if=" me?.Dbtype === 'datefielddefinition'">
                    <input type="date"   v-model="me.Search.between1"  :id="parentId + me?.UuidRef + '-1'" 
                    @change="on_change_between('between1')" 
                    :class="'element-style-' + cssPrefixR + '-' + me?.ElementType + '-' + me?.UuidRef" :title="me?.UuidRef"  class="default-style"   />
                
                    <input type="date"  v-model="me.Search.between2"  :id="parentId + me?.UuidRef + '-2'" 
                    @change="on_change_between('between2')" 
                    :class="'element-style-' + cssPrefixR + '-' + me?.ElementType + '-' + me?.UuidRef" :title="me?.UuidRef"  class="default-style  margin-from-top"  />
                </template>
                <template WHEN_TYPE_DATETIME v-if=" me?.Dbtype === 'datetimefielddefinition'">
                    <input type="datetime-local"   v-model="me.Search.between1"  :id="parentId + me?.UuidRef + '-1'" 
                    @change="on_change_between('between1')"
                    :class="'element-style-' + cssPrefixR + '-' + me?.ElementType + '-' + me?.UuidRef" :title="me?.UuidRef"  class="default-style"   />
                
                    <input type="datetime-local"   v-model="me.Search.between2"  :id="parentId + me?.UuidRef + '-2'" 
                    @change="on_change_between('between2')"  
                    :class="'element-style-' + cssPrefixR + '-' + me?.ElementType + '-' + me?.UuidRef" :title="me?.UuidRef"  class="default-style margin-from-top"  />
                </template>
            </div>

        </div> <!--if-->

        <div v-if="me?.ReadOnly" :title="calculatedDate() + ' ' + me?.UuidRef + ' / ' + me?.FieldName" :class="calcReadOnlyClass">
     
              {{  formatedDate }}  &nbsp;
           
        </div>
    
           <!--
             <div  class= "input-group mt-1"  ng-if="fd.Dbtype=='datetimefielddefinition'">	      
                  <input kt-style-attribute fd="fd" style-type="'element'"  type="datetime-local" class="form-control" ng-model="fd.Search.between2" placeholder="To date"  ng-model="fd.Search.between2" name="{{fd.Name}}TST2" close-text="Close" ng-change="fd.on_change_between('between2')"/>
             </div>
            -->

        </FormWidgetExeBase>
   

</template>

<style scoped>
.default-style {
    display: block;
    width: calc(100% - 25px);
    /*height: calc(1.5em + 0.75rem + 2px);*/
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #26314d;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #E7E9EC;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .default-style {
        transition: none;
    }
}

.margin-from-top {
margin-top: 0.25rem;
}
.default-style::-ms-expand {
    background-color: transparent;
    border: 0;
}

.default-style:focus {
    color: rgba(14, 26, 57, 0.9);
    background-color: #fff;
    border-color: #9eb6f3;
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgba(44, 96, 229, 0.25);
}

.default-style::placeholder {
    color: #B7BAC4;
    opacity: 1;
}

.default-style:disabled,
.default-style[readonly] {
    background-color: #F3F3F5;
    opacity: 1;
}
</style>