<script setup lang="ts">

    import { ref } from "vue";
    //import { storeToRefs } from 'pinia';
    //import { useAlertStore } from '@/g_stores/alert';
    import { usePageStore } from '@/m_page/stores/page';
    import { useApplicationStore } from '@/g_stores/application';
    import { toRef } from "vue";
    import type {  Ref } from "vue";
    import  WidgetBaseExe  from './WidgetBaseExe'
   
    const props = defineProps({
       fd: Object,
       parentResourceWidgetId:String,
       cssPrefix:String,
       dataRef:Object
    });

    let parentId = toRef(props,'parentResourceWidgetId')
    const pageStore = usePageStore()
    const appStore = useApplicationStore()
    if (parentId.value==undefined) parentId.value=pageStore.getCurrentPage.defId
    let fdRef = toRef(props,'fd')
    let mydata = toRef(props,'dataRef')
    const {createCssLink,authStore,me,formStyleId } = WidgetBaseExe(fdRef,parentId.value,false)
    
    const sizeX:number = me?.SizeX
    let cssPrefixR:Ref<string | undefined> = toRef(props,'cssPrefix')
    if (!cssPrefixR.value) cssPrefixR.value = parentId.value

//this is class
//p-0 col-lg-fd.SizeX col-md-fd.Parameters.SizeXMd col-sm-fd.Parameters.SizeXSm col-fd.Parameters.SizeXXs fd.Parameters.customCSS


let columnCss:string = me?.Parameters?.customCSS
if (columnCss==undefined) columnCss=''

const headerBackgroundColor: Ref<string | undefined> = ref(me?.Parameters?.headerBackgroundColor)
const headerFontBold: Ref<string | undefined> = ref(me?.Parameters?.HeaderFontBold ? '700':'')
const headerFontColor: Ref<string | undefined> = ref(me?.Parameters?.HeaderFontColor)
const headerFontSize: Ref<string | undefined> = ref(me?.Parameters?.HeaderFontSize)
const headerTextAlign: Ref<string | undefined> = ref(me?.Parameters?.HeaderTextAlign)

    const getComponent = (cName:string) => {

        if (cName.toLowerCase()=='widgeteresource') return 'WidgetResourceExe'
        else return cName+'Exe'
    }

    const getComponentByType = (elementType:string) => {
    let cName:string = 'Widget'+elementType.substring(0,1).toUpperCase()+elementType.substring(1)+'Exe'
    if (elementType=='eresource')  cName = 'WidgetResourceExe'
    return cName
}
</script>

<template>

     
    <div v-show="me?.ShowField && !pageStore.getOpenPageInProgress"  
            class="col-grid-for-elements" 
            :class="'element-style-'+cssPrefix+'-'+me?.ElementType+'-'+me?.UuidRef+' '+columnCss"
            style="position:relative"> <!--position relative for action buttons not to overflow-->
    
        <div v-if="me?.ShowHeader" class="header-style col-header"> {{me?.Name}} </div>
        <template  v-for="widget in me?.layout" :key="widget.id">
            <div v-if="!widget.ComponentName && appStore.debugMode" class="red-font">Component name is undefined for {{ widget.UuidRef }} / {{widget.ElementType}}</div>
            <component v-if="widget.ComponentName" :data-ref="mydata" :css-prefix="cssPrefixR" :parent-resource-widget-id="parentId" :fd="widget" :is="getComponent(widget.ComponentName)" />
            <component v-if="!widget.ComponentName" :data-ref="mydata" :css-prefix="cssPrefixR" :parent-resource-widget-id="parentId" :fd="widget" :is="getComponentByType(widget.ElementType)" />
        </template>
    </div>
</template>

<style scoped>
  .red-font{
        color: red;
        font-size:medium;
    }
.header-style {
  background-color: v-bind(headerBackgroundColor);
  color: v-bind(headerFontColor);
  font-weight: v-bind(headerFontBold);
  text-align: v-bind(headerTextAlign);

}

.col-header{
    font-size:1rem;
    font-weight: 600;
    color: rgba(14, 26, 57, 0.6);
    line-height: 1.18;
    letter-spacing: .25px;
   /* text-transform: uppercase;*/
    margin-bottom: 1rem;
    grid-column: auto / span 24;

}
.col-container{
    grid-column: auto / span 24;
    display:grid
}
.col-grid-for-elements{
    display: grid;
    grid-template-columns: repeat(24,1fr);
    grid-auto-flow: row; 
    column-gap: 1.25%;
    align-content: start;
  
    /*   
  grid-column: auto / span 24;
    height: fit-content;
    column-gap: 0.5rem;*/
}
.col-grid-for-elements:empty {
    gap: 0px;
}
.task-widget .col.grid{
    column-gap: 0.5rem;   
}
</style>