<script setup lang="ts">

import { Bar, Doughnut, Line, Pie, PolarArea, Radar, Bubble, Scatter } from 'vue-chartjs'
import { Chart as ChartJS, Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale } from 'chart.js'
import { toRef, reactive,computed,ref,watch } from "vue";
import type { Ref } from 'vue'
  
  const testdata = {  
        labels: [ 'January',  'February', 'March',  'April',  'May',  'June',  'July',  'August',   'September',  'October', 'November', 'December'],
        datasets: [  {
            label: 'Data One',
            backgroundColor: '#f87979',
            data: [40, 20, 12, 39, 10, 40, 39, 80, 40, 20, 12, 11]  
        } ]
    }


  ChartJS.register(Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale)
  
  const props = defineProps({
        params: Object,
        chartData:Object,
        chartOptions:Object,
    });
  
  let params:Ref<any> = toRef(props,'params')
  let chartData:Ref<any> = toRef(props,'chartData')
  let chartOptions:Ref<any> = toRef(props,'chartOptions')
  </script>

<template>

<div style="display: inline-block;    position: relative;    width: 100%;" v-if="chartData"> 
 <!--chart: {{ params?.chartType.name }}-->
   <Doughnut v-if="params?.chartType.name=='doughnut'" :data="chartData" :options="chartOptions" />
   <PolarArea v-if="params?.chartType.name=='polararea'" :data="chartData" :options="chartOptions" />
   <Bubble v-if="params?.chartType.name=='bubble'" :data="chartData" :options="chartOptions" />
   <Scatter v-if="params?.chartType.name=='scatter'" :data="chartData" :options="chartOptions" />
   <Radar v-if="params?.chartType.name=='radar'" :data="chartData" :options="chartOptions" />
   <Bar v-if="params?.chartType.name=='bar'" :data="chartData" :options="chartOptions" />
   <Line v-if="params?.chartType.name=='line'" :data="chartData" :options="chartOptions" />
   <Pie v-if="params?.chartType.name=='pie'" :data="chartData" :options="chartOptions" />
   <PolarArea v-if="params?.chartType.name=='polar'" :data="chartData" :options="chartOptions" />
  </div>
</template>