<script setup lang="ts">

    import { toRef,ref,reactive , inject} from "vue"
    import { computed, watch,onMounted, onBeforeMount, onBeforeUnmount, onUnmounted } from "vue";
    import  WidgetBaseExe  from './WidgetBaseExe'
    import { required,email,helpers } from '@vuelidate/validators'
    import { usePageStore } from '@/m_page/stores/page'
    import { useRdbmsResourceStore } from '@/m_resource/stores/rdbmsResource'
    import { useResourceFormStore  } from '@/m_resource/stores/resourceForm'
    import { useEventBusStore } from "@/g_stores/eventBus";
    import type { Ref , ComputedRef} from 'vue'
    import { useCodesStore } from "@/g_stores/codes"
    import { useApplicationStore } from "@/g_stores/application"
    import  FormWidgetExeBase  from './FormWidgetExeBase.vue'
    import  DropDown  from '@/g_components/DropDown.vue'
    import  DropDownSingle  from '@/g_components/DropDownSingle.vue'
    import  WidgetEditCodes  from '@/g_components/WidgetEditCodes.vue'

   
    const formStore = useResourceFormStore()
    const pageStore = usePageStore()
    const rdbmsStore = useRdbmsResourceStore()
    const codesStore = useCodesStore()
    const eventBus = useEventBusStore()
    const applicationStore = useApplicationStore()

    const props = defineProps({
        fd: Object,
        parentResourceWidgetId:String,
        cssPrefix:String,
        dataRef:Object,
  
    });
   

    let parentId:Ref<any> = toRef(props,'parentResourceWidgetId')!==undefined ? toRef(props,'parentResourceWidgetId') : ref('')
    let fd = toRef(props,'fd')
    let showEditCodes=ref(false)
    
    const {createCssLink,authStore,me,formStyleId} = WidgetBaseExe(fd,parentId.value)
    const dataRef:Ref<any> = toRef(props,'dataRef')

    const dataSrcTypeRef = inject("dataSrcTypeRef") 
    let cssPrefixR:Ref<string | undefined> = toRef(props,'cssPrefix')
    if (!cssPrefixR.value) cssPrefixR.value = parentId.value

    pageStore.setWidgetLoaded(me?.UuidRef)
    let codeId:Ref<string> = ref('')

    if (typeof me?.CodeId==='number') codeId.value = me?.CodeId.toString()+'-'+authStore.getCurrentUserOrgId
    else codeId.value = me?.CodeId
    
    const codeKey:Ref<string>=ref(codeId.value + '-' + authStore.getCurrentUserLangId.toString())
    
    let selectedItemColor:ComputedRef<string> = computed(()=>{return rdbmsStore.resourceData[parentId.value]?.data[me?.FieldName]===undefined ? '#B7BAC4': '#26314d' } )
    const parentWidget:any = pageStore.getWidgetOnCurrentPage(parentId.value)
    const recId = parentWidget?.rdbmsRecId
    
    let myUuid =  computed(() => { 
      if (parentId.value) return parentId.value+'-'+me.UuidRef
      else return me.UuidRef
    })
    let isSelected = reactive<{ [key: string]: boolean }>({});

    let customStyle = computed(()=>{
      if (dataRef?.value[me?.FieldName]==undefined) return 'color:#B7BAC4 !important;'
      else return ''
    })
    let fontColor:string = 'color:'+me?.Parameters?.ValueFontColor+' !important;'

    let removeItem= function(event:any, itemId:any) {
      // Implement the removeItem function logic here.
    }

    let clickItem = (item:any, isSelected:any) => {
      if (isSelected[item.id]) 
          isSelected[item.id]=false
      else  
        isSelected[item.id]= true
      if (!me?.Multiline) dataRef.value[me?.FieldName]=item
      eventBus.emit(pageStore.currentPage.instanceId+'-selectionChanged-'+myUuid.value,dataRef.value[me?.FieldName])
    }

    let procSelectedItem = (item:any) => {
      me.DefaultValue={value:item}
      eventBus.emit(pageStore.currentPage.instanceId+'-selectionChanged-'+myUuid.value,item)
    }

    let loadItemsOnChange= function() {
      // Implement the loadItemsOnChange function logic here.
    }


    const selectCode = ()=>{

      if (typeof(dataRef.value[me?.FieldName]) == 'number') mySelectedCode=dataRef.value[me?.FieldName] //dataRef.value[me?.FieldName] = codesStore.getCodeList( codeId.value, authStore.getCurrentUserLangId).filter( (item)=> item.id == dataRef.value[me?.FieldName] )[0]
      if (dataRef.value[me?.FieldName]?.id) mySelectedCode=dataRef.value[me?.FieldName]?.id 
      if (me?.UpdateWithDefault && !me?.NoUpdate) mySelectedCode = codesStore.getCodeByUid(me?.CodeId,authStore.getCurrentUserLangId,me?.DefaultValue?.value?.uid)  // dataRef.value[me?.FieldName] = codesStore.getCodeList( codeId.value, authStore.getCurrentUserLangId).filter( (item)=> item.id ==me?.DefaultValue?.value?.id )[0]
      if (me?.Parameters?.UseUserProperty) mySelectedCode = authStore.getcurrUserAdvProps(me?.Parameters?.UserPropertyId) //return codesStore.getCodeList( codeId.value, authStore.getCurrentUserLangId).filter( (item)=> item.id == authStore.getcurrUserAdvProps(me?.Parameters?.UserPropertyId))[0] 
      if (mySelectedCode) {
        isSelected[mySelectedCode]=true
        dataRef.value[me?.FieldName] = codesStore.getCodeListSelected(codeId.value,authStore.getCurrentUserLangId,isSelected)[0]
        if (initialValue && typeof(initialValue) == 'number') {
          let isSelectedInitial:Record<number,boolean> = {}
          isSelectedInitial[initialValue] = true
          initialValueObject = codesStore.getCodeListSelected(codeId.value,authStore.getCurrentUserLangId,isSelectedInitial)[0] 
        }
      }

    }
    let initialValue:number | undefined
    if (typeof(dataRef.value[me?.FieldName])) initialValue =  dataRef.value[me?.FieldName]
    let initialValueObject:Record<PropertyKey,any> | undefined = {}

    const fetchCodes = async ()=>{
      await codesStore.fetchCodesById(codeId.value, authStore.getCurrentUserLangId)
    }
    if (!codesStore.getCodesLoaded(codeKey.value)) fetchCodes() 
    let mySelectedCode:number = 0
    let i:number
  
    if (me?.Multiline && Array.isArray(dataRef.value[me?.FieldName])){
      isSelected = {}
      for (i=0;i<dataRef.value[me?.FieldName].length;i++) isSelected[dataRef.value[me?.FieldName][i]]=true
    }
    if (me?.Multiline && me?.UpdateWithDefault && !me?.NoUpdate && Array.isArray(me?.DefaultValue?.value))
    {
      isSelected = {}
      for (i=0;i<me?.DefaultValue?.value.length;i++) isSelected[me?.DefaultValue?.value[i]?.id]=true
    }
    if (me?.Multiline && me?.Parameters?.UseUserProperty && Array.isArray(authStore.getcurrUserAdvProps(me?.Parameters?.UserPropertyId))) 
    {
      let mySelectedCodes:Array<any> = authStore.getcurrUserAdvProps(me?.Parameters?.UserPropertyId)
        isSelected = {}
      for (i=0;i<mySelectedCodes.length;i++) isSelected[mySelectedCodes[i]?.id]=true
    }
    if (!me?.Multiline){
      if (codesStore.getCodesLoaded(codeKey.value)) selectCode()
      else{
          watch( () => codesStore.getCodesLoaded(codeKey.value),(newValue,oldValue) => {
            if  (!oldValue && newValue) selectCode()
          
        })
      }
    }
    let codesLoaded:boolean = false
    
    let selectedItems:ComputedRef<Record<PropertyKey,any> | Array<Record<PropertyKey,any>> | undefined | number> = computed( () => {
        
        if (!codesLoaded && codesStore.getCodesLoaded(codeKey.value)){
            formStore.setWidgetDataLoaded(pageStore.currentPage.instanceId,me?.UuidRef,parentId.value)
            codesLoaded=true
          }
        if (isSelected)
        {
          let selectedArray:Array<any> = codesStore.getCodeListSelected(codeId.value,authStore.getCurrentUserLangId,isSelected)
          if (me?.Multiline) return selectedArray
          else if (selectedArray.length) return selectedArray[0]
          else return initialValue
        }else return initialValue
    })

   if (!me?.ReadOnly && me?.Multiline) dataRef.value[me?.FieldName] = selectedItems
   else if (!me?.ReadOnly && !me?.Multiline)
   {
   
    if (codesStore.getCodeListSelected(codeId.value,authStore.getCurrentUserLangId,isSelected).length) dataRef.value[me?.FieldName] = codesStore.getCodeListSelected(codeId.value,authStore.getCurrentUserLangId,isSelected)[0]
   
    if (!codesStore.getCodesLoaded(codeKey.value))
    {
        watch( () => codesStore.getCodesLoaded(codeKey.value),(newValue,oldValue) => {
          if  (!oldValue && newValue)
          {
            if (codesStore.getCodeListSelected(codeId.value,authStore.getCurrentUserLangId,isSelected).length) dataRef.value[me?.FieldName] = codesStore.getCodeListSelected(codeId.value,authStore.getCurrentUserLangId,isSelected)[0]
            formStore.setWidgetDataLoaded(pageStore.currentPage.instanceId,me?.UuidRef,parentId.value)
          }
        })
    }else formStore.setWidgetDataLoaded(pageStore.currentPage.instanceId,me?.UuidRef,parentId.value)
  }
    let calcReadOnlyClass:ComputedRef<string> = computed(()=> {
      let css = ''
      if (me?.Parameters?.BorderForReadOnly) css=css+'form-control'
      css+=' element-style-'+parentId.value+'-'+me?.ElementType+'-'+me?.UuidRef
      return css
    })
    let titleCalc:ComputedRef<string> = computed(()=> {
      let titleValue:string=''
      if (!me?.Multiline && initialValueObject?.name && initialValueObject?.id!=dataRef.value[me?.FieldName]?.id) titleValue = me.Label+' changed from '+initialValueObject?.name+' to '+dataRef.value[me?.FieldName]?.name
      else titleValue = me.Label+' = '+dataRef.value[me?.FieldName]?.name
      if (applicationStore.debugMode) titleValue = titleValue+'\n'+me.UuidRef+' / '+me?.FieldName
      return titleValue
    })

    me.titleCalc = titleCalc

    let applyListFilters = function (index: number) {

        me.Search = searchFilters[index];

        if (dataRef.value[me?.FieldName] != undefined)  me.Search.value = dataRef.value[me?.FieldName]

    }
    
    const  searchFilters:Array<Record<PropertyKey,any>> = [
                            {id:1,filter:'onlist',name:"On list",icon:"fa fa-check", class: "btn-sm btn-light",},
                            {id:2,filter:'notonlist',name:"Not on list", class: "btn-sm btn-light",icon:"fa fa-times"},
                        ]

    me.searchFilters= searchFilters
    if (me.Search==undefined) me.Search= searchFilters[0]  //onlist

    let addCode = () => {
  
      showEditCodes.value=true
    }

    let saved=() => {
      showEditCodes.value=false
    }

      let closed = () => {
        showEditCodes.value=false
      }
</script>

<template>


    <FormWidgetExeBase :fd="me" :parent-resource-widget-id="parentId" v-if="codesStore.getCodesLoaded(codeKey)" :form-style-id="cssPrefixR" @apply-filters="applyListFilters">
       
     <div class="d-flex gap-8">

      <div class="flex-grow-1">
           <DropDownSingle :fd="me" v-if="!me?.ReadOnly && !me?.Multiline" @selectItem="procSelectedItem" :custome-style="customStyle" :field-name="me?.FieldName" :items="codesStore.getCodeList( codeId, authStore.getCurrentUserLangId,me?.Parameters?.Condition)" :data-ref="dataRef" :isSelected="isSelected" :css-style="cssPrefixR+'-'+me?.ElementType+'-'+me?.UuidRef" :parentResourceWidgetId="me?.UuidRef"> 
          </DropDownSingle>
          <div v-if="me?.ReadOnly && !me?.Multiline" :title="titleCalc" :class="calcReadOnlyClass"> {{dataRef[me?.FieldName+'.name']}}</div>
      
      
        <!-- Multiple - Desktop - Writable -->
          <DropDown  :fd="me" v-if="!me?.ReadOnly && me?.Multiline"  @clickItem="clickItem" :items="codesStore.getCodeList(codeId, authStore.getCurrentUserLangId,me?.Parameters?.Condition)" :isSelected="isSelected" :results="dataRef[me?.FieldName]" :parentResourceWidgetId="me?.UuidRef"> 
          </DropDown>
          <!-- Multiple - Mobile  - Writable-->
          <select multiple v-if="!me?.ReadOnly && me?.Multiline" class="resource-type-sm  form-control  w-100" v-model="dataRef[me?.FieldName]" :style="customStyle" :class="'default-style element-style-'+cssPrefixR+'-'+me?.ElementType+'-'+me?.UuidRef" :title="titleCalc" :placeholder="me?.SearchText">
                <option v-if="!me?.Required" :value="null" selected style="color:#B7BAC4">{{me?.SearchText}}</option>  
                <option v-if="me?.Required" :value="null" selected disabled style="color:#B7BAC4">{{me?.SearchText}}</option>  
                <option v-for="codeItem in codesStore.getCodeList(codeId, authStore.getCurrentUserLangId,me?.Parameters?.Condition)" :key="codeItem.id" :value="codeItem" :style="fontColor">{{codeItem.name}}</option>
          </select>
          <!-- Multiple - ReadOnly  -->
          <div v-if="me?.ReadOnly && me?.Multiline" :title="titleCalc" :class="calcReadOnlyClass"> 
            <div v-for="item in dataRef[me?.FieldName]">
              {{item}}
            </div>
          </div>
    
      </div>

      <div v-if="me.isEditable" class="px-0">
            <button title="Edit selected list" type="button"   @click="addCode" for="modal-toggle" class="bold btn  btn-outline-primary">
              <i class="fas fa-pen"/>
            </button>
      </div>

      </div>

    </FormWidgetExeBase>

    <WidgetEditCodes v-if="me.isEditable" :fd="fd" :show-edit-codes="showEditCodes" @saved="saved" @closed="closed">xxxx</WidgetEditCodes>


  </template>

<style scoped>
* {
    box-sizing: border-box;
}

.list-wrapper{
  display: grid;
  grid-template-columns: repeat(24,1fr);
  grid-auto-flow: row;
}

.default-style{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size:1rem;
    line-height: 1.5;
    color: #26314d;
    background-color: #fff;
    background-clip: paddiv-box;
    border: 1px solid #E7E9EC;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .default-style {
      transition: none; 
    } 
    }
  .default-style-ms-expand {
    background-color: transparent;
    border: 0; }
  .default-style:focus {
    color: rgba(14, 26, 57, 0.9);
    background-color: #fff;
    border-color: #9eb6f3;
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgba(44, 96, 229, 0.25); }
  .default-styleplaceholder {
    color: #B7BAC4;
    opacity: 1; }
  .default-style:disabled, .default-style[readonly] {
    background-color: #F3F3F5;
    opacity: 1; }



</style>