<script setup lang="ts">

    import { toRef,ref,computed,watch,reactive } from "vue"
    import { usePageStore } from '@/m_page/stores/page'
    import { useRdbmsResourceStore } from '@/m_resource/stores/rdbmsResource'
    import  WidgetBaseExe  from './WidgetBaseExe'
    import { required,email,helpers } from '@vuelidate/validators'
    import { useResourceFormStore } from '@/m_resource/stores/resourceForm'
    import { useUserStore } from '@/m_auth/stores/user'
    import type { Ref,ComputedRef } from 'vue'
    import  DropDown  from '@/g_components/DropDown.vue'
    import  DropDownSingle  from '@/g_components/DropDownSingle.vue'

    const props = defineProps({
        fd: Object,
        parentResourceWidgetId:String,
        cssPrefix:String,
        dataRef:Object,
    });

    let fd = toRef(props,'fd')
    let parentId:Ref<any> = toRef(props,'parentResourceWidgetId')!==undefined ? toRef(props,'parentResourceWidgetId') : ref('')
    let cssPrefixR:Ref<string | undefined> = toRef(props,'cssPrefix')
    if (!cssPrefixR.value) cssPrefixR.value = parentId.value

    const {createCssLink,authStore,me,formStyleId} = WidgetBaseExe(fd,parentId.value,false)
    const rdbmsStore = useRdbmsResourceStore()
    const pageStore = usePageStore()
    const userStore = useUserStore()
    let formDataRules:any = {}

    const dataRef:Ref<any> = toRef(props,'dataRef')

    if (me?.Required)    formDataRules[me?.FieldName] = { required:helpers.withMessage(me?.ErrorMsg, required) }

    const formStore = useResourceFormStore()
    if (Object.keys(formDataRules).length>0 && parentId!==undefined) {
        formStore.addValidationRule(parentId?.value, me?.FieldName,formDataRules)
    }
    
    let isSelected = reactive<{ [key: string]: boolean }>({});
    let mySelectedUser:number = 0
    if (!userStore.getUsersLoaded){
      
      userStore.getUsersGroups('users')

      watch( () => userStore.getUsersLoaded,(newValue,oldValue) => {
                  if  (!oldValue && newValue) {
                    if (me?.PopulateType.toString()!='2' && typeof(dataRef.value[me?.FieldName]) == 'number') mySelectedUser = dataRef.value[me?.FieldName]
                    if (me?.PopulateType.toString()=='2') dataRef.value[me?.FieldName] = mySelectedUser = authStore?.getCurrentUser?.userid
                    if (mySelectedUser) {
                      isSelected[mySelectedUser]=true
                      dataRef.value[me?.FieldName] = userStore.getSelectedUser(isSelected,me?.Parameters?.DisplayName)[0]
                    }
                    formStore.setWidgetDataLoaded(pageStore.currentPage.instanceId,me?.UuidRef,parentId.value)
                  }
              })
      } else {
        if (me?.PopulateType.toString()!='2' && typeof(dataRef.value[me?.FieldName]) == 'number') mySelectedUser = dataRef.value[me?.FieldName]
        if (me?.PopulateType.toString()=='2') dataRef.value[me?.FieldName] = mySelectedUser = authStore?.getCurrentUser?.userid
        if (mySelectedUser) {
                      isSelected[mySelectedUser]=true
                      dataRef.value[me?.FieldName] = userStore.getSelectedUser(isSelected,me?.Parameters?.DisplayName)[0]
        }
        formStore.setWidgetDataLoaded(pageStore.currentPage.instanceId,me?.UuidRef,parentId.value)
      }

    pageStore.setWidgetLoaded(me?.UuidRef)
    
    let customStyle = computed(()=>{
      if (dataRef?.value[me?.FieldName]==undefined) return 'color:#B7BAC4 !important;'
      else return ''
    })

    let calcReadOnlyClass:ComputedRef<string> = computed(()=> {
      let css = ''
      if (me?.Parameters?.BorderForReadOnly) css=css+'form-control'
      css+=' element-style-'+parentId.value+'-'+me?.ElementType+'-'+me?.UuidRef
      return css
    })

    
    let readOnlyName:ComputedRef<string> = computed(()=> {
      let user_name:string=''
      if (me?.Parameters?.DisplayName){
        user_name=me?.Parameters?.DisplayName.replace('{{first_name}}',dataRef.value[me?.FieldName+'.first_name']).replace('{{last_name}}',dataRef.value[me?.FieldName+'.last_name']).replace('{{username}}',dataRef.value[me?.FieldName+'.username']).replace('{{id}}',dataRef.value[me?.FieldName])
        
        if (!user_name && dataRef.value[me?.FieldName]) user_name=me?.Parameters?.DisplayName.replace('{{first_name}}',dataRef.value[me?.FieldName].first_name).replace('{{last_name}}',dataRef.value[me?.FieldName].last_name).replace('{{username}}',dataRef.value[me?.FieldName].username).replace('{{id}}',dataRef.value[me?.FieldName].id)
        
      }
      else{
        if (dataRef.value[me?.FieldName+'.name']) user_name=dataRef.value[me?.FieldName+'.name']
        else if (dataRef.value[me?.FieldName]?.name) user_name=dataRef.value[me?.FieldName].name
      }
      return user_name
    })
   
    let procSelectedItem = (item:any) => {
      me.DefaultValue={value:item}
    }

    let applyUserFilters = function (index: number) {

      me.Search = searchFilters[index];

      if (dataRef.value[me?.FieldName] != undefined)  me.Search.value = dataRef.value[me?.FieldName]

    }
    const  searchFilters:Array<Record<PropertyKey,any>> = [
                            {id:1,filter:'onlist',name:"On list",icon:"fa fa-check", class: "btn-sm btn-light",},
                            {id:2,filter:'notonlist',name:"Not on list", class: "btn-sm btn-light",icon:"fa fa-times"},
                        ]

    me.searchFilters= searchFilters

</script>

<template>
    
    <FormWidgetExeBase :fd="me" :parent-resource-widget-id="parentId" :form-style-id="formStyleId" @apply-filters="applyUserFilters">
      <!--
      <select v-if="!me?.ReadOnly" :id="parentId+me?.UuidRef" v-model="dataRef[me?.FieldName]" :class="'element-style-'+formStyleId+'-'+me?.ElementType+'-'+me?.UuidRef" :title="me?.UuidRef" :placeholder="me?.SearchText" :tabindex="me?.TabIndex" class="default-style">
              <option v-if="!me?.Required" :value="undefined" selected style="color:#B7BAC4">{{me?.SearchText}}</option>  
              <option v-if="me?.Required" :value="undefined" disabled selected style="color:#B7BAC4">{{me?.SearchText}}</option>  
              <option v-for="user in userStore.getUsers" :key="user.id" :value="user" style="color:#26314d !important">{{user.name}}</option>
      </select>
      -->

      <DropDownSingle :fd="me" v-if="!me?.ReadOnly && !me?.Multiline" @selectItem="procSelectedItem" :custome-style="customStyle" :field-name="me?.FieldName" :items="userStore.getUsers(me?.Parameters?.DisplayName)" :data-ref="dataRef" :isSelected="isSelected" :css-style="cssPrefixR+'-'+me?.ElementType+'-'+me?.UuidRef" :parentResourceWidgetId="me?.UuidRef"> 
      </DropDownSingle>

      <div v-if="me?.ReadOnly" :title="dataRef[me?.FieldName+'.name']+' '+me?.UuidRef" :class="calcReadOnlyClass"> 
        <span >{{readOnlyName}}</span>
      </div>
    </FormWidgetExeBase>
</template>

<style scoped>
.user-wrapper{
  display: grid;
  grid-template-columns: repeat(24,1fr);
  grid-auto-flow: row;
}
.default-style{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size:1rem;
    line-height: 1.5;
    color: #26314d;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #E7E9EC;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
    .default-style {
      transition: none; } }
  .default-style::-ms-expand {
    background-color: transparent;
    border: 0; }
  .default-style:focus {
    color: rgba(14, 26, 57, 0.9);
    background-color: #fff;
    border-color: #9eb6f3;
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgba(44, 96, 229, 0.25); }
  .default-style::placeholder {
    color: #B7BAC4;
    opacity: 1; }
  .default-style:disabled, .default-style[readonly] {
    background-color: #F3F3F5;
    opacity: 1; }
</style>