<script setup lang="ts">

import Utility from '@/g_libs/kt-utility';
import { storeToRefs } from 'pinia';
import { useAuthUserStore } from '@/m_auth/stores/authUser';
import { useTaskStore } from '@/g_stores/task';
import { usePageStore } from '@/m_page/stores/page';
import { useDatasetStore } from '@/g_stores/dataset';
import { useRdbmsResourceStore } from '@/m_resource/stores/rdbmsResource';
import { useResourceDefinitionStore } from '@/m_resource/stores/resourceDefinition';
import { toRef, reactive, computed, ref, inject } from "vue";
import router from '@/g_router/index';
import WidgetBaseExe from './WidgetBaseExe'
import type { Ref } from 'vue'
import { parse, evaluate, compile, jsep } from 'jse-eval'

let util = new Utility()

const chartoptions = {
    responsive: true, maintainAspectRatio: false,
    plugins: {
        legend: { display: false }
    }
}


const props = defineProps({
    fd: Object,
    parentResourceWidgetId: String,
});

let parentId: Ref<any> = toRef(props, 'parentResourceWidgetId')
let fd: Ref<any> = toRef(props, 'fd')

const { createCssLink, authStore, me } = WidgetBaseExe(fd)

const taskStore = useTaskStore()
const rdbmsStore = useRdbmsResourceStore()
const datasetStore = useDatasetStore()
const pageStore = usePageStore()
const userStore = useAuthUserStore()

taskStore.registerChildWidget(fd?.value?.UuidRef, parentId.value)
datasetStore.registerWidget(fd?.value)
let selectedRecord: Record<PropertyKey, any> = ref({})
let resourceRecordId: Ref<string> = ref('resource' + fd?.value?.Related + '_' + userStore.getCurrentUser?.organisation?.id + '_id')

pageStore.setWidgetLoaded(fd?.value?.UuidRef)
let myAnalyticWidget: string = me?.Parameters.widgetReference
let selectedAnalytics = me?.Parameters?.SelectedChartAnalytics || 0

let instanceId:Ref<any>= inject('instanceId') ?? ref('')

let anal = computed(() => {
    //if (me.UuidRef=='1cea9701-1029-403a-92da-8d17d7c796e9') 
    let rdata =rdbmsStore.getResourceData( instanceId.value +'-'+myAnalyticWidget)
    let analitics = rdata?.analytics?.[selectedAnalytics]
    return analitics?.[me?.Parameters?.CalculateFunction.name]
})


var countAll: Ref<number> = computed<number>(() => {        //summing all values for counter   anal[me?.Parameters.chartFilterField] 
    if (mydata) {
        const reducer = (accumulator: number, currentValue: number): number => accumulator + currentValue
        const data = mydata.value?.datasets[0].data as any
        return data?.reduce(reducer, 0)
    } else return 0
})

let calcStyle: Ref<string> = computed<string>(() => { 
    return "text-align: center;  margin: 1em;font-size:"+ fd.value?.Parameters?.FontSize+"7rem;"
})

let mydata = computed(() => {
    let myAnalytics = rdbmsStore.getResourceData(instanceId.value +'-'+myAnalyticWidget)
    let chartType

    if (myAnalytics?.analytics) {
        //debugger
        let errormsg = ''
        if (me?.Parameters?.CalculateFunction?.name == undefined) errormsg = 'Calculate Function not defined!'
        if (me?.Parameters?.chartType == undefined) chartType = 'counter'

        let analytics:any = myAnalytics.analytics[selectedAnalytics][me?.Parameters?.CalculateFunction.name]

        let maxvalue = -1; let minvalue = -1;  //find minvalue and maxvalue of current Anaytics (inverse logic: undefined == number is always false)))
        Object.keys(analytics).forEach(function (key, index) {
            if (!(analytics[key] < analytics[maxvalue])) maxvalue = +key
            if (!(analytics[key] > analytics[minvalue])) minvalue = +key
        })

   

        let data:Array<any> = []; let labels:Array<string> = []
        for (var key in analytics) {
            labels.push(key)
            data.push(analytics[key])
        }

        let colors = util.getNiceColors(data.length)

        if (me?.Parameters?.chartType?.name != undefined)
            chartType = me?.Parameters.chartType.name
        else
            chartType = me?.Parameters.chartType //counter does not have .name

        return { datasets: [{ data: data, backgroundColor: colors }], labels: labels }
    }
})



</script>


<template>
    <div WIDGETchartexe :class="'element-style-' + parentId + '-' + me?.ElementType + '-' + me?.UuidRef">
        <div v-if="me?.Parameters.chartType.name != 'counter' && me?.Parameters.chartType.name != 'script'" :id="'CHARTCanvas'+fd.PresentationId">
            
            <WidgetChart WIDGETCHART v-if="mydata && mydata.datasets[0].data.length" :params="me?.Parameters" :chartData="mydata" :chartOptions="chartoptions"> </WidgetChart>
             
            <div v-if="!mydata" style="text-align: center;">
                        <i class="fas fa-circle-notch fa-spin fa-2x" style="margin-right:0.25rem"></i>
                        <div style="margin-top:0.25rem;"> Loading chart data </div>
            </div>
            <div  v-show="mydata && mydata.datasets[0].data.length==0" :style="calcStyle">
			    {{ me?.ParametersLang?.NoDataMsg || 'No data!'}}
			</div>
        
        </div>

        <div v-if="me?.Parameters.chartType.name == 'script'"
            style=" display: flex;   flex-direction: column;  justify-content: center;  align-items: center;  padding: 24px 0;  gap: 12px;"
            id="CHARTCanvasCounter{{fd.PresentationId}}">
            <div :style="me?.Parameters.cssStyle">
                <div :style=" 'font-size:' + (me?.Parameters.FontSize || '7rem')">
                    {{ me?.Parameters.scriptValue }}

                </div>
            </div>
        </div>


        <div v-if="me?.Parameters.chartType.name == 'counter'"
            style=" display: flex;   flex-direction: column;  justify-content: center;  align-items: center;  padding: 24px 0;  gap: 12px;"
            :id="'CHARTCanvasCounter'+fd.PresentationId">

            <div :style="me?.Parameters.cssStyle">     

                <div IFFIELD v-if="me.Parameters.chartFilterField" :style=" 'font-size:' + (me?.Parameters.FontSize || '7rem')">
                   
                    <div style="text-align:center">
       
                        {{ util.formatNumber(anal?.[me?.Parameters.chartFilterField] || 0, me?.Parameters) }}

                        {{ me?.Parameters.CounterUnits }}

                    </div>
                    <div style=" font-size: calc(12px + 0.15em); text-align: center;"> {{ me?.Parameters.chartLabel }} </div>
                </div>


                <div COUNTALL v-if="!me?.Parameters.chartFilterField" :style=" 'font-size:' + ( me?.Parameters.FontSize || '7rem')">
                    <div style="text-align:center" >
                 
                        {{ util.formatNumber(countAll ?? 0, me?.Parameters) }} {{ me?.Parameters.CounterUnits }}
                    </div>
                    <div style=" font-size: calc(12px + 0.15em);text-align: center;"> {{ me?.Parameters.chartLabel }} </div>
                </div>

            </div>
        </div>

    </div>
</template>

<style scoped>
.chart-wrapper {
    grid-column: auto / span 24;
    padding-top: 1rem;
    padding-bottom: 1rem;
}</style>
