<script setup lang="ts">


    //import { RouterLink } from "vue-router";
    import { ref } from "vue";
    //import { storeToRefs } from 'pinia';
    //import { useAlertStore } from '@/g_stores/alert';
    import { useApplicationStore } from '@/g_stores/application';
    import { toRef,computed } from "vue";
    import  WidgetBaseExe  from './WidgetBaseExe'
    
    import type { Ref } from 'vue'
   
    const props = defineProps({
        fd: Object,
        parentResourceWidgetId:String,
        cssPrefix:String,
        dataRef:Object
    });

    const data:Ref<any> = toRef(props,'dataRef')
    let parentId = toRef(props,'parentResourceWidgetId')
    let fd = toRef(props,'fd')
    const {createCssLink,authStore,me,formStyleId} = WidgetBaseExe(fd,parentId.value)
    const appStore = useApplicationStore()

    if (parentId.value===undefined || parentId.value === null) parentId.value=me?.UuidRef
    const cssPrefixR:Ref<string | undefined> = toRef(props,'cssPrefix') || parentId

    
    //createCssLink()
</script>

<template>
        <div class="row-grid" :class="'element-style-'+cssPrefixR+'-'+me?.ElementType+'-'+me?.UuidRef">

            
            <template  v-for="widget in me?.layout" :key="widget.id">
                <div v-if="!widget.ComponentName && appStore.debugMode" class="red-font">Component name is undefined for {{ widget.UuidRef }} / {{widget.ElementType}}</div>
                <component v-if="widget.ComponentName" :data-ref="data" :css-prefix="cssPrefixR" :parent-resource-widget-id="parentId" :fd="widget" :is="widget.ComponentName+'Exe'" />
                <component v-if="!widget.ComponentName" :data-ref="data"  :css-prefix="cssPrefixR" :parent-resource-widget-id="parentId" :fd="widget" :is="'Widget'+widget.ElementType.substring(0,1).toUpperCase()+widget.ElementType.substring(1)+'Exe'" />
            </template>
        </div>
</template>

<style scoped>
.red-font{
        color: red;
        font-size:medium;
    }
.row-grid{
    display: grid;
    grid-template-columns: repeat(24,1fr);
    grid-auto-flow: row;
    grid-column: auto / span 24;
}
</style>