<script setup lang="ts">
   
</script>

<template>
    <div class="default-placeholder-wrapper grid-span-24">
        <slot />
    </div>
</template>

<style scoped>
.default-placeholder-wrapper{
    padding: 0.85rem;
   /* border:1px dashed purple;*/
}

.error-default{
color: red;
font-weight: 700;

}
.grid-span-24{
grid-column: auto / span 24;
}
</style>