<script setup lang="ts">

 
</script>

<template> <!--@drop="dropOnElement($event)"-->
  
    <div class="textbox-wrapper-def" >
    
 
      <label class="label-style"> Textbox label </label>
      
      <div class="element-style">
          
        <input placeholder="Placeholder..." type="text" class="default-style placeholder-style" />

      </div>
  </div>
  
</template>

<style scoped>
.placeholder-style{
opacity: 0.75;
color: purple;
border: 1px dashed purple !important;
}
.textbox-wrapper-def{
  grid-column: auto / span 24;
  transition: padding 1000ms ease-in;
}
.label-style{
  grid-column:auto / span 24;
}
.element-style{
  grid-column:auto / span 24;
}
.default-style{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size:1rem;
    line-height: 1.5;
    color: #26314d;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #E7E9EC;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
    .default-style {
      transition: none; } }
  .default-style::-ms-expand {
    background-color: transparent;
    border: 0; }
  .default-style:focus {
    color: rgba(14, 26, 57, 0.9);
    background-color: #fff;
    border-color: #9eb6f3;
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgba(44, 96, 229, 0.25); }
  .default-style::placeholder {
    color: #B7BAC4;
    opacity: 1; }
  .default-style:disabled, .default-style[readonly] {
    background-color: #F3F3F5;
    opacity: 1; }
</style>