<script setup lang="ts">

    //import { storeToRefs } from 'pinia';
    //import { useAlertStore } from '@/g_stores/alert';
    import { toRef,computed,ref } from "vue";
    import { usePageStore } from '@/m_page/stores/page';
    import { useDatasetStore } from '@/g_stores/dataset';
    import { useTaskStore } from '@/g_stores/task';
    import { useFileStore } from '@/g_stores/file';
    import  WidgetBaseExe  from './WidgetBaseExe'
    import ResourceFormExe  from '../ResourceFormExe.vue'
    import type { Ref } from 'vue'
    //define props
    const props = defineProps({
        fd: Object,
        parentResourceWidgetId:String,
    });
    let fd:Record<PropertyKey,any> = toRef(props,'fd')
    let parentId:Ref<any> = toRef(props,'parentResourceWidgetId') || ref('')
    
    const {createCssLink,authStore,me} = WidgetBaseExe(fd)
   
    const taskStore = useTaskStore()

    taskStore.registerChildWidget(fd?.value?.UuidRef,parentId.value)

    const datasetStore = useDatasetStore()

    datasetStore.registerWidget(fd.value)
    //widgetStore.fetchPublishedResourceForm(fd?.value?.UuidRef)
    const pageStore = usePageStore()
    pageStore.setWidgetLoaded(fd?.value?.UuidRef)
    
    let imageUrl:Ref<string> = ref('')

    const fileStore = useFileStore()

    let downloadImage = (fileDefId:string,fileId:string) => {
                fileStore.downloadFile(fileDefId,fileId,'img/png')
    }    

    if (me?.Parameters?.FileDefId?.id && me?.Parameters?.FileId)  downloadImage(me?.Parameters?.FileDefId?.id,me?.Parameters?.FileId)

  //  let imgWidth = computed( () => { return `${fd?.Parameters?.ImageWidth}%` })
    let imgWidth:any = computed( () =>  { return {'width': fd?.value?.Parameters?.ImageWidth.toString()+'%'}})
    
    let imgUrl:any = computed( () =>  { return fileStore.getFileUrl(me?.Parameters?.FileDefId?.id,me?.Parameters?.FileId)})
    
    const imageAlign:Ref<string | undefined> = ref(me?.Parameters?.ImageAlign)

</script>

<template>
    <div v-if="!fd?.Parameters?.hideImage" class="img-wrapper">
        <img :style="imgWidth" :src="imgUrl" />    
    </div>

</template>

<style scoped>
.img-wrapper{
    text-align:v-bind(imageAlign);
    grid-column:auto / span 24;
}
</style>