<script setup lang="ts">

    import { toRef,computed , ref} from "vue";
    import { usePageStore } from '@/m_page/stores/page';
    import  WidgetBaseExe  from './WidgetBaseExe'
    import type { Ref,ComputedRef } from 'vue'


    //define props
    const props = defineProps({
        fd: Object,
        parentResourceWidgetId:String,
    });
    
    let parentWidgetId = toRef(props,'parentResourceWidgetId')

    let fd = toRef(props,'fd')
    
    const {createCssLink,authStore,me} = WidgetBaseExe(fd,parentWidgetId.value)
    const pageStore = usePageStore()
    pageStore.setWidgetLoaded(me?.UuidRef)
    const elementWidth:Ref<number | undefined> = ref(props.fd?.Parameters?.ElementWidth)

</script>

<template>

    <div class="header-class" :class="'element-style-'+pageStore.getCurrentPage.defId+'-'+me?.ElementType+'-'+me?.UuidRef" v-if="fd?.ResponseMsg">
            <div v-if="!me?.Parameters?.ShowAsLink"   v-html="me?.ResponseMsg">
             </div>
            <div v-if="me?.Parameters?.ShowAsLink">      
                <a :href="me?.Parameters?.LinkUrl" > {{me?.ResponseMsg}}</a>
            </div>  
    </div>

</template>

<style scoped>

.header-class{
    grid-column: auto / span v-bind(elementWidth);
}
</style>