<script setup lang="ts">

    import { toRef,ref , reactive} from "vue"
    import { usePageStore } from '@/m_page/stores/page'
    import  WidgetBaseExe  from './WidgetBaseExe'
    import type { Ref } from 'vue'
    
    //define props
    const props = defineProps({
        fd: Object,
        parentResourceWidgetId:String,
        cssPrefix:String,
        dataRef:Object,
    });
    let fd = toRef(props,'fd')
    const dataRef:Ref<any> = toRef(props,'dataRef')
    let parentId:Ref<any> = toRef(props,'parentResourceWidgetId')!==undefined ? toRef(props,'parentResourceWidgetId') : ref('')

    let cssPrefixR:Ref<string | undefined> = toRef(props,'cssPrefix')
    if (!cssPrefixR.value) cssPrefixR.value = parentId.value

    const {createCssLink,authStore,me,formStyleId} = WidgetBaseExe(fd,parentId.value)
    
    
    const pageStore = usePageStore()
    pageStore.setWidgetLoaded(me?.UuidRef)
    let applyFilters = function (index: number) {

      me.Search = searchFilters[index];

      if (dataRef.value[me?.FieldName] != undefined)  me.Search.value = dataRef.value[me?.FieldName]

    }
        
    const  searchFilters:Array<Record<PropertyKey,any>> = [
      {   "id":1, "filter": "gt",   "name": "Greater than",      "class": "btn-sm btn-light",      "icon": "fa fa-chevron-right" },
      {   "id":2,"filter": "between",   "name": "Between",      "class": "btn-sm btn-light",      "icon": "fa fa-expand" },
      {   "id":3,  "filter": "lt",     "name": "Lower than",      "class": "btn-sm btn-light",      "icon": "fa fa-chevron-left" },
      {  "id":4, "filter": "eq",      "name": "Equals",      "class": "btn-sm btn-light",      "icon": "fa fa-bars"  }
    ]

    me.searchFilters= searchFilters
    if (me.Search==undefined)   me.Search= searchFilters[3]  //equals
</script>

<template>
    
    <FormWidgetExeBase :fd="me" :parent-resource-widget-id="parentId" :form-style-id="cssPrefixR"  @apply-filters="applyFilters">
        <input v-if="!me?.ReadOnly && dataRef"  v-model="dataRef[me?.FieldName]" :class="'element-style-'+cssPrefixR+'-'+me?.ElementType+'-'+me?.UuidRef" :title="me?.UuidRef" :placeholder="me?.SearchText" type="text" :tabindex="me?.TabIndex" class="default-style-id form-item" />
    
        <div v-if="me?.ReadOnly && dataRef" :class="'element-style-'+cssPrefixR+'-'+me?.ElementType+'-'+me?.UuidRef" :title="dataRef[me?.FieldName]+' '+me?.UuidRef"> {{dataRef[me?.FieldName]}}</div>
    </FormWidgetExeBase>
</template>

<style scoped>
.default-style-id{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size:1rem;
    line-height: 1.5;
    color: #26314d;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #E7E9EC;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-sizing: border-box;
}
@media (prefers-reduced-motion: reduce) {
    .default-style-text {
      transition: none; } }
  .default-style-text::-ms-expand {
    background-color: transparent;
    border: 0; }
  .default-style-text:focus {
    color: rgba(14, 26, 57, 0.9);
    background-color: #fff;
    border-color: #9eb6f3;
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgba(44, 96, 229, 0.25); }
  .default-style-text::placeholder {
    color: #B7BAC4;
    opacity: 1; }
  .default-style-text:disabled, .default-style-text[readonly] {
    background-color: #F3F3F5;
    opacity: 1; }
</style>