<script setup lang="ts">

    import { toRef,computed,ref,watchEffect,watch } from "vue";
    import { useAuthUserStore } from '@/m_auth/stores/authUser';
    import { useRdbmsResourceStore } from '@/m_resource/stores/rdbmsResource';
    import { usePageStore } from '@/m_page/stores/page';
    import { useResourceFormStore } from '@/m_resource/stores/resourceForm';
    import { useEventBusStore } from '@/g_stores/eventBus';
    import { useApplicationStore } from '@/g_stores/application'
    import  WidgetBaseExe  from './WidgetBaseExe'
    import ResourceFormExe  from '../ResourceFormExe.vue'
    import type { Ref,ComputedRef } from 'vue'
    //import { storeToRefs } from "pinia";
    import Utility from "../../g_libs/kt-utility";
    import { parse, evaluate } from 'jse-eval'
    
    const props = defineProps({
        fd: Object,
        parentResourceWidgetId:String,
        cssPrefix:String,
        dataRef:Object
    });

    //const taskStore = useTaskStore()
    const formStore = useResourceFormStore()
    const pageStore = usePageStore()
    const rdbmsStore = useRdbmsResourceStore()
    const applicationStore = useApplicationStore()
    const eventBus = useEventBusStore()

    let fd:Record<PropertyKey,any> = toRef(props,'fd')
    let parentId:Ref<any> = toRef(props,'parentResourceWidgetId') || ref('')
    const dataRef:Ref<any> = toRef(props,'dataRef')
    
    const {createCssLink,authStore,me} = WidgetBaseExe(fd)
    let cssPrefixR:Ref<string | undefined> = toRef(props,'cssPrefix')
    if (!cssPrefixR.value) cssPrefixR.value = parentId.value

    createCssLink()
    //taskStore.registerChildWidget(me?.UuidRef,parentId.value)
    
    
    let myDataRef:ComputedRef<string> =  computed(() => { 
       /* if (me?.PopulateMethod=='A' && resourceRecordId) {
            me.rdbmsRecId = me?.Related+'_'+resourceRecordId.toString()
            return me.rdbmsRecId
        }
        else 
        */
        return me.UuidRef
    })

    let myDataRefSearch:ComputedRef<string> =  computed(() => { 
       /* if (me?.PopulateMethod=='A' && resourceRecordId) {
            me.rdbmsRecId = me?.Related+'_'+resourceRecordId.toString()
            return me.rdbmsRecId
        }
        else 
        */
        return me.UuidRef+'-search'
    })

    formStore.registerFormWidget(myDataRefSearch.value,pageStore.getCurrentPage.instanceId,'form',true)
    formStore.registerFormWidget(myDataRef.value,pageStore.getCurrentPage.instanceId,'form',true)
    pageStore.setWidgetLoaded(myDataRef.value)
    
    
    let resourceField:Ref<string> = ref('resource'+me?.Related.replaceAll('-','')+'_id')
    let reloadingWidget:Ref<boolean> = ref(false)
    let resourceRecordId:number = 0
    let resourceVersion:number = Number(me?.Parameters?.PublishedResourceVersion) || 0

    const currentPageId:string = pageStore.getCurrentPage?.defId 
    const currentPageInstanceId:string = pageStore.getCurrentPage?.instanceId 

    if (!me?.Parameters?.SelectVersionDirect) resourceVersion=0
    
    const searchFormData=formStore.getFormData(myDataRefSearch.value ,pageStore.currentPage.instanceId)
    
let goFetch =  computed(() => {
    if (!me?.Parameters?.FetchCondition) return true

    const context = {
            ...utility,
            ...ods,
            Date,
            Array,
            Math,  
    } 

    let returnVal: any
    let ast:any = parse(me?.Parameters?.FetchCondition)  
    
    try {
        returnVal = evaluate(ast, context)  
    } catch (error) {
        console.log(error)
        return true
    }


    return returnVal
})

let ods:any = {}
let dataSourcesPrepared:Ref<any> = ref({})

   for (let i=0;i<me.Parameters?.DataSources?.length;i++)
   {
       if (formStore.getFormLoadCompleted(pageStore.getCurrentPage.instanceId,me.Parameters.DataSources[i].widgetId)){
           ods[me.Parameters.DataSources[i].srcName] =  formStore.formData[pageStore.currentPage.instanceId][me.Parameters.DataSources[i].widgetId]?.data
           dataSourcesPrepared.value[me.Parameters.DataSources[i].srcName]=true
       }else{
           dataSourcesPrepared.value[me.Parameters.DataSources[i].srcName]=false
           watch( () => formStore.getFormLoadCompleted(pageStore.getCurrentPage.instanceId,me.Parameters.DataSources[i].widgetId),(newValue,oldValue) => {
                   if  (!oldValue && newValue)  
                   {
                       ods[me.Parameters.DataSources[i].srcName] =  formStore.formData[pageStore.currentPage.instanceId][me.Parameters.DataSources[i].widgetId]?.data
                       formStore.extendFormData(pageStore.currentPage.instanceId,me?.UuidRef,ods)
                       dataSourcesPrepared.value[me.Parameters.DataSources[i].srcName]=true
                   }
               }) 
       }

   }
   formStore.extendFormData(pageStore.currentPage.instanceId,me?.UuidRef,ods)


   let dataSourcesReady:ComputedRef<boolean> = computed(()=>
   {
       let rVal:boolean = true
       if (!me.Parameters?.DataSources) return rVal
       if (me.Parameters?.DataSources?.length!=Object.keys(dataSourcesPrepared.value).length) return false
       
       for (const [key, value] of Object.entries(dataSourcesPrepared.value)) {
           
           if (!value) rVal = false

     }
     return rVal

   })

    const getWidgetData = (refreshId:boolean) =>{

        if (refreshId==undefined) refreshId=true
        let resourceDefId:string = me?.Related
         
        //get db record from previous resource
        let resourceState:any
 
        let resourceRecord:any
        let pageWidgets:any = {}

        let pTypeLen:number
        if (refreshId)
        {
            if (me?.SrcWidgetId && me?.SrcWidgetId?.length<73) pTypeLen = 36
            else if (!me?.SrcWidgetId) pTypeLen = 36
            else pTypeLen = me?.SrcWidgetId.length

            if (me?.PopulateType.toString().substr(0,1)=='3') 
            {
                resourceState = pageStore.getPrevResourceExeState
                pageWidgets = resourceState?.pDef?.widgets || {}
            }
            else if  (me?.PopulateType.toString().substr(0,1)=='2') {
                
                resourceState = pageStore.getCurrentPageState
                pageWidgets = resourceState[me?.SrcWidgetId.substr(0,pTypeLen)] || {}
            }

            
            let widgetState:any

            if (me?.SrcWidgetId && me?.PopulateType.toString().substr(0,1)=='2')
            {
                widgetState=resourceState[me?.SrcWidgetId.substr(0,pTypeLen)]
                if (widgetState!=undefined)
                {
                        let recs:any
                        if (widgetState.stateType=='form')
                        {
                            recs = widgetState[widgetState.stateFieldName]
                            if (Array.isArray(recs))
                            {
                            
                                    if (recs.length>0) resourceRecordId=recs[0][resourceField.value] || recs[0]['id'] || recs[0]
                            
                            }else if (recs!=undefined) 
                            {
                                resourceRecordId=recs[resourceField.value] || recs['id'] || recs
                            } else resourceRecordId = 0

                        }else if (widgetState.stateType=='record')
                        {
                            resourceRecordId = widgetState.resourceRecordId 
                        }
                }
            }
            else if (me?.PopulateType.toString().substr(0,1)=='3')
            {
                for (const key in pageWidgets)
                {
                    if (pageWidgets[key]?.Related==me?.Related) //get state if same resource
                    {   
                        
                        widgetState=resourceState.pageState[pageWidgets[key]?.UuidRef]
                        if (widgetState!=undefined)
                        {
                            let recs:any
                            if (widgetState.stateType=='form')
                            {
                                recs = widgetState[widgetState.stateFieldName]
                                if (Array.isArray(recs))
                                {
                                
                                        if (recs.length>0) resourceRecordId=recs[0][resourceField.value] || recs[0]['id'] || recs[0]
                                
                                }else if (recs!=undefined) 
                                {
                                    resourceRecordId=recs[resourceField.value] || recs['id'] || recs
                                } else resourceRecordId = 0

                            }else if (widgetState.stateType=='record')
                            {
                                resourceRecordId = widgetState.resourceRecordId 
                            }
                        }
                    }

                }
            }
      
        
            if (resourceRecordId) me.rdbmsRecId = me?.Related+'_'+resourceRecordId.toString()
        
            let taskInstanceId:string = '0'
    
                //fetchResourceRecord(  widgetId: ,                       pageId, taskInstanceId: ,                     prevResourceId: ,                 resourceInstanceId,formType ,resourceDefId, recordId     ,resourceVersion,  qType?:string) 
            rdbmsStore.fetchResourceRecord(me?.UuidRef,pageStore.getCurrentPage.defId, taskInstanceId, pageStore.getCurrentPage.prevResourceId, pageStore.getCurrentPage.instanceId,'i',  me?.Related,  resourceRecordId, resourceVersion)
            
        }
    }

        
    const getDataClick = () => {
                       
    
        let child:Record<PropertyKey,any> = {}

        if (me.HasParentDataset){
            
            let parentWidgetState:any  =  pageStore.getCurrentPageWidgetState(me?.SrcParentWidgetId)
                
            child['is_child'] = true
            child['parent_resource_id'] = parentWidgetState?.resourceDefId
            child['parent_record_id'] = parentWidgetState?.resourceRecordId
        }

        
        rdbmsStore.getResourceDataFn(me?.Related,me?.UuidRef,pageStore.currentPage.instanceId,resourceVersion,formStore.formData[pageStore.currentPage.instanceId][myDataRefSearch.value].data,child)

    }
    //get record id automatically
     
    if (me?.PopulateMethod=='A' && !me?.SrcWidgetId)
    {
 
        if (me.HasParentDataset) getDataClick()
        else getWidgetData(true)

        formStore.setWidgetDataLoadedDirect(pageStore.getCurrentPage.instanceId,myDataRefSearch.value,true)

    }else if (me?.PopulateMethod=='A' && me?.SrcWidgetId){

        if (formStore.getFormLoadCompleted(pageStore.getCurrentPage.instanceId,me.SrcWidgetId)){
            if (me.HasParentDataset) getDataClick()
            else getWidgetData(true)
            formStore.setWidgetDataLoadedDirect(pageStore.getCurrentPage.instanceId,myDataRefSearch.value,true)
            //formStore.setWidgetDataLoadedDirect(pageStore.getCurrentPage.instanceId,myDataRef.value,true)


        }else{

            watch( () => formStore.getFormLoadCompleted(pageStore.getCurrentPage.instanceId,me.SrcWidgetId),(newValue,oldValue) => {
                if  (!oldValue && newValue)  {

                    if (me.HasParentDataset) getDataClick()
                    else getWidgetData(true)

                }
                
            })
        }

    }
    

    //get record id manually
    
    pageStore.setState( me?.UuidRef, {'resourceDefId':me?.Related,'resourceRecordId':resourceRecordId,'stateType':'record'} )

    let utility:Utility = new Utility()
    let widgets:Array<any> = utility.processForm(me?.FormDefSearch) 
    formStore.initFormWidgets(widgets,pageStore.currentPage.instanceId,myDataRefSearch.value)
    let tablePrefix:string = 'resource'+me?.Related
    
    let currentIndex:Ref<number> = ref(0)
    
    const setCurrentIndex = (idx:number)=>
    {
        currentIndex.value=currentIndex.value+idx
    }

    let myData:ComputedRef<any> =  computed(() => { 
        if (formStore.getFormDataLoaded(pageStore.getCurrentPage.instanceId,myDataRef.value))
        {
            if (!resourceRecordId) 
            {
                let resourceData=formStore.getFormData(myDataRef.value,pageStore.getCurrentPage.instanceId)
                //debugger
                if (Array.isArray(resourceData))   
                  resourceRecordId=resourceData[0]?.[resourceField.value]
                else 
                    resourceRecordId=resourceData?.[resourceField.value]
   
                rdbmsStore.setRecordById(me?.UuidRef,me?.Related,resourceRecordId)
                pageStore.setState( me?.UuidRef, {'resourceDefId':me?.Related,'resourceRecordId':resourceRecordId,'stateType':'record'})

            }else  pageStore.setState( me?.UuidRef, {'resourceDefId':me?.Related,'resourceRecordId':resourceRecordId,'stateType':'record'})
        }
        if (Array.isArray(formStore.getFormData(myDataRef.value,pageStore.getCurrentPage.instanceId)) && formStore.getFormData(myDataRef.value,pageStore.getCurrentPage.instanceId).length) return formStore.getFormData(myDataRef.value,pageStore.getCurrentPage.instanceId)[currentIndex.value]
        else return formStore.getFormData(myDataRef.value,pageStore.getCurrentPage.instanceId)
    })

   

    let pagerText:ComputedRef<string> =  computed(() => { 
            let start:number = currentIndex.value+1
            return start+' / '+formStore.getFormData(myDataRef.value,pageStore.getCurrentPage.instanceId)?.length
        })
    
    let createdByLabel:ComputedRef<string> =  computed(() => { 
        if (formStore.getFormDataLoaded(myDataRef.value,pageStore.getCurrentPage.instanceId)) return utility.processAuditInfo(formStore.getFormData(myDataRef.value,pageStore.getCurrentPage.instanceId)[currentIndex.value],'create',me?.ParametersLang?.CreatedByTemplate,tablePrefix)
        else return ''
        })
    
    let changedByLabel:ComputedRef<string> =  computed(() => { 
        if (formStore.getFormDataLoaded(myDataRef.value,pageStore.getCurrentPage.instanceId)) return utility.processAuditInfo(formStore.getFormData(myDataRef.value,pageStore.getCurrentPage.instanceId)[currentIndex.value],'change',me?.ParametersLang?.ChangedByTemplate,tablePrefix)
        else return ''
        })

    let hasChangedBy:ComputedRef<boolean> =  computed(() => {
        if (formStore.getFormDataLoaded(myDataRef.value,pageStore.getCurrentPage.instanceId) && formStore.getFormData(myDataRef.value,pageStore.getCurrentPage.instanceId)[tablePrefix+'_ChangedBy.name']) return true
        else return false
        })

    const refreshRecord = async (data:any) =>  {

        rdbmsStore.fetchResourceRecord(me?.UuidRef,pageStore.getCurrentPage.defId, '0', pageStore.getCurrentPage.prevResourceId, pageStore.getCurrentPage.instanceId,'i',  me?.Related,  resourceRecordId, resourceVersion)
        return {status_message:'ok',status:0,actionIdx:data.flowData?.actionIdx,result:true}   
    }
    const reloadWidget = async (data:any) =>  {
        reloadingWidget.value = true
        getWidgetData(false)
        reloadingWidget.value = false
        return {status_message:'ok',status:0,actionIdx:data.flowData?.actionIdx,result:true}   
    }

    me.actions['refreshRecord'] = refreshRecord
    me.actions['reloadWidget'] = reloadWidget

    if (formStore.getFormLoadCompleted(pageStore.getCurrentPage.instanceId,myDataRefSearch.value) && me?.AutoSearch && me?.PopulateMethod=='M'){
        getDataClick()
        formStore.setWidgetDataLoadedDirect(pageStore.getCurrentPage.instanceId,myDataRefSearch.value,true)

    }else{

        watch( () => formStore.getFormLoadCompleted(pageStore.getCurrentPage.instanceId,myDataRefSearch.value),(newValue,oldValue) => {
            if  (!oldValue && newValue && me?.AutoSearch && me?.PopulateMethod=='M') {
                
                if ((me.SrcWidgetId && formStore.getFormLoadCompleted(pageStore.getCurrentPage.instanceId,me.SrcWidgetId)) || !me.SrcWidgetId){

                    getDataClick()
                    formStore.setWidgetDataLoadedDirect(pageStore.getCurrentPage.instanceId,myDataRefSearch.value,true)


                }else {

                        watch( () => formStore.getFormLoadCompleted(pageStore.getCurrentPage.instanceId,me.SrcWidgetId),(newValue,oldValue) => {
                            if  (!oldValue && newValue)  {
                                getDataClick()
                                formStore.setWidgetDataLoadedDirect(pageStore.getCurrentPage.instanceId,myDataRefSearch.value,true)
                            }

                        })
                }
            }
        })
    }
    
    if (me?.Parameters?.events?.length) eventBus.subscribe_2_events(me.Parameters.events,me.actions,pageStore.currentPage.instanceId,me.UuidRef)

    

</script>

<template>
    
    <div class="form-wrapper-wait view-widget"  v-if="!formStore.getFormLoadCompleted(pageStore.getCurrentPage.instanceId,myDataRefSearch)">
        <div> View widget {{me?.UuidRef}}... Search form processing for method {{ me?.PopulateMethod }}</div>
        <div v-if="!me?.ShowSearchForm && me?.PopulateMethod=='M'"> Loading search form in the background</div>
        <div>Waiting for widgets: {{ formStore.getFormLoadNotDone(pageStore.getCurrentPage.instanceId,myDataRefSearch) }}</div>
        <i class="fas fa-circle-notch fa-spin fa-2x"></i> 
        <div v-if="me?.SrcWidgetId"> Waiting for widget {{me?.SrcWidgetId}}</div>
    </div>
    <div class="form-wrapper view-widget" v-if="!reloadingWidget">
        <div v-if="me?.Parameters?.SelectVersionDirect && me?.Parameters?.PublishedResourceId<1" class="missing-id-cls"><h5>Resource id is missing</h5></div>
        <div v-if="applicationStore.debugMode">
            <div>This is view resource widget {{me?.UuidRef}}</div>
            <div style="max-height:200px;overflow: auto;">{{JSON.stringify(me)}}</div>
        </div>
        <div v-show="me?.ShowSearchForm">
            <ResourceFormExe :data-src-type="'form'" :data="formStore.formData[pageStore.currentPage.instanceId][myDataRefSearch].data" :widget-id="myDataRefSearch" :form-definition="me?.FormDefSearch"/>
            <div class="mb-2 border-bottom" >
						
                        <div class="my-2">
                            <button  type="button"  class="btn btn-primary" title="Get dataset record" @click="getDataClick()">
                                <i  class="fa fa-cog"></i>	 <span>{{me?.ParametersLang?.GetRecordBtnLabel}}</span> <span v-if="!me?.ParametersLang?.GetRecordBtnLabel">Get Record</span> 
                            </button>
                        </div>
            </div>
        </div>
        
        <ResourceFormExe v-if="formStore.getFormDataLoaded(pageStore.getCurrentPage.instanceId,myDataRef) && !reloadingWidget && dataSourcesReady && goFetch" :data-src-type="'record'" :data="myData" :widget-id="me?.UuidRef" :form-definition="me?.FormDef"/>
        
        <div class="view-pager text-center" v-if="formStore.getFormData(myDataRef,pageStore.currentPage.instanceId)?.length>1">
          		<button type="button" class="btn btn-sm btn-outline-primary mr-3" :disabled="currentIndex==0" @click="setCurrentIndex(-1)" ><i class="fa fa-arrow-left"></i></button>
          		<span class="h6 bold">{{pagerText}}</span>
				<button type="button" class="btn btn-sm btn-outline-primary ml-3" :disabled="currentIndex==formStore.getFormData(myDataRef,pageStore.currentPage.instanceId)?.length-1" @click="setCurrentIndex(1)" ><i class="fa fa-arrow-right"></i></button>
        </div>
        <div v-if="me?.Parameters?.ShowAuditInfo"><b>Audit info:</b></div>
        <div v-if="me?.Parameters?.ShowAuditInfo">{{createdByLabel}}</div>
        <div v-if="me?.Parameters?.ShowAuditInfo && hasChangedBy">{{changedByLabel}}</div>
    </div>
</template>

<style scoped>
 .form-wrapper{
        grid-column: auto / span 24;

    }
    .form-wrapper-wait{
        grid-column: auto / span 24;
        background-color: lightblue;
        padding: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        text-align: center;
    }
    .load-msg{
       text-align: center;
    }
    .missing-id-cls{
        color:crimson;
    }
</style>