<script setup lang="ts">

import Utility from '@/g_libs/kt-utility';
import { useResourceFormStore } from '@/m_resource/stores/resourceForm';
import { usePageStore } from '@/m_page/stores/page';
import { useFileStore } from '@/g_stores/file';
import { useApplicationStore } from '@/g_stores/application'
import { useAlertStore,alertMessage } from '@/g_stores/alert';
import { toRef, reactive, computed, ref, inject,watch } from "vue";
import WidgetBaseExe from './WidgetBaseExe'
import type { Ref } from 'vue'
import { parse, evaluate } from 'jse-eval'

let util = new Utility()

const props = defineProps({
    fd: Object,
    cssPrefix:String,
    parentResourceWidgetId: String,
});

let parentId: Ref<any> = toRef(props, 'parentResourceWidgetId')
let fd: Ref<any> = toRef(props, 'fd')

const { createCssLink, authStore, me } = WidgetBaseExe(fd)


const formStore = useResourceFormStore()
const pageStore = usePageStore()
const fileStore = useFileStore()
const alertStore = useAlertStore()
const applicationStore = useApplicationStore()

pageStore.setWidgetLoaded(me?.UuidRef)


let ods:any = reactive({})

for (let i=0;i<me.Parameters?.DataSources?.length;i++)
{
        if (formStore.getFormLoadCompleted(pageStore.getCurrentPage.instanceId,me.Parameters.DataSources[i].widgetId)){
            ods[me.Parameters.DataSources[i].srcName] =  formStore.formData[pageStore.currentPage.instanceId][me.Parameters.DataSources[i].widgetId]?.data
        } else{       
                
            watch( () => formStore.getFormLoadCompleted(pageStore.getCurrentPage.instanceId,me.Parameters.DataSources[i].widgetId),(newValue,oldValue) => {
                    if  (!oldValue && newValue)   {
                        ods[me.Parameters.DataSources[i].srcName] =  formStore.formData[pageStore.currentPage.instanceId][me.Parameters.DataSources[i].widgetId]?.data
                    }
                }) 
        }
 }


let formulaValue =  computed(() => {
    if (!me?.Parameters?.propertyMap) return null
    let returnVal:any={core:{},custom:{}}
    const context = {
            ...util,
                ...ods,
                Date,
                Array,
                Math,  
     } 
    
 
      let ast:any
      
      
      let propMap:any = JSON.parse(me?.Parameters?.propertyMap)

     let lcore:any = propMap.core

     let lcustom:any = propMap.custom
     let evalVal:any//string | number | undefined
     if (lcore){

      for (const [key, value] of Object.entries(lcore)) {
        
        
        let lval:any = value
        try {
          ast = parse(lval)
          evalVal = evaluate(ast, context) 
          if (evalVal) returnVal.core[key] = evalVal
          else returnVal.core[key] = value
        } catch (error) {
          returnVal.core[key] = value 
          console.log(error)
        }

      }
    }

    if (lcustom){
      for (const [key, value] of Object.entries(lcustom)) {
        
       let lval:any = value
        try {
          ast = parse(lval)
          evalVal = evaluate(ast, context) 
          if (evalVal) returnVal.custom[key] = evalVal
          else returnVal.custom[key] = value 
        } catch (error) {
          returnVal.custom[key] = value 
          console.log(error)
        }

      }
    }  
      return returnVal
})


  let fileIdFormula =  computed(() => {
      if (!me?.Parameters?.FileIdFormula) return me?.Parameters?.FileId

      let returnVal:string | number
      const context = {
              ...util,
                  ...ods,
                  Date,
                  Array,
                  Math,  
      } 
    
 
      let ast:any

     let evalVal:any//string | number | undefined

        
       let lval:string = me?.Parameters?.FileIdFormula
        try {
          ast = parse(lval)
          evalVal = evaluate(ast, context) 
          if (evalVal) returnVal = evalVal
          else returnVal = me?.Parameters?.FileId
        } catch (error) {
          returnVal = me?.Parameters?.FileId 
          console.log(error)
        }

      return returnVal
})

const download = async (data:any)=>{
    if (me?.Parameters?.FileDefId?.id){ 
      fileStore.downloadFile(me?.Parameters?.FileDefId,fileIdFormula.value,'').then(function(data:any) {
            
            if (data)
            {
                

                let url = fileStore.getFileUrl(me?.Parameters?.FileDefId?.id,fileIdFormula.value)
                if (url) {
                
                let a = document.createElement('a')
                a.href = url
                a.download = me?.Parameters?.FileDefId?.name
                a.target = '_blank'
                a.click()
                alertStore.info(new alertMessage('File downloaded','',200))
                return {status_message:'ok',status:0,actionIdx:data.flowData?.actionIdx,result:true} 
                } else {
                  alertStore.error(new alertMessage('Error downloading file','',500))
                  return {status_message:'nok',status:0,actionIdx:data.flowData?.actionIdx,result:false} 
                }
             
            } else {
              alertStore.error(new alertMessage('Error downloading file','',500))
              return {status_message:'nok',status:0,actionIdx:data.flowData?.actionIdx,result:false} 
            }
        },function(error:any){    
            alertStore.error(new alertMessage(error.msg,error.msg,error.status))
            return {status_message:'nok',status:0,actionIdx:data.flowData?.actionIdx,result:false} 
        });
        
        
    }else return {status_message:'nok',status:0,actionIdx:data.flowData?.actionIdx,result:false} 
}

  const downloadWithParams = async (data:any)=>{
      if (me?.Parameters?.FileDefId?.id){ 
        
        fileStore.downloadFileWithParams(me?.Parameters?.FileDefId?.id,fileIdFormula.value,'',formulaValue.value).then(function(data:any) {
            
            if (data)
            {
                
                let url = fileStore.getFileUrl(me?.Parameters?.FileDefId?.id,fileIdFormula.value)
                if (url) {
                let a = document.createElement('a')
                a.href = url
                a.download = me?.Parameters?.FileDefId?.name
                a.target = '_blank'
                a.click()
                alertStore.info(new alertMessage('File downloaded','',200))
                return {status_message:'ok',status:0,actionIdx:data.flowData?.actionIdx,result:true} 
                } else {
                  alertStore.error(new alertMessage('Error downloading file','',500))
                  return {status_message:'nok',status:0,actionIdx:data.flowData?.actionIdx,result:false}
                }
            } else {
              alertStore.error(new alertMessage('Error downloading file','',500))
              return {status_message:'nok',status:0,actionIdx:data.flowData?.actionIdx,result:false}
            }
        },function(error:any){    
            alertStore.error(new alertMessage(error.msg,error.msg,error.status))
            return {status_message:'nok',status:0,actionIdx:data.flowData?.actionIdx,result:false}
        });

      
      
      }else return {status_message:'nok',status:0,actionIdx:data.flowData?.actionIdx,result:false}
      
    
  }

    me.actions['download'] = download
    me.actions['downloadWithParams'] = downloadWithParams


</script>


<template>
    <div WIDGETDOWNLOAD class="my-class"  v-if="applicationStore.debugMode">
        This is {{me?.ElementType}} widget<br><br>
        File def = {{me?.Parameters?.FileDefId}}    File rec = {{fileIdFormula}} <br><br>
        Template = {{ me.Parameters?.propertyMap }} <br><br>Formula value = {{ formulaValue }}
    </div>
</template>

<style scoped>
.my-class{
  margin-top: 1rem;
    grid-column: auto / span 24;
}

.chart-wrapper {
    grid-column: auto / span 24;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.default-style{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size:1rem;
    line-height: 1.5;
    color: #26314d;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #E7E9EC;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
  .default-style {
      transition: none; } }
  .default-style::-ms-expand {
    background-color: transparent;
    border: 0; }
  .default-style:focus {
    color: rgba(14, 26, 57, 0.9);
    background-color: #fff;
    border-color: #9eb6f3;
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgba(44, 96, 229, 0.25); }
  .default-style::placeholder {
    color: #B7BAC4;
    opacity: 1; }
  .default-style:disabled, .default-style[readonly] {
    background-color: #F3F3F5;
    opacity: 1; }
</style>