<script setup lang="ts">

    //import { useAlertStore } from '@/g_stores/alert';
    import { toRef,ref, computed, watch, inject } from "vue";
    import { usePageStore } from '@/m_page/stores/page';
    import { required,helpers } from '@vuelidate/validators'
    import  WidgetBaseExe  from './WidgetBaseExe'
    import { useRdbmsResourceStore } from '@/m_resource/stores/rdbmsResource'
    import { useResourceFormStore } from '@/m_resource/stores/resourceForm'
    import type { Ref,ComputedRef } from 'vue'
    import  FormWidgetExeBase  from './FormWidgetExeBase.vue'
    import  {parse,evaluate } from 'jse-eval'
    import Utility from '@/g_libs/kt-utility';
    
    const props = defineProps({
        fd: Object,
        parentResourceWidgetId:String,
        cssPrefix:String,
        dataRef:Object,
    });

    const pageStore = usePageStore()
    const formStore = useResourceFormStore()
    const rdbmsStore = useRdbmsResourceStore()

    let util = new Utility()

    let fd = toRef(props,'fd')
    const dataRef:Ref<any> = toRef(props,'dataRef')
    let parentId:Ref<any> = toRef(props,'parentResourceWidgetId')!==undefined ? toRef(props,'parentResourceWidgetId') : ref('')
    let cssPrefixR:Ref<string | undefined> = toRef(props,'cssPrefix')
    if (!cssPrefixR.value) cssPrefixR.value = parentId.value

    const dataSrcTypeRef = inject("dataSrcTypeRef") 

    const {createCssLink,authStore,me,formStyleId} = WidgetBaseExe(fd,parentId.value)

    let formDataRules:any = {}

    if (Object.keys(formDataRules).length>0 && parentId!==undefined){
      formStore.addValidationRule(parentId?.value,me?.FieldName,formDataRules)
    }

    pageStore.setWidgetLoaded(me?.UuidRef)
    
    const parentWidget:any = pageStore.getWidgetOnCurrentPage(parentId.value)
    let applyNumberFilters = function (index: number) {

      me.Search = searchFilters[index];

      if (dataRef.value[me?.FieldName] != undefined)  me.Search.value = dataRef.value[me?.FieldName]

  }


    const  searchFilters:Array<Record<PropertyKey,any>> = [
      {   "id":1, "filter": "gt",   "name": "Greater than",      "class": "btn-sm btn-light",      "icon": "fa fa-chevron-right" },
      {   "id":2,"filter": "between",   "name": "Between",      "class": "btn-sm btn-light",      "icon": "fa fa-expand" },
      {   "id":3,  "filter": "lt",     "name": "Lower than",      "class": "btn-sm btn-light",      "icon": "fa fa-chevron-left" },
      {  "id":4, "filter": "eq",      "name": "Equals",      "class": "btn-sm btn-light",      "icon": "fa fa-bars"  }
    ]

    let myDataRef:ComputedRef<string> =  computed(() => { 
       return parentId.value+'-'+me?.UuidRef
    })
    let cssClass =  computed(() => { 
      let returnCss:string=''
      returnCss=returnCss+'element-style-'+cssPrefixR.value+'-'+me?.ElementType+'-'+me?.UuidRef
      if (me?.Parameters?.BorderForReadOnly && me?.ReadOnly) returnCss=returnCss+' form-control'
      
      return returnCss
    })

    
    
    const calcValue =  () => { 

      let data=dataRef.value

      const context = {
            ...util,
            ...data, //TODO - vidjeti da li je pametno dataRef ovdje otpakiravati zbog reaktivnosti?????
                Date,
                Array,
                Math,  
     } 

      let returnVal:number | undefined=0
      try
      {
      let ast:any = parse(me?.Parameters?.ValueFormula)
      //returnVal = Number(evaluate(ast,dataRef.value))
      returnVal = Number(evaluate(ast,context))
      }
      catch(error){
        console.log(error)
        returnVal=0
      }
      if (me.MaxLength>0 && !isNaN(returnVal)) returnVal=Number(Math.round(Number(returnVal + 'e' + me.MaxLength)) + 'e-' + me.MaxLength)
      return returnVal
    }





    let oldCalcVal:number
    if (me?.Parameters?.ValueFormula?.length) 
    
    {
      dataRef.value[me?.FieldName] = calcValue()
      watch(dataRef.value,(newValue,oldValue) => {
        
        let calcVal:number = calcValue()
          if (oldCalcVal != calcVal) 
          {
            dataRef.value[me?.FieldName] = calcVal
      
          }
          oldCalcVal = calcVal
        },{ deep: true })   
      // dataRef.value[me?.FieldName] = calcValue

    }  

    
    let counterKey =  computed(() => { 
      let data=dataRef.value

      const context = {
            ...util,
            ...data, //TODO - vidjeti da li je pametno dataRef ovdje otpakiravati zbog reaktivnosti?????
                Date,
                Array,
                Math,  
     } 

      let cKey:any
      try
      {
        let ast:any = parse(me?.Parameters?.CounterKey)
        cKey = evaluate(ast,context)
      }
      catch(error)
      {
          cKey = me?.Parameters?.CounterKey
          console.log(error)
      }
      return cKey

    })

    let counterRec =  computed(() => { 
   
      let cRec:any
      cRec = formStore.getFirstRec(myDataRef.value,pageStore.currentPage.instanceId)

      return cRec

    })
    let nextValue =  computed(() => { 
   
      let nVal:number = 0
      
      if (Array.isArray(counterRec.value) && counterRec.value.length){
        if (counterRec.value[0].LastValue==counterRec.value[0].NextValue && counterRec.value[0].NextValue==0) nVal = counterRec.value[0].StartValue
        else if (counterRec.value[0].LastValue==counterRec.value[0].NextValue && counterRec.value[0].NextValue!=0) nVal = counterRec.value[0].LastValue + counterRec.value[0].Step
        else  nVal = counterRec.value[0].NextValue
      } else nVal = counterRec.value?.NextValue

      return nVal

    })

    const process_counter = async ()=>{

       //get counter here rdbms

      if (!counterRec?.value?.NextValue)
      {
          let cData:any = await rdbmsStore.getResourceDataFn(me?.Parameters?.counterDefId.id,myDataRef.value,pageStore.currentPage.instanceId,0,{'CounterKey':counterKey.value})
          if ((Array.isArray(cData) && cData.length && cData[0].NextValue) || (!Array.isArray(cData) && cData.NextValue)){
            dataRef.value[me?.FieldName+'_counter'] = counterKey.value
          }else process_counter()         
      }
      if (counterRec?.value?.NextValue)
      {
        if (!dataRef.value[me?.FieldName] || me?.Parameters.GetCounterRecord){      
          if (!nextValue.value){
            watch(()=> formStore.getFormDataLoaded(pageStore.currentPage.instanceId,myDataRef.value), (newValue,oldValue) => {
                  //updateWidget STATE
                  if (oldValue!=newValue && newValue) {
                  if (!dataRef.value[me?.FieldName]) dataRef.value[me?.FieldName] = nextValue.value
                    dataRef.value[me?.FieldName+'_cRec'] = counterRec.value
                    dataRef.value[me?.FieldName+'_counter'] = counterKey.value
                  }
            })
          } else  {
            dataRef.value[me?.FieldName+'_counter'] = counterKey.value
            dataRef.value[me?.FieldName+'_cRec'] = counterRec.value
            if (!dataRef.value[me?.FieldName]) dataRef.value[me?.FieldName] = nextValue.value
          }
          
        }
      }else console.log('Error processing counter => '+me?.UuidRef)

    }
    me.searchFilters= searchFilters
    if (me.Search==undefined)   me.Search= searchFilters[3]  //equals
    if (me?.UseDefault && me?.UpdateWithDefault && !me?.NoUpdate && !dataRef.value[me?.FieldName]) dataRef.value[me?.FieldName]= me?.DefaultValue.value
    if (me?.Parameters?.UseCounter) process_counter()
  
</script>

<template>
 
    <FormWidgetExeBase :fd="me" :parent-resource-widget-id="parentId" :form-style-id="cssPrefixR"  @apply-filters="applyNumberFilters">
            <input v-if="!me?.ReadOnly && me?.Search?.name!='Between'" type="number" v-model="dataRef[me?.FieldName]" :placeholder="me?.SearchText" :name="parentId+me?.UuidRef" class="default-style" :class="cssClass" :tabindex="me?.TabIndex" :step="me?.Parameters?.StepValue" />
            <div v-if="me?.Search?.name=='Between'">
              <b> Between:  </b> 
                <input  type="number" :tabindex="me?.tabIndex" v-model="me.Search.between1" :placeholder="me?.SearchText" :name="me.Name"  class="default-style"  :class="cssClass" :step="me?.Parameters?.StepValue"/>
                 
              
              <b> And:  </b> 
                <input type="number" :tabindex="me?.tabIndex" v-model="me.Search.between2"  :placeholder="me?.SearchText" class="default-style"  :class="cssClass" :step="me?.Parameters?.StepValue" />
            </div>
            <div v-if="me?.ReadOnly" :class="cssClass" :title="dataRef[me?.FieldName]+' '+me?.UuidRef+' / '+me?.FieldName">
               {{dataRef[me?.FieldName]}}
              </div>
        
    </FormWidgetExeBase>   
  
</template>

<style scoped>
.default-style{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size:1rem;
    line-height: 1.5;
    color: #26314d;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #E7E9EC;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
  .default-style {
      transition: none; } }
  .default-style::-ms-expand {
    background-color: transparent;
    border: 0; }
  .default-style:focus {
    color: rgba(14, 26, 57, 0.9);
    background-color: #fff;
    border-color: #9eb6f3;
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgba(44, 96, 229, 0.25); }
  .default-style::placeholder {
    color: #B7BAC4;
    opacity: 1; }
  .default-style:disabled, .default-style[readonly] {
    background-color: #F3F3F5;
    opacity: 1; }
</style>