<script setup lang="ts">

    import { toRef,ref ,computed, reactive,inject} from "vue"
    import { usePageStore } from '@/m_page/stores/page'
    import { useResourceFormStore } from '@/m_resource/stores/resourceForm'
    import { useRdbmsResourceStore } from '@/m_resource/stores/rdbmsResource'
    import  WidgetBaseExe  from './WidgetBaseExe'
    import { required,helpers } from '@vuelidate/validators'
    import type { Ref } from 'vue'
    import  FormWidgetExeBase  from './FormWidgetExeBase.vue'
    
    const props = defineProps({
        fd: Object,
        parentResourceWidgetId:String,
        cssPrefix:String,
        dataRef:Object,
    });

    const formStore = useResourceFormStore()
    const pageStore = usePageStore()
    const rdbmsStore = useRdbmsResourceStore()

    let fd = toRef(props,'fd')
    let parentId:Ref<any> = toRef(props,'parentResourceWidgetId')!==undefined ? toRef(props,'parentResourceWidgetId') : ref('')
      
    const {createCssLink,authStore,me, formStyleId} = WidgetBaseExe(fd,parentId.value)
    const dataRef:Ref<any> = toRef(props,'dataRef')



    let formDataRules:any = {}
    formDataRules[me?.FieldName] = { required:helpers.withMessage(me?.ErrorMsg, required) }

    pageStore.setWidgetLoaded(me?.UuidRef)
    
    let applyBoolFilters = function (index: number) {

      me.Search = searchFilters[index];

      if (dataRef.value[me?.FieldName] != undefined)  me.Search.value = dataRef.value[me?.FieldName]

    }
    if (me?.UpdateWithDefault && !me?.NoUpdate && me?.DefaultValue?.value!==undefined)
    {
      dataRef.value[me?.FieldName] = me?.DefaultValue.value
    }

    const  searchFilters:Array<Record<PropertyKey,any>> = [
      {  "id":1, "filter": "eq",      "name": "Equals",      "class": "btn-sm btn-light",      "icon": "fa fa-bars"  }
    ]
    if (me.Search==undefined) me.Search= searchFilters[0]  //eq
    me.searchFilters= searchFilters

    if (!dataRef.value[me?.FieldName]) dataRef.value[me?.FieldName] = false

</script>

<template>
  
  <FormWidgetExeBase :fd="me" :parent-resource-widget-id="parentId" :form-style-id="formStyleId" @apply-filters="applyBoolFilters">
    <input  type="checkbox" v-model="dataRef[me?.FieldName]" :disabled="me.ReadOnly"  class="default-style" />  
  </FormWidgetExeBase>   

</template>

<style scoped>

.default-style{
    display: block;
   /* width: 100%;
    height: calc(1.5em + 0.75rem + 2px);*/
    padding: 0.375rem 0.75rem;
    font-size:1rem;
    line-height: 1.5;
    color: #26314d;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #E7E9EC;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
    .default-style {
      transition: none; } }
  .default-style::-ms-expand {
    background-color: transparent;
    border: 0; }
  .default-style:focus {
    color: rgba(14, 26, 57, 0.9);
    background-color: #fff;
    border-color: #9eb6f3;
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgba(44, 96, 229, 0.25); }
  .default-style::placeholder {
    color: #B7BAC4;
    opacity: 1; }
  .default-style:disabled, .default-style[readonly] {
    background-color: #F3F3F5;
    opacity: 1; }
</style>