<script setup lang="ts">

    import { storeToRefs } from 'pinia';
    //import { useAlertStore } from '@/g_stores/alert';
    import { toRef,ref ,computed, reactive} from "vue"
    import { usePageStore } from '@/m_page/stores/page'
    import { useResourceFormStore } from '@/m_resource/stores/resourceForm'
    import { useRdbmsResourceStore } from '@/m_resource/stores/rdbmsResource'
    import  WidgetBaseExe  from './WidgetBaseExe'
    import type { Ref, ToRef,ComputedRef } from 'vue'
    import  { inject } from 'vue'
    import  FormWidgetExeBase  from './FormWidgetExeBase.vue'
    import Utility from '../../g_libs/kt-utility';
    
    
    const props = defineProps({
        fd: Object,
        parentResourceWidgetId:String,
        cssPrefix:String,
        dataRef:Object,
    });

 
    const dataSrcTypeRef:string | undefined = inject("dataSrcTypeRef") 
  
    let fd = toRef(props,'fd')
    const dataRef:Ref<any> = toRef(props,'dataRef')
    let parentId:Ref<any> = toRef(props,'parentResourceWidgetId')!==undefined ? toRef(props,'parentResourceWidgetId') : ref('')
    let cssPrefixR:Ref<string | undefined> = toRef(props,'cssPrefix')
    if (!cssPrefixR.value) cssPrefixR.value = parentId.value

    const {createCssLink,authStore,me, formStyleId} = WidgetBaseExe(fd,parentId.value)
    if (me.Search==undefined) me.Search= me.searchFilters[1]  //contains

    const pageStore = usePageStore()
    const formStore = useResourceFormStore()
    //const rdbmsStore = useRdbmsResourceStore()
    const parentWidget:any = pageStore.getWidgetOnCurrentPage(parentId.value)
    
    //const recId = parentWidget?.rdbmsRecId
    let applyTextFilters = function (index: number) {

      me.Search = searchFilters[index];

      if (dataRef.value[me?.FieldName] != undefined)  me.Search.value = dataRef.value[me?.FieldName]
    
    }

    if (!me.ReadOnly) me.localGuid= new Utility().uuidv4()

    const  searchFilters:Array<Record<PropertyKey,any>> = [
      {   "id":1, "filter": "begins",   "name": "Begins with",      "class": "btn-sm btn-light",      "icon": "fa fa-chevron-right" },
      {   "id":2,"filter": "contains",   "name": "Contains",      "class": "btn-sm btn-light",      "icon": "fa fa-expand" },
      {   "id":3,  "filter": "ends",     "name": "Ends",      "class": "btn-sm btn-light",      "icon": "fa fa-chevron-left" },
      {  "id":4, "filter": "eq",      "name": "Equals",      "class": "btn-sm btn-light",      "icon": "fa fa-bars"  }
    ]
    me.searchFilters= searchFilters
    if (me.Search==undefined) me.Search= searchFilters[0]  //onlist
    if (me?.UseDefault && me?.UpdateWithDefault && !me?.NoUpdate && !dataRef.value[me?.FieldName]) dataRef.value[me?.FieldName]= me?.DefaultValue.value
</script>

<template>
 
  <FormWidgetExeBase :fd="me" :parent-resource-widget-id="parentId" :form-style-id="cssPrefixR" @apply-filters="applyTextFilters">
    <input v-if="!me?.ReadOnly && !me?.Multiline" v-model="dataRef[me?.FieldName]" :id="me.localGuid" :class="'element-style-'+cssPrefixR+'-'+me?.ElementType+'-'+me?.UuidRef" :title="me?.UuidRef+' / '+me?.FieldName" :placeholder="me?.SearchText" type="text" :tabindex="me?.TabIndex" class="default-style-text form-item" />
    <textarea v-if="!me?.ReadOnly && me?.Multiline" :id="me.localGuid" v-model="dataRef[me?.FieldName]" :rows="me?.Parameters?.NumberRows" :class="'element-style-'+formStyleId+'-'+me?.ElementType+'-'+me?.UuidRef" :title="me?.UuidRef+' / '+me?.FieldName" :placeholder="me?.SearchText" :tabindex="me?.TabIndex" class="default-style-text default-style-area form-item">
    </textarea> 
    
    <div v-if="me?.ReadOnly" :class="'element-style-'+ cssPrefixR +'-'+me?.ElementType+'-'+ me?.UuidRef" :title="dataRef[me?.FieldName]+' '+me?.UuidRef+' / '+me?.FieldName"> 
      {{dataRef[me?.FieldName]}} &nbsp;

    </div>
  </FormWidgetExeBase>
</template>

<style scoped>
.default-style-text{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size:1rem;
    line-height: 1.5;
    color: #26314d;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #E7E9EC;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-sizing: border-box;
}
.default-style-area{
    height: auto;
}
@media (prefers-reduced-motion: reduce) {
    .default-style-text {
      transition: none; } }
  .default-style-text::-ms-expand {
    background-color: transparent;
    border: 0; }
  .default-style-text:focus {
    color: rgba(14, 26, 57, 0.9);
    background-color: #fff;
    border-color: #9eb6f3;
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgba(44, 96, 229, 0.25); }
  .default-style-text::placeholder {
    color: #B7BAC4;
    opacity: 1; }
  .default-style-text:disabled, .default-style-text[readonly] {
    background-color: #F3F3F5;
    opacity: 1; }
</style>