<script setup lang="ts">

    //import { storeToRefs } from 'pinia';
    //import { useAlertStore } from '@/g_stores/alert';
    import { toRef,computed,ref } from "vue";
    import { usePageStore } from '@/m_page/stores/page';
    import { useDatasetStore } from '@/g_stores/dataset';
    import { useTaskStore } from '@/g_stores/task';
    import { useApplicationStore } from '@/g_stores/application';
    import  WidgetBaseExe  from './WidgetBaseExe'
    import ResourceFormExe  from '../ResourceFormExe.vue'
    import  router from '@/g_router/index';
    import type { Ref } from 'vue'
import WidgetRowExe from "./WidgetRowExe.vue";
    //define props
    const props = defineProps({
        fd: Object,
        parentResourceWidgetId:String,
        cssPrefix:String,
        dataRef:Object
    });
    let fd:Record<PropertyKey,any> = toRef(props,'fd')
    let parentId:Ref<any> = toRef(props,'parentResourceWidgetId') || ref('')
    const data:Ref<any> = toRef(props,'dataRef')
    const {createCssLink,authStore,me} = WidgetBaseExe(fd)
 
    const cssPrefixR:Ref<string | undefined> = toRef(props,'cssPrefix') || parentId
    
    let selectedTab:Ref<number> = ref(0)

    let selectTab = (index:number)=>{
        selectedTab.value=index
    }


//set default first tab

</script>

<template >

<div v-show="me.ShowField" :style="me.Parameters?.BtnsCssStyle" class="btn-container-style" >

        <button v-for="(tabbtn,index) in me.layout" type="button" class="tab-btn-style" :class="'element-style-'+cssPrefixR+'-'+me?.ElementType+'-'+me?.UuidRef" @click="selectTab(index)" :disabled="selectedTab==index">{{tabbtn.Label}}</button>
            
</div> <!-- This is tab container -->
<div v-for="(widget,index) in me.layout" class="tab-parent-container">
    <div class="tab-container-style" :style="me?.Parameters.CssStyle" v-if="widget.Status=='Active' && selectedTab==index">
        <WidgetRowExe :fd="widget" :data-ref="data" :css-prefix="cssPrefixR" :parent-resource-widget-id="parentId"/>
    </div>
</div><!-- This is individual tab -->
</template>

<style scoped>

.btn-container-style{
    grid-column: auto / span 24;
    display: flex;
    gap: 8px;
    padding-top: 24px;
    flex-wrap: wrap;
}
.tab-parent-container{

    grid-column: auto / span 24;
}

.tab-btns-container::-webkit-scrollbar {
	display: none;
}
.tab-btn-style{
    text-wrap: nowrap;
    color: #2C60E5;
    border-color: #2C60E5;
    border: 0;
    background-color: transparent;
    padding: 0.5rem;
}

.tab-container-style{
    background-color: transparent;
	border:none;
}
.tab-btn-style:hover,.tab-btn-style:focus {
    background-color:#eaf0fd;
}

.tab-btn-style.disabled, .tab-btn-style:disabled {
    background-color: #2C60E5;
	color:white;
}



</style>