<script setup lang="ts">

import VueCal from 'vue-cal'
import 'vue-cal/dist/vuecal.css'
//import 'vue-cal/dist/drag-and-drop.js'

import Utility from '@/g_libs/kt-utility';
import { storeToRefs } from 'pinia';
import { DateTime } from 'luxon';
import { useAuthUserStore } from '@/m_auth/stores/authUser';
import { useTaskStore } from '@/g_stores/task';
import { usePageStore } from '@/m_page/stores/page';
import { useDatasetStore } from '@/g_stores/dataset';
import { useRdbmsResourceStore } from '@/m_resource/stores/rdbmsResource';
import { useResourceDefinitionStore } from '@/m_resource/stores/resourceDefinition';
import { toRef, reactive, computed, ref, inject } from "vue";
import router from '@/g_router/index';
import WidgetBaseExe from './WidgetBaseExe'
import type { Ref } from 'vue'
import { parse, evaluate, compile, jsep } from 'jse-eval'

let util = new Utility()

const chartoptions = {
    responsive: true, maintainAspectRatio: false,
    plugins: {
        legend: { display: false }
    }
}


let events = [
      {
        start: '2024-11-18 09:30',
        end: '2024-11-18 10:30',
        title: 'Qsa introduction'
      },
      {
        start: '2024-11-18 10:30',
        end: '2024-11-18 11:30',
        title: 'Client business environment'
      },
      {
        start: '2024-11-19 10:30',
        end: '2024-11-19 11:30',
        title: 'Network'
      },
      {
        start: '2024-11-21 11:00',
        end: '2024-11-21 13:00',
        title: 'Databases'
      },
      {
        start: '2024-11-20 10:30',
        end: '2024-11-20 11:30',
        title: 'Change management'
      },
      {
        start: '2024-11-18 13:30',
        end: '2024-11-18 14:30',
        title: 'User management'
      },
      {
        start: "2024-11-18 12:00",
        end: "2024-11-18 13:00",
        title: "LUNCH",
        class: "lunch",
        background: true
      },
      {
        start: "2024-11-20 12:00",
        end: "2024-11-20 13:00",
        title: "LUNCH",
        class: "lunch",
        background: true
      },,
      {
        start: "2024-11-19 12:00",
        end: "2024-11-19 13:00",
        title: "LUNCH",
        class: "lunch",
        background: true
      }
    ]

   events =  [ { "start": "1970-01-01T08:00:00Z", "end": "1970-01-01T09:00:00Z", "title": "QSA introduction" }, { "start": "1970-01-01T09:00:00Z", "end": "1970-01-01T10:00:00Z", "title": "Anti-Virus (AV)" }, { "start": "1970-01-01T08:00:00Z", "end": "1970-01-01T09:00:00Z", "title": "QSA introduction" }, { "start": "1970-01-01T09:00:00Z", "end": "1970-01-01T10:00:00Z", "title": "Anti-Virus (AV)" } ]
const props = defineProps({
    fd: Object,
    parentResourceWidgetId: String,
});



let parentId: Ref<any> = toRef(props, 'parentResourceWidgetId')
let fd: Ref<any> = toRef(props, 'fd')

const { createCssLink, authStore, me } = WidgetBaseExe(fd)

const taskStore = useTaskStore()
const rdbmsStore = useRdbmsResourceStore()
const datasetStore = useDatasetStore()
const pageStore = usePageStore()
const userStore = useAuthUserStore()

taskStore.registerChildWidget(fd?.value?.UuidRef, parentId.value)
datasetStore.registerWidget(fd?.value)
let selectedRecord: Record<PropertyKey, any> = ref({})
let resourceRecordId: Ref<string> = ref('resource' + fd?.value?.Related + '_' + userStore.getCurrentUser?.organisation?.id + '_id')

pageStore.setWidgetLoaded(fd?.value?.UuidRef)
let myAnalyticWidget: string = me?.Parameters.widgetReference
let selectedAnalytics = me?.Parameters?.SelectedChartAnalytics || 0

let instanceId:Ref<any>= inject('instanceId') ?? ref('')

let mapping:any={}

if (me.Parameters?.mappingDefinition) mapping=JSON.parse(me.Parameters?.mappingDefinition)


let anal = computed(() => {
    //if (me.UuidRef=='1cea9701-1029-403a-92da-8d17d7c796e9') 
    let rdata: Array<{ [key: string]: string }>=rdbmsStore.getResourceData( instanceId.value +'-'+myAnalyticWidget).data
    //let analitics = rdata?.analytics?.[selectedAnalytics]
    //return analitics?.[me?.Parameters?.CalculateFunction.name]
    if (Array.isArray(rdata)) {
      let transformedData = rdata.map(item => ({
        start: DateTime.fromISO(item[mapping.start]).toFormat('yyyy-MM-dd HH:mm'),
        end: DateTime.fromISO(item[mapping.end]).toFormat('yyyy-MM-dd HH:mm')  ,
        title: () => {if (item[mapping.title]) return item[mapping.title].trim()} // trimming extra whitespace or tabs from the title field
      }))

      return transformedData
} else   return []
    
})


var countAll: Ref<number> = computed<number>(() => {        //summing all values for counter   anal[me?.Parameters.chartFilterField] 
    if (mydata) {
        const reducer = (accumulator: number, currentValue: number): number => accumulator + currentValue
        const data = mydata.value?.datasets[0].data as any
        return data?.reduce(reducer, 0)
    } else return 0
})

let mydata = computed(() => {
    let myAnalytics = rdbmsStore.getResourceData(instanceId.value +'-'+myAnalyticWidget)
    let chartType

    if (myAnalytics?.analytics) {
        //debugger
        let errormsg = ''
        if (me?.Parameters?.CalculateFunction?.name == undefined) errormsg = 'Calculate Function not defined!'
        if (me?.Parameters?.chartType == undefined) chartType = 'counter'

        let analytics:any = myAnalytics.analytics[selectedAnalytics][me?.Parameters?.CalculateFunction.name]

        let maxvalue = -1; let minvalue = -1;  //find minvalue and maxvalue of current Anaytics (inverse logic: undefined == number is always false)))
        Object.keys(analytics).forEach(function (key, index) {
            if (!(analytics[key] < analytics[maxvalue])) maxvalue = +key
            if (!(analytics[key] > analytics[minvalue])) minvalue = +key
        })

        //  scriptValue  = jsone(me?.Parameters?.script || '',  $scope.fd.localVars)   
        let data:Array<any> = []; let labels:Array<string> = []
        for (var key in analytics) {
            labels.push(key)
            data.push(analytics[key])
        }

        let colors = util.getNiceColors(data.length)

        if (me?.Parameters?.chartType?.name != undefined)
            chartType = me?.Parameters.chartType.name
        else
            chartType = me?.Parameters.chartType //counter does not have .name

        return { datasets: [{ data: data, backgroundColor: colors }], labels: labels }
    }
})

</script>


<template>
    <div WIDGETCALENDAR :class="'element-style-' + parentId + '-' + me?.ElementType + '-' + me?.UuidRef">
   

<!--   <vue-cal 
        :time-from="8 * 60"
        :time-to="19 * 60"
        :time-step="30"
         :disable-views="['years', 'year']"
        hide-weekends
        :editable-events="{ title: true, drag: false, resize: true, delete: true, create: false }"
         :events="events"
         class="vuecal--full-height-delete"
        style="height: 300px"
        />

   <vue-cal
  hide-view-selector
  hide-title-bar
  hide-weekends
  :time-from="10 * 60"
  :time-to="16 * 60"
  :disable-views="['years', 'year', 'month', 'day']"
  :editable-events="{ title: false, drag: false, resize: true, delete: true, create: true }"
  :drag-to-create-threshold="0"
  style="height: 300px"
  >
</vue-cal>  -->



<vue-cal
  selected-date="2024-01-01" 
  today-button
  :time-from="8 * 60"
  :time-to="19 * 60"
  :time-step="30"
  hide-weekends
  :snap-to-time="15"
 :disable-views="['years', 'year', 'month']"
  :events="anal" 
  editable-events="editable-events"
  class="katalyo-theme vuecal--full-height-delete">
</vue-cal>

    </div>
</template>

<style>
.katalyo-theme .vuecal__event {
  background-color: #c3d4ff !important;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid;
  cursor:pointer;
  
  &.lunch {
    background: repeating-linear-gradient(45deg, transparent, transparent 10px, #f2f2f2 10px, #f2f2f2 20px);
  }
}

  .katalyo-theme .vuecal__event .vuecal__event-title {

  cursor:auto;
  color: #383a49;
  font-weight: bold;

  }


.chart-wrapper {
    grid-column: auto / span 24;
    padding-top: 1rem;
    padding-bottom: 1rem;
}



</style>
