<script setup lang="ts">

    import { onMounted, toRef, ref, computed ,watch} from "vue"
    import { usePageStore } from '@/m_page/stores/page'
    import { useResourceFormStore } from '@/m_resource/stores/resourceForm'
    import  WidgetBaseExe  from './WidgetBaseExe'
    import type { Ref, ToRef,ComputedRef } from 'vue'
    import  { inject } from 'vue'
    import  FormWidgetExeBase  from './FormWidgetExeBase.vue'
    import Utility from '../../g_libs/kt-utility'
    import { Quill,Delta } from '@vueup/vue-quill'
    import WidgetCustomExe from './WidgetCustomExe'
    
    const props = defineProps({
        fd: Object,
        parentResourceWidgetId:String,
        cssPrefix:String,
        dataRef:Object,
    });

    let cwRef:Ref<any> = ref(null) 
    const dataSrcTypeRef:string | undefined = inject("dataSrcTypeRef") 
    let fd = toRef(props,'fd')
    const dataRef:Ref<any> = toRef(props,'dataRef')
    let parentId:Ref<any> = toRef(props,'parentResourceWidgetId')!==undefined ? toRef(props,'parentResourceWidgetId') : ref('')
    let cssPrefixR:Ref<string | undefined> = toRef(props,'cssPrefix')
    if (!cssPrefixR.value) cssPrefixR.value = parentId.value

    const {createCssLink,authStore,me, formStyleId} = WidgetBaseExe(fd,parentId.value)

    const pageStore = usePageStore()
    const formStore = useResourceFormStore()
    //const rdbmsStore = useRdbmsResourceStore()
    const parentWidget:any = pageStore.getWidgetOnCurrentPage(parentId.value)
    
    //const recId = parentWidget?.rdbmsRecId
    
    let applyTextFilters = function (index: number)
    {
      me.Search = searchFilters[index];
      if (dataRef.value[me?.FieldName] != undefined)    me.Search.value = dataRef.value[me?.FieldName]
    }

    if (!me.ReadOnly) me.localGuid= new Utility().uuidv4()

    const  searchFilters:Array<Record<PropertyKey,any>> = [
      {   "id":1, "filter": "begins",   "name": "Begins with",      "class": "btn-sm btn-light",      "icon": "fa fa-chevron-right" },
      {   "id":2,"filter": "contains",   "name": "Contains",      "class": "btn-sm btn-light",      "icon": "fa fa-expand" },
      {   "id":3,  "filter": "ends",     "name": "Ends",      "class": "btn-sm btn-light",      "icon": "fa fa-chevron-left" },
      {  "id":4, "filter": "eq",      "name": "Equals",      "class": "btn-sm btn-light",      "icon": "fa fa-bars"  }
    ]

    me.searchFilters= searchFilters

    let quillRef:Quill

    onMounted(() => 
    {
      let delta:any 
      if (cwRef?.value?.$el?.outerHTML ) delta = quillRef.clipboard.convert(cwRef.value.$el.outerHTML)
      if (delta) quillRef.setContents(delta, 'silent');
      dataRef.value[me?.FieldName] = quillRef.root.innerHTML
    })

    const updateRtb= (content:Delta)=>{
       //what can be done on update
    }

    const setupRtb= (quill:Quill)=>{

        quillRef = quill
    }
    let hideToolbar:Ref<boolean> = ref(false)
    let toolbar:string='full'

    if (me?.ReadOnly) {
        toolbar=''
        hideToolbar.value = true
    }

    let cssComputed = computed(()=>{
        let cssClass:string = 'element-style-'+formStyleId+'-'+me?.ElementType+'-'+me?.UuidRef
        if (hideToolbar.value) cssClass+=' hide-toolbar'
        return cssClass
    })
    let placeholder = computed(()=>{
        
        if (me?.ReadOnly) return ''
        else return me?.SearchText
    })
    if (me.Search==undefined) me.Search= searchFilters[1]  //contains

</script>

<template>
 
  <FormWidgetExeBase :fd="me" :parent-resource-widget-id="parentId" :form-style-id="cssPrefixR" @apply-filters="applyTextFilters">
    <div :class="cssComputed" :title="me?.UuidRef+' / '+me?.FieldName" :placeholder="me?.SearchText" class="default-style-text default-style-area form-item">
        <QuillEditor v-model:content="dataRef[me?.FieldName]" :placeholder="placeholder" :readOnly="me.ReadOnly" :toolbar="toolbar" @update:content="updateRtb" @ready="setupRtb" contentType="html" theme="snow" />
    </div>
    <div class="custom-widget">
          <WidgetCustomExe ref="cwRef" v-show="false" v-if="me?.DefaultValue" :widget-template="me?.DefaultValue" :in-data="dataRef" />       
    </div>
  </FormWidgetExeBase>
</template>

<style scoped>
.default-style-text{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    font-size:1rem;
    line-height: 1.5;
    color: #26314d;
   background-color: #fff;
   /*  background-clip: padding-box;
    border: 1px solid #E7E9EC;
    */
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-sizing: border-box;
}
.default-style-area{
    height: auto;
}
.custom-widget{
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
:deep(.hide-toolbar > div.ql-toolbar) {
    display: none !important;}
@media (prefers-reduced-motion: reduce) {
    .default-style-text {
      transition: none; } }
  .default-style-text::-ms-expand {
    background-color: transparent;
    border: 0; }
  .default-style-text:focus {
    color: rgba(14, 26, 57, 0.9);
    background-color: #fff;
    border-color: #9eb6f3;
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgba(44, 96, 229, 0.25); }
  .default-style-text::placeholder {
    color: #B7BAC4;
    opacity: 1; }
  .default-style-text:disabled, .default-style-text[readonly] {
    background-color: #F3F3F5;
    opacity: 1; }
</style>