<script setup lang="ts">

    import { useApplicationStore } from '@/g_stores/application';
    //import { useTaskStore } from '@/g_stores/task';
    import { usePageStore } from '@/m_page/stores/page';
    import { useResourceFormStore } from '@/m_resource/stores/resourceForm';
    import { useResourceDefinitionStore } from '@/m_resource/stores/resourceDefinition'
    import { useRdbmsResourceStore } from '@/m_resource/stores/rdbmsResource'
    import { useEventBusStore } from '@/g_stores/eventBus';
    import { toRef,computed,ref,watch,inject,reactive,onUpdated,getCurrentInstance } from "vue";
    import  WidgetBaseExe  from './WidgetBaseExe'
    import ResourceFormExe  from '../ResourceFormExe.vue'
    import  router from '@/g_router/index';
    import DataTable from '../DataTable.vue'
    import type { Ref,ComputedRef } from 'vue'
    import configuration from '@/config';
    import  KatalyoApi from '@/g_libs/kt-api';

    //import LoadingAnimation from "../LoadingAnimation.vue";
    import LoadingPlaceholder from '../LoadingPlaceholder.vue';
    import DropDownSingle from '../DropDownSingle.vue';
    //define props
        const props = defineProps({
        fd: Object,
        parentResourceWidgetId:String,
        cssPrefix:String,
        dataRef:Object,
    });
    
    let fd:Record<PropertyKey,any> = toRef(props,'fd')
    let dataRef:Ref<any> = toRef(props,'dataRef') //PRIVREMENO
    //let dataRef= toRef(props,'dataRef')
    let parentId:Ref<any> = toRef(props,'parentResourceWidgetId')
    const {createCssLink,authStore,me,formStyleId} = WidgetBaseExe(fd,parentId.value)
    let myUuid =   me?.UuidRef 
        
    let cssPrefixR:Ref<string | undefined> = toRef(props,'cssPrefix')
    if (!cssPrefixR.value) cssPrefixR.value = parentId.value

    //const taskStore = useTaskStore()
    const formStore = useResourceFormStore()
    const appStore = useApplicationStore()
    const eventBus = useEventBusStore()
    const rdbmsStore = useRdbmsResourceStore()
    const pageStore = usePageStore()
    
     //let myFormData =   ref(resourceFormStore.formData?.[pageStore.getCurrentPage.instanceId]?.[myDataRef]?.['data'])
    
   
    let counter:number=0
    let counterFn:Ref<number>=ref(0)
    const readOnlyReady=reactive({value:false})
    const readOnlyVal=reactive({value:''})
    let recId:Ref<number>=ref(0)
    let keyRef:Ref<string> =ref('')
    
        const tableConfig = {
        pagination: {
            pageSizeOptions: [5,10,15,25,50,100,500,1000],
            pageSize:10,
        }
    }

    const initialState = { 
        currentPage: 1,
        selectedRecords: [] as any,
        selectedRowIndex: {},
        pageStart: 1,
        pageEnd: 10,
        pageMin: 1,
        pagination:tableConfig.pagination,
        stateType:'form',
        stateFieldName:'selectedRecords'
       // totalPages: 10
    }
    let dt1:Date = new Date()
    //console.log(dt1.toLocaleString()+' '+dt1.getMilliseconds()+' parent='+parentId.value+' '+me?.UuidRef+' '+me?.FieldName+' Uletio u widget ktResource')
     
    let myDataRef:ComputedRef<string> =  computed(() => { 
       return parentId.value+'-'+myUuid
    })
    let cssStyleRef:ComputedRef<string> =  computed(() => { 
       return cssPrefixR.value+'-'+myUuid
    })
    me.WidgetRef = myDataRef.value
    //let myFormData =  computed (() =>  formStore.formData?.[pageStore.getCurrentPage.instanceId]?.[myDataRef.value]?.data)
   
    const dataSrcType:string | undefined = inject("dataSrcTypeRef") 

    formStore.registerFormWidget(myDataRef.value, pageStore.getCurrentPage.instanceId,'form',true)

    if (pageStore.getCurrentPageWidgetState(myDataRef.value) == undefined)  pageStore.setState( myDataRef.value, initialState )
    
   // let myState =   resourceStore.getState(myDataRef.value) //ovako ne radi!!
    let myState =  computed(() => { 
        return  pageStore.getCurrentPageWidgetState(myDataRef.value)
    })
     
    //get resource list data
    const currentPageId:string = pageStore.getCurrentPage?.defId 
    let isSelected = reactive<{ [key: string]: boolean }>({});
 
    let selectedRecord:Record<PropertyKey,any> = ref({}) 
    let onSelectedRowFn = ( tableState:Record<PropertyKey,any> )=>{

        pageStore.setState(myDataRef.value,tableState)
    }
    
    let  onCLickedActionFn=( action:Record<PropertyKey,any> ) =>
    {
    router.push({name: action?.page_def?.ResourceExtended?.Target,params: {page_id:action?.id},query:{app_ref:appStore.currentApp.uid,rinstance:0,session_id:authStore.currentUser?.sessionid}})        
    }
   
    let procSelectedItem = (item:any) => {
      eventBus.emit(pageStore.currentPage.instanceId+'-valueChanged-'+myDataRef.value, dataRef.value[me?.FieldName])
    }

     let getDatasetDataClick = () => {
        let test=formStore.formData?.[pageStore.getCurrentPage.instanceId]?.[myDataRef.value]?.['data']
    }
    
    let openPage = (action:Record<PropertyKey,any>)=>{        
        //set previous task - set it on page
        //set last task action state
        //pageStore.setLastPageState(pageStore.getCurrentPage.instanceId,resourceStore.getState(me?.UuidRef))
        router.push({name: action?.page_def?.ResourceExtended?.Target,params: {page_id:action?.id},query:{app_ref:appStore.currentApp.uid,rinstance:0,session_id:authStore.currentUser?.sessionid}})        
    }

    let apply_value = (data:any) => {
      dataRef.value[me?.FieldName] = data
    }

    let jsonDef:Ref<any> = ref({})
    let errorImport:Ref<string | undefined> = ref(undefined)
          
    createCssLink()
    
    pageStore.setWidgetLoaded(myDataRef.value)

    const searchFormData=formStore.getFormData(myDataRef.value+'-search' ,pageStore.currentPage.instanceId)

    if (!dataRef.value[me?.FieldName]) {
        if (me?.PresentationType==2) dataRef.value[me?.FieldName] = {}
        else dataRef.value[me?.FieldName] = [{}]
    }
  
  me.hideFilter = {}
  if (me?.PresentationType==2) me.hideFilter[me?.UuidRef] = true
  
  let customStyle = computed(()=>{
      if (dataRef?.value && !dataRef?.value[me?.FieldName]) return 'color:#B7BAC4 !important;'
      else return ''
  })

  const check_value = ()=>{
   if (typeof dataRef.value[me?.FieldName]=='number') {
            recId.value = dataRef.value[me?.FieldName]
            keyRef.value= me?.Related+'_'+recId.value?.toString()
    }else if (dataRef.value[me?.FieldName].id){
            recId.value = dataRef.value[me?.FieldName].id
            keyRef.value= me?.Related+'_'+recId.value?.toString()
    }else{
        keyRef.value= me?.Related+'_'+recId.value?.toString()
    }
  }
  check_value()
    const getElementFn = (fieldName:string) =>{
        if (formStore.getFormData(myDataRef.value,pageStore.currentPage.instanceId)[fieldName]?.name) return formStore.getFormData(myDataRef.value,pageStore.currentPage.instanceId)[fieldName]?.name
        if (formStore.getFormData(myDataRef.value,pageStore.currentPage.instanceId)[fieldName+'.name']) return formStore.getFormData(myDataRef.value,pageStore.currentPage.instanceId)[fieldName+'.name']
        else return formStore.getFormData(myDataRef.value,pageStore.currentPage.instanceId)[fieldName]
    }

   
   const computedReadOnly:ComputedRef<string> = computed(() => {
       
      counter++
      let fname:string = "N/A"
     
       
        let separator:string=me?.NameField.separator || ' '
        if(dataRef?.value && typeof dataRef?.value[me?.FieldName]=='number' && (!recId?.value || dataRef?.value[me?.FieldName] !=recId?.value)) 
        {
            if (dataRef?.value[me?.FieldName] !=recId?.value){
              check_value()
              load_data()
            }else check_value()
            
        }
 
        me?.NameField?.name.forEach((element:any) => {
            if (dataRef.value[me?.FieldName] && formStore.getFormData(myDataRef.value,pageStore.currentPage.instanceId)[element.FieldName] ) 
            {
             if (fname!=="N/A")  fname=fname+' '+separator+' '+getElementFn(element.FieldName)
             else fname= getElementFn(element.FieldName)
            }else {
                
                load_data()
                if (fname!=="N/A")  fname=fname+' '+separator+' '+getElementFn(element.FieldName)
                else fname= getElementFn(element.FieldName)
            }
        })
        if (fname  && typeof fname=='string') fname = fname?.trim()
        return  fname
    
        })   
        
    const fetchAll = async () =>{
        const result:any = await rdbmsStore.fetchResourceDataListAll(myDataRef.value,pageStore.getCurrentPage.instanceId,me?.Related,me?.PresentationId,authStore.getCurrentUserLangId,me?.NameField)
    }

    const fetchRecord = async () =>{
        
        const result:any = await rdbmsStore.fetchResourceRecord(myDataRef.value,pageStore.getCurrentPage.defId, '0', pageStore.getCurrentPage.prevResourceId, pageStore.getCurrentPage.instanceId,'i',  me?.Related,  recId.value, me?.Parameters?.PublishedResourceVersion)
    }
 
    let id_key:Ref<string>=ref('resource'+me?.Related+'_id')

    const load_data = ()=>{
        if (me?.PresentationType==1 || me?.PresentationType==2){
            
            if (me?.ShowField)
            {
                if (!me?.ReadOnly && me?.PresentationType==1 && me?.Parameters?.GetData)  fetchAll()
                else if (me?.ReadOnly && me?.PresentationType!=0 && me?.Parameters?.GetData && typeof recId.value=='number') fetchRecord()
                
                    if ((me?.PresentationType==1 && me?.ReadOnly) || me?.PresentationType==2) 
                    {
                    
                            

                            
                            if (formStore.getFormDataLoaded(pageStore.currentPage.instanceId,myDataRef.value)) {
                                //if (me?.PresentationType==1) dataRef.value[me?.FieldName] =  getElementReadOnly(keyRef.value)
                               // if (me?.PresentationType!=1) dataRef.value[me?.FieldName] =   formStore.getFormData(myDataRef.value,pageStore.currentPage.instanceId)
                               // else {
                                   // if (Array.isArray(formStore.getFormData(pageStore.currentPage.instanceId,myDataRef.value))) dataRef.value[me?.FieldName] = formStore.getFormData(myDataRef.value,pageStore.currentPage.instanceId).filter((item:any)=>item[id_key]==recId.value)
                                   // else dataRef.value[me?.FieldName] = formStore.getFormData(pageStore.currentPage.instanceId,myDataRef.value)
                                
                                   // if (!dataRef.value[me?.FieldName].id) dataRef.value[me?.FieldName].id = dataRef.value[me?.FieldName][id_key] 
                                //}
                                dataRef.value[me?.FieldName+'_object'] = formStore.getFormData(myDataRef.value,pageStore.currentPage.instanceId)
                           
                                formStore.setWidgetDataLoaded(pageStore.currentPage.instanceId,myDataRef.value,parentId.value)
                                formStore.setWidgetDataLoadedDirect(pageStore.currentPage.instanceId,myDataRef.value,true)
                                initialState.selectedRecords.push (dataRef.value[me?.FieldName])
                                pageStore.setState(myDataRef.value,initialState)
                                readOnlyReady.value=true
                            }
                            
                            else{
                                watch( () => formStore.getFormDataLoaded(pageStore.currentPage.instanceId,myDataRef.value),(newValue,oldValue) => {
                                    if  (!oldValue && newValue) {
                                        //if (me?.PresentationType==1) dataRef[me?.FieldName] =  getElementReadOnly(keyRef.value)
                                        //if (me?.PresentationType!=1) dataRef.value[me?.FieldName] =  formStore.getFormData(myDataRef.value,pageStore.currentPage.instanceId)
                                       // else 
                                       // {
                                            //recId.value = formStore.getFormData(pageStore.currentPage.instanceId,myDataRef.value)[id_key]
                                            //if (Array.isArray(formStore.getFormData(pageStore.currentPage.instanceId,myDataRef.value))) dataRef.value[me?.FieldName] = formStore.getFormData(pageStore.currentPage.instanceId,myDataRef.value).filter((item:any)=>item[id_key]==recId.value)
                                           // else dataRef.value[me?.FieldName] = formStore.getFormData(pageStore.currentPage.instanceId,myDataRef.value)
                                            //if (!dataRef.value[me?.FieldName].id) dataRef.value[me?.FieldName].id = dataRef.value[me?.FieldName][id_key] 
                            
                                        //}
                                        dataRef.value[me?.FieldName+'_object'] = formStore.getFormData(myDataRef.value,pageStore.currentPage.instanceId)
                                        formStore.setWidgetDataLoaded(pageStore.currentPage.instanceId,myDataRef.value,parentId.value)
                                        formStore.setWidgetDataLoadedDirect(pageStore.currentPage.instanceId,myDataRef.value,true)
                                        initialState.selectedRecords.push (dataRef.value[me?.FieldName])
                                        pageStore.setState(myDataRef.value,initialState)
                                        readOnlyReady.value=true
                                    }
                                })
                            }
                        
                    }else{
                        keyRef.value = parentId.value+'-'+me?.UuidRef
                       
                        if (formStore.getFormDataLoaded(pageStore.currentPage.instanceId,myDataRef.value)) 
                        {
                            isSelected[recId.value] = true
                            if (Array.isArray(formStore.getFormData(myDataRef.value,pageStore.currentPage.instanceId))) {
                                dataRef.value[me?.FieldName] = formStore.getFormData(myDataRef.value,pageStore.currentPage.instanceId).filter((item:any)=>item[id_key.value]==recId.value)[0]
                                dataRef.value[me?.FieldName+'_object'] = formStore.getFormData(myDataRef.value,pageStore.currentPage.instanceId).filter((item:any)=>item[id_key.value]==recId.value)[0]
                           
                            }
                            formStore.setWidgetDataLoaded(pageStore.currentPage.instanceId,myDataRef.value,parentId.value)
                            formStore.setWidgetDataLoadedDirect(pageStore.currentPage.instanceId,myDataRef.value,true)
                            initialState.selectedRecords.push (dataRef.value[me?.FieldName])
                            pageStore.setState(myDataRef.value,initialState)
                        }
                        else{
                            watch( () => formStore.getFormDataLoaded(pageStore.currentPage.instanceId,myDataRef.value),(newValue,oldValue) => {
                                if  (!oldValue && newValue) {
                                    isSelected[recId.value] = true
                                    if (Array.isArray(formStore.getFormData(myDataRef.value,pageStore.currentPage.instanceId))) {
                                        dataRef.value[me?.FieldName] =  formStore.getFormData(myDataRef.value,pageStore.currentPage.instanceId).filter((item:any)=>item[id_key.value]==recId.value)[0]
                                        dataRef.value[me?.FieldName+'_object'] = formStore.getFormData(myDataRef.value,pageStore.currentPage.instanceId).filter((item:any)=>item[id_key.value]==recId.value)[0]
                           
                                    }
                                    formStore.setWidgetDataLoaded(pageStore.currentPage.instanceId,myDataRef.value,parentId.value)
                                    formStore.setWidgetDataLoadedDirect(pageStore.currentPage.instanceId,myDataRef.value,true)
                                    initialState.selectedRecords.push (dataRef.value[me?.FieldName])
                                    pageStore.setState(myDataRef.value,initialState)
                                }
                            })
                        }
                    }
                
            }
        }
    }

  load_data()


  let titleCalc:ComputedRef<string> = computed(()=> {
      let titleValue:string=''
      if (!me?.ReadOnly && !me?.Multiline && dataRef.value[me?.FieldName+'_object']?.name && dataRef.value[me?.FieldName+'_object']?.id!=dataRef.value[me?.FieldName]?.id) titleValue = me.Label+' changed from '+dataRef.value[me?.FieldName+'_object']?.name+' to '+dataRef.value[me?.FieldName]?.name
      else if (me?.ReadOnly && me.PresentationType==1)  titleValue = me.Label+' = '+computedReadOnly.value
      else titleValue = me.Label+' = '+dataRef.value[me?.FieldName]?.name

      if (appStore.debugMode) titleValue = titleValue+'\n'+me.UuidRef+' / '+me?.FieldName
      return titleValue
    })

    me.titleCalc = titleCalc

const applyFilters = function (index: number) {

me.Search = searchFilters[index];

if (dataRef.value[me?.FieldName] != undefined)  me.Search.value = dataRef.value[me?.FieldName]

}

let presentationTypeString = computed(()=>{ 
    if (me?.PresentationType==null) return ''
    if (typeof me?.PresentationType === 'number')  return me?.PresentationType.toString()
    return me?.PresentationType

})


const  searchFilters:Array<Record<PropertyKey,any>> = [
                            {id:1,filter:'onlist',name:"On list",icon:"fa fa-check", class: "btn-sm btn-light",},
                            {id:2,filter:'notonlist',name:"Not on list", class: "btn-sm btn-light",icon:"fa fa-times"},
                        ]

me.searchFilters= searchFilters
if (me.Search==undefined) me.Search= searchFilters[0]

me.actions['apply_value'] = apply_value

if (me?.Parameters?.events?.length) eventBus.subscribe_2_events(me.Parameters.events,me.actions,pageStore.currentPage.instanceId,myDataRef.value)

if (!me?.Parameters?.GetData) formStore.setWidgetDataLoaded(pageStore.currentPage.instanceId,me?.UuidRef,parentId.value)


</script>


<template>

  <FormWidgetExeBase :fd="me" :parent-resource-widget-id="parentId" :form-style-id="cssPrefixR" @apply-filters="applyFilters">
  
    <ResourceFormExe v-if="me.ShowSearchForm || me?.PresentationType==2 && dataRef[me?.FieldName]" 
        :dataSrcType="dataSrcType" 
        :data="formStore.getFormData(myDataRef,pageStore.currentPage.instanceId)" 
        :form-id="cssStyleRef" class="search-form"
        :widget-id="myDataRef" 
        :form-definition="me.FormDefSearch?.layout">
    </ResourceFormExe>
     
   
     
	    <div v-if="me.Parameters.ShowGetDataButton">	
          
            <button  @click="getDatasetDataClick" type="button" :style="'font-size: ' + (me.Parameters.searchButtonSize || '16') +'px'" 
                :class="'btn btn-sm '+ (me.Parameters.searchButtonClass || 'btn-outline-primary') " > 
            
                    <i v-if="me.ShowSearchForm" :class=" me.Parameters.searchButtonIcon"></i>
                    <span v-if="me.ShowSearchForm"> {{me.ParametersLang.GetDataBtnLabel}} </span>
                    
                    <i v-if="!me.ShowSearchForm" class="fas fa-sync"></i>
                    <span v-if="!me.ShowSearchForm"> {{me.ParametersLang.GetDataBtnLabel}} </span>
            
            </button>
                               
        </div>

        <button v-for="action in me?.FormDef" v-if="myState?.selectedRecords?.length && me?.FormDef?.length"  :key="action?.id" @click="openPage(action)" type="button" class="btn-style"  >
            {{action.name}}
        </button>
     
        <LoadingPlaceholder :animation-type="'table'" :show-msg="me?.Parameters?.ShowLoadingMessage" v-if="me?.PresentationType==0 && rdbmsStore.getFetchDataInProgress(myDataRef)"><h3>{{me?.Parameters?.LoadingMessage}}</h3></LoadingPlaceholder>
      
        
        <DataTable v-if="me?.PresentationType==0 && !rdbmsStore.getFetchDataInProgress(myDataRef) && Array.isArray(formStore.getFormData(myDataRef,pageStore.currentPage.instanceId))"
            :parentUid="myDataRef"
            :config = "tableConfig"
            :isFetchinProgress="rdbmsStore.getFetchDataInProgress(myDataRef)" 
            :tableData="formStore.getFormData(myDataRef,pageStore.currentPage.instanceId)"  
            :tableColumns="formStore.getFormDataObject(myDataRef,pageStore.currentPage.instanceId)?.columns?.columnsDef" 
            :tableState="pageStore.getCurrentPageWidgetState(myDataRef)"
            @clickedRow="onSelectedRowFn" 
            @clickedAction="onCLickedActionFn">
         </DataTable>
    
       
        <DropDownSingle :fd="me" v-if="!me?.ReadOnly && presentationTypeString=='1' && formStore.getFormData(myDataRef,pageStore.currentPage.instanceId)?.length"  @selectItem="procSelectedItem" :custom-style="customStyle" :field-name="me?.FieldName" :isSelected="isSelected" :items="formStore.getFormData(myDataRef,pageStore.currentPage.instanceId)" :data-ref="dataRef" :css-style="cssPrefixR+'-'+me?.ElementType+'-'+me?.UuidRef" :parentResourceWidgetId="me?.UuidRef"> 
        </DropDownSingle> 
        <div v-if="!me?.ReadOnly && presentationTypeString=='1' && !formStore.getFormData(myDataRef,pageStore.currentPage.instanceId)?.length" class="bg-white border rounded p-2">No items</div>
  
 


        <div v-if="me?.PresentationType==1 && me?.ReadOnly && readOnlyReady.value && computedReadOnly" :class="'element-style-'+cssPrefixR+'-'+me?.ElementType+'-'+me?.UuidRef">
						
                        
                        <div v-if="!dataRef[me?.FieldName]" class="border p-1 rounded-0 bg-white">0 {{me?.Label}} selected</div>
                      
                        
                        
                        <div v-if="dataRef[me?.FieldName].length && dataRef[me?.FieldName][0].id!=undefined" class="pt-2 mt-n2">
                                <div  class="badge badge-secondary m-1" v-for="(item,index) in dataRef[me?.FieldName]" :key="item.id">
                                    <span class="">{{item.name}}</span>
                                </div>
                            
                        </div>
                        
                        <div :id="me?.UuidRef+' counter = '+counterFn.toString()">
                            <div v-if="appStore.debugMode">{{dataRef}}</div>
                            <div v-if="!computedReadOnly">Loading data for id = {{ recId }}</div>
                            <div>{{computedReadOnly}}</div>
                        </div>
                        

        </div> 
 
    </FormWidgetExeBase>
</template>

<style scoped>
.resource-list-wrapper{
grid-column: auto / span 24;
}

.btn-style{
border: 1px solid gray;
margin-right: 0.25rem;
background-color: white;
padding: 0.3rem;
margin-bottom: 0.5rem;
}
.btn-style:hover{
color:white;
background-color:darkslategrey;


}
</style>