<script setup lang="ts">

    //import { storeToRefs } from 'pinia';
    //import { useAlertStore } from '@/g_stores/alert';
    import { toRef,ref ,computed} from "vue"
    import { usePageStore } from '@/m_page/stores/page'
    import  WidgetBaseExe  from './WidgetBaseExe'
    import { useResourceFormStore } from '@/m_resource/stores/resourceForm'
    import { useRdbmsResourceStore } from '@/m_resource/stores/rdbmsResource'
    import type { Ref } from 'vue'
    import  FormWidgetExeBase  from './FormWidgetExeBase.vue'
    import { DateTime } from "luxon";
    

    const props = defineProps({
        fd: Object,
        parentResourceWidgetId:String,
        cssPrefix:String,
        dataRef:Object,
  
    });

    let fd = toRef(props,'fd')
    let formDataRules:any = {}
    let parentId:Ref<any> = toRef(props,'parentResourceWidgetId')!==undefined ? toRef(props,'parentResourceWidgetId') : ref('')
    
    const formStore = useResourceFormStore()
    const rdbmsStore = useRdbmsResourceStore()
    const pageStore = usePageStore()

    const {createCssLink,authStore,me,formStyleId} = WidgetBaseExe(fd,parentId.value) 

    pageStore.setWidgetLoaded(me?.UuidRef)

    const parentWidget:any = pageStore.getWidgetOnCurrentPage(parentId.value)
    const recId = parentWidget?.rdbmsRecId
    
    const dataRefR:Ref<any> = toRef(props,'dataRef')
    
      let cssClass =  computed(() => { 
      let returnCss:string=''
      returnCss=returnCss+'element-style-'+cssPrefixR.value+'-'+me?.ElementType+'-'+me?.UuidRef
      if (me?.Parameters?.BorderForReadOnly && me?.ReadOnly) returnCss=returnCss+' form-control'
      
      return returnCss
    })

    let cssPrefixR:Ref<string | undefined> = toRef(props,'cssPrefix')
    if (!cssPrefixR.value) cssPrefixR.value = parentId.value
 
    let applyTimeFilters = function (index: number) {

      me.Search = searchFilters[index];

      if (dataRefR.value[me?.FieldName] != undefined)  me.Search.value = dataRefR.value[me?.FieldName]

  }
  let tmpTimeRef:Ref<string> = ref('')

  const parseValue= ()=>{

   if (typeof(tmpTimeRef.value)=='string'){
    let tmpTime:DateTime
    let offset:number = new Date().getTimezoneOffset()
    tmpTime = DateTime.fromFormat('1970-01-01 '+tmpTimeRef.value,"yyyy-MM-dd "+me?.ParametersLang?.format1.name)
    dataRefR.value[me?.FieldName]= tmpTime.toUTC().toISO()
    

   } 
  
  }
    const  searchFilters:Array<Record<PropertyKey,any>> = [
      {   "id":1, "filter": "gt",   "name": "From <time",     "class": "btn-sm btn-light",    "icon": "fa fa-chevron-right" },
      {   "id":2,"filter": "lt",   "name": "To <time>",     "class": "btn-sm btn-light",     "icon": "fa fa-chevron-left" },
      {   "id":3, "filter": "eq",   "name": "On <time>",     "class": "btn-sm btn-light",    "icon": "fa fa-bars" },
      {   "id":4, "filter": "between",   "name": "Between <time1> and <time2>",   "class": "btn-sm btn-light",   "icon": "fa fa-expand"  }
    ]

    me.searchFilters= searchFilters
    if (me.Search==undefined) me.Search= me.searchFilters[2]  


</script>

<template>
  
  <FormWidgetExeBase :fd="me" :parent-resource-widget-id="parentId" :form-style-id="formStyleId" @apply-filters="applyTimeFilters">
      <input v-if="!me?.ReadOnly && me?.Search?.filter!='between'" @change="parseValue()" v-model="tmpTimeRef" :class="'element-style-'+cssPrefix+'-'+me?.ElementType+'-'+me?.UuidRef" :title="me?.UuidRef" :placeholder="me?.SearchText" type="time" :tabindex="me?.TabIndex" class="default-style" />
      <div v-if="!me?.ReadOnly && me?.Search?.filter=='between'">
              <b> Between:  </b> 
                <input  type="time"  :tabindex="me?.tabIndex" v-model="me.Search.between1"  :placeholder="me?.SearchText"  :name="me.Name"  class="default-style"  :class="cssClass" :step="me?.Parameters?.StepValue"/>
                 
              
              <b> And:  </b> 
                <input type="time"  :tabindex="me?.tabIndex" v-model="me.Search.between2" :placeholder="me?.SearchText"  class="default-style"  :class="cssClass" :step="me?.Parameters?.StepValue" />
      </div>
      <div v-if="me?.ReadOnly" :class="'element-style-'+cssPrefix+'-'+me?.ElementType+'-'+me?.UuidRef" :title="tmpTimeRef+' '+me?.UuidRef"> {{dataRefR[me?.FieldName]}}</div>
  </FormWidgetExeBase>
</template>

<style scoped>
.default-style{
    display: block;
    width: calc(100% - 25px);
   /* height: calc(1.5em + 0.75rem + 2px);*/
    padding: 0.375rem 0.75rem;
    font-size:1rem;
    line-height: 1.5;
    color: #26314d;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #E7E9EC;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
    .default-style {
      transition: none; } }
  .default-style::-ms-expand {
    background-color: transparent;
    border: 0; }
  .default-style:focus {
    color: rgba(14, 26, 57, 0.9);
    background-color: #fff;
    border-color: #9eb6f3;
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgba(44, 96, 229, 0.25); }
  .default-style::placeholder {
    color: #B7BAC4;
    opacity: 1; }
  .default-style:disabled, .default-style[readonly] {
    background-color: #F3F3F5;
    opacity: 1; }
</style>