<script setup lang="ts">

import { toRef,ref,reactive } from "vue"
//import  WidgetBaseDef  from './WidgetBaseDef'
import type { Ref , ComputedRef, PropType} from 'vue'

const props = defineProps({
        fd: Object,
        parentResourceWidgetId:String,
    });
    let parentId:Ref<any> = toRef(props,'parentResourceWidgetId')!==undefined ? toRef(props,'parentResourceWidgetId') : ref('')
    let fd = toRef(props,'fd')
  //  const {createCssLink,authStore,me} = WidgetBaseDef(fd,true)

</script>

<template>
    <div class="default-component-wrapper grid-span-24">
        <h5 class="error-default">Widget not implemented error!</h5> 
        <h6 class="">{{fd?.UuidRef}}</h6> 
        <h6 class="">{{fd?.Name}} ({{fd?.ElementType}})</h6> 
    </div>
</template>

<style scoped>
.default-component-wrapper{
    padding: 1rem;
    border:1px solid #d1d1d1;
    margin:0.25rem;
}

.error-default{
color: red;
font-weight: 700;

}
.grid-span-24{
grid-column: auto / span 24;
}
</style>