<script setup lang="ts">

    //import { storeToRefs } from 'pinia';
    //import { useAlertStore } from '@/g_stores/alert';
    import { toRef,computed,ref,watch, reactive } from "vue";
    import { usePageStore } from '@/m_page/stores/page';
    import { useResourceFormStore } from '@/m_resource/stores/resourceForm';
    import { useResourceDefinitionStore } from '@/m_resource/stores/resourceDefinition';
    import { useRdbmsResourceStore } from '@/m_resource/stores/rdbmsResource';
    import { useApplicationStore } from '@/g_stores/application';
    import { useEventBusStore } from '@/g_stores/eventBus';
    import { useResourceFlowStore } from '@/m_resource/stores/resourceFlow'
    //import { useTaskStore } from '@/g_stores/task';
    import  WidgetBaseExe  from './WidgetBaseExe'
    import ResourceFormExe  from '../ResourceFormExe.vue'
    import type { Ref,ComputedRef } from 'vue'
    import Utility from '@/g_libs/kt-utility';
    import  { parse, evaluate } from 'jse-eval'
    //define props
    const props = defineProps({
        fd: Object,
        parentResourceWidgetId:String,
        dataRef:Object,
        cssPrefix:String
    });
    let fd:Record<PropertyKey,any> = toRef(props,'fd')
    let parentId:Ref<any> = toRef(props,'parentResourceWidgetId') || ref('')
    
    const {createCssLink,authStore,me} = WidgetBaseExe(fd)
    
    const formStore = useResourceFormStore()
    const rdbmsStore = useRdbmsResourceStore()
    const pageStore = usePageStore()
    const applicationStore = useApplicationStore()
    const eventBus = useEventBusStore()
    const flowStore = useResourceFlowStore()
    const utility = new Utility()
    //formStore.registerFormWidget(me.UuidRef, pageStore.getCurrentPage.instanceId,'form')
    //let multipleForms:Ref<any> = ref([])
    
    let multipleFormsUids:Ref<Array<string>> = ref([])
    let multipleFormsChild:Ref<any> = ref({})
    let dataSourcesPrepared:Ref<any> = ref({})
    let flowResultError:any = ref({})
    rdbmsStore.setDataObject(me?.UuidRef,pageStore.getCurrentPage.instanceId)
  
    formStore.removeFormWidget(me?.UuidRef,pageStore.currentPage.instanceId)
    //if (!me.Multiline) 
    formStore.registerFormWidget( me?.UuidRef, pageStore.currentPage.instanceId ,'form')
    //else formStore.registerFormWidgetMultiple( me?.UuidRef, pageStore.currentPage.instanceId ,'form')
    
    const processWidgetsSuccess = ()=>{
        console.log('Process widget success '+me?.UuidRef)
    }

    const processWidgetsError = ()=>{
        console.log('Process widget error '+me?.UuidRef)
    }
    let callbacks:Record<PropertyKey,any>={}

    
    
    if (!me.Multiline) 
    {
        callbacks= {'processWidgetsSuccess':processWidgetsSuccess,'processWidgetsError':processWidgetsError}
        formStore.registerWidgetCallBackFn(me?.UuidRef, pageStore.currentPage.instanceId,callbacks)
    }else callbacks={}
    
    pageStore.setWidgetLoaded(me?.UuidRef)
    createCssLink()
    let resourceRecordId:number = 0
    let tablePrefix:string = me?.Related
    let ods:any = {}
   
    for (let i=0;i<me.Parameters?.DataSources?.length;i++)
    {
        if (formStore.getFormLoadCompleted(pageStore.getCurrentPage.instanceId,me.Parameters.DataSources[i].widgetId)){
            ods[me.Parameters.DataSources[i].srcName] =  formStore.formData[pageStore.currentPage.instanceId][me.Parameters.DataSources[i].widgetId]?.data
            dataSourcesPrepared.value[me.Parameters.DataSources[i].srcName]=true
        }else{
            dataSourcesPrepared.value[me.Parameters.DataSources[i].srcName]=false
            watch( () => formStore.getFormLoadCompleted(pageStore.getCurrentPage.instanceId,me.Parameters.DataSources[i].widgetId),(newValue,oldValue) => {
                    if  (!oldValue && newValue)  
                    {
                        ods[me.Parameters.DataSources[i].srcName] =  formStore.formData[pageStore.currentPage.instanceId][me.Parameters.DataSources[i].widgetId]?.data
                        formStore.extendFormData(pageStore.currentPage.instanceId,me?.UuidRef,ods)
                        dataSourcesPrepared.value[me.Parameters.DataSources[i].srcName]=true
                    }
                }) 
        }

    }
    formStore.extendFormData(pageStore.currentPage.instanceId,me?.UuidRef,ods)


    let dataSourcesReady:ComputedRef<boolean> = computed(()=>
    {
        let rVal:boolean = true
        if (!me.Parameters?.DataSources) return rVal
        if (me.Parameters?.DataSources?.length!=Object.keys(dataSourcesPrepared.value).length) return false
        
        for (const [key, value] of Object.entries(dataSourcesPrepared.value)) {
            
            if (!value) rVal = false

      }
      return rVal

    })
 
    const getDataMultiple = ()=>{

        let dataMultiple:any = []
        for (let i=0;i<multipleFormsUids.value.length;i++)
        {
            let parent = formStore.formData[pageStore.currentPage.instanceId][me?.UuidRef+'-'+multipleFormsUids.value[i]].data
            if (multipleFormsChild.value[multipleFormsUids.value[i]]) parent[me?.Parameters?.ChildField] = formStore.getFormData(me?.Parameters?.ChildWidget+'-'+multipleFormsUids.value[i],pageStore.currentPage.instanceId)
            else parent[me?.Parameters?.ChildField] = null
            dataMultiple.push([parent])
        }
        return dataMultiple
    }
    const addResourceRecord = async (data:any)=>{
        
        if (me?.Parameters.AddChild) return addResourceRecordWithChild(data)

        let recData = formStore.getFormData(me?.UuidRef,pageStore.currentPage.instanceId)

        if (me?.Multiline) recData = getDataMultiple()
        let addRec:any = await rdbmsStore.addResourceRecord(pageStore.currentPage.defId,me.UuidRef,recData,0,pageStore.currentPage.instanceId,pageStore.currentPage.prevResourceId)

        if (addRec){
            if (me?.Multiline)
            {
                for (let i=0;i<addRec.records.length;i++) {
                    resourceRecordId = utility.extractIdFromRecord(addRec.records[i],tablePrefix)
                    let recId:string =  me?.Related+'_'+resourceRecordId?.toString()
                    rdbmsStore.resourceData[recId] =addRec.records[i]
                    rdbmsStore.dataLoaded[recId] = true
                    const stamp:number = new Date().getTime()
                    rdbmsStore.staleFlag[me?.Related] = stamp
                    rdbmsStore.staleFlag[recId] = stamp    
                }
            }
            else{
                resourceRecordId = utility.extractIdFromRecord(addRec.record,tablePrefix)
                let recId:string =  me?.Related+'_'+resourceRecordId?.toString()
                rdbmsStore.resourceData[recId] =addRec.record
                rdbmsStore.dataLoaded[recId] = true
                const stamp:number = new Date().getTime()
                rdbmsStore.staleFlag[me?.Related] = stamp
                rdbmsStore.staleFlag[recId] = stamp
            }
            return {status_message:'ok',status:0,actionIdx:data.flowData?.actionIdx,result:addRec}
        }else return {status_message:'nok',status:-1,actionIdx:data.flowData?.actionIdx,result:addRec}
        
            
     }

     const resetFormdata = async ()=>{
       
       formStore.resetFormData(pageStore.currentPage.instanceId,me?.UuidRef)
           
    }

    const addResourceRecordWithChild = async (data:any)=>{
       
       let recData = formStore.getFormData(me?.UuidRef,pageStore.currentPage.instanceId)
       let finalData={} 
       
       recData[me?.Parameters.ChildField] = formStore.getFormData(me?.Parameters?.ChildWidget,pageStore.currentPage.instanceId)

       if (me?.Multiline) recData = getDataMultiple()
       
       finalData = {'data':recData,'child_widget':me?.Parameters.ChildWidget,'child_resource_id':pageStore.getWidgetOnCurrentPage(me?.Parameters.ChildWidget)?.Related,'parent_field':me?.Parameters.ParentField,'child_field':me?.Parameters.ChildField}
       let addRec:any = await rdbmsStore.addResourceRecordWithChild(pageStore.currentPage.defId,me.UuidRef,finalData,0,pageStore.currentPage.instanceId,pageStore.currentPage.prevResourceId)

       if (addRec){
           if (me?.Multiline)
           {
               for (let i=0;i<addRec.records.length;i++) {
                   resourceRecordId = utility.extractIdFromRecord(addRec.records[i],tablePrefix)
                   let recId:string =  me?.Related+'_'+resourceRecordId?.toString()
                   rdbmsStore.resourceData[recId] =addRec.records[i]
                   rdbmsStore.dataLoaded[recId] = true
                   const stamp:number = new Date().getTime()
                   rdbmsStore.staleFlag[me?.Related] = stamp
                   rdbmsStore.staleFlag[recId] = stamp    
               }
           }
           else{
               resourceRecordId = utility.extractIdFromRecord(addRec.record,tablePrefix)
               let recId:string =  me?.Related+'_'+resourceRecordId?.toString()
               rdbmsStore.resourceData[recId] =addRec.record
               rdbmsStore.dataLoaded[recId] = true
               const stamp:number = new Date().getTime()
               rdbmsStore.staleFlag[me?.Related] = stamp
               rdbmsStore.staleFlag[recId] = stamp
           }
       
        return {status_message:'ok',status:0,actionIdx:data.flowData?.actionIdx,result:addRec}   
       }else return {status_message:'nok',status:-1,actionIdx:data.flowData?.actionIdx,result:addRec}
    }

    const addRecords = async (data:any)=>{
       
       let recs:any,input_params:string,default_data:any,idx:number
       if (data.eventData?.stateFieldName){
           recs = data?.eventData[data.eventData?.stateFieldName]
           input_params = data.flowData?.inParams?.[data.flowData.actionIdx]
 
           
           for (let i=0;i<recs.length;i++){
               default_data={}
              
               for (const [key, value] of Object.entries(input_params)) {
             
                       default_data[key] = utility.eval_expr(recs[i],value,parse,evaluate)
                   
               }
               idx = addManualRecordToMultiple(recs[i])
               formStore.setFormData(pageStore.currentPage.instanceId,me.UuidRef+'-'+multipleFormsUids.value[idx],default_data)
               formStore.extendFormData(pageStore.currentPage.instanceId,me?.UuidRef+'-'+multipleFormsUids.value[idx],ods)
           }
       }
       start_widget()
       return {status_message:'ok',status:0,actionIdx:data.flowData?.actionIdx,result:recs?.length}   
   }


    const setRecords = async (data:any)=>{
        if (data.eventData?.stateFieldName)   {
            
           multipleFormsUids.value.length = 0             
           formStore.removeFormWidget(me?.UuidRef,pageStore.currentPage.instanceId)
        } 
        return addRecords(data)           
    }


    me.actions['addResourceRecord'] = addResourceRecord
    me.actions['resetFormData'] = resetFormdata
    me.actions['setRecords'] = setRecords
    me.actions['addRecords'] = addRecords


    let widgetReady:Ref<boolean> = ref(false)

    const processMapping = async ()=>{

        const filter_data:any = {}
        let mapping:any = await rdbmsStore.processR2rMapping(me.UuidRef,pageStore.currentPage.defId,0,me.DatasetMapping,filter_data,pageStore.currentPage.instanceId,pageStore.currentPage.prevResourceId)
         
            Object.keys(mapping).forEach(function(key) {

                if (me.Multiline){

                            for (let i=0;i<multipleFormsUids.value.length;i++){
                                formStore.formData[pageStore.currentPage.instanceId][me?.UuidRef+'-'+multipleFormsUids.value[i]].data[key]=mapping[key]
                            }
                }else{
                    formStore.formData[pageStore.currentPage.instanceId][me?.UuidRef].data[key]=mapping[key]
                }
        })
        widgetReady.value=true
    }
    const start_widget = ()=>{
        widgetReady.value=false
        if (me.DatasetMapping?.length && (!me.SrcWidgetId || (me.SrcWidgetId && formStore.getFormLoadCompleted(pageStore.getCurrentPage.instanceId,me.SrcWidgetId)))) processMapping ()
        else if (me.DatasetMapping?.length && me.SrcWidgetId){
            watch( () => formStore.getFormLoadCompleted(pageStore.getCurrentPage.instanceId,me.SrcWidgetId),(newValue,oldValue) => {
                    if  (!oldValue && newValue && me.DatasetMapping?.length) processMapping()
                })
        }else{
            widgetReady.value=true
        }
    }

    if (!me.Multiline || multipleFormsUids.value.length) start_widget()
    else widgetReady.value=true

    const removeManualRecordFromMultiple = (idx:number) =>{

        const formUid:string = multipleFormsUids.value[idx]
        //multipleForms.value.splice(idx,1)
        formStore.removeFormWidget(me?.UuidRef+'-'+formUid,pageStore.currentPage.instanceId)
        if (me?.Parameters?.AddChild && multipleFormsChild.value[formUid]) formStore.removeFormWidget(me?.Parameters?.ChildWidget+'-'+formUid,pageStore.currentPage.instanceId)
        multipleFormsUids.value.splice(idx,1)
       
        
    }
    const addManualRecordToMultiple = (rec:any) => {
        let formUid:string = utility.uuidv4()
        multipleFormsUids.value.push(formUid)
        const idx:number = multipleFormsUids.value.length-1
        formStore.registerFormWidget( me?.UuidRef+'-'+formUid, pageStore.currentPage.instanceId ,'form')
        let hasChild = false
        
        if (rec && me?.Parameters.HasChildCondition) hasChild = utility.eval_expr(rec,me?.Parameters.HasChildCondition,parse,evaluate)

        if (hasChild) multipleFormsChild.value[formUid] = hasChild
        if (me?.Parameters?.AddChild && hasChild)  formStore.registerFormWidget( me?.Parameters?.ChildWidget+'-'+formUid, pageStore.currentPage.instanceId ,'form')
        //multipleForms.value.push(me.FormDef)
        return idx

    }

    if (me?.Parameters?.events?.length) eventBus.subscribe_2_events(me.Parameters.events,me.actions,pageStore.currentPage.instanceId,me.UuidRef)


</script>

<template>
    <div class="form-wrapper-wait add-widget" v-if="!widgetReady">
        <div> Loading add widget {{me?.UuidRef}} </div>
        <i class="fas fa-circle-notch fa-spin fa-2x"></i> 
        <div v-if="me?.SrcWidgetId"> Waiting for widget {{me?.SrcWidgetId}}</div>
    </div>
    <div class="form-wrapper add-widget" v-if="widgetReady">
        <h5 v-if="me?.Parameters?.SelectVersionDirect && me?.Parameters?.PublishedResourceId<1" class="missing-id-cls">Add resource widget error => PublishedResourceId variable is missing!</h5>
        <!--   <div>{{widgetStore.getWidgetFormDefinition(fd?.UuidRef)}}</div>-->
        <div v-if="applicationStore.debugMode">This is add widget {{me?.UuidRef}}</div>
        <div v-if="applicationStore.debugMode">{{me?.FormDef}}</div>
        <ResourceFormExe v-if="!me.Multiline && dataSourcesReady" data-src-type="'form'" :form-id="me?.UuidRef" :widget-id="me?.UuidRef" :data="formStore.formData[pageStore.currentPage.instanceId][me?.UuidRef]?.data" :form-definition="me?.FormDef"/>
        <ResourceFormExe v-if="!me.Multiline && dataSourcesReady && me?.Parameters?.AddChild" data-src-type="'form'" :form-id="me?.Parameters?.ChildWidget" :widget-id="me?.Parameters?.ChildWidget" :data="formStore.formData[pageStore.currentPage.instanceId][me?.Parameters?.ChildWidget]?.data" :form-definition="pageStore.getWidgetOnCurrentPage(me?.Parameters.ChildWidget).FormDef"/>
        
        <div class="mt-1" v-if="me.Multiline">
            <div v-for="(uid,index) in multipleFormsUids" :key="uid" class="add-record-item">
                <div class="remove-btn">
                    <button type="button" class="btn btn-xs btn-danger" @click="removeManualRecordFromMultiple(index)" ><i class="fa fa-trash mr-1"></i><span >{{me.ParametersLang.RemoveRecLabel || 'Remove item'}}</span></button>
                </div>
                    <b v-if="applicationStore.debugMode">{{ uid }}</b>
                    <b v-if="applicationStore.debugMode">{{ dataRef }}</b>
                    
                    <ResourceFormExe data-src-type="'form'" :form-id="me?.UuidRef" :widget-id="me?.UuidRef+'-'+uid" :data="formStore.getFormData(me?.UuidRef+'-'+uid,pageStore.getCurrentPage.instanceId)" :form-definition="me?.FormDef"/>
                    <ResourceFormExe v-if="me?.Parameters?.AddChild && multipleFormsChild[uid]" data-src-type="'form'" :form-id="me?.Parameters?.ChildWidget" :widget-id="me?.Parameters?.ChildWidget+'-'+uid" :data="formStore.getFormData(me?.Parameters?.ChildWidget+'-'+uid,pageStore.getCurrentPage.instanceId)" :form-definition="pageStore.getWidgetOnCurrentPage(me?.Parameters.ChildWidget).FormDef"/>
        
                </div>
            
            <div v-if="(me?.FormDef.length<me.Parameters?.MaxItems && me?.Parameters?.MaxItems>0) || me?.Parameters?.MaxItems==undefined">
                <button type="button" class="btn btn-sm btn-outline-primary" @click="addManualRecordToMultiple(null)" ><i class="fa fa-plus mr-1"></i><span>{{ me?.ParametersLang?.AddRecLabel || 'Add item' }}</span></button>
                
            </div>
        </div>
    </div>
</template>

<style scoped>
   
   .form-wrapper{
        grid-column: auto / span 24;
    }
    .form-wrapper-wait{
        grid-column: auto / span 24;
        background-color: lightblue;
        padding: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        text-align: center;
    }
    .missing-id-cls{
        color:crimson;
    }
    .remove-btn{
		position: absolute;
		margin-top: 10px;
		right: 0;
		z-index: 1000;
	}
	.add-record-item .remove-btn{
		visibility: hidden;
	}


	.add-record-item:hover .remove-btn {
	visibility: visible;
	}
</style>