<script setup lang="ts">

    import { storeToRefs } from 'pinia';
    import { useAuthUserStore } from '@/m_auth/stores/authUser';
    import { usePageStore } from '@/m_page/stores/page';
    import { useApplicationStore } from '@/g_stores/application'
    import { useAlertStore } from '@/g_stores/alert';
    import {  reactive,toRef,computed,defineAsyncComponent ,watch} from "vue";
    import LoadingPlaceholder from './LoadingPlaceholder.vue';
    import type { Ref } from 'vue'

    const authStore = useAuthUserStore()   
    const appStore = useApplicationStore()
    const pageStore = usePageStore()
    
    const props = defineProps({
        env: String ,
    });

    let {currentPageState} = storeToRefs(pageStore)
    if (pageStore.currentPageState?.selectedTab ===undefined)   pageStore.currentPageState.selectedTab=1
    
    let env:Ref<any> = toRef(props,'env')

    appStore.fetchApplicationList()

   
    

   let subscribe_unsubscribe = async (app:any,sub_type:string)=>{

        app.subscribing=true
        let res:any = await appStore.manageResourceSubscriptions(app,'application-'+app?.app_type,sub_type)
        app.subscribing=false
    

   }

    let startApplication = async (app:any)=>
    {
        if (app.uniqueId=='ktlyo_builder') {
            let url = 
            window.open('/builder/n/?app_ref='+app.uid+'&env='+authStore.getCurrentUserDefaultEnv,'_blank')

        }else appStore.startApplication(app)
    }

    let getBtnLaunchCls = (app:any) =>{
        let cls:string
        if (app.uniqueId=='ktlyo_builder') cls = "btn btn-primary btn-sm w-100"
        else cls="btn btn-success btn-sm w-100"
        return cls
    }

</script>

<template>
<div class="app-list-tab">
        
    <div class="tab border-bottom">
            <button type="button" class="tab-item" id="all_tab" @click="currentPageState.selectedTab=1"  :class="currentPageState?.selectedTab===1 ? 'active' : ''">My apps</button>
            <button type="button" class="tab-item" id="my_tab" @click="currentPageState.selectedTab=2" :class="currentPageState?.selectedTab===2 ? 'active' : ''">Search apps</button>    
            <div class="logout-link">
                <RouterLink to="/logout"><i class="fa fa-sign-out-alt mr-2"></i>Logout</RouterLink>
            </div>
    </div>
    
    <LoadingPlaceholder :animation-type="'card'" :show-msg="false" v-if="appStore.getFetchAppListInProgress"></LoadingPlaceholder>
        
    <div v-if="!appStore.getFetchAppListInProgress" class="app-list-grid">
            <template v-if="currentPageState.selectedTab===1"  v-for="(app,index) in appStore.getSubscribedAppList" :key="app.uid" >
                <div  class="app-list-item">
                    <div class="">        
                            <div class="subscribe-info-grid">
                                <div class="" style="text-align: left;padding: 6px;">
                                        <button type="button" class="btn btn-link btn-xs" v-if="!app.subscribing" @click="subscribe_unsubscribe(app,'unsubscribe')">Unsubscribe</button>
                                        <span v-if="app.subscribing" class="small text-primary"><i class="fa fa-cog fa-spin mr-1"></i>Unsubscribing...</span>
                                </div>
                                <div class="" style="text-align: right;padding: 6px;">
                                        <a class="small" ui-sref="app.navbar.resources.view({ id:app.uid,  prev_state:'app.navbar.home' })">Info</a>
                                </div>
                                
                            </div>
                        
                            <div class=" text-center m-2"> </div>
                            
                            <div class="h5 text-center mt-4 mb-0">
                                <span style="font-weight: bold;color:#6f7ec7">{{app.Name}}</span>
                            </div> 
                            
                            <span v-if="!appStore.getFetchAppListInProgress" class="small">v{{app.version}}</span>

                            <div class=" text-center mb-4">
                                <span class="small"><b>Created by {{app.OrgName}}</b></span>
                            </div>

                    </div>
                    
                    <div class="">
                            <button type="button" :class="getBtnLaunchCls(app)" @click="startApplication(app)" :disabled="appStore.getStartAppInProgress(app.uid)">
                                <i v-if="!appStore.getStartAppInProgress(app.uid)" class="fa fa-rocket {{app.Params.Icon}}"></i>
                                <i v-if="appStore.getStartAppInProgress(app.uid)" class="fas fa-spinner fa-spin"></i>
                                <span v-if="!appStore.getStartAppInProgress(app.uid)" class="ml-3">Start</span>
                                <span v-if="appStore.getStartAppInProgress(app.uid)" class="ml-3">Starting app</span>
                            </button>
                    </div>
            
                </div>
            </template>
            <template v-if="currentPageState.selectedTab===1 && !appStore.getSubscribedAppList.length"><div style="grid-column: auto / span 4;" class="h5 text-center text-primary">Go to 'Search apps' to subscribe</div></template>
    </div>

    <div class="app-list-grid">
            <template v-if="currentPageState.selectedTab===2" v-for="(app,index) in appStore.getUnsubscribedAppList" :key="app.uid">
                <div class="app-list-item">
                      
                            <div class="">
                                <div class="text-right p-1">
                                    <div class="">
                                            <a class="small" ui-sref="app.navbar.resources.view({ id:app.uid,  prev_state:'app.navbar.home'})">Info</a>
                                    </div>   
                                </div>
                                                        
                                <div class=" text-center m-2"> </div>
                                
                                <div class="h5 text-center mt-4 mb-0">
                                    <span style="font-weight: bold;color:#6f7ec7">{{app.Name}}</span>
                                </div> 
                                
                                <div class=" text-center mb-4">
                                    <span class="small">Created by {{app.OrgName}}</span>
                                </div>
                            </div>    
        
                        
                        <div class="">
                                <button type="button" class="btn btn-success btn-sm w-100" @click="subscribe_unsubscribe(app,'subscribe')">
                                    <i v-if="!app.subscribing" class="{{app.Params?.Icon}}"></i>
                                    <i v-else class="spinner-border spinner-border-sm"></i>
                                    <span v-if="!app.subscribing" class="ml-3">Subscribe</span>
                                    <span v-else class="ml-3">Subscibing...</span>
                                </button>
                        </div>
       
                </div>
            </template>
    </div>

</div>
</template>

<style scoped>
.logout-link{
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: large;
    float: right;
}
.app-list-tab{

        padding: 1.5rem;
        border: 1px solid #e0e0e0;
        width: 80%;
        border-radius: 0.25rem !important;
        box-shadow: 0 0.125rem 0.25rem rgb(14 26 57 / 8%) !important;
        text-align: center !important;
        margin: 0 auto;
}
.app-list-grid{

display: grid;
grid-template-columns: repeat(4,1fr);
grid-auto-flow: row;
row-gap: 0.5rem;
}
.subscribe-info-grid{

display: grid;
grid-template-columns: repeat(2,1fr);
grid-auto-flow: row;
}
.app-list-item{

padding: 0.25rem;
border: 1px solid #e0e0e0;
grid-column: auto / span 1;
border-radius: 0.25rem !important;
box-shadow: 0 0.125rem 0.25rem rgb(14 26 57 / 8%) !important;
text-align: center !important;
margin: 0.25rem !important;
margin-top: 0.5rem;

line-height:1.5rem;
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.tab{
text-align: left;
margin-bottom: 12px;
}
.tab-item{
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.tab-item:focus{
    outline: none;
}
.tab-item.active{
    border-bottom: 3px solid darkblue;
}
@media (max-width: 1200px) {
    .app-list-grid {
        grid-template-columns: repeat(3,1fr);
    }
}

@media (max-width: 1024px) {
    .app-list-grid {
        grid-template-columns: repeat(2,1fr);
    }
  
    .app-list-tab {
        width: 100%;
        box-sizing: border-box;
    }
}

@media (max-width: 768px) {
    .app-list-grid {
        grid-template-columns: repeat(1,1fr);
    }
  
    .app-list-tab {
        padding: 12px;
    }
}
</style>