<script setup lang="ts">

    import { storeToRefs } from 'pinia';
    import { useAuthUserStore } from '@/m_auth/stores/authUser'
    import { useAppMenuStore } from '@/g_stores/appMenu'
    import { useApplicationStore } from '@/g_stores/application'
    import { usePageStore } from '@/m_page/stores/page'
    import { useAlertStore } from '@/g_stores/alert'
    import { reactive,toRef,ref,computed,defineAsyncComponent } from "vue"
    import type { Ref } from 'vue'
    import LoadingAnimation from './LoadingAnimation.vue';
    import  configuration from '@/config';
    import Utility from '@/g_libs/kt-utility';
import { app } from '@/main';
    
    const props = defineProps({
        menuId: String,
        menuType:String,
        menuVersion:Number
    });
    
    let menuId_ref:Ref<any> = toRef(props,'menuId')
    let menuType_ref:Ref<any> = toRef(props,'menuType')
    let menuVersion_ref:Ref<any> = toRef(props,'menuVersion')

    const authUser = useAuthUserStore()
    const appMenuStore = useAppMenuStore()
    const applicationStore = useApplicationStore()
    const pageStore = usePageStore()

    //get menu definition from app menu store
    const menuId:string = menuId_ref.value !== undefined ? menuId_ref.value : '0'
    const menuType:string = menuType_ref.value !== undefined ? menuType_ref.value : '0'
    const menuVersion:number =  menuVersion_ref.value !== undefined ? menuVersion_ref.value : 0
    
    const utility:Utility = new Utility()
   
      

    if (menuId && menuId!='0') 
    
    {
        appMenuStore.fetchMenuExe(menuId,menuType,menuVersion)
        utility.createCssLink(configuration().api?.publishurl,menuId)
     
    }
    
 
    
    //put all different styling here
    let navbarClass = (icon:string)=>{return 'fa fa-'+icon}
    
    let setDropdown = (dropIndex:number)=>{
     
            if (appMenuStore.showDropdown[dropIndex]) appMenuStore.showDropdown[dropIndex] = false
            else appMenuStore.showDropdown[dropIndex] = true
    }
    let allDropdowns =  computed(() => { 
       let fsdd:boolean = false
        appMenuStore.showDropdown.forEach((element:any) => {
        if (element) fsdd=true
       });
        return fsdd
    })

    let currentEnvType = computed( ()=> {
    let cur= applicationStore.currentEnv ?? ''
    if (cur) return authUser.getEnvironments[cur]
    else return {schematype:'N/A'}
  })

  const envIcon = computed( ()=> {
    let cur= applicationStore.currentEnv ?? ''
    if (cur) return authUser.getEnvironments[cur].parameters?.icon+' mr-2'
    else return ""
  })

  const envStyle = computed( ()=> {
    let cur= applicationStore.currentEnv ?? ""
    let dStyle=""
    if (cur) {
        if (authUser.getEnvironments[cur].parameters?.icon) dStyle+="background-color:"+authUser.getEnvironments[cur].parameters?.bgcolor+";"
        if (authUser.getEnvironments[cur].parameters?.color) dStyle+="color:"+authUser.getEnvironments[cur].parameters?.color+";"
    }
   
    return dStyle 
    
  })

    document.addEventListener('mouseup', function(e:any) {
        // hide dropdown when clicked outside
        
        let container0:any = document.getElementById('dropdown-menu-env');
        if (appMenuStore.showDropdown[0] && container0 && !e?.target?.className.includes('dropdown-toggle') && (!container0.contains(e.target) || e?.target?.className == 'nav-link-right' )) {
            appMenuStore.showDropdown[0] = false
        }

        let container:any = document.getElementById('dropdown-menu-right-id');
        if (appMenuStore.showDropdown[1] && container && !e?.target?.className.includes('dropdown-toggle') && (!container.contains(e.target) || e?.target?.className == 'nav-link-right' )) {
            appMenuStore.showDropdown[1] = false
        }
    });

    const appVersion = import.meta.env.VITE_APP_VERSION

</script>

<template>

    <div  id="app-menu-id" class="navbarContainer"> <!--v-if="pageStore.getCurrentPage?.params?.Parameters?.navbar"-->
        <div class="navbar-custom navbar-custom-top py-0" :class="'navbar-custom-ext-p-'+menuId_ref">
            <a href="" v-if="pageStore.getCurrentPage.hasPageMenu" title="Page menu" @click.prevent="pageStore.togglePageMenuVisibility()" class="nav-link-side-menu">
                <i  class="fa fa-bars nav-link-side-menu" ></i>  
            </a>
            <img :title="'Version: '+appVersion" src="@/g_assets/img/Katalyo_final_aqua_white.png" class="mx-1" style="width: 4%"/>
            <LoadingAnimation v-show="appMenuStore.getMenusInProgress"></LoadingAnimation>
                
                <ul left class="navbar-nav navbar-top-ul navbar-top-left mr-auto mb-0" >
                       <li v-if="appMenuStore.getCurrentMenu?.length==0" class="nav-item">   

                             <RouterLink class="nav-link" :class="'nav-link-custom-p-'+menuId_ref" to="/dashboard" >
                                <i  class="fa fa-home mr-2"></i><span class="px-1" style="white-space: nowrap;">   Home</span>
                            </RouterLink>
                        </li>
                       
                        <li  v-for="ni in appMenuStore.getCurrentMenu" :key="ni.s_menus_id" class="nav-item">
                          
                          <!--  <a title="{{ni.s_menus_Name}}" @click="setSelectedAppMenu(ni.s_pages_Target,ni.s_menus_Target_id)" ui-sref = "{{ni.s_pages_Target}}(ni.s_menus_Params)" class="nav-link text-center">
                            <i class="fa fa-{{ni.s_menus_Icon}}"></i>
                            <span class="px-1" style="white-space: nowrap;">{{ni.s_menus_Name}}</span>
                          </a> -->
                        
                            <RouterLink v-if="ni.s_menus_MenuPosition=='navbar'"  class="nav-link text-center" :class="'nav-link-custom-p-'+menuId_ref"
                                :to="{name: ni.s_menus_Params.pagestate,
                                    params:{page_id:ni.s_menus_Target , page_version: ni.s_menus_Version || 0 },
                                    query:{app_ref:applicationStore.getCurrentApp.uid, rinstance:'0',env:applicationStore.currentEnv,prinstance: pageStore.currentPage.instanceId, session_id: authUser.currentUser?.sessionid}}"> 
                                    
                                    <i  :class="ni.s_menus_Icon"></i>
                                    <span class="px-1" style="white-space: nowrap;">{{ni.s_menus_Name}}</span>
                            </RouterLink>
 
                        </li>
                     
                </ul>

                <ul right class="navbar-nav navbar-top-ul navbar-top-right" :class="'navbar-custom-ext-p-'+menuId_ref">
                    
                    <li class="nav-item dropdown">
                  
                        <a class="nav-link dropdown-toggle" :style="envStyle" :class="'nav-link-custom-p-'+menuId_ref" href="" @click.prevent="setDropdown(0)"><i v-if="envIcon" :class="envIcon"></i><span>{{ currentEnvType.schematype }}</span></a>
                      

                        <ul id="dropdown-menu-env" class="dropdown-menu dropdown-menu-right" :class="{'visible':appMenuStore.showDropdown[0] ,'':!appMenuStore.showDropdown[0]}">
                            <li class="nav-item">
                                <RouterLink v-if="applicationStore.currentApp?.HelpPage?.ResourceDefUid" class="nav-link-right" :to="{name:'app.navbar.vpage',  params:{page_id:applicationStore.currentApp.HelpPage.ResourceDefUid , page_version: applicationStore.currentApp.HelpPage.Version || 0 },
                                    query:{app_ref:applicationStore.getCurrentApp.uid, session_id: authUser.currentUser?.sessionid}}"> <i  class="fa fa-bug"></i>
                                    <span class="px-1" style="white-space: nowrap;">Report an issue</span>
                                </RouterLink>
                            </li> 
                            <li class="nav-item">
                                <RouterLink class="nav-link-right" :to="{name:'app.navbar.selectenv',params:{type:'change'}, query:{app_ref:applicationStore.getCurrentApp.uid, session_id: authUser.currentUser?.sessionid}}"><i class="fa fa-globe"></i>
                                  <span class="px-1" style="white-space: nowrap;">Environment</span>
                                </RouterLink>
                            </li>
                          
                        </ul>
               
                    </li>
                    <li class="nav-item text-center">
                        <RouterLink class="nav-link" :class="'nav-link-custom-p-'+menuId_ref" :to="{name:'app.navbar.user.details',
                                    params:{},
                                    query:{app_ref:applicationStore.getCurrentApp.uid, session_id: authUser.currentUser?.sessionid}}"><i class="fa fa-user"></i>
                        <!--<span class="px-1" style="white-space: nowrap;">{{authUser.getCurrentUser?.first_name}} {{authUser.getCurrentUser?.last_name}}</span>-->
                        </RouterLink>
                    </li>
               
                    <li v-for="nir in appMenuStore.getCurrentMenu" :key="nir.s_menus_id" class="nav-item" :class="{'dropdown':nir.s_menus_MenuPosition=='navbarright' && nir.s_menus_Active}" :style="{'display': nir.s_menus_MenuPosition=='navbarright' && nir.s_menus_Active ? 'block' : 'none' }">
                  
                        <a class="nav-link dropdown-toggle" :class="'nav-link-custom-p-'+menuId_ref" href="" @click.prevent="setDropdown(1)"><i class="mr-1" :class="nir.s_menus_Icon"></i>{{nir.s_menus_Name}}</a>
                  
                        <ul id="dropdown-menu-right-id" v-if="nir.s_menus_Active && nir.s_menus_MenuPosition=='navbarright'" class="dropdown-menu dropdown-menu-right" :class="{'visible':appMenuStore.showDropdown[1] ,'':!appMenuStore.showDropdown[1]}">
                    
                            <li  class="nav-item-right" v-for="cnr in appMenuStore.getSideMenus(nir.s_menus_id)" :key="cnr.s_menus_id">

                                <RouterLink v-if="cnr.s_menus_MenuType==1 && cnr.s_menus_Params.pagestate!=null" class="nav-link-right" :to="{name:cnr.s_menus_Params.pagestate,  params:{page_id:cnr.s_menus_Target , page_version: cnr.s_menus_Version || 0 },
                                    query:{app_ref:applicationStore.getCurrentApp.uid, session_id: authUser.currentUser?.sessionid}}"> <i  :class="cnr.s_menus_Icon"></i>
                                <span class="px-1" style="white-space: nowrap;">{{cnr.s_menus_Name}}</span>
                                </RouterLink>
                                               
                            </li>
                            <li class="nav-item-right">
                                <RouterLink class="nav-link-right" to="/logout"><i class="fa fa-sign-out-alt mr-2"></i>Logout</RouterLink>
                            </li> 
                        </ul>
                     
                    </li>
                    <li  v-if="false" class="nav-item"> <RouterLink class="nav-link" :to="{name:'logout'}"><i class="fa fa-sign-out-alt mr-2"></i>Logout</RouterLink></li>
                    <!-- <li  v-if="!logoutLoaded && navbarItems.length==0" class="nav-item"> <RouterLink class="nav-link" to="/logout"><i class="fa fa-sign-out-alt mr-2"></i>Logout</RouterLink></li> -->
                </ul>
        </div>

    </div>

    <div v-if="pageStore.getCurrentPage?.params?.Parameters?.navbar" class="navbar-custom navbar-bottom py-0" :class="'navbar-custom-ext-p-'+menuId_ref">

         <ul class="navbar-nav navbar-bottom-ul mr-auto mb-0" >
               <li v-if="appMenuStore.getCurrentMenu?.length==0" class="nav-item"> 
                    <RouterLink class="nav-link" :class="'nav-link-custom-p-'+menuId_ref" to="/dashboard" ><i  class="fa fa-home mr-2"></i><span class="px-1" style="white-space: nowrap;">Home</span>
                    </RouterLink>
                </li>
               <li  v-for="ni in appMenuStore.getCurrentMenu" :key="ni.s_menus_id" class="nav-item text-center">
                 
                <RouterLink v-if="ni.s_menus_MenuPosition=='navbar'"  class="nav-link" 
                                :to="{
                                    name: ni.s_menus_Params.pagestate,
                                    params: { page_id: ni.s_menus_Target,  page_version: ni.s_menus_Version || 0 },
                                    query:{ app_ref: applicationStore.getCurrentApp.uid, 
                                    rinstance: '0',
                                    prinstance: pageStore.currentPage.instanceId,
                                    session_id: authUser.currentUser?.sessionid }}"> 
                                    
                                    <i  :class="ni.s_menus_Icon"></i>
                                    <span class="px-1"  :class="{'hide-on-mobile': ni.s_menus_Params.hideTextOnSmallScr}" style="white-space: nowrap;">{{ni.s_menus_Name}}</span>
                </RouterLink>
              
             
               </li>
            
         </ul>
       

  
    </div>
</template>

<style scoped>

.loading-message{
        padding:12px;
        font-weight: bold;
        text-align: center;
}


.border-bottom{
        border-bottom:1px solid gray;
}
.navbarContainer{

    position: sticky;
    z-index: 1050;
    top: 0;

}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 0;
}
.navbar-custom {
    background-color: #555555;
    padding-left: 10px;
    padding-right: 10px;
    /* border-bottom: 2px solid #efefef; */
    border-top: none;
   /* min-height: 44px;*/
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size:1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.collapse:not(.show) {
    display: none;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.hide-on-mobile{
    display: none;
}


@media (min-width: 992px)
{
    .dropdown-menu.dropdown-menu-right{
        display: none;
    }

    .dropdown-menu.dropdown-menu-right.visible{
        display: block;
    }
    .navbar-expand-lg .navbar-toggler {
    display: none;
    }
    .navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
    }
    .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    }
    .navbar-expand-lg .navbar-nav {
    flex-direction: row;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .nav-link-side-menu{
        display: none;
    }

}
.navbar-custom .navbar-nav > li > a {
    color: #e9e9e9;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    text-decoration: none;
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}
.nav-link-right {
    display: block;
    padding: 0.5rem 0.5rem;
}
.nav-link:hover, .nav-link:focus {
    border-bottom: 5px solid yellowgreen;
    color: yellowgreen;
    text-decoration: none;
}   

.nav-link-right:hover, .nav-link-right:focus {
    
   /* color: yellowgreen !important;*/
    text-decoration: none;
    background-color: #e8e8e8;
}   
.router-link-active.router-link-exact-active
{
    border-bottom: 5px solid orange !important;
    color: orange !important;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding-left:0px;
    margin: 0.125rem 0 0;
    font-size:1rem;
    color: rgba(14, 26, 57, 0.9);
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(14, 26, 57, 0.15);
    border-radius: 0.25rem;
    }

.dropdown-menu > li a {
    color: #a1a1b1;
    text-decoration: none;
    background-color: transparent;
}
.dropdown-menu-right {
padding: 0;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}
.dropdown-menu .nav-item:hover, .dropdown-menu .nav-item:focus,.dropdown-menu .nav-link:hover,.dropdown-menu .nav-link:focus {
    text-decoration: none; 
    color: rgba(14, 26, 57, 0.7);
    background-color: whitesmoke;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.155em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}
.nav-link.disabled {
    color: rgba(14, 26, 57, 0.6);
    pointer-events: none;
    cursor: default; 
}
.py-0{
padding-top: 0;
padding-bottom: 0;
}
.mr-auto, .mx-auto {
    margin-right: auto !important;
}

.mb-0, .my-0 {
    margin-bottom: 0 !important;
}
.mr-1, .mx-1 {
    margin-right: 0.25rem !important;
}
.ml-1, .mx-1 {
    margin-left: 0.25rem !important;
}

.text-center {
    text-align: center;
}

/*
.navbar-custom-ext-p{
       background-color: v-bind(appMenuStore.getCurrentMenuParameters(menuId)?.Parameters?.customBgColor) !important;
}  

.nav-link-custom-p{
    v-bind(appMenuStore.getMenu(menuId).Parameters.customCss)
}

.nav-link-custom-p:hover,.nav-link-custom-p:focus{
    v-bind(appMenuStore.getMenu(menuId).Parameters.customCssHover)
}

.navbar-custom .navbar-nav li.active > a.nav-link-custom-p {
    v-bind(appMenuStore.getMenu(menuId).Parameters.customCssActive)
}

*/
 .navbar-nav .nav-link {
    padding-right: 12px !important;
    padding-left: 12px !important;
  }
  
  
  
  .navbar-custom-top {

    /*
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    */
    display: flex;
   /* flex-wrap: wrap;*/
    align-items: center;
    padding: 0.5rem 1rem;
  /*  flex-direction: row;*/
    flex-flow: row nowrap;
    justify-content: flex-start;
   /*  background-color: #555555;*/
    padding-left: 10px;
    padding-right: 10px;
    /* border-bottom: 2px solid #efefef; */
    border-top: none;
  }

  .navbar-top-ul{
      display: flex;
      flex-direction: row;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      justify-content: space-evenly;
      align-items: end;

  }

  .navbar-bottom {
    background-color: #555555;
    flex-flow: row nowrap;
    justify-content: flex-start;
    position: fixed !important;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    padding: 0px;
    overflow-x: scroll;
  }
  

   .navbar-bottom-ul{
      display: flex;
      flex-direction: row;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      justify-content: space-evenly;
      width: fit-content;
      min-width: 100%;
      align-items: end;
  }
  
  
    .navbar-bottom::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
  
  .navbar-bottom::-moz-scrollbar {
    height: 0;
    width: 0;
  }
  
  .navbar-bottom::-ms-scrollbar {
    height: 0;
    width: 0;
  }
  
 @media (max-width: 992px){
    .dropdown-menu.show {
    display: block;
    left: 0 !important;
    box-shadow: 0 0.5rem 1rem rgba(14, 26, 57, 0.15) !important;
    }
  }
  
  @media (min-width: 992px)
  {
    .navbar-bottom {
     display:none;
     
    }
   
  }
@media (max-width: 992px)
  {
    .dropdown-menu.dropdown-menu-right.visible{
        left:0 !important;
        border-radius: 0 !important;
    }
    .nav-link {
      display: block;
      padding: 0.25rem 0.5rem;
  }
 
    .navbar-top-left {
        display:none;
    }
     .navbar-top-right {
         justify-content: space-between;
         width: 100%;
    }
     .navbar-nav .nav-link {
        padding-right: 6px !important;
        padding-left: 6px !important;
  }
  
  .navbar-custom .navbar-nav > li > a {
      
    border-bottom: 5px solid transparent; 
     border-top: 5px solid transparent;
   }
  
    .dropdown-menu-right{
          position: fixed !important;
          display: block;
          left: -85vw !important;
          top: 50px !important;
          padding: 12px;
          border: 1px solid #eaeaea !important;
          /*box-shadow: 0 0.5rem 1rem rgba(14, 26, 57, 0.15) !important;*/
          width:85vw;
          height:100vh;
          z-index:1032;
          top:0 !important;
          padding:12px !important;
          transform:none !important;
          margin-top:0;
          border:none !important;
          transition:left 1s ease 0s !important;
          font-size: 1rem !important;
          box-sizing: border-box;
          
    }
  }
</style>