<script setup lang="ts">

    import { useAlertStore } from '@/g_stores/alert';
    import { useAuthUserStore } from '@/m_auth/stores/authUser'
    import { useApplicationStore } from '@/g_stores/application'

    
    const alertStore = useAlertStore()
    const authUser = useAuthUserStore()
    const applicationStore = useApplicationStore()

    let closeMessage = (uid:string)=> 
    {   
        alertStore.setHideMessage(uid,true)
        setTimeout(function(){
            alertStore.closeMessageByUid(uid)
            alertStore.setHideMessage(uid,false)
        } ,2000)
    }
    
</script>


<template>
    <div class="msg-cls-position">
        <div class="msg-cls-style" :id="message.uid" :class="{'bg-warning':message.msgType==='warning','bg-info':message.msgType==='info','bg-success':message.msgType==='success','bg-danger ':message.msgType==='error','app-msg-out-animation':alertStore.getHideMessage(message.uid)}" v-for="(message,index) in alertStore.getPendingMessages" :key="message.uid">
            <div class="msg-grid-icon">
                <i v-if="message.msgType==='info'" class="fa fa-info"></i>
                <i v-if="message.msgType==='success'" class="fa fa-check"></i>
                <i v-if="message.msgType==='error'" class="fas fa-exclamation-triangle"></i>
                <i v-if="message.msgType==='warning'" class="fa fa-info"></i>
            </div>
            <div class="msg-grid-msg">
                <iframe v-if="message.message?.length>999" :title="message.uid +' / '+message.source" style="border:none;min-width: 35rem;width:100%;overflow: auto;overflow-clip-margin: unset;" :srcdoc="message.message"></iframe>
                <span :title="message.uid +' / '+message.source" v-if="message.message.length<=999">{{message.message}}</span>
                <br v-if="message.msgType==='error'">
                <RouterLink v-if="message.msgType==='error'" class="details-link"
                                :to="{name: 'app-messages',
                                    params:{uid:message.uid },
                                    query:{app_ref:applicationStore.getCurrentApp.uid, env:applicationStore.currentEnv,session_id: authUser.currentUser?.sessionid}}"> 
                                    <span style="white-space: nowrap;">Show details</span>
                </RouterLink>
            </div>
            <button class="btn-style" title="Close message" type="button" @click="closeMessage(message.uid)">x</button>
            
            
        </div>
    </div>
</template>

<style scoped>

.msg-cls-style{
        display:grid;
        position: relative;
        grid-template-columns: repeat(24,1fr);
        grid-auto-flow: row;
        border:1px solid rgb(200, 200, 200);
        min-height: 20px;
        padding: 12px;
        margin-bottom: 12px;
        max-height: 100px;
        max-width: 400px;
        overflow: auto;
        border-radius: 0.25rem !important;
        box-shadow: 0 0.125rem 0.25rem rgb(14 26 57 / 8%) !important;
        animation-name: move-in;
        animation-duration: 0.5s;
        right: 5%;
}

.details-link{
    color: white;
    font-weight: bold;
    text-align: left;
}

@keyframes move-in {
  from {right: -400px;}
  to {right: 5%;}
}

.app-msg-out-animation {
  right: -600px;
  animation-name: move-out;
  animation-duration: 0.5s;
}

@keyframes move-out {
  from {right: 5%;}
  to {right: -600px;display: none;}
}
     .msg-cls-position{
       
        position: fixed;
        min-height: 20px;
        right: 0;
        margin-right: 5%;
        bottom: 50px;
        z-index:1500;
    }

    .msg-grid-icon
    {
        grid-column: auto / span 2;
        padding: 6px;
        color: #ffffff;
    }
    .msg-grid-msg
    {
        grid-column: auto / span 20;
        padding: 6px;
        color:#ffffff;
    }
    .btn-style{
        color:#ffffff;
        border-radius: 10%;
        margin-left:5px;
        max-height: 30px;
        grid-column: auto / span 2;
        /*border:1px solid #dc3545 !important;*/
        border:none;
        background-color: rgba(4, 4, 43, 0.411);
        
    }

</style>