<script setup lang="ts">

    import { useApplicationStore } from '@/g_stores/application';
    import { usePageStore } from '@/m_page/stores/page';
    import { useResourceFormStore } from '@/m_resource/stores/resourceForm';
    import { useResourceDefinitionStore } from '@/m_resource/stores/resourceDefinition'
    import { useRdbmsResourceStore } from '@/m_resource/stores/rdbmsResource'
    import { toRef,computed,ref,reactive } from "vue";
    import ResourceFormExe  from './ResourceFormExe.vue'
    import  router from '@/g_router/index';
    import type { Ref } from 'vue'
    import LoadingPlaceholder from './LoadingPlaceholder.vue';
    import Utility from '@/g_libs/kt-utility';

    const props = defineProps({
        parentUid:String,
        actions:Array<Record<PropertyKey,any>>,
        fd: Object,
        config: Object,
        isFetchinProgress: Boolean,
        tableData: Array<Record<PropertyKey,any>>,  
        cardForm: Array<Record<PropertyKey,any>>, 
        tableState: Object,
    });
    
 

    let fd:Record<string,any> = toRef(props, 'fd')
    let config:Record<string,any>  = toRef(props,'config') || ref({})
    let actions:Ref<Array<any> | undefined> = toRef(props, 'actions') 

    const formStore = useResourceFormStore()
    const appStore = useApplicationStore()
    const resourceDefStore = useResourceDefinitionStore()
    const rdbmsStore = useRdbmsResourceStore()
    const pageStore = usePageStore()
    
    const tableData:Ref<Array<Record<PropertyKey,any>> | undefined> = toRef(props, 'tableData') || ref(new Array())
    
    //    const tableState:Ref<Array<Record<PropertyKey,any>>> = toRef(props, 'tableState') || ref([])
    const cardForm:Ref<Array<Record<PropertyKey,any>> | undefined> = toRef(props, 'cardForm') || ref(new Array())

    let state:any = reactive({ 
        currentPage: 1,
        selectedRecords: [],
        selectedRowIndex: {},
        pageStart: 1,
        pageEnd: 10,
        pageMin: 1,
        pagination:config.value.pagination
        //totalPages: totalPages
    })

    let firstLoad: Ref<boolean> = ref(true)
    let oldIndex:number | string
    let totalItems =  computed(() => { 
        if (tableData.value == undefined) return 0
        return tableData.value.length
    })

    let totalPages =  computed(() => { 
        if (tableData.value == undefined) return 0
        return Math.ceil(totalItems.value/state.pagination.pageSize)
    })
    
    let parentId:Ref<any> = toRef(props,'parentUid')

    let myUuid =   fd?.UuidRef  
    const emit = defineEmits(['clickedRow','selectedPage','changedPage', 'clickedAction'])
    
    let myState =  computed(() => { 
        return resourceDefStore.getState(myUuid)
    })

    let cssStyling =  computed(() => { 
      return `col-6 col-lg-${fd.Parameters.CardSizeXLg} col-md-${fd.Parameters.CardSizeXMd}} col-sm-${fd.Parameters.CardSizeXSm} col-${fd.Parameters.CardSizeXXs} p-1 show-on-hover-container-1`
    })

    
    const selectCardItem = (row:Record<PropertyKey,any>, index:number, event:any)  => 
    {
 
        
  
        state.selectedRowIndex[index] = state.selectedRowIndex[index] == true  ? false: true

        for (let [i, item] of state.selectedRecords.entries()) {
                if (item == row)   { 
                    state.selectedRecords.splice(i) //deselect the row
                    break 
        }}

        for (let prop in state.selectedRowIndex) {
                if (state.selectedRowIndex[prop] == true) { //add selected row
                    state.selectedRecords.push(row)  
                    oldIndex = Number(prop)
                }
        }
        emit('clickedRow', state);
    } 
    const currentPageId:string = pageStore.getCurrentPage?.defId 
    
    let visibleItems = computed(() => {
        if (sortedTableData.value == undefined) return []
        return sortedTableData.value.slice( (state.currentPage -1) * state.pagination.pageSize, state.currentPage * state.pagination.pageSize)
    })

    let paginationButtons =  computed(() => {
        //debugger

        //this kills the state - find a way to make it work
        
        if (!firstLoad.value) {
            state.selectedRecords = []
            state.selectedRowIndex={}
        }else firstLoad.value = false

          let start = 1;
          let end;
          let i:number;
          let prevPage = state.currentPage;
          
          start = Math.max(start, state.currentPage - Math.abs(Math.floor(state.pagination.pageSize / 2)));
          end = start + state.pagination.pageSize;

          if (end > totalPages.value) {
            end = totalPages.value + 1;
            start = Math.max(1, end - state.pagination.pageSize);
          }

          let pages:Array<number> = [];
          for (i = start; i < end; i++)  pages.push(i);     

          if (prevPage !== state.currentPage) {
            emit('changedPage', state);
          }
     
          state.pages = pages;
          state.pageEnd = end;
          state.pageStart = start
          //state.totalPages = totalPages

          return pages
})

  
        let selectPage = function (page:any,ev:any) {
           // debugger
           ev.preventDefault()
           if (page > 0 && page <= totalPages.value) {
                state.currentPage = page
                emit('selectedPage', state);
           }    
        };

        let resetPagination = function () {
            state.currentPage = 1
            //debugger

        }

    let selectedRecord:Record<PropertyKey,any> = ref({}) 
    const clickedAction = ( action:any, event:any)  => {
        event.stopPropagation()
        emit('clickedAction', action);
    }
    
    
    const util:Utility = new Utility()

    let sortedTableData = computed(() => {
        if (tableData.value == undefined || fd.value.GridState.columnsDef == undefined) return []
        let sortArguments: Array<string> = []

        if ( tableData.value  && tableData.value.length > 0) {
            for (const col of fd.value.GridState.columnsDef) {
                if (col.sort == 'ascending' || col.sort == 'descending') {
                    sortArguments.push(col.sort[0] + col.name)
                }
            }
            let sortFun = util.getSortMethod(sortArguments)
            //return tableData.value.toSorted(sortFun) - not supported toSorted
            return tableData.value.sort(sortFun)
        }
    })
    
    //const parameters:Ref<Record<string,any> | undefined> = ref(fd.Parameters)
    const cardSizeXLg:Ref<number> = ref(fd.value.Parameters.CardSizeXLg) || ref(8)
    const cardSizeXMd:Ref<number> = ref(fd.value.Parameters.CardSizeXMd) || ref(12)
    const cardSizeXSm:Ref<number> = ref(fd.value.Parameters.CardSizeXSm) || ref(24)
    const cardSizeXXs:Ref<number> = ref(fd.value.Parameters.CardSizeXXs) || ref(24)


</script>


<template>



    <div  class="border m-3 shadow-sm" v-if="!cardForm?.length">
            <div class="mt-1 p-2 text-danger">      
                <span class="mr-3">Card layout is not defined or empty - please check definition!</span>
            </div>
    </div>
    
            
        <div v-if="tableData?.length==0 && isFetchinProgress" class="text-center p-4">-->
                
            <i class="fa fa-file fa-4x mb-2"></i>
                <div class="h5"> {{fd?.ParametersLang?.NoDataMsg}} || No data </div>
        </div>
            
            <LoadingPlaceholder :animation-type="'card'" :show-msg="fd?.Parameters?.ShowLoadingMessage" v-if="rdbmsStore.getFetchDataInProgress(myUuid)"><h3>{{fd?.Parameters?.LoadingMessage}}</h3></LoadingPlaceholder>
        

            <div  class="cards-grid"  v-if="tableData?.length">
           
                    
                    <div  v-for="(dataRec, index) in visibleItems" :key="index" class="resource-list-card" :style="fd.Parameters.CardCssStyle" :class="{'selected':state.selectedCardIndex==index}">
                     
                        <div v-if="cardForm?.length || (fd.ParametersLang.CardHeaderText!=undefined && fd.ParametersLang.CardHeaderText!='')">
                            <!-- check card header?????
                            <div class="col">
                                <div v-html="fd.ParametersLang.CardHeaderText"></div>
                            </div>
                            -->

                            <div style="text-align: right;" v-if="actions?.length">
                                <button type="button" style=" box-shadow: none;" class="btn py-0 px-1" @click="selectCardItem(dataRec,index,$event)">
                                    <i class="fas fa-ellipsis-v"></i>
                                </button>
                            </div>
                            <div  v-for="(actBtn,index2) in actions" :key="index2" v-if="state.selectedRowIndex[index]" class="card-action-style">
                                <button :title="actBtn.btnLabel" @click="clickedAction(actBtn, $event)" type="button"  :class="actBtn.size+' '+actBtn.btnClass" class="btn border-0 rounded-0 w-100 text-left">
                                    <i :class="actBtn.icon+' mr-2'"></i>
                                    {{actBtn.btnLabel}}
                                </button>
                            </div> 
                        </div>
                        <ResourceFormExe  :dataSrcType="'form'"  :data="dataRec" :form-id="parentId+'-card'" :widget-id="fd?.UuidRef" :form-definition="cardForm" />

                    </div>
        </div>
        <div class="paginator-container-query" v-if="visibleItems.length && !isFetchinProgress">
            <div class="nav-container">
                <div style="width: 344.59px; height: 0;visibility: hidden;" ></div>
                <nav style="display:inline" v-show="totalPages > 1" class="">
                    <ul class="pagination pagination-sm my-auto py-4 font-size"  style="align-items:center;display:inline-flex !important">                       
                        <li :class="{disabled:state.currentPage==1}" class="page-item"><a href="#" class="page-link" @click="selectPage(1,$event);  "><span class="fa fa-chevron-left"/><span class="fa fa-chevron-left"/></a></li> 
                        <li :class="{disabled:state.currentPage==1}" class="page-item"><a href="#" class="page-link" @click="selectPage(state.currentPage-1,$event);  "><span class="fa fa-chevron-left"/></a></li> 
                        <li v-for="page in paginationButtons" class="page-item" :class="{active: page==state.currentPage}"><a href="#" class="page-link" @click="selectPage(page,$event);  ">{{page}}</a></li> 
                        

                        <li :class="{disabled:state.currentPage==totalPages}" class="page-item"><a href="#" class="page-link" @click="selectPage(state.currentPage+1,$event);  "><span class="fa fa-chevron-right"/></a></li> 
                        <li :class="{disabled:state.currentPage==totalPages}" class="page-item"><a href="#" class="page-link" @click="selectPage(totalPages,$event);  "><span class="fa fa-chevron-right"/><span class="fa fa-chevron-right"/></a></li> 
                    </ul>
                </nav>
                    
                <div class="font-size" style="align-items: center; display:flex;  width: fit-content; justify-content: end !important">
                    
                    <select :id="'page-select-'+ util.uuidv4()" v-model.number="state.pagination.pageSize" @change="resetPagination()">     
                        <option v-for="(value, key) in state.pagination.pageSizeOptions"  >{{value}}</option>
                    </select>
                    <!--<option v-for="option in options" :key="option.ID" :value="option.ID">-->

                    <span class="ml-1 small" style="white-space: nowrap;"> {{fd?.Parameters?.PagerLabel1}} {{state.currentPage}} / {{totalPages}} | {{(state.currentPage-1)*state.pagination.pageSize+1}} - {{   Math.min ( state.currentPage * state.pagination.pageSize , totalItems) }} {{ fd?.Parameters?.PagerLabel2 }} {{totalItems}} {{fd?.Parameters?.PagerLabel3}} </span>
                </div>
            </div>
        </div>
        
</template>

<style scoped>
.cards-grid {
    display: grid;

    grid-template-columns: repeat(24,1fr);
   /* grid-auto-flow: row; 
    align-content: start;*/
    column-gap: 0.5rem;
    row-gap: 0.5rem;
}
.resource-list-card{
    position: relative;
    grid-column:auto / span v-bind(cardSizeXLg);
}

@media screen and (max-width: 576px) {
    .resource-list-card {
        position: relative;
        grid-column:auto / span v-bind(cardSizeXXs);
    }
}
@media screen and (max-width: 768px) {
    .resource-list-card {
        position: relative;
        grid-column:auto / span v-bind(cardSizeXSm);
    }
}
@media screen and (max-width: 992px) {
    .resource-list-card {
        position: relative;
        grid-column:auto / span v-bind(cardSizeXMd);
    }
}
.card-action-style{
    position: absolute;
    z-index: 1020;
    right: 5px;
    border: 1px solid transparent;
    box-shadow: 0 0.125rem 0.25rem rgba(14, 26, 57, 0.075) !important;
    border-radius: 0.25rem !important;
}
</style>