<script setup lang="ts">

    import { useAuthUserStore } from '@/m_auth/stores/authUser';

    import { useResourceDefinitionStore } from '@/m_resource/stores/resourceDefinition';
    import { useResourceFormStore } from '@/m_resource/stores/resourceForm';
    import { usePageStore } from '@/m_page/stores/page';
    import { useAlertStore } from '@/g_stores/alert';
    import { reactive,toRef,ref,computed,defineAsyncComponent , onMounted,watch, ssrContextKey} from "vue";
    import { useRdbmsResourceStore } from '@/m_resource/stores/rdbmsResource';
    import type { Ref ,StyleValue, CSSProperties,ComputedRef,inject } from 'vue'
    import Utility from '@/g_libs/kt-utility';
    import ExcelJS from 'exceljs';
    import { saveAs } from 'file-saver'; //needed by exceljs
    import { DateTime } from 'luxon'
    import { parse, evaluate, compile, jsep } from 'jse-eval'
   //import BeautifulSoup  from bs4 
  
    import type * as  CSS from 'csstype';
    
   export interface IAction
    {
	ResourceType?:string,
	id?:string,
	name: string,
	btnLabel: string,
	btnClass: string,
	page_def?: object,
	size?:string,
	icon?:string,
    $$hashKey?:string,
    data?:object,
    atype?:string
   }


    //let injectsearchData= inject('searchData')
    //let injectdata:Record<PropertyKey, any> = inject('data') ?? {}

    const props = defineProps({
        parentUid: String,
        actions:  Array<IAction>,
        fd: Object,
        tableData: Array<Record<PropertyKey,any>>,
        tableColumns: Array<Record<PropertyKey,any>>, //     tableColumns: Array<{ name: string; visible: boolean; ElementType: string }>;
        isFetchinProgress: Boolean,
        resourceRecordId : String,
        tableState : Object,
        parentResourceWidgetId : String,
        config: Object,
    });


    let pageBreakActions:Array<IAction> = [
            {btnClass:"btn-outline-info",btnLabel: "Add page break",name:"Add page break",size:"btn-sm",icon:"fa fa-plus",atype:"insertbreak", ResourceType: "", id: "", page_def: {}},
            {btnClass:"btn-outline-info",btnLabel: "Remove page break",name:"Remove page break",size:"btn-sm",icon:"fa fa-plus",atype:"removebreak", ResourceType: "", id: "", page_def: {}}
    ]

    
    let actions:Ref<Array<IAction> | undefined> = toRef(props, 'actions') 

   
    const tableData = toRef(props, 'tableData')
    //const state = props.tableState
    let tableColumnsRef =  toRef(props, 'tableColumns')
   // let config:Record<string,any>  = toRef(props,'config') || ref({})
    const fd = props.fd
    const util:Utility = new Utility()

    let myActions:ComputedRef<Array<IAction> | undefined> = computed(() => {
        if (fd?.Parameters.EnablePageBreaks)    
             return actions.value?.concat(pageBreakActions) ?? []
        else return actions.value
    })

    let state:any = reactive({ 
        allRecords:[],
        currentPage: 1,
        selectedRecords: [],
        selectedRowIndex: {0:false},
        selectedRows: new Set(),
        pageStart: 1,
        pageEnd: 10,
        pageMin: 1,
        pagination:props.config?.pagination
      
        //totalPages: totalPages
    })
 
   
    
    let oldIndex:number | string
    let selectedRows:any = reactive(new Set())
    let allSelected:Ref<boolean>=ref(false)
    const rdbmsStore = useRdbmsResourceStore()  
    const authStore = useAuthUserStore()
    const pageStore = usePageStore()
    const formStore = useResourceFormStore()


    let ods:any = reactive({})

    for (let i=0;i<fd?.Parameters?.DataSources?.length;i++)
    {
            if (formStore.getFormLoadCompleted(pageStore.getCurrentPage.instanceId,  fd?.Parameters.DataSources[i].widgetId)){
                ods[fd?.Parameters.DataSources[i].srcName] =  formStore.formData[pageStore.currentPage.instanceId][fd?.Parameters.DataSources[i].widgetId]?.data
            } else{       
                    
                watch( () => formStore.getFormLoadCompleted(pageStore.getCurrentPage.instanceId,fd?.Parameters.DataSources[i].widgetId),(newValue,oldValue) => {
                        if  (!oldValue && newValue)   {
                            ods[fd?.Parameters.DataSources[i].srcName] =  formStore.formData[pageStore.currentPage.instanceId][fd?.Parameters.DataSources[i].widgetId]?.data
                        }
                    }) 
            }
    }



    let totalItems =  computed(() => { 
        if (tableData.value == undefined) return 0
        return tableData.value.length
    })

    /*     let useGrouping = col.disableGrouping ? false : true                
             if (col.decimalPlaces)     
                      newFormat = new Intl.NumberFormat("de-DE", { useGrouping: useGrouping,  maximumFractionDigits: col.decimalPlaces ,  minimumFractionDigits: col.decimalPlaces  });
          }  */

              
    const stringToPath = (path: string | any[]): string[] | any[] => 
    {  
    if (typeof path !== 'string') return path; // If the path isn't a string, return it
    const output: string[] = [];
    path.split('.').forEach((item: string) => {
        // Split to an array with bracket notation
        item.split(/\[([^}]+)\]/g).forEach((key: string) => {
            if (key.length > 0) output.push(key); // Push to the new array
        });
    });
    return output;
};

    const get = (obj: any, path: string | any[], def?: any) => {
        path = stringToPath(path); // Get the path as an array
        let current: any = obj; // Cache the current object
        // For each item in the path, dig into the object
        if (path !== null && path !== undefined) {
            for (let i = 0; i < path.length; i++) {
                // If the item isn't found, return the default (or null)
                if (current[path[i]] === undefined || current[path[i]] === null) return def;
                current = current[path[i]]; // Otherwise, update the current value
            }
        } else return def;
        return current;
    }


    let formulaValue =  ((tRow:any, column:any) => 
    {
        let value = tRow[column.name]
        const context = {
                ...util,
                ...ods,
                ...{x: value},
                ...{row: tRow},
                Date,
                Array,
                Math,  
        } 
    
      let returnVal: any
      let ast:any = parse(column.formula)  
 
      try {
        returnVal = evaluate(ast, context)  
      } catch (error) {
        console.log(error)
      }
      
      return returnVal
})



    let getItem = function(row:{ [key: string]: any }, column:any)
    {
        let val;
        if (column.resourcedeflang_set) 
            val = get(column, column.name, null)    // For RESOURCE LIST table
        else 
          val = row[column.name]   //for user data

        if (val === null || val === undefined) return "∅";

        if (column.formula) val= formulaValue(row, column)

        if (column.cellFilter) { //DATE FORMAT
            if (column.cellFilter.substring(0, 4).trim() == "date") {
               let dateFmt =  column.cellFilter.substring(6, column.cellFilter.length).trim()
               val = DateTime.fromISO( val).toFormat(dateFmt)
            }
        }

      
        if (column.ElementType == "number")  {
            if (column.decimalPlaces)  
                val = new Intl.NumberFormat("de-DE", {   style: 'decimal',   minimumFractionDigits: column.decimalPlaces}).format(val)
            else 
                val = new Intl.NumberFormat("de-DE", { useGrouping: !column.disableGrouping }).format(val)
        }    
        
        //if (column.formula) 
        //    return formulaValue(row, column)
         return val;
    }

    
    let totalPages =  computed(() => { 
        if (tableData.value == undefined) return 0
        return Math.ceil(totalItems.value/state.pagination.pageSize)
    })

    let positionCss = ref('left:0')
    let cursorPositionLeft= ref(0)
    

    const multiselect:boolean = fd?.Multiline || false
   
    const inState:any = props.tableState
    if (inState!=undefined) state = Object.assign(state,inState)

    const emit = defineEmits(['clickedRow','selectedPage','changedPage', 'clickedAction'])
    
    
    let alignMap: Record<string, CSS.Property.TextAlign>={ 'number':'right' }
    let alignHeaderMap: Record<string, CSS.Property.JustifyContent>={ 'number':'justify-content-end' }


    let alignStyle = function(what:any){
        let tableStyle: any= {}
        if (alignMap[what] ){
            tableStyle.textAlign= alignMap[what] 
        } 
        return tableStyle
    }

    
    let alignHeaderStyle = function(what:any){
        let tableStyle: any= {}
        if (alignMap[what] ){
            tableStyle.JustifyContent= alignHeaderMap[what] 
        } 
        return tableStyle
    }

    let x:CSS.Property.TextAlign
    let exportTable = function () 
    {
        const workbook = new ExcelJS.Workbook();
        const worksheet = workbook.addWorksheet('New Sheet');
        
        let temp: { header: string; key: string }[] = [];
        let isDate: { [key: string]: boolean } = {};
        let isList: { [key: string]: boolean } = {};
        let isColumnVisible: string[] = [];

        for (let col of tableColumnsRef.value || []) { //$scope.columnDefs
            if (col.visible) {
                isColumnVisible.push(col.name)
                temp.push({ header: col.displayName, key: col.name })
                if (col.ElementType == 'list') isList[col.name] = true
                if (col.ElementType == 'date') isDate[col.name] = true
            }
        }

        worksheet.columns = temp

        //var allTableData = $scope.gridData()
        const allExportData: { [key: string]: any }[] = [];
       
        for (let row of tableData.value || []) { // creating  data for export
            const obj: { [key: string]: any } = {};
            for (let col of isColumnVisible) {
                obj[col] = row[col]
                if (row[col] && isList[col]) {  //when list
                    obj[col] = row[col]
                }
                if (row[col] && isDate[col]) {  //when date
                    obj[col] = new Date(row[col])
                }
            }
            allExportData.push(obj)
    }

        worksheet.addRows(allExportData)

        workbook.xlsx.writeBuffer().then((data) => {
            const blob = new Blob([data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=utf-8' });
            saveAs(blob, 'export.xlsx');
        });
}


let tableColumns: Ref<Array<any> | undefined> = toRef(props, 'tableColumns')


const cellPadding = 10;
const allowSort = false, clientSide = false, showTableConfigMenu = false, showSortMenu = false, usePagination = false
let showMenu: Ref<boolean> = ref(false)
let showActionButtons: Ref<boolean> = ref(false)
const sorttableColumns: Array<any> = []
//let firstLoad: Ref<boolean> = ref(true)


let sortedTableData = computed(() => {
    if (tableData.value == undefined || tableColumns.value == undefined) return []
    let sortArguments: Array<string> = []

    if (tableColumns.value != undefined && tableData.value != undefined && tableData.value.length > 0) {
        for (const col of tableColumns.value) {
            if (col.sort == 'ascending' || col.sort == 'descending') {
                sortArguments.push(col.sort[0] + col.name)
            }
        }
        let sortFun = util.getSortMethod(sortArguments)
        return tableData.value.sort(sortFun);
    }
})



    const clickedRow = (row:Record<PropertyKey,any>, index:number, event:any)  => 
    {
 
        cursorPositionLeft.value = event.clientX 
        let rect:any

       // debugger   
        let table = document.getElementById("tblcontainer-"+ props.parentUid)
        if (table) {
            rect = table.getBoundingClientRect();
            console.log(rect.top, rect.right, rect.bottom, rect.left);
            cursorPositionLeft.value = event.clientX - rect.x 
        }
        positionCss.value= "left: "+ cursorPositionLeft.value +"px"
        
        if (multiselect == false) { // if multiple select is not enabled remove old selected
            
            state.selectedRecords.length = 0
            if (state.selectedRows.has(index)){
                state.selectedRows.delete(index)
            }else{
                state.selectedRows.clear()
                state.selectedRows.add(index)
                state.selectedRecords.push(visibleItems.value[index])
            }
            /*
            if (oldIndex!=undefined && oldIndex!=index) {
                        state.selectedRowIndex[oldIndex] = false
                        //selectedRows.delete(oldIndex)
                        state.selectedRows.clear()
                        state.selectedRows.add(index) 
            }
            else if (oldIndex==undefined)   {
                Object.assign(state.selectedRowIndex,{[index]:false})
                state.selectedRows.add(index) 

            }else state.selectedRows.add(index)
            */
            
            
        }
        else{
            state.selectedRowIndex[index] = state.selectedRowIndex[index] == true  ? false: true
            state.selectedRecords.length = 0
            //Object.assign(state.selectedRowIndex,{[index]:newIdxState})
            if (!state.selectedRows.has(index)) state.selectedRows.add(index)
            else state.selectedRows.delete(index)

            for (const i of state.selectedRows) {
                
                        state.selectedRecords.push(visibleItems.value[i])
            }
        }

        /*
        for (let prop in state.selectedRowIndex) {
                if (state.selectedRowIndex[prop] == true) { //add selected row
                    state.selectedRecords.push(row)  
                    oldIndex = Number(prop)
                }
        }*/
        emit('clickedRow', state);
    }
    
    
    const clickedAction = ( action:IAction, event:any)  => {
        //event.stopPropagation();
        
        if (action.atype=='insertbreak' ){
                state.selectedRows.forEach((item:any) => pageBreakIndexes.add(item));
        }
        else if ( action.atype=='removebreak')
        {
            state.selectedRows.forEach( (item:any) => {
                if (pageBreakIndexes.has(item)) pageBreakIndexes.delete(item);
            })
        }
        else { 
            event.stopPropagation();
            emit('clickedAction', action);
        }
            
         
    }
   

let visibleItems = computed(() => {
    if (sortedTableData.value == undefined) return []
    if (fd?.Parameters.hidePager)  return sortedTableData.value
    return sortedTableData.value.slice( (state.currentPage -1) * state.pagination.pageSize, state.currentPage * state.pagination.pageSize)
})




let paginationButtons =  computed(() => {
        //debugger

        //this kills the state - find a way to make it work
       /* 
        if (!firstLoad.value) {
            state.selectedRecords = []
            state.selectedRowIndex={}
        }else firstLoad.value = false
        */
          let start = 1;
          let end;
          let i;
          let prevPage = state.currentPage;
          
          start = Math.max(start, state.currentPage - Math.abs(Math.floor(state.pagination.pageSize / 2)));
          end = start + state.pagination.pageSize;

          if (end > totalPages.value) {
            end = totalPages.value + 1;
            start = Math.max(1, end - state.pagination.pageSize);
          }

          let pages = [];
          for (let i = start; i < end; i++)  pages.push(i);     

          if (prevPage !== state.currentPage) {
            emit('changedPage', state);
          }
     
          state.pages = pages;
          state.pageEnd = end;
          state.pageStart = start
          //state.totalPages = totalPages

          return pages
})

  
        let selectPage = function (page:any,ev:any) {
           // debugger
           ev.preventDefault()
           if (page > 0 && page <= totalPages.value) {
                state.currentPage = page
                emit('selectedPage', state);
           }    
        };

        let resetPagination = function () {
            state.currentPage = 1
            //debugger

        }

        let processAction = (input:any)=>{
            return input
        }

        let toggleSortMenu = ()=>{
            
        }

        let toggleTableConfigMenu = ()=>{
            
        }
        let selectAllRows = ()=>{
            if (!sortedTableData.value?.length) return
            
            allSelected.value = !allSelected.value
            state.selectedRecords.length=0
            for (let i=0;i<visibleItems.value.length;i++)
            {
                
                if (allSelected.value) {
                    state.selectedRows.add(i)
                    state.selectedRecords.push(visibleItems.value[i])
                }else state.selectedRows.clear()
            }
            emit('clickedRow', state)
        }
         
        let sortOrderChange = (input:any)=>{
            return input
        }

        let flipSort = (tc:any)=>{
            if (tc?.sort == undefined || tc?.sort=="")
                tc.sort="ascending"
            else  if (tc.sort=="ascending") 
                tc.sort="descending" 
            else if (tc.sort=="descending") 
                tc.sort=""
            
        }
    
   
        if (fd?.Parameters?.hidePager) state.pagination.pageSize=sortedTableData?.value?.length 
  

  let colclass= (index:any) => {
    
      return "col-" + index + "-" + props.parentUid
  }

  const pageBreakIndexes: Set<number> = new Set()

  /*const pageBreakIndexes: Set<number> = new Set(
  fd?.Parameters.PrintBreakLines
    ?.split(",")
    .map((value: string) => Number(value))
    .filter((value: number) => !isNaN(value))
);*/

  const componentContainer = ref<HTMLDivElement | null>(null);

  onMounted(() => {
    if (componentContainer.value) {
        // Access the innerHTML of the component's root element
        
        //console.log(componentContainer.value.innerHTML);
    }

    
});



// Function to copy HTML content to clipboard with proper MIME type for Word

/*const copyToClipboard = async () => {
  if (componentContainer.value) {
    const htmlContent = componentContainer.value.innerHTML;

    try {
      await navigator.clipboard.write([
        new ClipboardItem({
          'text/html': new Blob([htmlContent], { type: 'text/html' })
        })
      ]);
      alert('HTML content copied to clipboard. Paste it into Word!');
    } catch (err) {
      console.error('Failed to copy: ', err);
    }
  }
}
*/
const copyToClipboard = async () => {
    debugger
  if (componentContainer.value) {
    const htmlContent = componentContainer.value.innerHTML;
    try {
      await navigator.clipboard.write([
        new ClipboardItem({
          'text/html': new Blob([htmlContent], { type: 'text/html' })
        })
      ]);
      alert('HTML content copied to clipboard. Paste it into Word!');
    } catch (err) {
      console.error('Failed to copy: ', err);
    }
   
  }
}

function copyHTML() {
      // Select the table element
      const table = document.getElementById('myTable');

      // Create a range and select the table content
      const range = document.createRange();
      if (table) {
        range.selectNode(table);

        // Copy to clipboard
        window.getSelection()?.removeAllRanges(); // Clear any existing selection
        window.getSelection()?.addRange(range);   // Select the table
        document.execCommand('copy');           // Copy selected content

        // Clear selection to avoid highlighting
        window.getSelection()?.removeAllRanges();

        alert('Table copied to clipboard!');
    }
}

</script>




<template>     
<!--
{{Intl.NumberFormat("de-DE", { style: 'currency',    currency: 'EUR',   minimumFractionDigits: 2,}).format(14.345)}}
{{Intl.NumberFormat("de-DE", { style: 'decimal', minimumFractionDigits: 2, maximumFractionDigits: 2}).format(14.345)}}

  <div ref="componentContainer">
-->
<div  idd="DataTable">

    <!--<div v-if="true || fd.Parameters.ShowTableFeatures || fd.Parameters.BuildMode" class=" text-right">-->
        <div class=" text-right">   

            <!-- <button type="button" class="btn btn-outline-dark border-0 "  @click="printTable()">
                    <span class="fa fa-print"></span>
                </button>-->
                
                <button  v-if="false && fd?.Parameters?.BuildMode" type="button" class=" btn btn-outline-dark border-0 "  @click="toggleTableConfigMenu()">
                        <svg viewBox="34.818 21.689 382.991 334.475" xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em"> 
                            <rect x="59.361" y="59.361" width="139.269" height="32.534" style="stroke: rgb(0, 0, 0); fill: rgb(7, 7, 7);"></rect>
                            <rect x="253.424" y="59.646" width="139.269" height="32.534" style="fill: rgba(7, 7, 7, 0.43);"></rect>
                            <rect x="59.932" y="131.994" width="139.269" height="32.534" style="stroke: rgb(0, 0, 0); fill: rgb(7, 7, 7);"></rect>
                            <rect x="61.645" y="205.482" width="139.269" height="32.534" style="stroke: rgb(0, 0, 0); fill: rgb(7, 7, 7);"></rect>
                            <rect x="59.931" y="277.111" width="139.269" height="32.534" style="stroke: rgb(0, 0, 0); fill: rgb(7, 7, 7);"></rect>
                            <rect x="255.138" y="131.564" width="139.269" height="32.534" style="fill: rgba(7, 7, 7, 0.43);"></rect>
                            <rect x="252.854" y="204.911" width="139.269" height="32.534" style="fill: rgba(7, 7, 7, 0.43);"></rect>
                            <rect x="253.425" y="277.683" width="139.269" height="32.534" style="fill: rgba(7, 7, 7, 0.43);"></rect>
                        </svg>
                </button>

                
                            
                <button v-if="fd?.Parameters?.copyToclipboardEnabled" type="button" class="no-print btn btn-outline-dark border-0"   @click="copyHTML()" > 
                    <span class="fa fa-copy"></span>
                </button>

                <button v-if="fd?.Parameters?.exportEnabled" type="button" class="no-print btn btn-outline-dark border-0"   @click="exportTable()" > 
                    <span class="fa fa-save"></span>
                </button>
                
                <button v-if="false && fd?.Parameters?.BuildMode" type="button" class="btn btn-outline-dark border-0"  @click="toggleSortMenu()">
                            <span class="fas fa-sort-amount-up"></span>
                </button>   
  </div>

    <div ref="componentContainer" :id="'tblcontainer-' + props.parentUid" class="table-katalyo-wrapper"> 
               
	  <table  id="myTable" class="data-table-vju table-katalyo table-th-td-default-style">
            <thead>
                
                <tr>
                    <th  v-if="fd?.Multiline" @click="selectAllRows()" style="width: 1%;"> 
                        <i class="fa fa-check-circle"  v-if="allSelected" ></i>  
                        <i class="far fa-circle"  v-if="!allSelected" ></i>      
                    </th>

                    <th v-if="fd?.Parameters?.table?.showCounter">
                             {{fd?.Parameters?.table?.counterLabel}}
                    </th>

                    <template TABLE-HEADER v-for="(tc, index) in tableColumns " :key="tc?.name">
                        
                        <th idd="table_header" v-if="tc?.visible"   @click="flipSort(tc)"  :class="colclass(tc.index)"  lr-drag-src="headers" lr-drop-target="headers"   :st-sort="tc.name"  > 
                            
                            <div class="d-flex" :style="alignHeaderStyle(tc.ElementType)"  :class="tc.style" >
                                 
                                <div class="mt-1 ml-1 d-flex flex-column justify-content-center">
                                    <span v-show="tc.sort=='descending'"     class="mr-1 fas fa-sort-up " style=""> </span> 
                                    <span v-show="tc.sort=='ascending'"     class="mr-1 fas fa-sort-down" style="">  </span>
                                </div>

                                {{tc.displayName}}
                        
                            </div>

                        </th>
                    </template>

                    <!--
                    <template NOT-USED-IN-EXE v-for="(tc,index) in tableColumns" :key="tc?.name" > 

                        <th id="not_used" v-if=" (tc?.visible) && showActionButtons" 
                                @click="flipSort(tc)"  :style="'width:'+tc.width"
                                lr-drag-src="headers" lr-drop-target="headers"   st-sort="dataSortFun.lista"     >

                        <div class="d-flex {{tc.style}}" >
                            <div class="mt-1 ml-1 d-flex flex-column justify-content-center">
                            <span v-if="tc.sort=='descending'" class="mr-1 fas fa-sort-up " >  </span>
                                <span v-if="tc.sort=='ascending'" class="mr-1 fas fa-sort-down" >  </span>
                            </div>
                            <span > {{tc.displayName}}</span>

                       <input type="checkbox" class="mt-1 ml-2" id="cbHidden" v-model="showMenu" @click=" $event.stopPropagation()" > 
                        
                        </div>
                        
                        <div v-if="showMenu"  style="z-index: 1000;background-color: white" id="tblMenu" class="border m-2 p-2  d-flex flex-column ">
                        
                            <div>	 <input type="checkbox" class="" id="cbHidden" v-model="tc.visible"> 
                                <label class=" label-xs" for="cbHidden"> Column visible     
                                </label> 
                            </div>	
                            
                  
                            
                            <div class="mt-2">	
                                <label class=" label-sm" for="cbDrugo"> Sort </label>
                                <button :class="{'active' : tc.sort == 'ascending'}" style="padding: 0.325rem 0.45rem; font-size:0.8rem; "  type="button" class="btn btn-outline-primary btn-xs" @click="tc.sort='ascending'">
                                    <span class="fa fa-arrow-up"></span>
                                </button>
                                <button :class="{'active' : tc.sort == 'descending'}" style="padding: 0.325rem 0.45rem; font-size:0.8rem; "  type="button" class="btn btn-outline-primary btn-xs"  @click="tc.sort='descending'">
                                    <span class="fa fa-arrow-down"></span>
                                    </button>
                                <button style="padding: 0.325rem 0.45rem; font-size:0.8rem; "  type="button" class="btn btn-outline-primary btn-xs"  @click="tc.sort=''">
                                        <span class="fas fa-times"></span>
                                    </button>
                
                            </div>

                            <div class="my-2" >	
                            <div> <label class=" label-xs" for="cbSortPriority"> Sort priority: {{tc.sortOrder +1 }} </label>   </div>
                            <div> <input :change="sortOrderChange(tc)" type="range" name="range" min="0"  max="2" class="w-100" id="cbSortPriority" v-model="tc.sortOrder"/> </div>
                            </div>	
                                                         
                                
                            </div>     
                    </th>	
                
                </template>-->
                    
                    <th v-if="false" colspan="0">
                            
                            <div   v-if="showTableConfigMenu" class="th-default-style">    
                                <div  style="font-weight:100"  lr-drag-src="headers2" lr-drop-target="headers2"  v-for="hd in tableColumns ">                      
                                <input type="checkbox" class="" v-model="hd.visible"> 
                                        {{hd.displayName}}
                                </div>
                            </div>
                            
                            <div style="  box-shadow:0 0 1px #0885BA; right:0px; background-color: white;width: 15%;" id="tblSortMenu" v-if="showSortMenu" class="ml-1 border m-2 position-absolute d-flex flex-column ">
                            <div class="m-1 bold"> Sort order </div>
                            <div class="mx-1 p-1" style="">
                                    
                                    <div v-for="(cd,index) in sorttableColumns"  style="border: 1px solid; border-radius: 1rem;margin: 2px 2px 2px 2px; font-weight:100;background-color:#ede0e0"  lr-drag-src="headers3" lr-drop-target="headers3"  lr-drop-success="dropSuccess()" >
                                    
                                        <div style="border: none !important;  border-radius: 1rem;background-color: #E7E9EC;padding: 2px 4px 2px 4px;  line-height: 1.0;" class="bold d-inline-block"> {{index+1}}  
                                        </div>
                                        
                                        <div class="d-inline-block ml-1"> {{cd.displayName}} 
                                        </div>
                                
                                    </div>
                            
                            </div>
                            </div>
                                
                    </th>
                </tr>
            </thead>


            <tbody>  <!--   DATA     -->
            
             
                <tr v-for="(row,index) in visibleItems" @click.prevent="clickedRow(row,index, $event)"   :class="{'bg-primary text-white': state.selectedRows.has(index), 'page-break':pageBreakIndexes.has(index)  }" @dblclick="processAction({'item':row,'actionId':1})"   >
  

                    <td v-if="fd?.Multiline" style="width: 1%;"> 
                        <i class="fa fa-check-circle"  v-if="state.selectedRows.has(index)" ></i>  
                        <i class="far fa-circle"  v-if="!state.selectedRows.has(index)" ></i>   
                    </td>

                    <td v-if="fd?.Parameters?.table?.showCounter">
                            {{ (state.currentPage-1) * state.pagination.pageSize + index+1}}
                    </td>

                    <template v-for="tcRow in tableColumns" :key="tcRow?.name" >
                       
                        <td  v-if="tcRow.visible" :style="alignStyle(tcRow.ElementType)" >
                        
                            <span v-if="!tcRow.htmlRender" class="">

                                {{ getItem(row, tcRow)  }}

                            </span>
                            
                            <div v-else v-html ="getItem(row, tcRow)"></div>
                        
                        </td> 
                    </template>
                    
                    
                    <td  actionButtons v-if="state.selectedRows.has(index) && myActions && myActions.length"  style="margin-top: 25px;padding:0 !important;border-radius: 0.25rem;min-width: 12rem;z-index: 1" 
                        :style="positionCss"
                        :class="'position-absolute shadow-sm p-0 bg-white sm-actions' + index">

                           <div  v-for="actBtn in myActions" >
                            <button :title="actBtn.btnLabel" @click="clickedAction(actBtn, $event)" type="button"  :class="actBtn.size+' '+actBtn.btnClass" class="btn border-0 rounded-0 w-100 text-left">
                                    <i :class="actBtn.icon+' mr-2'"></i>
                                    {{actBtn.btnLabel}}
                            </button>
                        </div> 
                  
                 </td>
                
                    <!-- <td v-if="(actions && actions.length==0 && state.selectedRows.has(index)) || !state.selectedRows.has(index)"></td>-->
                  
                 
           <svg class="no-print" style="position:absolute;  margin-top: 18px;  margin-left: -2px;" v-if="pageBreakIndexes.has(index)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="10">
            <path d="M503.7 189.8L327.7 37.9C312.3 24.5 288 35.3 288 56v80.1C127.4 137.9 0 170.1 0 322.3c0 61.4 39.6 122.3 83.3 154.1 13.7 9.9 33.1-2.5 28.1-18.6C66.1 312.8 132.9 274.3 288 272.1V360c0 20.7 24.3 31.5 39.7 18.2l176-152c11.1-9.6 11.1-26.8 0-36.3z"/>

            </svg>
                </tr>
               
            </tbody>

            <tfoot>
              
            </tfoot>
	    </table>
        <div v-if="!visibleItems.length && !isFetchinProgress" class="no-data-style">
                 <div>
                   <span class="fa-stack fa-2x">  
                        <i class="fas fa-database text-info"></i>
                        <i class="fas fa-slash fa-stack-1x text-primary"></i>
                   </span>
                </div>
                <span>{{fd?.ParametersLang?.NoDataMsg || 'No data'}}</span>
        </div>
    </div>
  
    <div class="paginator-container-query no-print" v-if="visibleItems.length && !isFetchinProgress && !fd?.Parameters.hidePager">
                <div class="nav-container">
                    <div style="width: 344.59px; height: 0;visibility: hidden;" ></div>
                    <nav style="display:inline" v-show="totalPages > 1" class="">
                        <ul class="pagination pagination-sm my-auto py-4 font-size"  style="align-items:center;display:inline-flex !important">                       
                            <li :class="{disabled:state.currentPage==1}" class="page-item"><a href="#" class="page-link" @click="selectPage(1,$event);  "><span class="fa fa-chevron-left"/><span class="fa fa-chevron-left"/></a></li> 
                            <li :class="{disabled:state.currentPage==1}" class="page-item"><a href="#" class="page-link" @click="selectPage(state.currentPage-1,$event);  "><span class="fa fa-chevron-left"/></a></li> 
                            <li v-for="page in paginationButtons" class="page-item" :class="{active: page==state.currentPage}"><a href="#" class="page-link" @click="selectPage(page,$event);  ">{{page}}</a></li> 
                           

                            <li :class="{disabled:state.currentPage==totalPages}" class="page-item"><a href="#" class="page-link" @click="selectPage(state.currentPage+1,$event);  "><span class="fa fa-chevron-right"/></a></li> 
                            <li :class="{disabled:state.currentPage==totalPages}" class="page-item"><a href="#" class="page-link" @click="selectPage(totalPages,$event);  "><span class="fa fa-chevron-right"/><span class="fa fa-chevron-right"/></a></li> 
                        </ul>
                    </nav>
                        
                    <div class="font-size" style="align-items: center; display:flex;  width: fit-content; justify-content: end !important">
                        
                        <select style="font-size: smaller;" :id="'page-select-'+ util.uuidv4()" v-model.number="state.pagination.pageSize" @change="resetPagination()">     
                            <option v-for="(value, key) in state?.pagination?.pageSizeOptions"  >{{value}}</option>
                        </select>

                       <!-- <span class="ml-1 small" style="white-space: nowrap;"> 
                            {{fd?.Parameters?.PagerLabel1}} | {{state.currentPage}} / {{totalPages}} 
                            | {{(state.currentPage-1) * state.pagination.pageSize+1 }} 
                            - {{   Math.min ( state.currentPage *  state.pagination.pageSize , totalItems) }}
                             {{ fd?.Parameters?.PagerLabel2 }} {{totalItems}} {{fd?.Parameters?.PagerLabel3}}
                         </span>-->

                         <span class="ml-1 small" style="white-space: nowrap;"> 
                         items per page | Pages
                            : {{totalPages}}   
                            ( {{totalItems}} {{fd?.Parameters?.PagerLabel3}} )
                            </span>
                    </div>
                </div>
    </div>
  
</div>

</template>

<style scoped>

/*
.page-break:after {
    font-family: "Font Awesome 5 Free"; font-weight: 400; content: "\f1ea";
    height: 8px;
    width: 8px;
   background: linear-gradient(180deg, #383A49 0%, #383A49 74.63%, #ffffff 75%, #ffffff 100%);
    border-bottom: 1px dashed #3d4938;
    display: inline-block;
    position:absolute;
    right:5px;
}


*/

.page-break {
    border-bottom: 1px dashed;
    /*position:relative;
    z-index:-1;*/
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    border: 1px solid black;
    padding: 8px;
  }
  
.no-data-style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10rem;
    font-size: x-large;
    text-align: center;
}
.data-table-vju {
    overflow-x: visible;
    text-size-adjust: 100%;
    overflow-y: visible;
}
    .border-bottom{
        border-bottom:1px solid gray;
    }
    .th-default-style{
        right:0; 
        background-color: white; 
        max-width: 25%; 
        z-index: 100; 
        overflow: auto; 
        width: fit-content; 
        margin-top: -1.5rem;
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 0.5rem !important;
        margin: 0.5rem !important;
        border:1px solid #E7E9EC !important;
        padding: 0.375rem 0.375rem 0.375rem 0.375rem !important;
        max-width: 20rem;
        text-overflow: ellipsis;
        overflow: hidden; 
        border: none !important;
    }
    .table-th-td-default-style th,.table-th-td-default-style tr td{
        padding: 0.375rem 0.375rem 0.375rem 0.375rem !important;
        max-width: 20rem;
        text-overflow: ellipsis;
        overflow: hidden; 
        border: none !important;
    }




.codes-details {
  position: absolute;
  width: 70%;
  right: 15px;
  top: 0;
  height: 150px;
  background-color: white;
  overflow-y: auto;
  box-shadow: 0 0.5rem 1rem rgba(14, 26, 57, 0.15) !important;
  border: 1px solid rgba(14, 26, 57, 0.1) !important; }

.codes-details.active {
  position: absolute;
  width: 70%;
  right: 15px;
  top: 0;
  height: 100%;
  background-color: white;
   }

:root {
  --kt-table-border: #0e1a39;
  --kt-table-font-color: #818181;
  --kt-table-bg-color: #f9f9f9;
  --kt-table-row-selected-bg:#216eff;
  --kt-table-row-hover-bg:#ccdbee;
  --white: #ffffff; }

.table-katalyo-wrapper {
  overflow: auto;
}

.table-katalyo {
  white-space: nowrap;
  width: 100%;
  margin-bottom: 0 !important;
   }

.table-katalyo thead {

  border: none;
  }

.table-katalyo thead th {

  border: none;
  }

.table-katalyo th:hover {
  cursor: pointer; }

.table-katalyo th {
  padding: 0.375rem 0.375rem 0.375rem 0.375rem !important;
  max-width: 20rem;
  text-overflow: ellipsis;
  overflow: hidden;
  border-top: none !important; }

.table-katalyo td {
  padding: 0.375rem 0.375rem 0.375rem 0.7rem;
  max-width: 20rem;
  text-overflow: ellipsis;
  overflow: hidden;
  border-top: none !important; }

.table-katalyo tbody tr:not(.st-selected):hover {
  background-color: #CAD7F8 !important;
  cursor: pointer;
  box-shadow: 0 0.125rem 0.25rem #0e1a3914 !important; }

.table-katalyo th:last-child, .table-katalyo td:last-child {
  border-right: none; }

  @media print {

.page-break {
     page-break-after: always; /* Force a page break after this row */
     border-bottom:none
   }
 .page-break:after {
     display:none;
 }

   
    .no-print, .no-print *
    {
        display: none !important;
    }


}


</style>