<script setup lang="ts">

    import { toRef,ref,reactive } from "vue"
    import { computed, watch,onMounted, onBeforeMount, onBeforeUnmount, onUnmounted } from "vue";
    import { usePageStore } from '@/m_page/stores/page' 
    import type { Ref , ComputedRef, PropType} from 'vue'


  var localVars = reactive({
    editMode: false,
  })

  const emit = defineEmits(['clickItem'])

    const pageStore = usePageStore()

    const props = defineProps({
      parentResourceWidgetId:String,
      items:Array<Record<PropertyKey,any>>,
      selected:Array<Record<PropertyKey,any>>,
      isSelected: Object, 
      size: String,
      localVars: Object,
      search: Object,
      customStyleItems: String,
      searchText: String,
      myModel:Array<Record<PropertyKey,any>>
    });

    let showDropdownItems:Boolean=false
    let dropdownId = 0

    let parentId:Ref<any> = toRef(props,'parentResourceWidgetId')!==undefined ? toRef(props,'parentResourceWidgetId') : ref('')
    let selected:Ref<any> = toRef(props,'selected')

    const parentWidget:any = pageStore.getWidgetOnCurrentPage(parentId.value)
    const me = parentWidget

    const elementWidth:Ref<number | undefined> = ref(me?.Parameters?.ElementWidth)
    const labelLength:Ref<number | undefined> = ref(me?.LabelLength) 
    const valueLength:Ref<number | undefined> = ref(me?.ValueLength)
    

    
    watch(selected, (selection, prevSelection) => { 
         // test watcher - 
         //debugger

    })
    
    let search = reactive({searchFilter:''})

    
    let switchMode= function(event:any)
     {
      if (event.defaultPrevented) return
      localVars.editMode = !localVars.editMode;
    }
  
    let selectedItems = computed( ()=>{
      if (props.items)
         return props.items.filter( (item)=> props.isSelected?.[item.id] )
    })

    let clickItem= function(item:any, isSelected:any) {
 
      emit('clickItem', item, isSelected );
    }

    let loadItemsOnChange= function() {
      // Implement the loadItemsOnChange function logic here.
    }

    let removeItem= function(event:any, item:any, isSelected:any) {
      event.preventDefault()
      emit('clickItem', item, isSelected );
    }

    let handleFocus = (event:any) => {
      //let e=event
    }

    let handleFocusOut = (event:any) => {
      if (event.currentTarget.parentElement==undefined) debugger
      let isOutsideClick =  ! event.currentTarget.parentElement.contains(event.relatedTarget);
      if (isOutsideClick) localVars.editMode=false
    }
     
    let fontColor:string = 'color:'+me?.value?.Parameters?.ValueFontColor+' !important;'
    const getComputedStyle = computed(()=>{
      let style='position:relative;'
      if (!props.size || props.size!=='small') style+='min-height:38px;'
      //{  minHeight: size !== 'small' ? '38px' : '',  }
      return style
    })
</script>

<template>

 

<div DROPDOWN   @focus="handleFocus"  tabindex="0"  class="element-style resource-type-lg" >
    <div  @click="switchMode"  class="row border rounded bg-white m-0 p-1" :style="getComputedStyle">
      <div class="col p-0">

        <div  v-for="si in selectedItems"   :key="si.id"  class="badge badge-secondary m-1">
          <span :class="size" :style="customStyleItems">{{ si.name }} ({{ si.id }})</span>
          <div style="position: relative">
            <button v-if="localVars.editMode"  @click="removeItem($event, si, isSelected)"   type="button" class="border-0"    
                style="position: absolute; right: -12px; top: -22px; color: black; background-color: azure; border-radius: 9px; padding: 1px 2px 1px 2px;" >
              <i class="fa fa-times"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="col-auto p-0 expand-property-panel" role="button" aria-expanded="true" aria-controls="mainPropertyPanel">
        <i style="font-size: medium;" v-show="!localVars.editMode" class="fas fa-angle-down"></i>
        <i style="font-size: medium;" v-show="localVars.editMode" class="fas fa-angle-up "></i>
      </div>
    </div>

    <div  :id="'pokazise'" class="show-more mx-n1 rounded bg-white" style="z-index: 1000; position: absolute; width: 101%; overflow-y: scroll;overflow-x: clip"
        v-show="localVars.editMode"
        @focus="handleFocus"    @focusout="handleFocusOut"    tabindex="0" 
        :class="['show shadow-sm border', { show: localVars.editMode }]"  >
      
      <div style="position: sticky; top: 0;   padding-right: 10px;">
         
        <input  type="text" autofocus  :id="`${parentResourceWidgetId}.${dropdownId}search`" class="w-100" :class="{ 'form-control-xs': size === 'small' }"
          @focus="showDropdownItems = true"
          @blur="showDropdownItems = false"     
          @change="loadItemsOnChange"
          v-model="search.searchFilter"
          :placeholder="searchText"
          :name="`${parentResourceWidgetId}.${dropdownId}search`"   
        />
      </div>

      <div style="overflow-y: auto; margin-bottom:5px">
        <div v-for="item in items" :key="item.id" v-show="item.name.toLowerCase().includes(search.searchFilter.toLowerCase()) || search.searchFilter.trim() === ''">
          <label  class="bgOnHover d-flex align-items-center kt-checkbox-label" :style="customStyleItems" :for="`cbdd-${dropdownId}-${item.id}`">

            <input type="checkbox" :value="isSelected?.[item.id]" v-on:change="clickItem(item,isSelected)" :checked="isSelected?.[item.id]" :id="`cbdd-${dropdownId}-${item.id}`" :name="`cbdd-${dropdownId}-${item.id}`" class="m-1"  />  
              <span class="ml-1 bold" :style="customStyleItems">    {{ item.name }} ({{ item.id }})
              </span>
          </label>
        </div>
      </div>
    </div>

  </div>

</template>

<style scoped>
.list-wrapper {
  display: grid;
  grid-template-columns: repeat(24,1fr);
  grid-auto-flow: row;
  grid-column: auto / span v-bind(elementWidth);
}
.label-style {
  grid-column:auto / span v-bind(labelLength);
}
.element-style {
  grid-column:auto / span v-bind(valueLength);
}

.default-style{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size:1rem;
    line-height: 1.5;
    color: #26314d;
    background-color: #fff;
    background-clip: paddiv-box;
    border: 1px solid #E7E9EC;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media (max-width: 992px) {
  .resource-type-lg {
    display: none; } 
}

@media (min-width: 992px) {
  .resource-type-sm {
    display: none !important;
    opacity: 0; }
}

@media (prefers-reduced-motion: reduce) {
    .default-style {
      transition: none; } }
  .default-style-ms-expand {
    background-color: transparent;
    border: 0; }
  .default-style:focus {
    color: rgba(14, 26, 57, 0.9);
    background-color: #fff;
    border-color: #9eb6f3;
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgba(44, 96, 229, 0.25); }
  .default-styleplaceholder {
    color: #B7BAC4;
    opacity: 1; }
  .default-style:disabled, .default-style[readonly] {
    background-color: #F3F3F5;
    opacity: 1; }

</style>