<script setup lang="ts">

    import { toRef,ref,reactive,computed } from "vue"
  
    import type { Ref } from 'vue'
  
    const props = defineProps({
        parentResourceWidgetId:String,
        fd:Object,
        dataRef:Object,
        fieldName:String,
        cssStyle:String,
        items:Array<Record<PropertyKey,any>>,
        customStyle: String,
        searchText: String,
    });

    const emit = defineEmits(['selectItem'])

    let parentId:Ref<any> = toRef(props,'parentResourceWidgetId')!==undefined ? toRef(props,'parentResourceWidgetId') : ref('')

    let fieldNameTmp:Ref<string | undefined> =  toRef(props,'fieldName') || ref('')
    let fieldNameR:Ref<string> =  ref('')
    if (fieldNameTmp.value) fieldNameR.value = fieldNameTmp.value
    let dataRefR:Ref<Record<PropertyKey,any>> =  ref({})
    let dataRefTmp:Ref<Record<PropertyKey,any> | undefined> =  toRef(props,'dataRef') || ref({})
    if (dataRefTmp.value) dataRefR.value=dataRefTmp.value
    const me:Ref<Record<PropertyKey,any> | undefined> = toRef(props,'fd') || ref({})

    const elementWidth:Ref<number | undefined> = ref(me.value?.Parameters?.ElementWidth)
    const labelLength:Ref<number | undefined> = ref(me?.value?.LabelLength) 
    const valueLength:Ref<number | undefined> = ref(me?.value?.ValueLength)

    let fontColor:string = 'color:'+me?.value?.Parameters?.ValueFontColor+' !important;'
    let procSelectedItem= (event:any) => {

      emit('selectItem', dataRefR.value[fieldNameR.value] );
    }

</script>

<template>

    <select @change="procSelectedItem($event)" v-model="dataRefR[fieldNameR]" :style="customStyle" :class="'default-style element-style-'+cssStyle" :title="me?.titleCalc" :placeholder="searchText">
          <option v-if="!me?.Required" :value="undefined" selected style="color:#B7BAC4">{{searchText}}</option>  
          <option v-if="me?.Required" :value="undefined" selected disabled style="color:#B7BAC4">{{searchText}}</option>  
          <option v-for="codeItem in items" :key="codeItem.id" :value="codeItem" :style="fontColor">{{codeItem.name}}</option>
    </select>

</template>

<style scoped>

.label-style {
  grid-column:auto / span v-bind(labelLength);
}
.element-style {
  grid-column:auto / span v-bind(valueLength);
}

.default-style{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size:1rem;
    line-height: 1.5;
    color: #26314d;
    background-color: #fff;
    background-clip: paddiv-box;
    border: 1px solid #E7E9EC;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .default-style {
      transition: none; } }
  .default-style-ms-expand {
    background-color: transparent;
    border: 0; }
  .default-style:focus {
    color: rgba(14, 26, 57, 0.9);
    background-color: #fff;
    border-color: #9eb6f3;
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgba(44, 96, 229, 0.25); }
  .default-styleplaceholder {
    color: #B7BAC4;
    opacity: 1; }
  .default-style:disabled, .default-style[readonly] {
    background-color: #F3F3F5;
    opacity: 1; }

</style>