
<script setup lang="ts">

import { ref, computed, onMounted, reactive , watch, toRef} from "vue";
import { storeToRefs } from 'pinia';
import { useAuthUserStore } from '@/m_auth/stores/authUser';
import { usePageStore } from '@/m_page/stores/page';
import { useApplicationStore } from '@/g_stores/application';
import { useCodesStore } from "@/g_stores/codes"
import type {ICodeHead} from "@/g_stores/codes"
import type { Ref } from 'vue'
import { useAlertStore, alertMessage } from '@/g_stores/alert';
import { useUserStore } from '@/m_auth/stores/user'
import  DropDown  from '@/g_components/DropDown.vue'
import {  useRoute } from 'vue-router'
import  IconPicker from '@/g_components/IconPicker.vue'


const authStore = useAuthUserStore();
const appStore = useApplicationStore()
const pageStore = usePageStore()
const alertStore = useAlertStore()
const userStore = useUserStore()
const codesStore = useCodesStore() 

  //define props
  const props = defineProps({
    state: Object,
    show:Boolean,
    codeId:  String,
    CodeHead:Object
 })

 const emit = defineEmits(['clickedClose'])

type TInvalid = { 
  CodeName: boolean,
  CodeHeadName: boolean,
  Description: boolean,
  CodeType:boolean,
  CodeId:boolean
}


const  invalid = computed<TInvalid>(() => 
{
return {
  CodeName: !CodeHead.CodeName,
  CodeHeadName: !CodeHead.CodeHeadName,
  Description: !CodeHead.Description || CodeHead.Description.length < 3,
  CodeType: !CodeHead.CodeType,
  CodeId: !CodeHead.id
}
})

let selectedCodeId

 let CodeHead = props.CodeHead || {}


    let  submitted= false

    let user = authStore.getCurrentUser || {}

    let codesDetails = ref<Array<any>>([]);
    let showEditCodes = ref(true);

    let showListCodes = ref(false);
    let codeName = ref('');
    let route = useRoute()
    let codesLoaded = true

  

    const codeTypeList = [
      { id: 1, name: 'System' },
      { id: 2, name: 'User' }
    ]

  

    const saveCodeHead = async () => {
      try {
        const message = `Saving code ${CodeHead.CodeName}`;
       // alertStore.info('setActivityMsg', { activityMessage: message });
        //const data = await store.dispatch('CodesPost', CodeHead);
       // alertStore.info('addMessage', { msg: data.data, type: 'success' });
      } catch (error) {
        //alertStore.info('addMessage', { msg: error.msg, type: 'error' });
      }
    }

   
    watch( 
        () => props.state, 
        (state,old) => {
            if (state?.selectedRecords[0]) {     
                //selectedCodeId=state.selectedRecords[0].id
                CodeHead= state.selectedRecords[0]
                let container:any = document.getElementById('#exampleModalC')
                //showEditCodes.value=true
            }         
        }, 
        { deep: true }
    )

    const saveCodesDetails = async () => 
    {
        let resp:any = await codesStore.saveCodesDetails(CodeHead,  authStore.getCurrentUserLangId)        
    }

    const addEmptyCodeItem = () => {
      
      codesDetails.value.push({ 
          id: null,
          Name: null, 
          Value: null, 
          Active: true, 
          Params: {Icon:''},
          CodesDetailLang: [{ Value: null, Lang: authStore.getCurrentUserLangId }] 
        });
    };

    const removeCode = (index:any) => {
      codesDetails.value.splice(index, 1);
    };

    const returnToPreviousPage = () => {
      //router.push(returnState.state.name, returnState.params);
    };

    const unselectRows = (ev:any) => {
  
      //codeId = 0
      showEditCodes.value=false
      emit('clickedClose')
      if (props.state) props.state.selectedRowIndex={}
  
    };

    const toggleEditCodes = () => {
      showEditCodes.value = !showEditCodes.value;
    }

    const toggleListCodes = () => {
      showListCodes.value = !showListCodes.value;
    }
  

    const pickerUpdate = (icon:any, item:any) => {
      item.Params.Icon = icon.value
 
    }

    if (props.codeId) {
        codesStore.getCodesDetails(props.codeId, authStore.getCurrentUserLangId).then( (resp) => {
          
        resp.data.forEach( (code:any) => {
                if (code?.Params?.Icon == undefined) code.Params.Icon=''
        })
          
            codesDetails.value = resp.data
        })
    }
  

    let  touched= {
          status: false,
          codeId: false,
          codeName: false,
          CodeHeadName: false,
          codeDescription: false,
          codeType: false
    }
   
   
      let invalidForm = computed(() =>{
        return (
          !CodeHead.CodeName ||
          !CodeHead.Description ||
          CodeHead.Description.length < 20 ||
          !CodeHead.CodeType
        )
    })
    
   


    const  saveCode = () => 
    {
      submitted = true;    
      /*if (invalidForm.value) {
          alertStore.warning(new alertMessage('Invalid data!','Invalid data!', 400))
          return
      }*/

      //codeHead.Version=1 

      codesStore.CodesPost(CodeHead,authStore.getCurrentUserLangId).then(
              function(resp) {        
                if (resp)    alertStore.info(new alertMessage(resp.msg, resp.msg, 200))
                      // CodeHead.id=resp.data.data;    
              },function(error){
                          //MessagingService.addMessage(error.msg,'error');
      });                              

  }

  </script>
  

<template>
   
    <div v-if="props.show" class="mymodal  bd-example-modal-lg" id="exampleModalC" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="min-height: 150px;">
  
          <div v-if="!codesLoaded" class="text-center" style="position: absolute; width: 100%;">
            <div class="lds-ring">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
  
          <div class="modal-header py-1">
            <div class="modal-title fnt12 col mx-0 p-0 my-2">
              <i class="fa fa-barcode mr-2"></i>
              <span>{{ codeName }}</span>
              <button type="button" class="close" @click="unselectRows" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
          </div>
  
          <div class="">
            <div @click="toggleEditCodes" class="d-flex border-bottom" style="cursor: pointer;">
              <div class="p-0">
                <div class="btn text-primary my-1">
                  <span v-if="showEditCodes" class="fa fa-chevron-up"></span>
                  <span v-else class="fa fa-chevron-right"></span>
                </div>
              </div>
              <div class="modal-title fnt10 w-100 p-0 mx-0 my-2">
                <span>Codes Parameters</span>
              </div>
            </div>
  
            <div v-if="showEditCodes" class="p-3" id="Edit">
              <div class="m-3">
                <form @submit.prevent="saveCodeHead" id="CodeHead" name="CodeHeadForm" class="form-horizontal" novalidate>
                  <div class="row mb-3">
                    <div class="col-6 form-group row ml-2" :class="{ 'has-error': (submitted || touched.status) && invalid}">
                      <label class="col-lg-8 mt-1" for="active">Active</label>
                      <div class="col-lg-auto">
                        <input type="checkbox" class="checkbox-zoom-large" v-model="CodeHead.Active" name="active">
                      </div>
                    </div>
                    <div class="col-12 form-group row ml-2">
                      <label class="col-lg-9 mt-1" for="lang">User generated id</label>
                      <div class="col-lg-6">
                        <input type="checkbox" class="checkbox-zoom-large" v-model="CodeHead.UserGeneratedId" name="userGeneratedId">
                      </div>
                    </div>
                  </div>
  
                  <div class="form-group row ml-2" :class="{ 'has-error': (submitted || touched.codeId) && invalid.CodeId }">
                    <label class="col-lg-6" for="codeId">Code ID</label>
                    <div class="col-lg-16">
                      <input type="text" v-model="CodeHead.id" disabled class="form-control" id="codeId" name="codeId" placeholder="Code ID">
                      <p v-if="(submitted || touched.codeId) && invalid.CodeId" class="help-block">Enter code id</p>
                    </div>
                  </div>
  
                  <div class="form-group row ml-2" :class="{ 'has-error': (submitted || touched.codeName) && invalid.CodeName }">
                    <label class="col-lg-6" for="codeName">Code name</label>
                    <div class="col-lg-16">
                      <input type="text" v-model="CodeHead.CodeName" required class="form-control" id="codeName" name="codeName" placeholder="Code name" @blur="touched.codeName = true">
                      <p v-if="(submitted || touched.codeName) && invalid.CodeName" class="help-block">Enter code name</p>
                    </div>
                  </div>
  
                  <div class="form-group row ml-2" :class="{ 'has-error': (submitted || touched.CodeHeadName) && invalid.CodeHeadName }">
                    <label class="col-lg-6" for="CodeHeadName">Code unique identifier</label>
                    <div class="col-lg-16">
                      <input type="text" v-model="CodeHead.CodeHeadName" class="form-control" id="CodeHeadName" name="CodeHeadName" placeholder="Code unique identifier" @blur="touched.CodeHeadName = true">
                      <p v-if="(submitted || touched.CodeHeadName) && invalid.CodeHeadName" class="help-block">Enter unique identifier (any text up to 255 characters)</p>
                    </div>
                  </div>
  
                  <div class="form-group row ml-2" :class="{ 'has-error': (submitted || touched.codeDescription) && invalid.Description }">
                    <label class="col-lg-6" for="codeDescription">Code description</label>
                    <div class="col-lg-16">
                      <textarea v-model="CodeHead.Description" name="codeDescription" required minlength="20" class="form-control" @blur="touched.codeDescription = true"></textarea>
                      <p v-if="(submitted || touched.codeDescription) && invalid.Description" class="help-block">Enter code description (min 20 chars).</p>
                    </div>
                  </div>
  
                  <div class="form-group row ml-2" :class="{ 'has-error': (submitted || touched.codeType) && invalid.CodeType }">
                    <label class="col-lg-6" for="codeType">Code type</label>
                    <div class="col-lg-16">

                      <select v-model="CodeHead.CodeType" class="form-control" id="codeType" name="codeType">
                        <option v-for="type in codeTypeList" :key="type.id" :value="type">{{ type.name }}</option>
                      </select>
                      <p v-if="(submitted || touched.codeType) && invalid.CodeType" class="help-block">Select code type</p>
                    </div>
                  </div>
  
                  <div class="control-group px-3">
                    <button type="button" @click="saveCode" :disabled="false && invalidForm" class="btn btn-light">
                      <span class="fa fa-save mr-2"></span> Save code
                    </button>
                  </div>
                </form>
              </div>
            </div>
  
            <div v-if="codesLoaded" @click="toggleListCodes" class="d-flex border-bottom" style="cursor: pointer;">
              <div class="p-0">
                <div class="btn text-primary my-1">
                  <span v-if="!showListCodes" class="fa fa-chevron-right"></span>
                  <span v-else class="fa fa-chevron-down"></span>
                </div>
              </div>
              <div class="modal-title fnt10 w-100 mx-0 p-0 my-2">
                <span>Codes List</span>
              </div>
            </div>
  
            <div v-if="showListCodes">
              <form v-if="codesLoaded"  id="formCodes" name="formCodes" class="mt-2 form-horizontal" novalidate>
                <div id="Title" class="text-center modal-title fnt12 col my-3"></div>
                <div id="Details">
                  <div v-if="codesDetails.length > 0" >
                    <div style="border-bottom: solid 1px gray;" class="row mx-4">
                      <div class="col-2 my-2"><label class="bold">id</label></div>
                      <div class="col-8 my-2"><label class="bold">Name</label></div>
                      <div class="col-8 my-2"><label class="bold">Value</label></div>
                      <div class="col-2 my-2 text-center"><label class="bold">Icon</label></div>
                      <div class="col-2 my-2 text-center"><label class="bold">Active</label></div>
                    </div>
  
                    <div class="my-4">
                     
                      <div v-for="(codeItem, index) in codesDetails" :key="index">
                        <div class="row mx-4 my-1">
                          <div class="col-2 align-items-center">
                            <label class="form-control form-control-xs" style="border: none">{{ codeItem.id }}</label>
                          </div>
                          <div class="col-8 px-1 align-items-center">
                            <input type="text" v-model="codeItem.Name" required placeholder="Code Name" class="form-control form-control-xs">
                          </div>
                          <div class="col-8 px-1 align-items-center">
                            <input type="text" v-model="codeItem.Value" required placeholder="Code Value" class="form-control form-control-xs">
                          </div>
                          <div class="col-2 px-1 align-items-center text-center">
                            <IconPicker                             
                                :select-colors="false"
                                :select-icons="true" 
                                :show-buttons="true"
                                :selected-icon="codeItem.Params.Icon" 
                                @update-data="pickerUpdate($event, codeItem)">
                              </IconPicker>

                          </div>
                          <div class="col-2 px-1 align-items-center text-center">
                            <button type="button" class="btn btn-sm p-0" :class="{ 'btn-outline-success': codeItem.Active, 'btn-outline-danger': !codeItem.Active }" @click="codeItem.Active = !codeItem.Active">
                              <i class="px-1" :class="{ 'fas fa-check': codeItem.Active, 'fas fa-times': !codeItem.Active }"></i>
                            </button>
                          </div>
                          <div class="col-1 px-1 ml-2 align-items-center">
                            <button type="button" class="btn btn-sm p-0 px-1" title="Remove code" @click="removeCode(index)">
                              <i class="fas fa-trash-alt"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="col my-1 text-center">
                    <button type="button" @click="addEmptyCodeItem" class="btn btn-lg btn-outline-primary">
                      <span class="fa fa-plus"></span>
                    </button>
                  </div>
  
                  <div class="col my-1">
                    <div class="my-2">
                      <button type="button" @click="saveCodesDetails" :disabled="false && (invalidForm || codesDetails.length > 0)" class="btn btn-outline-primary">
                        <span class="fa fa-save"></span> Save codes
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </template>
  
  
  <style scoped>

* {
            box-sizing: border-box;
     }

  .mymodal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
  }
  </style>
  