<script setup lang="ts">

    import { useRdbmsResourceStore } from '@/m_resource/stores/rdbmsResource';
    //import TestView from '@/components/TestView.vue'
    import { useResourceDefinitionStore } from '@/m_resource/stores/resourceDefinition';
    import { reactive,toRef,ref,computed,defineAsyncComponent ,provide} from "vue";
    import type { Ref , } from 'vue'
    // @ts-ignore
    import KatalyoPinia from '@/g_libs/mapPiniaStores.js';
    
    const props = defineProps({
        resourceId: String,
    });

    const authStore = KatalyoPinia().getStore('authUser')();
    const pageStore = KatalyoPinia().getStore('page')();

    const resourceId_ref:Ref<string | undefined> = toRef(props,'resourceId')
    
    let resourceId:Ref<string> =ref('')

    if (resourceId_ref!==undefined) resourceId.value=resourceId_ref.value || ''

    const rdbmsStore = useRdbmsResourceStore()   

    const dataSrcTypeRef:Ref<string> = ref('')
    provide("dataSrcTypeRef", dataSrcTypeRef)

    const getComponentName = (widget:any) => {
        let cName:string = 'Widget'+widget.ElementType.substring(0,1).toUpperCase()+ widget.ElementType.substring(1)+'Exe'
        if (widget.ComponentName)   cName = widget.ComponentName+'Exe'
        return cName
    }

    
</script>

<template>

    <component v-if="pageStore.getLoadCurrentPageCompleted"
        v-for="(widget,key,index) in pageStore.getCurrentPageForm" 
        :key="widget.id" 
        :fd="widget"
        :parentResourceWidgetId="resourceId"
        :css-prefix="resourceId"
        :is="getComponentName(widget)" >
    </component>
</template>

<style scoped>

    .border-bottom{
        border-bottom:1px solid gray;
    }

</style>