<script setup lang="ts">

import { ref, computed, onMounted, reactive, watch, toRef } from "vue";
import type { Ref } from 'vue'
import { storeToRefs } from 'pinia';
import { useAuthUserStore } from '@/m_auth/stores/authUser';
import { usePageStore } from '@/m_page/stores/page';
import { useApplicationStore } from '@/g_stores/application';
import { useCodesStore } from "@/g_stores/codes"
import { useAlertStore, alertMessage } from '@/g_stores/alert';
import { useUserStore } from '@/m_auth/stores/user'
import DropDown from '@/g_components/DropDown.vue'
import { useRoute } from 'vue-router'


const authStore = useAuthUserStore();
const appStore = useApplicationStore()
const pageStore = usePageStore()
const alertStore = useAlertStore()
const userStore = useUserStore()
const codesStore = useCodesStore()

const emit = defineEmits(['update-data'])

// Props
const props = defineProps({
  title: String,
  selectedIcon: String,
  uniqueId: String,
  designMode: Boolean,
  setDisabled: Boolean,
  btnLabel: String,
  selectedButton: String,
  selectIcons: Boolean,
  selectColors: Boolean,
  showIcons: Boolean,
  showButtons: Boolean,
})

//let icons: Array<any>=[{"full": "fab fa-500px","shorty": "500px"},{"full": "fab fa-accessible-icon","shorty": "accessible-icon"}]
//const allButtons:Array<string> = ['btn-primary', 'btn-light']

let allButtons: Array<string> = ['btn-primary', 'btn-light', 'btn-dark', 'btn-success', 'btn-danger', 'btn-info', 'btn-warning', 'btn-outline-primary', 'btn-outline-light', 'btn-outline-dark', 'btn-outline-success', 'btn-outline-danger', 'btn-outline-info', 'btn-outline-warning', 'btn-link']

const icons: Array<any> = [{ "full": "fab fa-500px", "shorty": "500px" }, { "full": "fab fa-accessible-icon", "shorty": "accessible-icon" }, { "full": "fab fa-accusoft", "shorty": "accusoft" }, { "full": "fab fa-adn", "shorty": "adn" }, { "full": "fab fa-adversal", "shorty": "adversal" }, { "full": "fab fa-affiliatetheme", "shorty": "affiliatetheme" }, { "full": "fab fa-algolia", "shorty": "algolia" }, { "full": "fab fa-alipay", "shorty": "alipay" }, { "full": "fab fa-amazon", "shorty": "amazon" }, { "full": "fab fa-amazon-pay", "shorty": "amazon-pay" }, { "full": "fab fa-amilia", "shorty": "amilia" }, { "full": "fab fa-android", "shorty": "android" }, { "full": "fab fa-angellist", "shorty": "angellist" }, { "full": "fab fa-angrycreative", "shorty": "angrycreative" }, { "full": "fab fa-angular", "shorty": "angular" }, { "full": "fab fa-app-store", "shorty": "app-store" }, { "full": "fab fa-app-store-ios", "shorty": "app-store-ios" }, { "full": "fab fa-apper", "shorty": "apper" }, { "full": "fab fa-apple", "shorty": "apple" }, { "full": "fab fa-apple-pay", "shorty": "apple-pay" }, { "full": "fab fa-asymmetrik", "shorty": "asymmetrik" }, { "full": "fab fa-audible", "shorty": "audible" }, { "full": "fab fa-autoprefixer", "shorty": "autoprefixer" }, { "full": "fab fa-avianex", "shorty": "avianex" }, { "full": "fab fa-aviato", "shorty": "aviato" }, { "full": "fab fa-aws", "shorty": "aws" }, { "full": "fab fa-bandcamp", "shorty": "bandcamp" }, { "full": "fab fa-behance", "shorty": "behance" }, { "full": "fab fa-behance-square", "shorty": "behance-square" }, { "full": "fab fa-bimobject", "shorty": "bimobject" }, { "full": "fab fa-bitbucket", "shorty": "bitbucket" }, { "full": "fab fa-bitcoin", "shorty": "bitcoin" }, { "full": "fab fa-bity", "shorty": "bity" }, { "full": "fab fa-black-tie", "shorty": "black-tie" }, { "full": "fab fa-blackberry", "shorty": "blackberry" }, { "full": "fab fa-blogger", "shorty": "blogger" }, { "full": "fab fa-blogger-b", "shorty": "blogger-b" }, { "full": "fab fa-bluetooth", "shorty": "bluetooth" }, { "full": "fab fa-bluetooth-b", "shorty": "bluetooth-b" }, { "full": "fab fa-btc", "shorty": "btc" }, { "full": "fab fa-buromobelexperte", "shorty": "buromobelexperte" }, { "full": "fab fa-buysellads", "shorty": "buysellads" }, { "full": "fab fa-cc-amazon-pay", "shorty": "cc-amazon-pay" }, { "full": "fab fa-cc-amex", "shorty": "cc-amex" }, { "full": "fab fa-cc-apple-pay", "shorty": "cc-apple-pay" }, { "full": "fab fa-cc-diners-club", "shorty": "cc-diners-club" }, { "full": "fab fa-cc-discover", "shorty": "cc-discover" }, { "full": "fab fa-cc-jcb", "shorty": "cc-jcb" }, { "full": "fab fa-cc-mastercard", "shorty": "cc-mastercard" }, { "full": "fab fa-cc-paypal", "shorty": "cc-paypal" }, { "full": "fab fa-cc-stripe", "shorty": "cc-stripe" }, { "full": "fab fa-cc-visa", "shorty": "cc-visa" }, { "full": "fab fa-centercode", "shorty": "centercode" }, { "full": "fab fa-chrome", "shorty": "chrome" }, { "full": "fab fa-cloudscale", "shorty": "cloudscale" }, { "full": "fab fa-cloudsmith", "shorty": "cloudsmith" }, { "full": "fab fa-cloudversify", "shorty": "cloudversify" }, { "full": "fab fa-codepen", "shorty": "codepen" }, { "full": "fab fa-codiepie", "shorty": "codiepie" }, { "full": "fab fa-connectdevelop", "shorty": "connectdevelop" }, { "full": "fab fa-contao", "shorty": "contao" }, { "full": "fab fa-cpanel", "shorty": "cpanel" }, { "full": "fab fa-creative-commons", "shorty": "creative-commons" }, { "full": "fab fa-creative-commons-by", "shorty": "creative-commons-by" }, { "full": "fab fa-creative-commons-nc", "shorty": "creative-commons-nc" }, { "full": "fab fa-creative-commons-nc-eu", "shorty": "creative-commons-nc-eu" }, { "full": "fab fa-creative-commons-nc-jp", "shorty": "creative-commons-nc-jp" }, { "full": "fab fa-creative-commons-nd", "shorty": "creative-commons-nd" }, { "full": "fab fa-creative-commons-pd", "shorty": "creative-commons-pd" }, { "full": "fab fa-creative-commons-pd-alt", "shorty": "creative-commons-pd-alt" }, { "full": "fab fa-creative-commons-remix", "shorty": "creative-commons-remix" }, { "full": "fab fa-creative-commons-sa", "shorty": "creative-commons-sa" }, { "full": "fab fa-creative-commons-sampling", "shorty": "creative-commons-sampling" }, { "full": "fab fa-creative-commons-sampling-plus", "shorty": "creative-commons-sampling-plus" }, { "full": "fab fa-creative-commons-share", "shorty": "creative-commons-share" }, { "full": "fab fa-css3", "shorty": "css3" }, { "full": "fab fa-css3-alt", "shorty": "css3-alt" }, { "full": "fab fa-cuttlefish", "shorty": "cuttlefish" }, { "full": "fab fa-d-and-d", "shorty": "d-and-d" }, { "full": "fab fa-dashcube", "shorty": "dashcube" }, { "full": "fab fa-delicious", "shorty": "delicious" }, { "full": "fab fa-deploydog", "shorty": "deploydog" }, { "full": "fab fa-deskpro", "shorty": "deskpro" }, { "full": "fab fa-deviantart", "shorty": "deviantart" }, { "full": "fab fa-digg", "shorty": "digg" }, { "full": "fab fa-digital-ocean", "shorty": "digital-ocean" }, { "full": "fab fa-discord", "shorty": "discord" }, { "full": "fab fa-discourse", "shorty": "discourse" }, { "full": "fab fa-dochub", "shorty": "dochub" }, { "full": "fab fa-docker", "shorty": "docker" }, { "full": "fab fa-draft2digital", "shorty": "draft2digital" }, { "full": "fab fa-dribbble", "shorty": "dribbble" }, { "full": "fab fa-dribbble-square", "shorty": "dribbble-square" }, { "full": "fab fa-dropbox", "shorty": "dropbox" }, { "full": "fab fa-drupal", "shorty": "drupal" }, { "full": "fab fa-dyalog", "shorty": "dyalog" }, { "full": "fab fa-earlybirds", "shorty": "earlybirds" }, { "full": "fab fa-ebay", "shorty": "ebay" }, { "full": "fab fa-edge", "shorty": "edge" }, { "full": "fab fa-elementor", "shorty": "elementor" }, { "full": "fab fa-ello", "shorty": "ello" }, { "full": "fab fa-ember", "shorty": "ember" }, { "full": "fab fa-empire", "shorty": "empire" }, { "full": "fab fa-envira", "shorty": "envira" }, { "full": "fab fa-erlang", "shorty": "erlang" }, { "full": "fab fa-ethereum", "shorty": "ethereum" }, { "full": "fab fa-etsy", "shorty": "etsy" }, { "full": "fab fa-expeditedssl", "shorty": "expeditedssl" }, { "full": "fab fa-facebook", "shorty": "facebook" }, { "full": "fab fa-facebook-f", "shorty": "facebook-f" }, { "full": "fab fa-facebook-messenger", "shorty": "facebook-messenger" }, { "full": "fab fa-facebook-square", "shorty": "facebook-square" }, { "full": "fab fa-firefox", "shorty": "firefox" }, { "full": "fab fa-first-order", "shorty": "first-order" }, { "full": "fab fa-first-order-alt", "shorty": "first-order-alt" }, { "full": "fab fa-firstdraft", "shorty": "firstdraft" }, { "full": "fab fa-flickr", "shorty": "flickr" }, { "full": "fab fa-flipboard", "shorty": "flipboard" }, { "full": "fab fa-fly", "shorty": "fly" }, { "full": "fab fa-font-awesome", "shorty": "font-awesome" }, { "full": "fab fa-font-awesome-alt", "shorty": "font-awesome-alt" }, { "full": "fab fa-font-awesome-flag", "shorty": "font-awesome-flag" }, { "full": "fab fa-fonticons", "shorty": "fonticons" }, { "full": "fab fa-fonticons-fi", "shorty": "fonticons-fi" }, { "full": "fab fa-fort-awesome", "shorty": "fort-awesome" }, { "full": "fab fa-fort-awesome-alt", "shorty": "fort-awesome-alt" }, { "full": "fab fa-forumbee", "shorty": "forumbee" }, { "full": "fab fa-foursquare", "shorty": "foursquare" }, { "full": "fab fa-free-code-camp", "shorty": "free-code-camp" }, { "full": "fab fa-freebsd", "shorty": "freebsd" }, { "full": "fab fa-fulcrum", "shorty": "fulcrum" }, { "full": "fab fa-galactic-republic", "shorty": "galactic-republic" }, { "full": "fab fa-galactic-senate", "shorty": "galactic-senate" }, { "full": "fab fa-get-pocket", "shorty": "get-pocket" }, { "full": "fab fa-gg", "shorty": "gg" }, { "full": "fab fa-gg-circle", "shorty": "gg-circle" }, { "full": "fab fa-git", "shorty": "git" }, { "full": "fab fa-git-square", "shorty": "git-square" }, { "full": "fab fa-github", "shorty": "github" }, { "full": "fab fa-github-alt", "shorty": "github-alt" }, { "full": "fab fa-github-square", "shorty": "github-square" }, { "full": "fab fa-gitkraken", "shorty": "gitkraken" }, { "full": "fab fa-gitlab", "shorty": "gitlab" }, { "full": "fab fa-gitter", "shorty": "gitter" }, { "full": "fab fa-glide", "shorty": "glide" }, { "full": "fab fa-glide-g", "shorty": "glide-g" }, { "full": "fab fa-gofore", "shorty": "gofore" }, { "full": "fab fa-goodreads", "shorty": "goodreads" }, { "full": "fab fa-goodreads-g", "shorty": "goodreads-g" }, { "full": "fab fa-google", "shorty": "google" }, { "full": "fab fa-google-drive", "shorty": "google-drive" }, { "full": "fab fa-google-play", "shorty": "google-play" }, { "full": "fab fa-google-plus", "shorty": "google-plus" }, { "full": "fab fa-google-plus-g", "shorty": "google-plus-g" }, { "full": "fab fa-google-plus-square", "shorty": "google-plus-square" }, { "full": "fab fa-google-wallet", "shorty": "google-wallet" }, { "full": "fab fa-gratipay", "shorty": "gratipay" }, { "full": "fab fa-grav", "shorty": "grav" }, { "full": "fab fa-gripfire", "shorty": "gripfire" }, { "full": "fab fa-grunt", "shorty": "grunt" }, { "full": "fab fa-gulp", "shorty": "gulp" }, { "full": "fab fa-hacker-news", "shorty": "hacker-news" }, { "full": "fab fa-hacker-news-square", "shorty": "hacker-news-square" }, { "full": "fab fa-hackerrank", "shorty": "hackerrank" }, { "full": "fab fa-hips", "shorty": "hips" }, { "full": "fab fa-hire-a-helper", "shorty": "hire-a-helper" }, { "full": "fab fa-hooli", "shorty": "hooli" }, { "full": "fab fa-hornbill", "shorty": "hornbill" }, { "full": "fab fa-hotjar", "shorty": "hotjar" }, { "full": "fab fa-houzz", "shorty": "houzz" }, { "full": "fab fa-html5", "shorty": "html5" }, { "full": "fab fa-hubspot", "shorty": "hubspot" }, { "full": "fab fa-imdb", "shorty": "imdb" }, { "full": "fab fa-instagram", "shorty": "instagram" }, { "full": "fab fa-internet-explorer", "shorty": "internet-explorer" }, { "full": "fab fa-ioxhost", "shorty": "ioxhost" }, { "full": "fab fa-itunes", "shorty": "itunes" }, { "full": "fab fa-itunes-note", "shorty": "itunes-note" }, { "full": "fab fa-java", "shorty": "java" }, { "full": "fab fa-jedi-order", "shorty": "jedi-order" }, { "full": "fab fa-jenkins", "shorty": "jenkins" }, { "full": "fab fa-joget", "shorty": "joget" }, { "full": "fab fa-joomla", "shorty": "joomla" }, { "full": "fab fa-js", "shorty": "js" }, { "full": "fab fa-js-square", "shorty": "js-square" }, { "full": "fab fa-jsfiddle", "shorty": "jsfiddle" }, { "full": "fab fa-kaggle", "shorty": "kaggle" }, { "full": "fab fa-keybase", "shorty": "keybase" }, { "full": "fab fa-keycdn", "shorty": "keycdn" }, { "full": "fab fa-kickstarter", "shorty": "kickstarter" }, { "full": "fab fa-kickstarter-k", "shorty": "kickstarter-k" }, { "full": "fab fa-korvue", "shorty": "korvue" }, { "full": "fab fa-laravel", "shorty": "laravel" }, { "full": "fab fa-lastfm", "shorty": "lastfm" }, { "full": "fab fa-lastfm-square", "shorty": "lastfm-square" }, { "full": "fab fa-leanpub", "shorty": "leanpub" }, { "full": "fab fa-less", "shorty": "less" }, { "full": "fab fa-line", "shorty": "line" }, { "full": "fab fa-linkedin", "shorty": "linkedin" }, { "full": "fab fa-linkedin-in", "shorty": "linkedin-in" }, { "full": "fab fa-linode", "shorty": "linode" }, { "full": "fab fa-linux", "shorty": "linux" }, { "full": "fab fa-lyft", "shorty": "lyft" }, { "full": "fab fa-magento", "shorty": "magento" }, { "full": "fab fa-mailchimp", "shorty": "mailchimp" }, { "full": "fab fa-mandalorian", "shorty": "mandalorian" }, { "full": "fab fa-markdown", "shorty": "markdown" }, { "full": "fab fa-mastodon", "shorty": "mastodon" }, { "full": "fab fa-maxcdn", "shorty": "maxcdn" }, { "full": "fab fa-medapps", "shorty": "medapps" }, { "full": "fab fa-medium", "shorty": "medium" }, { "full": "fab fa-medium-m", "shorty": "medium-m" }, { "full": "fab fa-medrt", "shorty": "medrt" }, { "full": "fab fa-meetup", "shorty": "meetup" }, { "full": "fab fa-megaport", "shorty": "megaport" }, { "full": "fab fa-microsoft", "shorty": "microsoft" }, { "full": "fab fa-mix", "shorty": "mix" }, { "full": "fab fa-mixcloud", "shorty": "mixcloud" }, { "full": "fab fa-mizuni", "shorty": "mizuni" }, { "full": "fab fa-modx", "shorty": "modx" }, { "full": "fab fa-monero", "shorty": "monero" }, { "full": "fab fa-napster", "shorty": "napster" }, { "full": "fab fa-neos", "shorty": "neos" }, { "full": "fab fa-nimblr", "shorty": "nimblr" }, { "full": "fab fa-nintendo-switch", "shorty": "nintendo-switch" }, { "full": "fab fa-node", "shorty": "node" }, { "full": "fab fa-node-js", "shorty": "node-js" }, { "full": "fab fa-npm", "shorty": "npm" }, { "full": "fab fa-ns8", "shorty": "ns8" }, { "full": "fab fa-nutritionix", "shorty": "nutritionix" }, { "full": "fab fa-odnoklassniki", "shorty": "odnoklassniki" }, { "full": "fab fa-odnoklassniki-square", "shorty": "odnoklassniki-square" }, { "full": "fab fa-old-republic", "shorty": "old-republic" }, { "full": "fab fa-opencart", "shorty": "opencart" }, { "full": "fab fa-openid", "shorty": "openid" }, { "full": "fab fa-opera", "shorty": "opera" }, { "full": "fab fa-optin-monster", "shorty": "optin-monster" }, { "full": "fab fa-osi", "shorty": "osi" }, { "full": "fab fa-page4", "shorty": "page4" }, { "full": "fab fa-pagelines", "shorty": "pagelines" }, { "full": "fab fa-palfed", "shorty": "palfed" }, { "full": "fab fa-patreon", "shorty": "patreon" }, { "full": "fab fa-paypal", "shorty": "paypal" }, { "full": "fab fa-periscope", "shorty": "periscope" }, { "full": "fab fa-phabricator", "shorty": "phabricator" }, { "full": "fab fa-phoenix-framework", "shorty": "phoenix-framework" }, { "full": "fab fa-phoenix-squadron", "shorty": "phoenix-squadron" }, { "full": "fab fa-php", "shorty": "php" }, { "full": "fab fa-pied-piper", "shorty": "pied-piper" }, { "full": "fab fa-pied-piper-alt", "shorty": "pied-piper-alt" }, { "full": "fab fa-pied-piper-hat", "shorty": "pied-piper-hat" }, { "full": "fab fa-pied-piper-pp", "shorty": "pied-piper-pp" }, { "full": "fab fa-pinterest", "shorty": "pinterest" }, { "full": "fab fa-pinterest-p", "shorty": "pinterest-p" }, { "full": "fab fa-pinterest-square", "shorty": "pinterest-square" }, { "full": "fab fa-playstation", "shorty": "playstation" }, { "full": "fab fa-product-hunt", "shorty": "product-hunt" }, { "full": "fab fa-pushed", "shorty": "pushed" }, { "full": "fab fa-python", "shorty": "python" }, { "full": "fab fa-qq", "shorty": "qq" }, { "full": "fab fa-quinscape", "shorty": "quinscape" }, { "full": "fab fa-quora", "shorty": "quora" }, { "full": "fab fa-r-project", "shorty": "r-project" }, { "full": "fab fa-ravelry", "shorty": "ravelry" }, { "full": "fab fa-react", "shorty": "react" }, { "full": "fab fa-readme", "shorty": "readme" }, { "full": "fab fa-rebel", "shorty": "rebel" }, { "full": "fab fa-red-river", "shorty": "red-river" }, { "full": "fab fa-reddit", "shorty": "reddit" }, { "full": "fab fa-reddit-alien", "shorty": "reddit-alien" }, { "full": "fab fa-reddit-square", "shorty": "reddit-square" }, { "full": "fab fa-rendact", "shorty": "rendact" }, { "full": "fab fa-renren", "shorty": "renren" }, { "full": "fab fa-replyd", "shorty": "replyd" }, { "full": "fab fa-researchgate", "shorty": "researchgate" }, { "full": "fab fa-resolving", "shorty": "resolving" }, { "full": "fab fa-rev", "shorty": "rev" }, { "full": "fab fa-rocketchat", "shorty": "rocketchat" }, { "full": "fab fa-rockrms", "shorty": "rockrms" }, { "full": "fab fa-safari", "shorty": "safari" }, { "full": "fab fa-sass", "shorty": "sass" }, { "full": "fab fa-schlix", "shorty": "schlix" }, { "full": "fab fa-scribd", "shorty": "scribd" }, { "full": "fab fa-searchengin", "shorty": "searchengin" }, { "full": "fab fa-sellcast", "shorty": "sellcast" }, { "full": "fab fa-sellsy", "shorty": "sellsy" }, { "full": "fab fa-servicestack", "shorty": "servicestack" }, { "full": "fab fa-shirtsinbulk", "shorty": "shirtsinbulk" }, { "full": "fab fa-shopware", "shorty": "shopware" }, { "full": "fab fa-simplybuilt", "shorty": "simplybuilt" }, { "full": "fab fa-sistrix", "shorty": "sistrix" }, { "full": "fab fa-sith", "shorty": "sith" }, { "full": "fab fa-skyatlas", "shorty": "skyatlas" }, { "full": "fab fa-skype", "shorty": "skype" }, { "full": "fab fa-slack", "shorty": "slack" }, { "full": "fab fa-slack-hash", "shorty": "slack-hash" }, { "full": "fab fa-slideshare", "shorty": "slideshare" }, { "full": "fab fa-snapchat", "shorty": "snapchat" }, { "full": "fab fa-snapchat-ghost", "shorty": "snapchat-ghost" }, { "full": "fab fa-snapchat-square", "shorty": "snapchat-square" }, { "full": "fab fa-soundcloud", "shorty": "soundcloud" }, { "full": "fab fa-speakap", "shorty": "speakap" }, { "full": "fab fa-spotify", "shorty": "spotify" }, { "full": "fab fa-squarespace", "shorty": "squarespace" }, { "full": "fab fa-stack-exchange", "shorty": "stack-exchange" }, { "full": "fab fa-stack-overflow", "shorty": "stack-overflow" }, { "full": "fab fa-staylinked", "shorty": "staylinked" }, { "full": "fab fa-steam", "shorty": "steam" }, { "full": "fab fa-steam-square", "shorty": "steam-square" }, { "full": "fab fa-steam-symbol", "shorty": "steam-symbol" }, { "full": "fab fa-sticker-mule", "shorty": "sticker-mule" }, { "full": "fab fa-strava", "shorty": "strava" }, { "full": "fab fa-stripe", "shorty": "stripe" }, { "full": "fab fa-stripe-s", "shorty": "stripe-s" }, { "full": "fab fa-studiovinari", "shorty": "studiovinari" }, { "full": "fab fa-stumbleupon", "shorty": "stumbleupon" }, { "full": "fab fa-stumbleupon-circle", "shorty": "stumbleupon-circle" }, { "full": "fab fa-superpowers", "shorty": "superpowers" }, { "full": "fab fa-supple", "shorty": "supple" }, { "full": "fab fa-teamspeak", "shorty": "teamspeak" }, { "full": "fab fa-telegram", "shorty": "telegram" }, { "full": "fab fa-telegram-plane", "shorty": "telegram-plane" }, { "full": "fab fa-tencent-weibo", "shorty": "tencent-weibo" }, { "full": "fab fa-the-red-yeti", "shorty": "the-red-yeti" }, { "full": "fab fa-themeco", "shorty": "themeco" }, { "full": "fab fa-themeisle", "shorty": "themeisle" }, { "full": "fab fa-trade-federation", "shorty": "trade-federation" }, { "full": "fab fa-trello", "shorty": "trello" }, { "full": "fab fa-tripadvisor", "shorty": "tripadvisor" }, { "full": "fab fa-tumblr", "shorty": "tumblr" }, { "full": "fab fa-tumblr-square", "shorty": "tumblr-square" }, { "full": "fab fa-twitch", "shorty": "twitch" }, { "full": "fab fa-twitter", "shorty": "twitter" }, { "full": "fab fa-twitter-square", "shorty": "twitter-square" }, { "full": "fab fa-typo3", "shorty": "typo3" }, { "full": "fab fa-uber", "shorty": "uber" }, { "full": "fab fa-uikit", "shorty": "uikit" }, { "full": "fab fa-uniregistry", "shorty": "uniregistry" }, { "full": "fab fa-untappd", "shorty": "untappd" }, { "full": "fab fa-usb", "shorty": "usb" }, { "full": "fab fa-ussunnah", "shorty": "ussunnah" }, { "full": "fab fa-vaadin", "shorty": "vaadin" }, { "full": "fab fa-viacoin", "shorty": "viacoin" }, { "full": "fab fa-viadeo", "shorty": "viadeo" }, { "full": "fab fa-viadeo-square", "shorty": "viadeo-square" }, { "full": "fab fa-viber", "shorty": "viber" }, { "full": "fab fa-vimeo", "shorty": "vimeo" }, { "full": "fab fa-vimeo-square", "shorty": "vimeo-square" }, { "full": "fab fa-vimeo-v", "shorty": "vimeo-v" }, { "full": "fab fa-vine", "shorty": "vine" }, { "full": "fab fa-vk", "shorty": "vk" }, { "full": "fab fa-vnv", "shorty": "vnv" }, { "full": "fab fa-vuejs", "shorty": "vuejs" }, { "full": "fab fa-weebly", "shorty": "weebly" }, { "full": "fab fa-weibo", "shorty": "weibo" }, { "full": "fab fa-weixin", "shorty": "weixin" }, { "full": "fab fa-whatsapp", "shorty": "whatsapp" }, { "full": "fab fa-whatsapp-square", "shorty": "whatsapp-square" }, { "full": "fab fa-whmcs", "shorty": "whmcs" }, { "full": "fab fa-wikipedia-w", "shorty": "wikipedia-w" }, { "full": "fab fa-windows", "shorty": "windows" }, { "full": "fab fa-wix", "shorty": "wix" }, { "full": "fab fa-wolf-pack-battalion", "shorty": "wolf-pack-battalion" }, { "full": "fab fa-wordpress", "shorty": "wordpress" }, { "full": "fab fa-wordpress-simple", "shorty": "wordpress-simple" }, { "full": "fab fa-wpbeginner", "shorty": "wpbeginner" }, { "full": "fab fa-wpexplorer", "shorty": "wpexplorer" }, { "full": "fab fa-wpforms", "shorty": "wpforms" }, { "full": "fab fa-xbox", "shorty": "xbox" }, { "full": "fab fa-xing", "shorty": "xing" }, { "full": "fab fa-xing-square", "shorty": "xing-square" }, { "full": "fab fa-y-combinator", "shorty": "y-combinator" }, { "full": "fab fa-yahoo", "shorty": "yahoo" }, { "full": "fab fa-yandex", "shorty": "yandex" }, { "full": "fab fa-yandex-international", "shorty": "yandex-international" }, { "full": "fab fa-yelp", "shorty": "yelp" }, { "full": "fab fa-yoast", "shorty": "yoast" }, { "full": "fab fa-youtube", "shorty": "youtube" }, { "full": "fab fa-youtube-square", "shorty": "youtube-square" }, { "full": "fab fa-zhihu", "shorty": "zhihu" }, { "full": "far fa-address-book", "shorty": "address-book" }, { "full": "far fa-address-card", "shorty": "address-card" }, { "full": "far fa-angry", "shorty": "angry" }, { "full": "far fa-arrow-alt-circle-down", "shorty": "arrow-alt-circle-down" }, { "full": "far fa-arrow-alt-circle-left", "shorty": "arrow-alt-circle-left" }, { "full": "far fa-arrow-alt-circle-right", "shorty": "arrow-alt-circle-right" }, { "full": "far fa-arrow-alt-circle-up", "shorty": "arrow-alt-circle-up" }, { "full": "far fa-bell", "shorty": "bell" }, { "full": "far fa-bell-slash", "shorty": "bell-slash" }, { "full": "far fa-bookmark", "shorty": "bookmark" }, { "full": "far fa-building", "shorty": "building" }, { "full": "far fa-calendar", "shorty": "calendar" }, { "full": "far fa-calendar-alt", "shorty": "calendar-alt" }, { "full": "far fa-calendar-check", "shorty": "calendar-check" }, { "full": "far fa-calendar-minus", "shorty": "calendar-minus" }, { "full": "far fa-calendar-plus", "shorty": "calendar-plus" }, { "full": "far fa-calendar-times", "shorty": "calendar-times" }, { "full": "far fa-caret-square-down", "shorty": "caret-square-down" }, { "full": "far fa-caret-square-left", "shorty": "caret-square-left" }, { "full": "far fa-caret-square-right", "shorty": "caret-square-right" }, { "full": "far fa-caret-square-up", "shorty": "caret-square-up" }, { "full": "far fa-chart-bar", "shorty": "chart-bar" }, { "full": "far fa-check-circle", "shorty": "check-circle" }, { "full": "far fa-check-square", "shorty": "check-square" }, { "full": "far fa-circle", "shorty": "circle" }, { "full": "far fa-clipboard", "shorty": "clipboard" }, { "full": "far fa-clock", "shorty": "clock" }, { "full": "far fa-clone", "shorty": "clone" }, { "full": "far fa-closed-captioning", "shorty": "closed-captioning" }, { "full": "far fa-comment", "shorty": "comment" }, { "full": "far fa-comment-alt", "shorty": "comment-alt" }, { "full": "far fa-comment-dots", "shorty": "comment-dots" }, { "full": "far fa-comments", "shorty": "comments" }, { "full": "far fa-compass", "shorty": "compass" }, { "full": "far fa-copy", "shorty": "copy" }, { "full": "far fa-copyright", "shorty": "copyright" }, { "full": "far fa-credit-card", "shorty": "credit-card" }, { "full": "far fa-dizzy", "shorty": "dizzy" }, { "full": "far fa-dot-circle", "shorty": "dot-circle" }, { "full": "far fa-edit", "shorty": "edit" }, { "full": "far fa-envelope", "shorty": "envelope" }, { "full": "far fa-envelope-open", "shorty": "envelope-open" }, { "full": "far fa-eye", "shorty": "eye" }, { "full": "far fa-eye-slash", "shorty": "eye-slash" }, { "full": "far fa-file", "shorty": "file" }, { "full": "far fa-file-alt", "shorty": "file-alt" }, { "full": "far fa-file-archive", "shorty": "file-archive" }, { "full": "far fa-file-audio", "shorty": "file-audio" }, { "full": "far fa-file-code", "shorty": "file-code" }, { "full": "far fa-file-excel", "shorty": "file-excel" }, { "full": "far fa-file-image", "shorty": "file-image" }, { "full": "far fa-file-pdf", "shorty": "file-pdf" }, { "full": "far fa-file-powerpoint", "shorty": "file-powerpoint" }, { "full": "far fa-file-video", "shorty": "file-video" }, { "full": "far fa-file-word", "shorty": "file-word" }, { "full": "far fa-flag", "shorty": "flag" }, { "full": "far fa-flushed", "shorty": "flushed" }, { "full": "far fa-folder", "shorty": "folder" }, { "full": "far fa-folder-open", "shorty": "folder-open" }, { "full": "far fa-frown", "shorty": "frown" }, { "full": "far fa-frown-open", "shorty": "frown-open" }, { "full": "far fa-futbol", "shorty": "futbol" }, { "full": "far fa-gem", "shorty": "gem" }, { "full": "far fa-grimace", "shorty": "grimace" }, { "full": "far fa-grin", "shorty": "grin" }, { "full": "far fa-grin-alt", "shorty": "grin-alt" }, { "full": "far fa-grin-beam", "shorty": "grin-beam" }, { "full": "far fa-grin-beam-sweat", "shorty": "grin-beam-sweat" }, { "full": "far fa-grin-hearts", "shorty": "grin-hearts" }, { "full": "far fa-grin-squint", "shorty": "grin-squint" }, { "full": "far fa-grin-squint-tears", "shorty": "grin-squint-tears" }, { "full": "far fa-grin-stars", "shorty": "grin-stars" }, { "full": "far fa-grin-tears", "shorty": "grin-tears" }, { "full": "far fa-grin-tongue", "shorty": "grin-tongue" }, { "full": "far fa-grin-tongue-squint", "shorty": "grin-tongue-squint" }, { "full": "far fa-grin-tongue-wink", "shorty": "grin-tongue-wink" }, { "full": "far fa-grin-wink", "shorty": "grin-wink" }, { "full": "far fa-hand-lizard", "shorty": "hand-lizard" }, { "full": "far fa-hand-paper", "shorty": "hand-paper" }, { "full": "far fa-hand-peace", "shorty": "hand-peace" }, { "full": "far fa-hand-point-down", "shorty": "hand-point-down" }, { "full": "far fa-hand-point-left", "shorty": "hand-point-left" }, { "full": "far fa-hand-point-right", "shorty": "hand-point-right" }, { "full": "far fa-hand-point-up", "shorty": "hand-point-up" }, { "full": "far fa-hand-pointer", "shorty": "hand-pointer" }, { "full": "far fa-hand-rock", "shorty": "hand-rock" }, { "full": "far fa-hand-scissors", "shorty": "hand-scissors" }, { "full": "far fa-hand-spock", "shorty": "hand-spock" }, { "full": "far fa-handshake", "shorty": "handshake" }, { "full": "far fa-hdd", "shorty": "hdd" }, { "full": "far fa-heart", "shorty": "heart" }, { "full": "far fa-hospital", "shorty": "hospital" }, { "full": "far fa-hourglass", "shorty": "hourglass" }, { "full": "far fa-id-badge", "shorty": "id-badge" }, { "full": "far fa-id-card", "shorty": "id-card" }, { "full": "far fa-image", "shorty": "image" }, { "full": "far fa-images", "shorty": "images" }, { "full": "far fa-keyboard", "shorty": "keyboard" }, { "full": "far fa-kiss", "shorty": "kiss" }, { "full": "far fa-kiss-beam", "shorty": "kiss-beam" }, { "full": "far fa-kiss-wink-heart", "shorty": "kiss-wink-heart" }, { "full": "far fa-laugh", "shorty": "laugh" }, { "full": "far fa-laugh-beam", "shorty": "laugh-beam" }, { "full": "far fa-laugh-squint", "shorty": "laugh-squint" }, { "full": "far fa-laugh-wink", "shorty": "laugh-wink" }, { "full": "far fa-lemon", "shorty": "lemon" }, { "full": "far fa-life-ring", "shorty": "life-ring" }, { "full": "far fa-lightbulb", "shorty": "lightbulb" }, { "full": "far fa-list-alt", "shorty": "list-alt" }, { "full": "far fa-map", "shorty": "map" }, { "full": "far fa-meh", "shorty": "meh" }, { "full": "far fa-meh-blank", "shorty": "meh-blank" }, { "full": "far fa-meh-rolling-eyes", "shorty": "meh-rolling-eyes" }, { "full": "far fa-minus-square", "shorty": "minus-square" }, { "full": "far fa-money-bill-alt", "shorty": "money-bill-alt" }, { "full": "far fa-moon", "shorty": "moon" }, { "full": "far fa-newspaper", "shorty": "newspaper" }, { "full": "far fa-object-group", "shorty": "object-group" }, { "full": "far fa-object-ungroup", "shorty": "object-ungroup" }, { "full": "far fa-paper-plane", "shorty": "paper-plane" }, { "full": "far fa-pause-circle", "shorty": "pause-circle" }, { "full": "far fa-play-circle", "shorty": "play-circle" }, { "full": "far fa-plus-square", "shorty": "plus-square" }, { "full": "far fa-question-circle", "shorty": "question-circle" }, { "full": "far fa-registered", "shorty": "registered" }, { "full": "far fa-sad-cry", "shorty": "sad-cry" }, { "full": "far fa-sad-tear", "shorty": "sad-tear" }, { "full": "far fa-save", "shorty": "save" }, { "full": "far fa-share-square", "shorty": "share-square" }, { "full": "far fa-smile", "shorty": "smile" }, { "full": "far fa-smile-beam", "shorty": "smile-beam" }, { "full": "far fa-smile-wink", "shorty": "smile-wink" }, { "full": "far fa-snowflake", "shorty": "snowflake" }, { "full": "far fa-square", "shorty": "square" }, { "full": "far fa-star", "shorty": "star" }, { "full": "far fa-star-half", "shorty": "star-half" }, { "full": "far fa-sticky-note", "shorty": "sticky-note" }, { "full": "far fa-stop-circle", "shorty": "stop-circle" }, { "full": "far fa-sun", "shorty": "sun" }, { "full": "far fa-surprise", "shorty": "surprise" }, { "full": "far fa-thumbs-down", "shorty": "thumbs-down" }, { "full": "far fa-thumbs-up", "shorty": "thumbs-up" }, { "full": "far fa-times-circle", "shorty": "times-circle" }, { "full": "far fa-tired", "shorty": "tired" }, { "full": "far fa-trash-alt", "shorty": "trash-alt" }, { "full": "far fa-user", "shorty": "user" }, { "full": "far fa-user-circle", "shorty": "user-circle" }, { "full": "far fa-window-close", "shorty": "window-close" }, { "full": "far fa-window-maximize", "shorty": "window-maximize" }, { "full": "far fa-window-minimize", "shorty": "window-minimize" }, { "full": "far fa-window-restore", "shorty": "window-restore" }, { "full": "fas fa-ad", "shorty": "ad" }, { "full": "fas fa-address-book", "shorty": "address-book" }, { "full": "fas fa-address-card", "shorty": "address-card" }, { "full": "fas fa-adjust", "shorty": "adjust" }, { "full": "fas fa-air-freshener", "shorty": "air-freshener" }, { "full": "fas fa-align-center", "shorty": "align-center" }, { "full": "fas fa-align-justify", "shorty": "align-justify" }, { "full": "fas fa-align-left", "shorty": "align-left" }, { "full": "fas fa-align-right", "shorty": "align-right" }, { "full": "fas fa-allergies", "shorty": "allergies" }, { "full": "fas fa-ambulance", "shorty": "ambulance" }, { "full": "fas fa-american-sign-language-interpreting", "shorty": "american-sign-language-interpreting" }, { "full": "fas fa-anchor", "shorty": "anchor" }, { "full": "fas fa-angle-double-down", "shorty": "angle-double-down" }, { "full": "fas fa-angle-double-left", "shorty": "angle-double-left" }, { "full": "fas fa-angle-double-right", "shorty": "angle-double-right" }, { "full": "fas fa-angle-double-up", "shorty": "angle-double-up" }, { "full": "fas fa-angle-down", "shorty": "angle-down" }, { "full": "fas fa-angle-left", "shorty": "angle-left" }, { "full": "fas fa-angle-right", "shorty": "angle-right" }, { "full": "fas fa-angle-up", "shorty": "angle-up" }, { "full": "fas fa-angry", "shorty": "angry" }, { "full": "fas fa-ankh", "shorty": "ankh" }, { "full": "fas fa-apple-alt", "shorty": "apple-alt" }, { "full": "fas fa-archive", "shorty": "archive" }, { "full": "fas fa-archway", "shorty": "archway" }, { "full": "fas fa-arrow-alt-circle-down", "shorty": "arrow-alt-circle-down" }, { "full": "fas fa-arrow-alt-circle-left", "shorty": "arrow-alt-circle-left" }, { "full": "fas fa-arrow-alt-circle-right", "shorty": "arrow-alt-circle-right" }, { "full": "fas fa-arrow-alt-circle-up", "shorty": "arrow-alt-circle-up" }, { "full": "fas fa-arrow-circle-down", "shorty": "arrow-circle-down" }, { "full": "fas fa-arrow-circle-left", "shorty": "arrow-circle-left" }, { "full": "fas fa-arrow-circle-right", "shorty": "arrow-circle-right" }, { "full": "fas fa-arrow-circle-up", "shorty": "arrow-circle-up" }, { "full": "fas fa-arrow-down", "shorty": "arrow-down" }, { "full": "fas fa-arrow-left", "shorty": "arrow-left" }, { "full": "fas fa-arrow-right", "shorty": "arrow-right" }, { "full": "fas fa-arrow-up", "shorty": "arrow-up" }, { "full": "fas fa-arrows-alt", "shorty": "arrows-alt" }, { "full": "fas fa-arrows-alt-h", "shorty": "arrows-alt-h" }, { "full": "fas fa-arrows-alt-v", "shorty": "arrows-alt-v" }, { "full": "fas fa-assistive-listening-systems", "shorty": "assistive-listening-systems" }, { "full": "fas fa-asterisk", "shorty": "asterisk" }, { "full": "fas fa-at", "shorty": "at" }, { "full": "fas fa-atlas", "shorty": "atlas" }, { "full": "fas fa-atom", "shorty": "atom" }, { "full": "fas fa-audio-description", "shorty": "audio-description" }, { "full": "fas fa-award", "shorty": "award" }, { "full": "fas fa-backspace", "shorty": "backspace" }, { "full": "fas fa-backward", "shorty": "backward" }, { "full": "fas fa-balance-scale", "shorty": "balance-scale" }, { "full": "fas fa-ban", "shorty": "ban" }, { "full": "fas fa-band-aid", "shorty": "band-aid" }, { "full": "fas fa-barcode", "shorty": "barcode" }, { "full": "fas fa-bars", "shorty": "bars" }, { "full": "fas fa-baseball-ball", "shorty": "baseball-ball" }, { "full": "fas fa-basketball-ball", "shorty": "basketball-ball" }, { "full": "fas fa-bath", "shorty": "bath" }, { "full": "fas fa-battery-empty", "shorty": "battery-empty" }, { "full": "fas fa-battery-full", "shorty": "battery-full" }, { "full": "fas fa-battery-half", "shorty": "battery-half" }, { "full": "fas fa-battery-quarter", "shorty": "battery-quarter" }, { "full": "fas fa-battery-three-quarters", "shorty": "battery-three-quarters" }, { "full": "fas fa-bed", "shorty": "bed" }, { "full": "fas fa-beer", "shorty": "beer" }, { "full": "fas fa-bell", "shorty": "bell" }, { "full": "fas fa-bell-slash", "shorty": "bell-slash" }, { "full": "fas fa-bezier-curve", "shorty": "bezier-curve" }, { "full": "fas fa-bible", "shorty": "bible" }, { "full": "fas fa-bicycle", "shorty": "bicycle" }, { "full": "fas fa-binoculars", "shorty": "binoculars" }, { "full": "fas fa-birthday-cake", "shorty": "birthday-cake" }, { "full": "fas fa-blender", "shorty": "blender" }, { "full": "fas fa-blind", "shorty": "blind" }, { "full": "fas fa-bold", "shorty": "bold" }, { "full": "fas fa-bolt", "shorty": "bolt" }, { "full": "fas fa-bomb", "shorty": "bomb" }, { "full": "fas fa-bone", "shorty": "bone" }, { "full": "fas fa-bong", "shorty": "bong" }, { "full": "fas fa-book", "shorty": "book" }, { "full": "fas fa-book-open", "shorty": "book-open" }, { "full": "fas fa-book-reader", "shorty": "book-reader" }, { "full": "fas fa-bookmark", "shorty": "bookmark" }, { "full": "fas fa-bowling-ball", "shorty": "bowling-ball" }, { "full": "fas fa-box", "shorty": "box" }, { "full": "fas fa-box-open", "shorty": "box-open" }, { "full": "fas fa-boxes", "shorty": "boxes" }, { "full": "fas fa-braille", "shorty": "braille" }, { "full": "fas fa-brain", "shorty": "brain" }, { "full": "fas fa-briefcase", "shorty": "briefcase" }, { "full": "fas fa-briefcase-medical", "shorty": "briefcase-medical" }, { "full": "fas fa-broadcast-tower", "shorty": "broadcast-tower" }, { "full": "fas fa-broom", "shorty": "broom" }, { "full": "fas fa-brush", "shorty": "brush" }, { "full": "fas fa-bug", "shorty": "bug" }, { "full": "fas fa-building", "shorty": "building" }, { "full": "fas fa-bullhorn", "shorty": "bullhorn" }, { "full": "fas fa-bullseye", "shorty": "bullseye" }, { "full": "fas fa-burn", "shorty": "burn" }, { "full": "fas fa-bus", "shorty": "bus" }, { "full": "fas fa-bus-alt", "shorty": "bus-alt" }, { "full": "fas fa-business-time", "shorty": "business-time" }, { "full": "fas fa-calculator", "shorty": "calculator" }, { "full": "fas fa-calendar", "shorty": "calendar" }, { "full": "fas fa-calendar-alt", "shorty": "calendar-alt" }, { "full": "fas fa-calendar-check", "shorty": "calendar-check" }, { "full": "fas fa-calendar-minus", "shorty": "calendar-minus" }, { "full": "fas fa-calendar-plus", "shorty": "calendar-plus" }, { "full": "fas fa-calendar-times", "shorty": "calendar-times" }, { "full": "fas fa-camera", "shorty": "camera" }, { "full": "fas fa-camera-retro", "shorty": "camera-retro" }, { "full": "fas fa-cannabis", "shorty": "cannabis" }, { "full": "fas fa-capsules", "shorty": "capsules" }, { "full": "fas fa-car", "shorty": "car" }, { "full": "fas fa-car-alt", "shorty": "car-alt" }, { "full": "fas fa-car-battery", "shorty": "car-battery" }, { "full": "fas fa-car-crash", "shorty": "car-crash" }, { "full": "fas fa-car-side", "shorty": "car-side" }, { "full": "fas fa-caret-down", "shorty": "caret-down" }, { "full": "fas fa-caret-left", "shorty": "caret-left" }, { "full": "fas fa-caret-right", "shorty": "caret-right" }, { "full": "fas fa-caret-square-down", "shorty": "caret-square-down" }, { "full": "fas fa-caret-square-left", "shorty": "caret-square-left" }, { "full": "fas fa-caret-square-right", "shorty": "caret-square-right" }, { "full": "fas fa-caret-square-up", "shorty": "caret-square-up" }, { "full": "fas fa-caret-up", "shorty": "caret-up" }, { "full": "fas fa-cart-arrow-down", "shorty": "cart-arrow-down" }, { "full": "fas fa-cart-plus", "shorty": "cart-plus" }, { "full": "fas fa-certificate", "shorty": "certificate" }, { "full": "fas fa-chalkboard", "shorty": "chalkboard" }, { "full": "fas fa-chalkboard-teacher", "shorty": "chalkboard-teacher" }, { "full": "fas fa-charging-station", "shorty": "charging-station" }, { "full": "fas fa-chart-area", "shorty": "chart-area" }, { "full": "fas fa-chart-bar", "shorty": "chart-bar" }, { "full": "fas fa-chart-line", "shorty": "chart-line" }, { "full": "fas fa-chart-pie", "shorty": "chart-pie" }, { "full": "fas fa-check", "shorty": "check" }, { "full": "fas fa-check-circle", "shorty": "check-circle" }, { "full": "fas fa-check-double", "shorty": "check-double" }, { "full": "fas fa-check-square", "shorty": "check-square" }, { "full": "fas fa-chess", "shorty": "chess" }, { "full": "fas fa-chess-bishop", "shorty": "chess-bishop" }, { "full": "fas fa-chess-board", "shorty": "chess-board" }, { "full": "fas fa-chess-king", "shorty": "chess-king" }, { "full": "fas fa-chess-knight", "shorty": "chess-knight" }, { "full": "fas fa-chess-pawn", "shorty": "chess-pawn" }, { "full": "fas fa-chess-queen", "shorty": "chess-queen" }, { "full": "fas fa-chess-rook", "shorty": "chess-rook" }, { "full": "fas fa-chevron-circle-down", "shorty": "chevron-circle-down" }, { "full": "fas fa-chevron-circle-left", "shorty": "chevron-circle-left" }, { "full": "fas fa-chevron-circle-right", "shorty": "chevron-circle-right" }, { "full": "fas fa-chevron-circle-up", "shorty": "chevron-circle-up" }, { "full": "fas fa-chevron-down", "shorty": "chevron-down" }, { "full": "fas fa-chevron-left", "shorty": "chevron-left" }, { "full": "fas fa-chevron-right", "shorty": "chevron-right" }, { "full": "fas fa-chevron-up", "shorty": "chevron-up" }, { "full": "fas fa-child", "shorty": "child" }, { "full": "fas fa-church", "shorty": "church" }, { "full": "fas fa-circle", "shorty": "circle" }, { "full": "fas fa-circle-notch", "shorty": "circle-notch" }, { "full": "fas fa-city", "shorty": "city" }, { "full": "fas fa-clipboard", "shorty": "clipboard" }, { "full": "fas fa-clipboard-check", "shorty": "clipboard-check" }, { "full": "fas fa-clipboard-list", "shorty": "clipboard-list" }, { "full": "fas fa-clock", "shorty": "clock" }, { "full": "fas fa-clone", "shorty": "clone" }, { "full": "fas fa-closed-captioning", "shorty": "closed-captioning" }, { "full": "fas fa-cloud", "shorty": "cloud" }, { "full": "fas fa-cloud-download-alt", "shorty": "cloud-download-alt" }, { "full": "fas fa-cloud-upload-alt", "shorty": "cloud-upload-alt" }, { "full": "fas fa-cocktail", "shorty": "cocktail" }, { "full": "fas fa-code", "shorty": "code" }, { "full": "fas fa-code-branch", "shorty": "code-branch" }, { "full": "fas fa-coffee", "shorty": "coffee" }, { "full": "fas fa-cog", "shorty": "cog" }, { "full": "fas fa-cogs", "shorty": "cogs" }, { "full": "fas fa-coins", "shorty": "coins" }, { "full": "fas fa-columns", "shorty": "columns" }, { "full": "fas fa-comment", "shorty": "comment" }, { "full": "fas fa-comment-alt", "shorty": "comment-alt" }, { "full": "fas fa-comment-dollar", "shorty": "comment-dollar" }, { "full": "fas fa-comment-dots", "shorty": "comment-dots" }, { "full": "fas fa-comment-slash", "shorty": "comment-slash" }, { "full": "fas fa-comments", "shorty": "comments" }, { "full": "fas fa-comments-dollar", "shorty": "comments-dollar" }, { "full": "fas fa-compact-disc", "shorty": "compact-disc" }, { "full": "fas fa-compass", "shorty": "compass" }, { "full": "fas fa-compress", "shorty": "compress" }, { "full": "fas fa-concierge-bell", "shorty": "concierge-bell" }, { "full": "fas fa-cookie", "shorty": "cookie" }, { "full": "fas fa-cookie-bite", "shorty": "cookie-bite" }, { "full": "fas fa-copy", "shorty": "copy" }, { "full": "fas fa-copyright", "shorty": "copyright" }, { "full": "fas fa-couch", "shorty": "couch" }, { "full": "fas fa-credit-card", "shorty": "credit-card" }, { "full": "fas fa-crop", "shorty": "crop" }, { "full": "fas fa-crop-alt", "shorty": "crop-alt" }, { "full": "fas fa-cross", "shorty": "cross" }, { "full": "fas fa-crosshairs", "shorty": "crosshairs" }, { "full": "fas fa-crow", "shorty": "crow" }, { "full": "fas fa-crown", "shorty": "crown" }, { "full": "fas fa-cube", "shorty": "cube" }, { "full": "fas fa-cubes", "shorty": "cubes" }, { "full": "fas fa-cut", "shorty": "cut" }, { "full": "fas fa-database", "shorty": "database" }, { "full": "fas fa-deaf", "shorty": "deaf" }, { "full": "fas fa-desktop", "shorty": "desktop" }, { "full": "fas fa-dharmachakra", "shorty": "dharmachakra" }, { "full": "fas fa-diagnoses", "shorty": "diagnoses" }, { "full": "fas fa-dice", "shorty": "dice" }, { "full": "fas fa-dice-five", "shorty": "dice-five" }, { "full": "fas fa-dice-four", "shorty": "dice-four" }, { "full": "fas fa-dice-one", "shorty": "dice-one" }, { "full": "fas fa-dice-six", "shorty": "dice-six" }, { "full": "fas fa-dice-three", "shorty": "dice-three" }, { "full": "fas fa-dice-two", "shorty": "dice-two" }, { "full": "fas fa-digital-tachograph", "shorty": "digital-tachograph" }, { "full": "fas fa-directions", "shorty": "directions" }, { "full": "fas fa-divide", "shorty": "divide" }, { "full": "fas fa-dizzy", "shorty": "dizzy" }, { "full": "fas fa-dna", "shorty": "dna" }, { "full": "fas fa-dollar-sign", "shorty": "dollar-sign" }, { "full": "fas fa-dolly", "shorty": "dolly" }, { "full": "fas fa-dolly-flatbed", "shorty": "dolly-flatbed" }, { "full": "fas fa-donate", "shorty": "donate" }, { "full": "fas fa-door-closed", "shorty": "door-closed" }, { "full": "fas fa-door-open", "shorty": "door-open" }, { "full": "fas fa-dot-circle", "shorty": "dot-circle" }, { "full": "fas fa-dove", "shorty": "dove" }, { "full": "fas fa-download", "shorty": "download" }, { "full": "fas fa-drafting-compass", "shorty": "drafting-compass" }, { "full": "fas fa-draw-polygon", "shorty": "draw-polygon" }, { "full": "fas fa-drum", "shorty": "drum" }, { "full": "fas fa-drum-steelpan", "shorty": "drum-steelpan" }, { "full": "fas fa-dumbbell", "shorty": "dumbbell" }, { "full": "fas fa-edit", "shorty": "edit" }, { "full": "fas fa-eject", "shorty": "eject" }, { "full": "fas fa-ellipsis-h", "shorty": "ellipsis-h" }, { "full": "fas fa-ellipsis-v", "shorty": "ellipsis-v" }, { "full": "fas fa-envelope", "shorty": "envelope" }, { "full": "fas fa-envelope-open", "shorty": "envelope-open" }, { "full": "fas fa-envelope-open-text", "shorty": "envelope-open-text" }, { "full": "fas fa-envelope-square", "shorty": "envelope-square" }, { "full": "fas fa-equals", "shorty": "equals" }, { "full": "fas fa-eraser", "shorty": "eraser" }, { "full": "fas fa-euro-sign", "shorty": "euro-sign" }, { "full": "fas fa-exchange-alt", "shorty": "exchange-alt" }, { "full": "fas fa-exclamation", "shorty": "exclamation" }, { "full": "fas fa-exclamation-circle", "shorty": "exclamation-circle" }, { "full": "fas fa-exclamation-triangle", "shorty": "exclamation-triangle" }, { "full": "fas fa-expand", "shorty": "expand" }, { "full": "fas fa-expand-arrows-alt", "shorty": "expand-arrows-alt" }, { "full": "fas fa-external-link-alt", "shorty": "external-link-alt" }, { "full": "fas fa-external-link-square-alt", "shorty": "external-link-square-alt" }, { "full": "fas fa-eye", "shorty": "eye" }, { "full": "fas fa-eye-dropper", "shorty": "eye-dropper" }, { "full": "fas fa-eye-slash", "shorty": "eye-slash" }, { "full": "fas fa-fast-backward", "shorty": "fast-backward" }, { "full": "fas fa-fast-forward", "shorty": "fast-forward" }, { "full": "fas fa-fax", "shorty": "fax" }, { "full": "fas fa-feather", "shorty": "feather" }, { "full": "fas fa-feather-alt", "shorty": "feather-alt" }, { "full": "fas fa-female", "shorty": "female" }, { "full": "fas fa-fighter-jet", "shorty": "fighter-jet" }, { "full": "fas fa-file", "shorty": "file" }, { "full": "fas fa-file-alt", "shorty": "file-alt" }, { "full": "fas fa-file-archive", "shorty": "file-archive" }, { "full": "fas fa-file-audio", "shorty": "file-audio" }, { "full": "fas fa-file-code", "shorty": "file-code" }, { "full": "fas fa-file-contract", "shorty": "file-contract" }, { "full": "fas fa-file-download", "shorty": "file-download" }, { "full": "fas fa-file-excel", "shorty": "file-excel" }, { "full": "fas fa-file-export", "shorty": "file-export" }, { "full": "fas fa-file-image", "shorty": "file-image" }, { "full": "fas fa-file-import", "shorty": "file-import" }, { "full": "fas fa-file-invoice", "shorty": "file-invoice" }, { "full": "fas fa-file-invoice-dollar", "shorty": "file-invoice-dollar" }, { "full": "fas fa-file-medical", "shorty": "file-medical" }, { "full": "fas fa-file-medical-alt", "shorty": "file-medical-alt" }, { "full": "fas fa-file-pdf", "shorty": "file-pdf" }, { "full": "fas fa-file-powerpoint", "shorty": "file-powerpoint" }, { "full": "fas fa-file-prescription", "shorty": "file-prescription" }, { "full": "fas fa-file-signature", "shorty": "file-signature" }, { "full": "fas fa-file-upload", "shorty": "file-upload" }, { "full": "fas fa-file-video", "shorty": "file-video" }, { "full": "fas fa-file-word", "shorty": "file-word" }, { "full": "fas fa-fill", "shorty": "fill" }, { "full": "fas fa-fill-drip", "shorty": "fill-drip" }, { "full": "fas fa-film", "shorty": "film" }, { "full": "fas fa-filter", "shorty": "filter" }, { "full": "fas fa-fingerprint", "shorty": "fingerprint" }, { "full": "fas fa-fire", "shorty": "fire" }, { "full": "fas fa-fire-extinguisher", "shorty": "fire-extinguisher" }, { "full": "fas fa-first-aid", "shorty": "first-aid" }, { "full": "fas fa-fish", "shorty": "fish" }, { "full": "fas fa-flag", "shorty": "flag" }, { "full": "fas fa-flag-checkered", "shorty": "flag-checkered" }, { "full": "fas fa-flask", "shorty": "flask" }, { "full": "fas fa-flushed", "shorty": "flushed" }, { "full": "fas fa-folder", "shorty": "folder" }, { "full": "fas fa-folder-minus", "shorty": "folder-minus" }, { "full": "fas fa-folder-open", "shorty": "folder-open" }, { "full": "fas fa-folder-plus", "shorty": "folder-plus" }, { "full": "fas fa-font", "shorty": "font" }, { "full": "fas fa-football-ball", "shorty": "football-ball" }, { "full": "fas fa-forward", "shorty": "forward" }, { "full": "fas fa-frog", "shorty": "frog" }, { "full": "fas fa-frown", "shorty": "frown" }, { "full": "fas fa-frown-open", "shorty": "frown-open" }, { "full": "fas fa-funnel-dollar", "shorty": "funnel-dollar" }, { "full": "fas fa-futbol", "shorty": "futbol" }, { "full": "fas fa-gamepad", "shorty": "gamepad" }, { "full": "fas fa-gas-pump", "shorty": "gas-pump" }, { "full": "fas fa-gavel", "shorty": "gavel" }, { "full": "fas fa-gem", "shorty": "gem" }, { "full": "fas fa-genderless", "shorty": "genderless" }, { "full": "fas fa-gift", "shorty": "gift" }, { "full": "fas fa-glass-martini", "shorty": "glass-martini" }, { "full": "fas fa-glass-martini-alt", "shorty": "glass-martini-alt" }, { "full": "fas fa-glasses", "shorty": "glasses" }, { "full": "fas fa-globe", "shorty": "globe" }, { "full": "fas fa-globe-africa", "shorty": "globe-africa" }, { "full": "fas fa-globe-americas", "shorty": "globe-americas" }, { "full": "fas fa-globe-asia", "shorty": "globe-asia" }, { "full": "fas fa-golf-ball", "shorty": "golf-ball" }, { "full": "fas fa-gopuram", "shorty": "gopuram" }, { "full": "fas fa-graduation-cap", "shorty": "graduation-cap" }, { "full": "fas fa-greater-than", "shorty": "greater-than" }, { "full": "fas fa-greater-than-equal", "shorty": "greater-than-equal" }, { "full": "fas fa-grimace", "shorty": "grimace" }, { "full": "fas fa-grin", "shorty": "grin" }, { "full": "fas fa-grin-alt", "shorty": "grin-alt" }, { "full": "fas fa-grin-beam", "shorty": "grin-beam" }, { "full": "fas fa-grin-beam-sweat", "shorty": "grin-beam-sweat" }, { "full": "fas fa-grin-hearts", "shorty": "grin-hearts" }, { "full": "fas fa-grin-squint", "shorty": "grin-squint" }, { "full": "fas fa-grin-squint-tears", "shorty": "grin-squint-tears" }, { "full": "fas fa-grin-stars", "shorty": "grin-stars" }, { "full": "fas fa-grin-tears", "shorty": "grin-tears" }, { "full": "fas fa-grin-tongue", "shorty": "grin-tongue" }, { "full": "fas fa-grin-tongue-squint", "shorty": "grin-tongue-squint" }, { "full": "fas fa-grin-tongue-wink", "shorty": "grin-tongue-wink" }, { "full": "fas fa-grin-wink", "shorty": "grin-wink" }, { "full": "fas fa-grip-horizontal", "shorty": "grip-horizontal" }, { "full": "fas fa-grip-vertical", "shorty": "grip-vertical" }, { "full": "fas fa-h-square", "shorty": "h-square" }, { "full": "fas fa-hamsa", "shorty": "hamsa" }, { "full": "fas fa-hand-holding", "shorty": "hand-holding" }, { "full": "fas fa-hand-holding-heart", "shorty": "hand-holding-heart" }, { "full": "fas fa-hand-holding-usd", "shorty": "hand-holding-usd" }, { "full": "fas fa-hand-lizard", "shorty": "hand-lizard" }, { "full": "fas fa-hand-paper", "shorty": "hand-paper" }, { "full": "fas fa-hand-peace", "shorty": "hand-peace" }, { "full": "fas fa-hand-point-down", "shorty": "hand-point-down" }, { "full": "fas fa-hand-point-left", "shorty": "hand-point-left" }, { "full": "fas fa-hand-point-right", "shorty": "hand-point-right" }, { "full": "fas fa-hand-point-up", "shorty": "hand-point-up" }, { "full": "fas fa-hand-pointer", "shorty": "hand-pointer" }, { "full": "fas fa-hand-rock", "shorty": "hand-rock" }, { "full": "fas fa-hand-scissors", "shorty": "hand-scissors" }, { "full": "fas fa-hand-spock", "shorty": "hand-spock" }, { "full": "fas fa-hands", "shorty": "hands" }, { "full": "fas fa-hands-helping", "shorty": "hands-helping" }, { "full": "fas fa-handshake", "shorty": "handshake" }, { "full": "fas fa-hashtag", "shorty": "hashtag" }, { "full": "fas fa-haykal", "shorty": "haykal" }, { "full": "fas fa-hdd", "shorty": "hdd" }, { "full": "fas fa-heading", "shorty": "heading" }, { "full": "fas fa-headphones", "shorty": "headphones" }, { "full": "fas fa-headphones-alt", "shorty": "headphones-alt" }, { "full": "fas fa-headset", "shorty": "headset" }, { "full": "fas fa-heart", "shorty": "heart" }, { "full": "fas fa-heartbeat", "shorty": "heartbeat" }, { "full": "fas fa-helicopter", "shorty": "helicopter" }, { "full": "fas fa-highlighter", "shorty": "highlighter" }, { "full": "fas fa-history", "shorty": "history" }, { "full": "fas fa-hockey-puck", "shorty": "hockey-puck" }, { "full": "fas fa-home", "shorty": "home" }, { "full": "fas fa-hospital", "shorty": "hospital" }, { "full": "fas fa-hospital-alt", "shorty": "hospital-alt" }, { "full": "fas fa-hospital-symbol", "shorty": "hospital-symbol" }, { "full": "fas fa-hot-tub", "shorty": "hot-tub" }, { "full": "fas fa-hotel", "shorty": "hotel" }, { "full": "fas fa-hourglass", "shorty": "hourglass" }, { "full": "fas fa-hourglass-end", "shorty": "hourglass-end" }, { "full": "fas fa-hourglass-half", "shorty": "hourglass-half" }, { "full": "fas fa-hourglass-start", "shorty": "hourglass-start" }, { "full": "fas fa-i-cursor", "shorty": "i-cursor" }, { "full": "fas fa-id-badge", "shorty": "id-badge" }, { "full": "fas fa-id-card", "shorty": "id-card" }, { "full": "fas fa-id-card-alt", "shorty": "id-card-alt" }, { "full": "fas fa-image", "shorty": "image" }, { "full": "fas fa-images", "shorty": "images" }, { "full": "fas fa-inbox", "shorty": "inbox" }, { "full": "fas fa-indent", "shorty": "indent" }, { "full": "fas fa-industry", "shorty": "industry" }, { "full": "fas fa-infinity", "shorty": "infinity" }, { "full": "fas fa-info", "shorty": "info" }, { "full": "fas fa-info-circle", "shorty": "info-circle" }, { "full": "fas fa-italic", "shorty": "italic" }, { "full": "fas fa-jedi", "shorty": "jedi" }, { "full": "fas fa-joint", "shorty": "joint" }, { "full": "fas fa-journal-whills", "shorty": "journal-whills" }, { "full": "fas fa-kaaba", "shorty": "kaaba" }, { "full": "fas fa-key", "shorty": "key" }, { "full": "fas fa-keyboard", "shorty": "keyboard" }, { "full": "fas fa-khanda", "shorty": "khanda" }, { "full": "fas fa-kiss", "shorty": "kiss" }, { "full": "fas fa-kiss-beam", "shorty": "kiss-beam" }, { "full": "fas fa-kiss-wink-heart", "shorty": "kiss-wink-heart" }, { "full": "fas fa-kiwi-bird", "shorty": "kiwi-bird" }, { "full": "fas fa-landmark", "shorty": "landmark" }, { "full": "fas fa-language", "shorty": "language" }, { "full": "fas fa-laptop", "shorty": "laptop" }, { "full": "fas fa-laptop-code", "shorty": "laptop-code" }, { "full": "fas fa-laugh", "shorty": "laugh" }, { "full": "fas fa-laugh-beam", "shorty": "laugh-beam" }, { "full": "fas fa-laugh-squint", "shorty": "laugh-squint" }, { "full": "fas fa-laugh-wink", "shorty": "laugh-wink" }, { "full": "fas fa-layer-group", "shorty": "layer-group" }, { "full": "fas fa-leaf", "shorty": "leaf" }, { "full": "fas fa-lemon", "shorty": "lemon" }, { "full": "fas fa-less-than", "shorty": "less-than" }, { "full": "fas fa-less-than-equal", "shorty": "less-than-equal" }, { "full": "fas fa-level-down-alt", "shorty": "level-down-alt" }, { "full": "fas fa-level-up-alt", "shorty": "level-up-alt" }, { "full": "fas fa-life-ring", "shorty": "life-ring" }, { "full": "fas fa-lightbulb", "shorty": "lightbulb" }, { "full": "fas fa-link", "shorty": "link" }, { "full": "fas fa-lira-sign", "shorty": "lira-sign" }, { "full": "fas fa-list", "shorty": "list" }, { "full": "fas fa-list-alt", "shorty": "list-alt" }, { "full": "fas fa-list-ol", "shorty": "list-ol" }, { "full": "fas fa-list-ul", "shorty": "list-ul" }, { "full": "fas fa-location-arrow", "shorty": "location-arrow" }, { "full": "fas fa-lock", "shorty": "lock" }, { "full": "fas fa-lock-open", "shorty": "lock-open" }, { "full": "fas fa-long-arrow-alt-down", "shorty": "long-arrow-alt-down" }, { "full": "fas fa-long-arrow-alt-left", "shorty": "long-arrow-alt-left" }, { "full": "fas fa-long-arrow-alt-right", "shorty": "long-arrow-alt-right" }, { "full": "fas fa-long-arrow-alt-up", "shorty": "long-arrow-alt-up" }, { "full": "fas fa-low-vision", "shorty": "low-vision" }, { "full": "fas fa-luggage-cart", "shorty": "luggage-cart" }, { "full": "fas fa-magic", "shorty": "magic" }, { "full": "fas fa-magnet", "shorty": "magnet" }, { "full": "fas fa-mail-bulk", "shorty": "mail-bulk" }, { "full": "fas fa-male", "shorty": "male" }, { "full": "fas fa-map", "shorty": "map" }, { "full": "fas fa-map-marked", "shorty": "map-marked" }, { "full": "fas fa-map-marked-alt", "shorty": "map-marked-alt" }, { "full": "fas fa-map-marker", "shorty": "map-marker" }, { "full": "fas fa-map-marker-alt", "shorty": "map-marker-alt" }, { "full": "fas fa-map-pin", "shorty": "map-pin" }, { "full": "fas fa-map-signs", "shorty": "map-signs" }, { "full": "fas fa-marker", "shorty": "marker" }, { "full": "fas fa-mars", "shorty": "mars" }, { "full": "fas fa-mars-double", "shorty": "mars-double" }, { "full": "fas fa-mars-stroke", "shorty": "mars-stroke" }, { "full": "fas fa-mars-stroke-h", "shorty": "mars-stroke-h" }, { "full": "fas fa-mars-stroke-v", "shorty": "mars-stroke-v" }, { "full": "fas fa-medal", "shorty": "medal" }, { "full": "fas fa-medkit", "shorty": "medkit" }, { "full": "fas fa-meh", "shorty": "meh" }, { "full": "fas fa-meh-blank", "shorty": "meh-blank" }, { "full": "fas fa-meh-rolling-eyes", "shorty": "meh-rolling-eyes" }, { "full": "fas fa-memory", "shorty": "memory" }, { "full": "fas fa-menorah", "shorty": "menorah" }, { "full": "fas fa-mercury", "shorty": "mercury" }, { "full": "fas fa-microchip", "shorty": "microchip" }, { "full": "fas fa-microphone", "shorty": "microphone" }, { "full": "fas fa-microphone-alt", "shorty": "microphone-alt" }, { "full": "fas fa-microphone-alt-slash", "shorty": "microphone-alt-slash" }, { "full": "fas fa-microphone-slash", "shorty": "microphone-slash" }, { "full": "fas fa-microscope", "shorty": "microscope" }, { "full": "fas fa-minus", "shorty": "minus" }, { "full": "fas fa-minus-circle", "shorty": "minus-circle" }, { "full": "fas fa-minus-square", "shorty": "minus-square" }, { "full": "fas fa-mobile", "shorty": "mobile" }, { "full": "fas fa-mobile-alt", "shorty": "mobile-alt" }, { "full": "fas fa-money-bill", "shorty": "money-bill" }, { "full": "fas fa-money-bill-alt", "shorty": "money-bill-alt" }, { "full": "fas fa-money-bill-wave", "shorty": "money-bill-wave" }, { "full": "fas fa-money-bill-wave-alt", "shorty": "money-bill-wave-alt" }, { "full": "fas fa-money-check", "shorty": "money-check" }, { "full": "fas fa-money-check-alt", "shorty": "money-check-alt" }, { "full": "fas fa-monument", "shorty": "monument" }, { "full": "fas fa-moon", "shorty": "moon" }, { "full": "fas fa-mortar-pestle", "shorty": "mortar-pestle" }, { "full": "fas fa-mosque", "shorty": "mosque" }, { "full": "fas fa-motorcycle", "shorty": "motorcycle" }, { "full": "fas fa-mouse-pointer", "shorty": "mouse-pointer" }, { "full": "fas fa-music", "shorty": "music" }, { "full": "fas fa-neuter", "shorty": "neuter" }, { "full": "fas fa-newspaper", "shorty": "newspaper" }, { "full": "fas fa-not-equal", "shorty": "not-equal" }, { "full": "fas fa-notes-medical", "shorty": "notes-medical" }, { "full": "fas fa-object-group", "shorty": "object-group" }, { "full": "fas fa-object-ungroup", "shorty": "object-ungroup" }, { "full": "fas fa-oil-can", "shorty": "oil-can" }, { "full": "fas fa-om", "shorty": "om" }, { "full": "fas fa-outdent", "shorty": "outdent" }, { "full": "fas fa-paint-brush", "shorty": "paint-brush" }, { "full": "fas fa-paint-roller", "shorty": "paint-roller" }, { "full": "fas fa-palette", "shorty": "palette" }, { "full": "fas fa-pallet", "shorty": "pallet" }, { "full": "fas fa-paper-plane", "shorty": "paper-plane" }, { "full": "fas fa-paperclip", "shorty": "paperclip" }, { "full": "fas fa-parachute-box", "shorty": "parachute-box" }, { "full": "fas fa-paragraph", "shorty": "paragraph" }, { "full": "fas fa-parking", "shorty": "parking" }, { "full": "fas fa-passport", "shorty": "passport" }, { "full": "fas fa-pastafarianism", "shorty": "pastafarianism" }, { "full": "fas fa-paste", "shorty": "paste" }, { "full": "fas fa-pause", "shorty": "pause" }, { "full": "fas fa-pause-circle", "shorty": "pause-circle" }, { "full": "fas fa-paw", "shorty": "paw" }, { "full": "fas fa-peace", "shorty": "peace" }, { "full": "fas fa-pen", "shorty": "pen" }, { "full": "fas fa-pen-alt", "shorty": "pen-alt" }, { "full": "fas fa-pen-fancy", "shorty": "pen-fancy" }, { "full": "fas fa-pen-nib", "shorty": "pen-nib" }, { "full": "fas fa-pen-square", "shorty": "pen-square" }, { "full": "fas fa-pencil-alt", "shorty": "pencil-alt" }, { "full": "fas fa-pencil-ruler", "shorty": "pencil-ruler" }, { "full": "fas fa-people-carry", "shorty": "people-carry" }, { "full": "fas fa-percent", "shorty": "percent" }, { "full": "fas fa-percentage", "shorty": "percentage" }, { "full": "fas fa-phone", "shorty": "phone" }, { "full": "fas fa-phone-slash", "shorty": "phone-slash" }, { "full": "fas fa-phone-square", "shorty": "phone-square" }, { "full": "fas fa-phone-volume", "shorty": "phone-volume" }, { "full": "fas fa-piggy-bank", "shorty": "piggy-bank" }, { "full": "fas fa-pills", "shorty": "pills" }, { "full": "fas fa-place-of-worship", "shorty": "place-of-worship" }, { "full": "fas fa-plane", "shorty": "plane" }, { "full": "fas fa-plane-arrival", "shorty": "plane-arrival" }, { "full": "fas fa-plane-departure", "shorty": "plane-departure" }, { "full": "fas fa-play", "shorty": "play" }, { "full": "fas fa-play-circle", "shorty": "play-circle" }, { "full": "fas fa-plug", "shorty": "plug" }, { "full": "fas fa-plus", "shorty": "plus" }, { "full": "fas fa-plus-circle", "shorty": "plus-circle" }, { "full": "fas fa-plus-square", "shorty": "plus-square" }, { "full": "fas fa-podcast", "shorty": "podcast" }, { "full": "fas fa-poll", "shorty": "poll" }, { "full": "fas fa-poll-h", "shorty": "poll-h" }, { "full": "fas fa-poo", "shorty": "poo" }, { "full": "fas fa-poop", "shorty": "poop" }, { "full": "fas fa-portrait", "shorty": "portrait" }, { "full": "fas fa-pound-sign", "shorty": "pound-sign" }, { "full": "fas fa-power-off", "shorty": "power-off" }, { "full": "fas fa-pray", "shorty": "pray" }, { "full": "fas fa-praying-hands", "shorty": "praying-hands" }, { "full": "fas fa-prescription", "shorty": "prescription" }, { "full": "fas fa-prescription-bottle", "shorty": "prescription-bottle" }, { "full": "fas fa-prescription-bottle-alt", "shorty": "prescription-bottle-alt" }, { "full": "fas fa-print", "shorty": "print" }, { "full": "fas fa-procedures", "shorty": "procedures" }, { "full": "fas fa-project-diagram", "shorty": "project-diagram" }, { "full": "fas fa-puzzle-piece", "shorty": "puzzle-piece" }, { "full": "fas fa-qrcode", "shorty": "qrcode" }, { "full": "fas fa-question", "shorty": "question" }, { "full": "fas fa-question-circle", "shorty": "question-circle" }, { "full": "fas fa-quidditch", "shorty": "quidditch" }, { "full": "fas fa-quote-left", "shorty": "quote-left" }, { "full": "fas fa-quote-right", "shorty": "quote-right" }, { "full": "fas fa-quran", "shorty": "quran" }, { "full": "fas fa-random", "shorty": "random" }, { "full": "fas fa-receipt", "shorty": "receipt" }, { "full": "fas fa-recycle", "shorty": "recycle" }, { "full": "fas fa-redo", "shorty": "redo" }, { "full": "fas fa-redo-alt", "shorty": "redo-alt" }, { "full": "fas fa-registered", "shorty": "registered" }, { "full": "fas fa-reply", "shorty": "reply" }, { "full": "fas fa-reply-all", "shorty": "reply-all" }, { "full": "fas fa-retweet", "shorty": "retweet" }, { "full": "fas fa-ribbon", "shorty": "ribbon" }, { "full": "fas fa-road", "shorty": "road" }, { "full": "fas fa-robot", "shorty": "robot" }, { "full": "fas fa-rocket", "shorty": "rocket" }, { "full": "fas fa-route", "shorty": "route" }, { "full": "fas fa-rss", "shorty": "rss" }, { "full": "fas fa-rss-square", "shorty": "rss-square" }, { "full": "fas fa-ruble-sign", "shorty": "ruble-sign" }, { "full": "fas fa-ruler", "shorty": "ruler" }, { "full": "fas fa-ruler-combined", "shorty": "ruler-combined" }, { "full": "fas fa-ruler-horizontal", "shorty": "ruler-horizontal" }, { "full": "fas fa-ruler-vertical", "shorty": "ruler-vertical" }, { "full": "fas fa-rupee-sign", "shorty": "rupee-sign" }, { "full": "fas fa-sad-cry", "shorty": "sad-cry" }, { "full": "fas fa-sad-tear", "shorty": "sad-tear" }, { "full": "fas fa-save", "shorty": "save" }, { "full": "fas fa-school", "shorty": "school" }, { "full": "fas fa-screwdriver", "shorty": "screwdriver" }, { "full": "fas fa-search", "shorty": "search" }, { "full": "fas fa-search-dollar", "shorty": "search-dollar" }, { "full": "fas fa-search-location", "shorty": "search-location" }, { "full": "fas fa-search-minus", "shorty": "search-minus" }, { "full": "fas fa-search-plus", "shorty": "search-plus" }, { "full": "fas fa-seedling", "shorty": "seedling" }, { "full": "fas fa-server", "shorty": "server" }, { "full": "fas fa-shapes", "shorty": "shapes" }, { "full": "fas fa-share", "shorty": "share" }, { "full": "fas fa-share-alt", "shorty": "share-alt" }, { "full": "fas fa-share-alt-square", "shorty": "share-alt-square" }, { "full": "fas fa-share-square", "shorty": "share-square" }, { "full": "fas fa-shekel-sign", "shorty": "shekel-sign" }, { "full": "fas fa-shield-alt", "shorty": "shield-alt" }, { "full": "fas fa-ship", "shorty": "ship" }, { "full": "fas fa-shipping-fast", "shorty": "shipping-fast" }, { "full": "fas fa-shoe-prints", "shorty": "shoe-prints" }, { "full": "fas fa-shopping-bag", "shorty": "shopping-bag" }, { "full": "fas fa-shopping-basket", "shorty": "shopping-basket" }, { "full": "fas fa-shopping-cart", "shorty": "shopping-cart" }, { "full": "fas fa-shower", "shorty": "shower" }, { "full": "fas fa-shuttle-van", "shorty": "shuttle-van" }, { "full": "fas fa-sign", "shorty": "sign" }, { "full": "fas fa-sign-in-alt", "shorty": "sign-in-alt" }, { "full": "fas fa-sign-language", "shorty": "sign-language" }, { "full": "fas fa-sign-out-alt", "shorty": "sign-out-alt" }, { "full": "fas fa-signal", "shorty": "signal" }, { "full": "fas fa-signature", "shorty": "signature" }, { "full": "fas fa-sitemap", "shorty": "sitemap" }, { "full": "fas fa-skull", "shorty": "skull" }, { "full": "fas fa-sliders-h", "shorty": "sliders-h" }, { "full": "fas fa-smile", "shorty": "smile" }, { "full": "fas fa-smile-beam", "shorty": "smile-beam" }, { "full": "fas fa-smile-wink", "shorty": "smile-wink" }, { "full": "fas fa-smoking", "shorty": "smoking" }, { "full": "fas fa-smoking-ban", "shorty": "smoking-ban" }, { "full": "fas fa-snowflake", "shorty": "snowflake" }, { "full": "fas fa-socks", "shorty": "socks" }, { "full": "fas fa-solar-panel", "shorty": "solar-panel" }, { "full": "fas fa-sort", "shorty": "sort" }, { "full": "fas fa-sort-alpha-down", "shorty": "sort-alpha-down" }, { "full": "fas fa-sort-alpha-up", "shorty": "sort-alpha-up" }, { "full": "fas fa-sort-amount-down", "shorty": "sort-amount-down" }, { "full": "fas fa-sort-amount-up", "shorty": "sort-amount-up" }, { "full": "fas fa-sort-down", "shorty": "sort-down" }, { "full": "fas fa-sort-numeric-down", "shorty": "sort-numeric-down" }, { "full": "fas fa-sort-numeric-up", "shorty": "sort-numeric-up" }, { "full": "fas fa-sort-up", "shorty": "sort-up" }, { "full": "fas fa-spa", "shorty": "spa" }, { "full": "fas fa-space-shuttle", "shorty": "space-shuttle" }, { "full": "fas fa-spinner", "shorty": "spinner" }, { "full": "fas fa-splotch", "shorty": "splotch" }, { "full": "fas fa-spray-can", "shorty": "spray-can" }, { "full": "fas fa-square", "shorty": "square" }, { "full": "fas fa-square-full", "shorty": "square-full" }, { "full": "fas fa-square-root-alt", "shorty": "square-root-alt" }, { "full": "fas fa-stamp", "shorty": "stamp" }, { "full": "fas fa-star", "shorty": "star" }, { "full": "fas fa-star-and-crescent", "shorty": "star-and-crescent" }, { "full": "fas fa-star-half", "shorty": "star-half" }, { "full": "fas fa-star-half-alt", "shorty": "star-half-alt" }, { "full": "fas fa-star-of-david", "shorty": "star-of-david" }, { "full": "fas fa-star-of-life", "shorty": "star-of-life" }, { "full": "fas fa-step-backward", "shorty": "step-backward" }, { "full": "fas fa-step-forward", "shorty": "step-forward" }, { "full": "fas fa-stethoscope", "shorty": "stethoscope" }, { "full": "fas fa-sticky-note", "shorty": "sticky-note" }, { "full": "fas fa-stop", "shorty": "stop" }, { "full": "fas fa-stop-circle", "shorty": "stop-circle" }, { "full": "fas fa-stopwatch", "shorty": "stopwatch" }, { "full": "fas fa-store", "shorty": "store" }, { "full": "fas fa-store-alt", "shorty": "store-alt" }, { "full": "fas fa-stream", "shorty": "stream" }, { "full": "fas fa-street-view", "shorty": "street-view" }, { "full": "fas fa-strikethrough", "shorty": "strikethrough" }, { "full": "fas fa-stroopwafel", "shorty": "stroopwafel" }, { "full": "fas fa-subscript", "shorty": "subscript" }, { "full": "fas fa-subway", "shorty": "subway" }, { "full": "fas fa-suitcase", "shorty": "suitcase" }, { "full": "fas fa-suitcase-rolling", "shorty": "suitcase-rolling" }, { "full": "fas fa-sun", "shorty": "sun" }, { "full": "fas fa-superscript", "shorty": "superscript" }, { "full": "fas fa-surprise", "shorty": "surprise" }, { "full": "fas fa-swatchbook", "shorty": "swatchbook" }, { "full": "fas fa-swimmer", "shorty": "swimmer" }, { "full": "fas fa-swimming-pool", "shorty": "swimming-pool" }, { "full": "fas fa-synagogue", "shorty": "synagogue" }, { "full": "fas fa-sync", "shorty": "sync" }, { "full": "fas fa-sync-alt", "shorty": "sync-alt" }, { "full": "fas fa-syringe", "shorty": "syringe" }, { "full": "fas fa-table", "shorty": "table" }, { "full": "fas fa-table-tennis", "shorty": "table-tennis" }, { "full": "fas fa-tablet", "shorty": "tablet" }, { "full": "fas fa-tablet-alt", "shorty": "tablet-alt" }, { "full": "fas fa-tablets", "shorty": "tablets" }, { "full": "fas fa-tachometer-alt", "shorty": "tachometer-alt" }, { "full": "fas fa-tag", "shorty": "tag" }, { "full": "fas fa-tags", "shorty": "tags" }, { "full": "fas fa-tape", "shorty": "tape" }, { "full": "fas fa-tasks", "shorty": "tasks" }, { "full": "fas fa-taxi", "shorty": "taxi" }, { "full": "fas fa-teeth", "shorty": "teeth" }, { "full": "fas fa-teeth-open", "shorty": "teeth-open" }, { "full": "fas fa-terminal", "shorty": "terminal" }, { "full": "fas fa-text-height", "shorty": "text-height" }, { "full": "fas fa-text-width", "shorty": "text-width" }, { "full": "fas fa-th", "shorty": "th" }, { "full": "fas fa-th-large", "shorty": "th-large" }, { "full": "fas fa-th-list", "shorty": "th-list" }, { "full": "fas fa-theater-masks", "shorty": "theater-masks" }, { "full": "fas fa-thermometer", "shorty": "thermometer" }, { "full": "fas fa-thermometer-empty", "shorty": "thermometer-empty" }, { "full": "fas fa-thermometer-full", "shorty": "thermometer-full" }, { "full": "fas fa-thermometer-half", "shorty": "thermometer-half" }, { "full": "fas fa-thermometer-quarter", "shorty": "thermometer-quarter" }, { "full": "fas fa-thermometer-three-quarters", "shorty": "thermometer-three-quarters" }, { "full": "fas fa-thumbs-down", "shorty": "thumbs-down" }, { "full": "fas fa-thumbs-up", "shorty": "thumbs-up" }, { "full": "fas fa-thumbtack", "shorty": "thumbtack" }, { "full": "fas fa-ticket-alt", "shorty": "ticket-alt" }, { "full": "fas fa-times", "shorty": "times" }, { "full": "fas fa-times-circle", "shorty": "times-circle" }, { "full": "fas fa-tint", "shorty": "tint" }, { "full": "fas fa-tint-slash", "shorty": "tint-slash" }, { "full": "fas fa-tired", "shorty": "tired" }, { "full": "fas fa-toggle-off", "shorty": "toggle-off" }, { "full": "fas fa-toggle-on", "shorty": "toggle-on" }, { "full": "fas fa-toolbox", "shorty": "toolbox" }, { "full": "fas fa-tooth", "shorty": "tooth" }, { "full": "fas fa-torah", "shorty": "torah" }, { "full": "fas fa-torii-gate", "shorty": "torii-gate" }, { "full": "fas fa-trademark", "shorty": "trademark" }, { "full": "fas fa-traffic-light", "shorty": "traffic-light" }, { "full": "fas fa-train", "shorty": "train" }, { "full": "fas fa-transgender", "shorty": "transgender" }, { "full": "fas fa-transgender-alt", "shorty": "transgender-alt" }, { "full": "fas fa-trash", "shorty": "trash" }, { "full": "fas fa-trash-alt", "shorty": "trash-alt" }, { "full": "fas fa-tree", "shorty": "tree" }, { "full": "fas fa-trophy", "shorty": "trophy" }, { "full": "fas fa-truck", "shorty": "truck" }, { "full": "fas fa-truck-loading", "shorty": "truck-loading" }, { "full": "fas fa-truck-monster", "shorty": "truck-monster" }, { "full": "fas fa-truck-moving", "shorty": "truck-moving" }, { "full": "fas fa-truck-pickup", "shorty": "truck-pickup" }, { "full": "fas fa-tshirt", "shorty": "tshirt" }, { "full": "fas fa-tty", "shorty": "tty" }, { "full": "fas fa-tv", "shorty": "tv" }, { "full": "fas fa-umbrella", "shorty": "umbrella" }, { "full": "fas fa-umbrella-beach", "shorty": "umbrella-beach" }, { "full": "fas fa-underline", "shorty": "underline" }, { "full": "fas fa-undo", "shorty": "undo" }, { "full": "fas fa-undo-alt", "shorty": "undo-alt" }, { "full": "fas fa-universal-access", "shorty": "universal-access" }, { "full": "fas fa-university", "shorty": "university" }, { "full": "fas fa-unlink", "shorty": "unlink" }, { "full": "fas fa-unlock", "shorty": "unlock" }, { "full": "fas fa-unlock-alt", "shorty": "unlock-alt" }, { "full": "fas fa-upload", "shorty": "upload" }, { "full": "fas fa-user", "shorty": "user" }, { "full": "fas fa-user-alt", "shorty": "user-alt" }, { "full": "fas fa-user-alt-slash", "shorty": "user-alt-slash" }, { "full": "fas fa-user-astronaut", "shorty": "user-astronaut" }, { "full": "fas fa-user-check", "shorty": "user-check" }, { "full": "fas fa-user-circle", "shorty": "user-circle" }, { "full": "fas fa-user-clock", "shorty": "user-clock" }, { "full": "fas fa-user-cog", "shorty": "user-cog" }, { "full": "fas fa-user-edit", "shorty": "user-edit" }, { "full": "fas fa-user-friends", "shorty": "user-friends" }, { "full": "fas fa-user-graduate", "shorty": "user-graduate" }, { "full": "fas fa-user-lock", "shorty": "user-lock" }, { "full": "fas fa-user-md", "shorty": "user-md" }, { "full": "fas fa-user-minus", "shorty": "user-minus" }, { "full": "fas fa-user-ninja", "shorty": "user-ninja" }, { "full": "fas fa-user-plus", "shorty": "user-plus" }, { "full": "fas fa-user-secret", "shorty": "user-secret" }, { "full": "fas fa-user-shield", "shorty": "user-shield" }, { "full": "fas fa-user-slash", "shorty": "user-slash" }, { "full": "fas fa-user-tag", "shorty": "user-tag" }, { "full": "fas fa-user-tie", "shorty": "user-tie" }, { "full": "fas fa-user-times", "shorty": "user-times" }, { "full": "fas fa-users", "shorty": "users" }, { "full": "fas fa-users-cog", "shorty": "users-cog" }, { "full": "fas fa-utensil-spoon", "shorty": "utensil-spoon" }, { "full": "fas fa-utensils", "shorty": "utensils" }, { "full": "fas fa-vector-square", "shorty": "vector-square" }, { "full": "fas fa-venus", "shorty": "venus" }, { "full": "fas fa-venus-double", "shorty": "venus-double" }, { "full": "fas fa-venus-mars", "shorty": "venus-mars" }, { "full": "fas fa-vial", "shorty": "vial" }, { "full": "fas fa-vials", "shorty": "vials" }, { "full": "fas fa-video", "shorty": "video" }, { "full": "fas fa-video-slash", "shorty": "video-slash" }, { "full": "fas fa-vihara", "shorty": "vihara" }, { "full": "fas fa-volleyball-ball", "shorty": "volleyball-ball" }, { "full": "fas fa-volume-down", "shorty": "volume-down" }, { "full": "fas fa-volume-off", "shorty": "volume-off" }, { "full": "fas fa-volume-up", "shorty": "volume-up" }, { "full": "fas fa-walking", "shorty": "walking" }, { "full": "fas fa-wallet", "shorty": "wallet" }, { "full": "fas fa-warehouse", "shorty": "warehouse" }, { "full": "fas fa-weight", "shorty": "weight" }, { "full": "fas fa-weight-hanging", "shorty": "weight-hanging" }, { "full": "fas fa-wheelchair", "shorty": "wheelchair" }, { "full": "fas fa-wifi", "shorty": "wifi" }, { "full": "fas fa-window-close", "shorty": "window-close" }, { "full": "fas fa-window-maximize", "shorty": "window-maximize" }, { "full": "fas fa-window-minimize", "shorty": "window-minimize" }, { "full": "fas fa-window-restore", "shorty": "window-restore" }, { "full": "fas fa-wine-glass", "shorty": "wine-glass" }, { "full": "fas fa-wine-glass-alt", "shorty": "wine-glass-alt" }, { "full": "fas fa-won-sign", "shorty": "won-sign" }, { "full": "fas fa-wrench", "shorty": "wrench" }, { "full": "fas fa-x-ray", "shorty": "x-ray" }, { "full": "fas fa-yen-sign", "shorty": "yen-sign" }, { "full": "fas fa-yin-yang", "shorty": "yin-yang" }]


let selectedIconRef = ref(props.selectedIcon)
let showIcons2: Ref<boolean> = ref(false);
let itemsLoaded = ref(false);
let iconsFilter = ref({ filter: '', filteringIcons: false });
//let selectedIcon = ref(null);
let selectedButton2 = ref(null);




let filteredIcons = computed(() => {
  if (!iconsFilter.value.filter) return icons;
  if (icons) return icons.filter(icon => icon.shorty.includes(iconsFilter.value.filter));
});


const toggleIcons = (state: any) => {
  if (state) {
    //filteredIcons.value = icons;
    itemsLoaded.value = true;
  }
  showIcons2.value = state;
  iconsFilter.value.filter = '';
};


const resetStyle = () => {
  if (selectedIconRef) selectedIconRef.value = undefined;
  selectedButton2.value = null;
}

const iconChosen = (icon: any) => {
  if (selectedIconRef)  selectedIconRef.value = icon.full;
  emit('update-data', selectedIconRef)
};

const styleChosen = (button: any) => {
  selectedButton2.value = button;
};

const getBtnClass = () => {
  let btnCls = 'btn btn-outline-primary btn-sm'; // default class
  if (selectedButton2.value) {
    btnCls = `${selectedButton2.value} btn btn-sm`;
  }
  return btnCls;
};


const changedFilter = () => {
  let filteredIcons = icons.filter(icon => icon.shorty.includes(iconsFilter.value.filter));
};



</script>

<template>
  <div>

    <div v-if="showIcons2" id="ktIconPicker" class="bg-gray-50 m-4"
      style="position:absolute !important; z-index:9000 !important; right:0;border:solid gray 1px">
      <div class="text-right">
        <button @click="toggleIcons(false)" style="top: -20px; position: absolute; z-index: 9000; right: -14px;"
          type="button" class="btn  bold btn-danger-otline" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div :class="{ 'shadow': !props.designMode, 'card': props.designMode }" aria-labelledby="iconPicker">
        <!--<div class="text-center" v-if="!itemsLoaded.value" style="position:absolute;width:100%; z-index: 1000;">
                <div class="lds-ring">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>-->

        <div style="min-height: 100px;" v-if="props.selectIcons" class="row m-0 pl-0 rounded-0 border bg-gray-50">
          <div class="col-24 p-2">
            <input v-if="icons.length > 0" type="text" v-model="iconsFilter" @input="changedFilter"
              placeholder="Filter icons" class="form-control" name="iconsfilter" />
          </div>

          <div class="col-24 m-0" style="min-width: 40rem; max-height: 20rem; overflow: auto;">
            <div v-if="props.showButtons" class="row m-0">

              <div v-for="icon in icons" :key="icon.shorty" class="col text-center p-1">
                <a :title="icon.shorty" class="btn btn-outline-primary border-0 p-0 p-1 px-2" @click="iconChosen(icon)">
                  <i :class="icon.full"></i>
                </a>
              </div>

            </div>
          </div>
        </div>

        <div v-if="props.selectColors" class="m-0 pl-0 rounded-0 border bg-white">
          <div class="row m-0 p-2">
            <span class="mr-2"><b>Select style</b></span>
            <div v-for="button in allButtons" :key="button">
              <button :title="button" type="button" @click="styleChosen(button)"
                :class="['btn', button, { 'p-0': button === 'btn-link', 'p-3': button !== 'btn-link' }]">
                <span v-if="button === 'btn-link'">{{ button }}</span>
              </button>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-center">
          <div class="bg-gray-50 text-center">
            <button class="btn btn-primary" type="button" @click="toggleIcons(false)">Finish</button>
          </div>
          <div class="bg-gray-50 text-center">
            <button class="btn btn-outline-primary" type="button" @click="resetStyle">Reset Style</button>
          </div>
        </div>
      </div>
    </div>

    <div v-if="icons.length > 0" class="m-0">
      <div :class="{ 'designMode': designMode }">
        <span v-if="title" class="small muted mr-2"><b>{{ title }}</b></span>

        <button :disabled="setDisabled" style="min-height: 20px; min-width: 20px;" class="p-0 px-1"
          :class="getBtnClass()" id="iconPicker" type="button"  @click="toggleIcons(true)">
          <i :class="selectedIconRef || (selectedButton2 ? '' : 'fas fa-paint-brush')"></i>
          <span v-if="selectedIconRef">{{ btnLabel }}</span>
        </button>

        <span v-if="designMode" class="small mx-3">{{ selectedIconRef }}</span>
      </div>
    </div>
  </div>
</template>

<style scoped>
* {
  box-sizing: border-box;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
</style>