<script setup lang="ts">
  
  import { RouterLink } from "vue-router";
  import {ref} from "vue"

  let showHamburgerMenu = ref(false)
  
  const toggleHamburger = (toggleVal:boolean,ev:any) =>{
    if (ev) ev.preventDefault()
    showHamburgerMenu.value = toggleVal
  }

  /*
  $( ".hamburger" ).on( "click", function() {
        $( ".mobile-nav" ).toggleClass( "d-none", 1000 );

      });

  $( ".mobile-nav .scroll" ).on( "click", function() {
        $( ".mobile-nav" ).addClass( "d-none", 1000 );
      });
 */
    
 

</script>

<template>

<div class="page-grid">

  <div class="mobile-nav" v-if="showHamburgerMenu">
     <a href="/" class="logo">katalyo</a>
     <ul  class="nav">
        <li class="nav-item">
          <a class="nav-link scroll" href="https://www.katalyo.com/#features">Features</a>
        </li>
         <li class="nav-item">
          <a class="nav-link scroll" href="https://www.katalyo.com/#blockchain">Blockchain</a>
        </li>
        <li class="nav-item">
                  <a class="nav-link scroll" href="https://defi.katalyo.com">Web3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link scroll" href="https://www.katalyo.com/#how-it-works">How it works</a>
        </li>
        <li class="nav-item">
          <a class="nav-link scroll" href="https://www.katalyo.com/#use-cases">Use Cases</a>
        </li>
        
        <li class="nav-item">
                  <a class="nav-link scroll" href="https://www.katalyo.com/telos">Telos</a>
        </li>

        <li class="nav-item">
           <a class="nav-link scroll" href="#footer">Contact us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Sign up</a>
        </li>
    </ul>
    <div class="navicon js-toggle-mobile-nav">
    
      <a class="xmark" @click="toggleHamburger(false,$event)">
        ×
      </a>
  </div>
</div>

 <header id="headerApp" class="main-header">

  <div class="">
    <img width="200" loading="lazy" src="@/g_assets/img/Katalyo_final_aqua.png" />
  </div>
  <div class="navicon js-toggle-mobile-nav">
    <a   class="hamburger" @click="toggleHamburger(true,$event)">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
    </a>
  </div>
  <div>
    <ul class="nav">
    <li class="nav-item">
      <a class="nav-link scroll" href="https://www.katalyo.com/#features">Features</a>
    </li>
    <li class="nav-item">
      <a class="nav-link scroll" href="https://www.katalyo.com/#blockchain">Web3</a>
    </li>
    <li class="nav-item">
      <a class="nav-link scroll" href="https://www.katalyo.com/#how-it-works">How it works</a>
    </li>
    <li class="nav-item">
      <a class="nav-link scroll" href="https://www.katalyo.com/#use-cases">Use Cases</a>
    </li>

    <li class="nav-item">
            <RouterLink class="nav-link scroll" to="/login">Login</RouterLink>
    </li>
    


    <li class="nav-item my-auto">
      <a onclick="return gtag_report_conversion('https://beta.katalyo.com/#!/nm/public/1/join-katalyo');" href="/signup" class="btn btn-primary">Sign up</a>
    

    </li></ul>
  </div>
 
</header>

<div class="section">
      <div class="section-left">
        <h1 class="display-1">Welcome to Katalyo community!</h1>
        <div>
          <h4 class="display-2">A place where citizen developers turn ideas into reality. </h4>
         
          <h4 class="display-2">Join the no-code revolution and build applications without writing a single line of code.</h4>
        </div>
        <div class="info-block">
          <div class="icon">
                <svg width="64" height="64" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon">
                  <path d="M19.3047 17.8281C21.1016 16.5781 22 14.8789 22 12.7305C22 11.0117 21.3848 9.53711 20.1543 8.30663C18.9238 7.07617 17.4492 6.46093 15.7305 6.46093C14.0117 6.46093 12.5371 7.07617 11.3066 8.30663C10.0762 9.5371 9.46094 11.0117 9.46094 12.7305C9.46094 14.8789 10.3594 16.5781 12.1562 17.8281L13.2109 18.5898V21.4609H18.25V18.5898L19.3047 17.8281ZM9.51953 6.57812C11.2383 4.85937 13.3086 4 15.7305 4C18.1523 4 20.2129 4.84961 21.9121 6.54883C23.6113 8.24805 24.4609 10.3086 24.4609 12.7305C24.4609 15.7773 23.2109 18.1602 20.7109 19.8789V22.75C20.7109 23.1016 20.5937 23.3945 20.3594 23.6289C20.125 23.8633 19.832 23.9805 19.4805 23.9805H11.9805C11.6289 23.9805 11.3359 23.8633 11.1016 23.6289C10.8672 23.3945 10.75 23.1016 10.75 22.75V19.8789C8.25 18.1602 7 15.7774 7 12.7305C7 10.3086 7.83984 8.25782 9.51953 6.57813L9.51953 6.57812ZM11.9805 27.7304V26.5H19.4805V27.7304C19.4805 28.082 19.3633 28.375 19.1289 28.6093C18.8945 28.8437 18.6016 28.9609 18.25 28.9609H13.2109C12.8594 28.9609 12.5664 28.8437 12.332 28.6093C12.0977 28.375 11.9805 28.082 11.9805 27.7304H11.9805Z" fill="#302CE5"></path>
                </svg>
          </div>
          <div class="display-3">
                <div class="bold">If you are a citizen developer with a passion for Web3 try it now!</div>
          <!--Katalyo has all the tools and resources to make your idea a reality. Not only it's free but you can earn rewards for building with Katalyo!-->
            Signing up to Katalyo community is free and always will be!
          </div>
          <a onclick="return gtag_report_conversion('https://community.katalyo.com/signup');" href="/signup" class="btn btn-primary">Sign up now!</a>

        </div>

        <div class="info-block info-block-s">
                 
                <div class="display-3 bold">Already have an account?</div>
                 <a onclick="return gtag_report_conversion('https://community.katalyo.com/signup');" href="/login" class="btn btn-primary">Login</a>
              
        </div>
        
      </div>

      <div class="section-right">
            <img class="img-fluid" src="@/g_assets/img/katalyo_community.png" alt="Main image atom">
      </div>
</div>

<footer id="footer" class="main-footer">
  <div class="footer-row-1">
    <div class="section-left">  
            <div class="section-title text-success">Contact Us</div>
            <form id="send-msg-form" method="POST" class="form">
              <input type="hidden" name="csrfmiddlewaretoken" value="HthoGJAcxxLH764NnwI2lzPqRv3NNfpZ81pKeX8L4dNovgwa4pnfWSTKqjr3KTJi">
              <div class="form-group">
                <label for="FullName">Name</label>
                <input class="form-control" type="text" name="name" id="FullName" placeholder="Enter full name">
              </div>
              <div class="form-group">
                <label for="InputEmail">Email address</label>
                <input type="email" class="form-control" id="InputEmail" name="email" aria-describedby="emailHelp" placeholder="Enter email address">
                <small id="emailHelp" class="form-text text-light" style="opacity: .3; margin-left: 4px;">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="Message">Message</label>
                <textarea class="form-control" id="Message" name="message" rows="6" placeholder="Enter message"></textarea>
              </div>
              <div class="cta">
                <button type="submit" class="btn btn-primary">
          <svg width="24" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="telegram-plane" class="svg-inline--fa fa-telegram-plane fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M446.7 98.6l-67.6 318.8c-5.1 22.5-18.4 28.1-37.3 17.5l-103-75.9-49.7 47.8c-5.5 5.5-10.1 10.1-20.7 10.1l7.4-104.9 190.9-172.5c8.3-7.4-1.8-11.5-12.9-4.1L117.8 284 16.2 252.2c-22.1-6.9-22.5-22.1 4.6-32.7L418.2 66.4c18.4-6.9 34.5 4.1 28.5 32.2z"></path></svg>
                  <span class="ml-2">Send message</span>
                </button>
              </div>
        <div id="spinner" class="loader spinner" style="display: none;"></div>
          <b id="spinnerTxt" class="spinner" style="vertical-align: middle; color: rgb(255, 255, 255); display: none;">&nbsp;&nbsp; Sending message...</b>
          <div id="results"></div>
      </form>
    </div>


    <div class="section-right">
      <ul class="nav">
        <li class="nav-item"><a href="#header" class="nav-link scroll">Home</a></li>
        <li class="nav-item"><a href="https://www.katalyo.com/#features" class="nav-link scroll">Features</a></li>
        <li class="nav-item"><a href="https://www.katalyo.com/#blockchain" class="nav-link scroll">Web3</a></li>
        <li class="nav-item"><a href="#how-it-works" class="nav-link scroll">How it works</a></li>
        <li class="nav-item"><a href="#use-cases" class="nav-link scroll">Use Cases</a></li>
        <li class="nav-item"><a href="https://beta.katalyo.com/nm/public/1/privacy" class="nav-link">Privacy policy</a></li>
        <li class="nav-item"><a href="https://beta.katalyo.com/nm/public/1/terms" class="nav-link">Terms &amp; conditions</a></li>
        <li class="nav-item"><a href="javascript:showCookie('none', 'block', 'none');" class="nav-link">Cookie control</a></li>
      </ul>
      <div class="social-icons">
        <div class="">
          <!--<a href="mailto:info(at)katalyo.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>-->
          <a href="mailto:info(at)katalyo.com" title="e-mail">
            <svg width="24" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="envelope" class="svg-inline--fa fa-envelope fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"></path></svg>
          </a>
        </div>
        <div class="">
          <!--<a href="https://www.linkedin.com/company/katalyo/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>-->
          <a href="https://www.linkedin.com/company/katalyo/" title="linkedin">
            <svg width="24" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin" class="svg-inline--fa fa-linkedin fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"></path></svg>
          </a>
              </div>
        <div class="">
          <a href="https://twitter.com/katalyo" title="twitter">
          <!--<i class="fa fa-twitter-square" aria-hidden="true"></i>-->
            <svg width="24" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter-square" class="svg-inline--fa fa-twitter-square fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-48.9 158.8c.2 2.8.2 5.7.2 8.5 0 86.7-66 186.6-186.6 186.6-37.2 0-71.7-10.8-100.7-29.4 5.3.6 10.4.8 15.8.8 30.7 0 58.9-10.4 81.4-28-28.8-.6-53-19.5-61.3-45.5 10.1 1.5 19.2 1.5 29.6-1.2-30-6.1-52.5-32.5-52.5-64.4v-.8c8.7 4.9 18.9 7.9 29.6 8.3a65.447 65.447 0 0 1-29.2-54.6c0-12.2 3.2-23.4 8.9-33.1 32.3 39.8 80.8 65.8 135.2 68.6-9.3-44.5 24-80.6 64-80.6 18.9 0 35.9 7.9 47.9 20.7 14.8-2.8 29-8.3 41.6-15.8-4.9 15.2-15.2 28-28.8 36.1 13.2-1.4 26-5.1 37.8-10.2-8.9 13.1-20.1 24.7-32.9 34z"></path></svg>
          </a>
        </div>
        <div class="">
          <a href="https://t.me/katalyo" title="telegram">
          <!--<i class="fa fa-telegram" aria-hidden="true"></i>-->
            <svg width="24" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="telegram-plane" class="svg-inline--fa fa-telegram-plane fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M446.7 98.6l-67.6 318.8c-5.1 22.5-18.4 28.1-37.3 17.5l-103-75.9-49.7 47.8c-5.5 5.5-10.1 10.1-20.7 10.1l7.4-104.9 190.9-172.5c8.3-7.4-1.8-11.5-12.9-4.1L117.8 284 16.2 252.2c-22.1-6.9-22.5-22.1 4.6-32.7L418.2 66.4c18.4-6.9 34.5 4.1 28.5 32.2z"></path></svg>
          </a>
        </div>
      </div> 
    </div>
  </div>

  <div class="action-bar row-2">
    <span>Copyright ©  Katalyo. All rights reserved.</span>
  </div>
</footer>
</div>

</template>

<style scoped>
body {
    margin: 0;
    font-family: "IBM Plex Sans",sans-serif;
}
.page-grid{

  display: grid;

}

.main-header {

    display: inline-grid;
    padding: 44px 0;
    justify-content: center;
    grid-template-columns: 720px 720px;
    grid-column-gap: 5rem;
    align-items: center;
    background-color: transparent !important;
}
.align-items-center {
    align-items: center !important;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.btn{
    display: inline-block;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    font-size:1rem;
    line-height: 1.5;
    border-radius: 100px;
    padding: .75rem 2rem;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.main-header .logo {
    font-weight: 700;
    font-size:24px;
    color: #0E1A39
}

.main-header .nav .nav-link {
    display: block;
    font-weight: 500;
    font-size:16px;
    letter-spacing: 0.01em;
    color: #0E1A39;
    padding: 1rem;
    text-decoration: none;
    position: sticky;
    top: 0;
    background-color: #fafbfb !important;
}

a.nav-link {

    text-decoration: none;
}

.main-header .nav .nav-link:hover {
    text-decoration: underline
}

.main-header .navicon {
    display: none
}
.display-1 {
    font-size:4rem;
    font-weight: 700;
    line-height: 1;
    text-align: left;
}
.section{
  display: grid; 
  grid-column-gap: 5rem;
  grid-template-columns: 720px 720px;
  grid-column-gap: 5rem;
  justify-content: center;
}

.section-left{
  display: grid;
}

@media (max-width: 767.98px) {
    .main-header {
        padding:20px 8%
    }

    .main-header .nav,.main-header .contact {
        display: none
    }

    .main-header .navicon {
        display: block
    }
  .section {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 12vw;
  }

  .section .h1,.section .h2 {
    margin-left: auto;
    margin-right: auto;
    max-width: 850px
  }
}


.section .h1,.section .h2 {
    margin-left: auto;
    margin-right: auto;
    max-width: 850px
}

@media (min-width: 768px) {
  .section {
        padding-top:4rem;
        text-align: center;
        padding-left: 44px;
        padding-right: 44px
    }

    .section .container {
        padding: 0
    }
}

.section-title {
    font-weight: bold;
    letter-spacing: 0.32em;
    text-transform: uppercase;
    color: #0E1A39;
    padding-bottom: 5rem
}

@media (max-width: 991.98px) {
  .section-title {
        padding-bottom:12vw;
        letter-spacing: 0.08em;
        font-size:12px
    }
}

.display-1 {
    font-size:4.13rem;
    font-weight: 700;
    line-height: 1.2
}

@media (max-width: 1200px) {
    .display-1 {
        font-size:calc(1.538rem + 3.456vw)
    }
}

.display-2 {
    font-size:1.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 1rem;
    text-align: left;
}

@media (max-width: 1200px) {
    .display-2 {
        font-size:calc(1.451rem + 2.412vw)
    }
}

.display-3 {
    font-size:1rem;
    font-weight: 300;
    line-height: 1.5;
}
.bold{

  font-weight: bold;
}
@media (max-width: 1200px) {
    .display-3 {
        font-size:calc(1.575rem + 3.9vw)
    }
}

.display-4 {
    font-size:3.5rem;
    font-weight: 300;
    line-height: 1.2
}

@media (max-width: 1200px) {
    .display-4 {
        font-size:calc(1.475rem + 2.7vw)
    }
}


@media (max-width: 991.98px) {
    .display-1 {
        font-size:calc(1.538rem + 1.456vw)
    }

    .h2 {
        font-size:calc(1rem + .2856vw)
    }
}

.h1,.h3 {
    font-weight: 700;
    color: #0E1A39
}

.h2 {
    line-height: 160%
}


.btn.btn-primary {
    background-color: #302CE5
}
.font-weight-normal {
    font-weight: 400 !important
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
 .info-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    min-height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    background: #FFFFFF;
    box-shadow: 0px 10px 18px -3px rgba(14,26,57,0.1),0px -4px 8px -2px rgba(14,26,57,0.05);
    border-radius: 62px;
    padding: 2rem 2rem;
    width: 100%;
    height: fit-content;
}
.info-block-s {
    width: 75%;
}
 .info-block .h5 {
    margin-bottom: .25rem
}

 .info-block .icon {
    width: 40px;
    margin-right: 1.5rem
}

 .info-block .btn {
    min-width: 140px;
    padding: 0.75rem 1rem;
    margin-left: 1rem
}

@media (max-width: 767.98px) {
     .info-block {
        flex-direction:column;
        border-radius: 0;
        box-shadow: none;
        background-color: rgba(14,26,57,0.02);
        padding: 1rem 8% 2rem;
        align-items: center;
        width: 100%;
    }

     .info-block .icon {
        width: 32px;
        padding: 0;
        margin-bottom: .5rem
    }

     .info-block .btn {
        margin-top: 1.5rem;
        margin-left: 0
    }
}
@media (max-width: 991.98px) {
    .illustration-wrap {
        margin-left:-20px;
        margin-right: -20px;
        padding-top: 2vw;
        padding-bottom: 12vw
    }
}


.main-footer {
    background-color: #191f2e;
    color: #fff;
    padding: 44px;  
   /* padding-top: 10vw;
    margin-top: 10vw;*/
}
.footer-row-1
{
  display: grid;
  grid-template-columns: 940px 500px;
  grid-column-gap: 5rem;
  justify-content: center;

}
@media (min-width: 768px) {
    .main-footer {
        padding-top:5vw;
        margin-top: 5vw;
    }
}

.main-footer .section-title {
    padding-bottom: 2rem;
    color: #1DB46B !important;
}


@media (min-width: 768px) {
    .main-footer .container {
        padding-left:44px;
        padding-right: 44px
    }
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size:1rem;
    line-height: 1.5;
    color: rgba(14, 26, 57, 0.9);
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(14, 26, 57, 0.1);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-sizing: border-box;
}


.form .form-group {
    margin-bottom: 1rem;
}

.form .form-group label {
    margin-bottom: .5rem;
    margin-left: 4px;
    font-size:.93rem
}


.form .form-control {
    background-color: transparent;
    border-color: rgba(255,255,255,0.1);
    color: rgba(255,255,255,0.9);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.form .form-control::placeholder {
    color: rgba(255,255,255,0.3)
}

.form .form-control:hover {
    border-color: rgba(255,255,255,0.25);
    box-shadow: none
}

.form .form-control:focus,.form .form-control:active {
    border-color: rgba(255,255,255,0.5);
    box-shadow: none
}

.main-footer .form .cta {
    display: flex;
    justify-content: flex-end
}

.main-footer .form .cta .btn {
    border-radius: 6px;
    border: 0;
    background-color: #3b38d9
}

@media (max-width: 991.98px) {
    .main-footer .form .cta .btn {
        display:block;
        width: 100%
    }
}

.main-footer .form .cta .btn .fa {
    margin-right: .5rem
}

.main-footer .nav {
    margin-top: 4rem
}

.main-footer .nav .nav-item {
    display: block;
    width: 100%;
    margin-bottom: 1.85rem
}

textarea.form-control{
 height: auto;

}
@media (max-width: 991.98px) {
    .main-footer .nav .nav-item {
        margin-bottom:.5rem
    }
}

.main-footer .nav .nav-link {
    display: inline-block;
    color: #fff;
    font-size:.93rem;
    padding-left: 0;
    opacity: .5
}

.main-footer .nav .nav-link:hover {
    text-decoration: underline;
    opacity: 1
}

.main-footer .social-icons {
    margin-top: 1.5rem;
    display: flex;
    justify-content: start;
    gap: 24px;
}

.main-footer .social-icons a {
    width: 25%;
    opacity: .5
}

.main-footer .social-icons a .fa {
    color: #fff;
    font-size:24px
}

.main-footer .social-icons a:hover {
    opacity: 1
}
 .action-bar {
    text-align: center;
    padding-top:4rem
}

@media (min-width: 768px) {
     .action-bar {
        padding-top:4rem
    }
}

/* start new */

*, *:before, *:after {
    box-sizing: border-box;
}

@media (max-width: 1760px) {
    .main-header {
        grid-template-columns: 400px 600px;
    }
    
    .section {
        grid-template-columns: 500px 500px;
    }

    .footer-row-1 {
        grid-template-columns: 640px 360px;
    }
}

@media (max-width: 1240px) {
    .main-header {
        grid-template-columns: 200px 600px;
    }
    
    .section {
        grid-template-columns: 400px 400px;
    }

    .footer-row-1 {
        grid-template-columns: 560px 240px;
    }

    .display-1 {
        font-size: 44px !important;
    }

    .display-2 {
        font-size: 24px !important;
    }

    .display-3 {
        font-size: 16px !important;
    }

    .info-block {
        flex-direction: column;
        gap: 12px;
        text-align: center;
        border-radius: 36px;
        padding: 1rem 1.875rem;
    }

    .info-block .icon {
        margin: 0;
    }

    .info-block .btn {
        margin: 0;
    }
}

@media (max-width: 991px) {
    .main-header {
        grid-template-columns: 100px 540px;
        gap: 0;
        padding: 24px 0;
    }

    .main-header .nav .nav-link {
        font-size: 16px;
        padding: 8px;
    }

    ul.nav>li>a.btn {
        padding: 8px 16px !important;
    }

    .nav {
        align-items: center;
        justify-content: end;
    }

    footer .nav {
        justify-content: start;
    }


    header>div>img {
        width: 120px;
    }
    
    .section {
        grid-template-columns: 640px;
        padding: 24px 0;
        row-gap: 24px;
    }

    .section-left {
        row-gap: 24px;
    }

    div.section-right {
        order: 1;
    }

    div.section-left {
        order: 2;
    }

    footer div.section-right {
        order: 2;
    }

    footer div.section-left {
        order: 1;
    }

    .img-fluid {
        max-width: 70%;
        height: auto;
    }

    .display-1 {
        font-size: 40px !important;
    }

    .display-2 {
        font-size: 20px !important;
    }

    .display-3 {
        font-size: 16px !important;
    }

    .info-block .btn {
        padding: 8px 16px;
    }
    
    .footer-row-1 {
        grid-template-columns: 640px;
    }
    
    .nav {
        flex-direction: row;
    }

    .main-footer .nav .nav-item {
        width: auto;
    }

    .main-footer .social-icons {
        justify-content: center;
    }
}
@media (max-width: 767.98px) {
        .main-header {
                grid-template-columns: 120px 1fr;
                gap: 0;
                padding: 24px;
        }

        .section {
                grid-template-columns: 90%;
        }

        .footer-row-1 {
                grid-template-columns: 90%;
        }

        .main-footer {
                padding: 24px;
        }
        
        .main-header .navicon {
                display: flex;
                justify-content: end;     
        }

        .mobile-nav {
                position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                display: flex;
                flex-direction: column;
                background: white;
                z-index: 100;
        }

        .mobile-nav>.nav {
                display: flex;
                flex-direction: column;
                gap: 8px;
        		align-items: start;
        }

        .mobile-nav>.nav a {
                color: #383a49;
                
        }

        .btn-close {
                position: absolute;
                right: 16px;
                top: 12px;
        }

        .btn-close a {
                font-size: 24px;
        }

        a.logo {
                color: #17A2B8;
            	font-size: 32px;
            	font-weight: bold;
            	padding: 8px 12px; 
        }

        a.xmark {
                font-size: 36px;
            	position: absolute;
            	top: 8px;
            	right: 12px;
            	line-height: 1;
                color: #383a49 !important;
        }

        div.section-right {
                text-align: center;
        }
}

</style>