<script setup lang="ts">
    //define props
    const props = defineProps({
        animationType: String,
        showMsg: Boolean,
        numberOfItems:Number,
    });
    
    let formItems:Array<any> = []
    let cardItems:Array<number> = []
    let iNumber:number = 8
    if (props.numberOfItems) iNumber = props.numberOfItems
    let i:number
    if (props.animationType=="table") {
        for (i =0;i<iNumber;i++) formItems.push(i+1)
    }
    if (props.animationType=="card") 
    {   
        for (i =0;i<iNumber;i++) cardItems.push(i+1)
    }
</script>

<template>
    <div style="text-align: center;">
        <div class="timeline-wrapper">
            <div class="timeline-item">
                <div v-if="props.animationType=='form'" class="animated-background">
                    <div  v-for="(fi,index) in formItems" :key="fi.id" class="row-grid">
                        <div class="col-grid-1 background-masker masker-item"></div>
                        <div class="col-grid-3"></div>
                        <div class="col-grid-1 background-masker masker-item"></div>
                        <div class="col-grid-14"></div>
                        <div class="col-grid-5 background-masker masker-item"></div>
                        <div class="col-grid-24 background-masker masker-margin"></div>
                    </div>
                    <div class="row-grid">
                        <div class="background-masker button-bottom col-grid-1"></div>
                        <div class="col-grid-2"></div>
                        <div class="background-masker button-bottom col-grid-21"></div>
                    </div>
                </div>
                <div v-if="props.animationType=='table'" class="animated-background">
                    <div v-if="props.showMsg" class="position-message"><slot /></div>
                    <div v-for="(fi,index) in formItems" :key="fi.id" class="row-grid">
                        <div v-if="index==0" class="col-grid-24 background-masker masker-margin"></div>
                        <div class="col-grid-4"></div>
                        <div class="col-grid-1 background-masker masker-item"></div>
                        <div class="col-grid-4"></div>
                        <div class="col-grid-1 background-masker masker-item"></div>
                        <div class="col-grid-4"></div>
                        <div class="col-grid-1 background-masker masker-item"></div>
                        <div class="col-grid-4"></div>
                        <div class="col-grid-1 background-masker masker-item"></div>
                        <div class="col-grid-24 background-masker masker-margin"></div>
                    </div>
                
                </div>
                <div v-if="props.animationType=='card'" class="row-grid">
                    <div v-for="(cl,index) in cardItems" :key="cl" class="col-grid-6 p-1">
                        <div class="row-grid shadow-sm border rounded" style="position:relative;height: 100%;min-height: 145px;">
                            <div style="height: 100%;" class="col-grid-24">
                                <div class="row-grid-c m-0 p-1 text-left my-auto h-100 flex-column justify-content-around">
                                    <div class="row-grid animated-background mx-1">
                                        <div class="col-grid-11 px-0"> </div>
                                        <div class="col-grid-10 background-masker background-masker-color masker-item px-0"> </div>
                                        <div class="col-grid-2 px-0"> </div>
                                        <div class="col-grid-1 background-masker background-masker-color masker-item px-0"> </div>
                                    </div>
                                
                                    <div class="row-grid animated-background mx-1">
                                        <div class="col-grid-8 background-masker background-masker-color masker-item px-0"> </div>
                                        <div class="col-grid-8 px-0"> </div>
                                        <div class="col-grid-8 background-masker background-masker-color masker-item px-0"> </div>
                                    </div>
                                    <div class="row-grid animated-background mx-1">
                                        <div class="col-grid-8 background-masker background-masker-color masker-item px-0"> </div>
                                        <div class="col-grid-8 px-0"> </div>
                                        <div class="col-grid-8 background-masker background-masker-color masker-item px-0"> </div>
                                    </div>
                                    <div class="row-grid animated-background mx-1">
                                        <div class="col-grid-1 background-masker background-masker-color masker-item px-0"> </div>
                                        <div class="col-grid-22 px-0"> </div>
                                        <div class="col-grid-1 background-masker background-masker-color masker-item px-0"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</template>

<style scoped>

.row-grid{
    display:grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(24,1fr);
}
.row-grid-c{    
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}
.col-grid-1{
    grid-template-columns: auto / span 1;
}
.col-grid-2{
    grid-column: auto / span 2;
}
.col-grid-3{
    grid-column: auto / span 3;
}
.col-grid-4{
    grid-column: auto / span 4;
}
.col-grid-5{
    grid-column: auto / span 5;
}
.col-grid-6{
    grid-column: auto / span 6;
}
.col-grid-8{
    grid-column: auto / span 8;
}
.col-grid-10{
    grid-column: auto / span 10;
}
.col-grid-11{
    grid-column: auto / span 11;
}
.col-grid-22{
    grid-column: auto / span 22;
}
.col-grid-24{
    grid-column: auto / span 24;
}
.timeline-wrapper{
    height: 100%;
}
.timeline-item{
    height: 100%;
    background: #fff;
    padding: 12px;
    margin: 0 auto;
    /* max-width: 472px; */
    min-height: 200px;
}
.background-masker{
    height: 10px;
} 
.masker-margin{
    height: 10px;
}
.animated-background{
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    position: relative;
}
.button-bottom{
text-align: center;
}

.position-message{
/*h4 text-center my-auto */
text-align: center;
margin-top: 0 auto;
margin-bottom: 0 auto;
font-size:medium;
}
</style>