<script setup lang="ts">
import { ref, computed, onMounted, reactive } from "vue";
import { useRoute } from 'vue-router'
import { usePageStore } from '@/m_page/stores/page';
import type { Ref } from 'vue'
import Utility from '@/g_libs/kt-utility';


const props = defineProps({
        resourceId: String ,
    });


const emit = defineEmits(['hasAccess','pageId'])
const pageStore = usePageStore()
let hasAccess:Ref<boolean> = ref(false)
const route = useRoute()
let querystr:any =  route.query

    const uuid:string = new Utility().uuidv4()
    let instanceId:Ref<string> = computed( ()=> {
      if (!querystr?.rinstance || Number(querystr?.rinstance)==0) return uuid
      else return querystr?.rinstance
    })

    let pInstanceId:Ref<string> = computed( ()=> {
      if (querystr?.prinstance) return querystr?.prinstance
      else return '0'
    })

    const checkUserAuth = async ()=>{
    hasAccess.value =  await pageStore.checkResourceAccess(props?.resourceId || '0',1,instanceId.value,pInstanceId.value)
    emit('hasAccess',hasAccess.value)
    }
    await checkUserAuth()
</script>

<template >
   <div  v-if="!hasAccess && pageStore.getLoadCurrentPageCompleted">
      <div class="forbidden-header">You're not authorised to access this page!</div>
      <div class="forbidden-message">If you believe this is a mistake please contact the administrator!</div>

      <div class="home-link-div">
                  <RouterLink to="/dashboard"><i class="fa fa-home"></i><span class="home-link-span">Go home</span></RouterLink>
      </div>
            
   </div>
</template>

<style scoped>
.forbidden-header{
    font-size: x-large;
    color: red;
    text-align: center;
    margin-top: 5rem;
       
 }

 .forbidden-message{
    font-size: medium;
    color: gray;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
       
 }
 .home-link-div{
    font-size: medium;
    color: gray;
    text-align: center;
    margin-top: 1rem;
       
 }
 .home-link-span{
  
    margin-left: 0.5rem;
       
 }
</style>