<script setup lang="ts">

    import { storeToRefs } from 'pinia';
    //import { useAuthUserStore } from '@/m_auth/stores/authUser';
    import { usePageStore } from '@/m_page/stores/page'
    //import { useApplicationStore } from '@/g_stores/application'
    import { useAppMenuStore } from '@/g_stores/appMenu' 
    import { useResourceFormStore } from '@/m_resource/stores/resourceForm';
    //import { useAlertStore } from '@/g_stores/alert';
    import FormExe from "../g_components/FormExe.vue";
    import { reactive,toRef,ref,computed,defineAsyncComponent,watch } from "vue";
    import type { Ref } from 'vue'
    import  configuration from '@/config';
    import { LocationQueryValue, useRoute } from 'vue-router'
    import PageMenuExe from './PageMenuExe.vue';
    import Utility from '@/g_libs/kt-utility';
 
    //define props
    const props = defineProps({
        resourceId: String,
        resourceVersion: Number,
        instanceId: String,
        prevInstanceId: String,
        public:Boolean,
        orgId:Number

    });
    let previousResourceId:string = ''
    const route = useRoute()

    let resourceId:Ref<string | undefined> = toRef(props,'resourceId')
    let pageVersion:Ref<number | undefined> = toRef(props,'resourceVersion')  
    let instanceId:Ref<string | undefined> = toRef(props,'instanceId') || ref('0')
    let prevInstanceId:Ref<string | undefined> = toRef(props,'prevInstanceId') || ref('0')
    let isPublic:Ref<boolean | undefined> = toRef(props,'public') || ref(false)
    let org:Ref<number | undefined> = toRef(props,'orgId') || ref(0)
    let orgNum:Ref<number> = ref(0)
    //const authStore = useAuthUserStore()
    const pageId = resourceId.value
    const pageInstanceId:string = instanceId.value || '0'
    const prevPageInstanceId:string = prevInstanceId.value || '0'
    const pageStore = usePageStore()
    const menuStore = useAppMenuStore()
    const formStore = useResourceFormStore()

    if (org?.value!=undefined) orgNum.value = org.value
    
    const utility:Utility = new Utility()
    if (pageId!==undefined) {   
        //pageStore.setCurrentPageById(pageInstanceId)
       
        if (!isPublic.value) pageStore.openSecuredPage(pageId,pageVersion.value, pageInstanceId,prevPageInstanceId)
        else pageStore.openPublicPage(orgNum.value,pageId,pageVersion.value, pageInstanceId,prevPageInstanceId)
        utility.createCssLink(configuration().api?.publishurl,pageId)
        pageStore.currentPage.isCssCreated = true
 
       
    }
    formStore.registerResource(pageInstanceId)
   
    pageStore.resetCurrentPageWidgets()
    
    let pageLayout = computed(()=>{
      let pLay:string='60px 1fr'
      if (menuStore.getPageMenuSize) pLay='300px 1fr'
      if (!pageStore.currentPage.hasPageMenu) pLay='1fr'
      return pLay
    })
    
    let menuHeight = computed(()=>{

        // if (!menuStore.getCurrentMenuHeight) return '50px'
        //else return menuStore.getCurrentMenuHeight
        let container:any = document.getElementById('app-menu-id')
        if (container?.offsetHeight) return container?.offsetHeight.toString()+'px'
        else return '50px'

    })

    let pageContent = computed(()=>{
      let pContent:string='2 / 3'
      if (!pageStore.currentPage.hasPageMenu) pContent='1 / 3'
      return pContent
    })

</script>

<template>
    <div :class="'page-layout page_' + resourceId" >
        <div v-if="pageStore.currentPage.forbidden">
            <div class="forbidden-header">You're not authorised to access this page! <br> {{pageStore.currentPage.forbiddenMsg}}</div>
            <div class="forbidden-message">If you believe this is a mistake please contact the administrator!</div>

            <div class="home-link-div">
                <RouterLink to="/dashboard"><i class="fa fa-home"></i><span class="home-link-span">Go home</span></RouterLink>
            </div>
            
        </div>
        <div class="page-menu" v-if="pageStore.getCurrentPage.hasPageMenu">
            <PageMenuExe></PageMenuExe>
        </div>
        <div class="page-content" v-if="pageStore.getLoadCurrentPageCompleted && !pageStore.currentPage.forbidden">
            
            <FormExe :resource-id="resourceId"/>
        </div>
    </div>
</template>

<style scoped>

.page-layout{
    display: grid;
    grid-template-columns: v-bind(pageLayout);
    grid-auto-flow: row;
    row-gap: 0.5rem;
    height: calc(100% - v-bind(menuHeight));
}
.page-menu{
    grid-column: 1 / 2;
    background-color: #fcfdfd;
    border-right: 2px solid #dee7e9;
}
.page-menu-mobile{
   display: block;
   position: relative;
   background-color: green;
   
 }
.page-content{
    padding:1rem;
     /*     padding-top:3rem;*/
    padding-bottom:3rem;
    grid-column: v-bind(pageContent);
       
 }
 .forbidden-header{
    font-size: x-large;
    color: red;
    text-align: center;
    margin-top: 5rem;
       
 }

 .forbidden-message{
    font-size: medium;
    color: gray;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
       
 }

 .home-link-div{
    font-size: medium;
    color: gray;
    text-align: center;
    margin-top: 1rem;
       
 }
 .home-link-span{
  
    margin-left: 0.5rem;
       
 }

 @media (max-width:992px) {
 .page-menu {
    height: 0;
    /*display: block;*/
  }
  .page-content{
    grid-column: 1 / 3;
  }
  
}

</style>