<script setup lang="ts">

    import { storeToRefs } from 'pinia';
    import { useAuthUserStore } from '@/m_auth/stores/authUser'
    import { useAppMenuStore } from '@/g_stores/appMenu'
    import { useApplicationStore } from '@/g_stores/application'
    import { usePageStore } from '@/m_page/stores/page'
    import { useAlertStore } from '@/g_stores/alert'
    import { reactive,toRef,ref,computed,defineAsyncComponent } from "vue"
    import type { Ref } from 'vue'
    import LoadingAnimation from './LoadingAnimation.vue';
    import configuration from '@/config'
    import Utility from '@/g_libs/kt-utility';
    
    
    const authUser = useAuthUserStore()
    const menuStore = useAppMenuStore()
    const applicationStore = useApplicationStore()
    const pageStore = usePageStore()
   
    let showDropdown = ref(false)
    
    //put all different styling here
    let menuIcon = (icon:string)=>{
        let iconFinal:string = 'fa fa-'+icon
        //if (!menuStore.getPageMenuSize) iconFinal = 'fa-lg '+iconFinal
        return iconFinal
    }
    let resizeIcon = computed(()=>{
        //let iconResizeFinal:string = 'fa fa-chevron-left'
        if (menuStore.getPageMenuSize) return 'fa fa-chevron-left'
        return 'fa fa-chevron-right'
    })
  
    let params:any = reactive(menuStore.getCurrentMenuParameters || {})
    if (params?.customBgColor==undefined) params.customBgColor='#555555'

   

    document.addEventListener('mouseup', function(e:any) {
        // hide dropdown when clicked outside
        let container:any = document.getElementById('dropdown-menu-right-id');
        if (container && (!container.contains(e.target) || e?.target?.className == 'nav-link-right' )) {
            showDropdown.value = false
        }   
    });

    let myMenuId = computed(()=>{
      return pageStore.getCurrentPage.pageMenuId
    })
    const utility:Utility = new Utility()
    utility.createCssLink(configuration().api?.publishurl,myMenuId.value)

    document.addEventListener('mouseup', function(e:any) {
        // hide dropdown when clicked outside
        let container:any = document.getElementById('page-menu-id');
        if (pageStore.currentPage.pageMenuVisible && container && !e?.target?.className.includes('sidemenu') && (!container.contains(e.target) || e?.target?.className == 'side-menu-link' )) {
            pageStore.togglePageMenuVisibility()
        }
    });

</script>

<template>
    <div :id="'side-menu-id'" class="sidemenu sidemenu-custom-ext-p" :class="{'visible':pageStore.currentPage.pageMenuVisible,'': !pageStore.currentPage.pageMenuVisible}">
        <!--<div v-if="!pageStore.getLoadCurrentPageCompleted" class="fa-3x text-center mt-4"><i class="fas fa-spinner fa-spin"></i></div>-->
    <div :id="'page-menu-id'" class="p-0 sidemenu-custom">
    
       <div class="">
           <div class="p-0">
             <ul class="navbar-nav">
                <li  v-for="ni in menuStore.getMenu(myMenuId)" :key="ni.s_menus_id" class="nav-item" :class="{'text-center' : !menuStore.getPageMenuSize,'side-menu-large-icons-style':!menuStore.getPageMenuSize}">
                          
                        
                            <RouterLink v-if="ni.s_menus_MenuPosition=='sidemenu'" class="side-menu-color nav-link side-menu-link" :class="'side-nav-link-custom-p-'+myMenuId"  :title="ni.s_menus_Name"
                                :to="{name: ni.s_pages_Target,
                                    params:{page_id:ni.s_menus_Target , page_version: ni.s_menus_Version || 0 },
                                    query:{app_ref:applicationStore.getCurrentApp.uid, rinstance:'0',prinstance: pageStore.currentPage.instanceId,env:applicationStore.currentEnv, session_id: authUser.currentUser?.sessionid}}"> 
                                    <i class="side-menu-icon" :class="menuIcon(ni.s_menus_Icon)"></i>
                                    <span v-if="menuStore.getPageMenuSize" class="px-1" style="white-space: nowrap;">{{ni.s_menus_Name}}</span>
                            </RouterLink>
 
                </li>
                <!--
                <li ng-repeat="mi in sideMenus track by mi.s_menus_id" ng-switch="::mi.s_menus_MenuPosition" >
                       
                       <a ng-switch-when="sidemenu" title="{{::mi.s_menus_Name}}" ng-class="{'side-menu-large-icons-style':!menu_service.getSideMenuSize()}" class="nav-link-custom nav-link side-nav-link-custom-p padding5" ng-click="setSideMenu(mi.s_menus_id)" ui-sref="{{::mi.s_menus_Params.pagestate}}(mergeObjects(mi.s_menus_Params, { version: mi.s_menus_TargetPageVersion} ))" >
                        <i class="side-menu-icon" ng-class="{'fa fa-{{::mi.s_menus_Icon}}':menu_service.getSideMenuSize(),'fa fa-{{::mi.s_menus_Icon}} fa-lg text-center':!menu_service.getSideMenuSize()}"></i>
                          <i class="fa-lg text-center" ng-if="!menu_service.getSideMenuSize() && mi.s_menus_Icon==undefined">{{$index}}</i>
                        <span ng-if="menu_service.getSideMenuSize()" class="ml-2">{{::mi.s_menus_Name}}</span>
                       </a>
                       <div ng-switch-when="sidemenu" ng-if="::mi.s_menus_MenuType==3" kt-sidemenu-container>
                       </div>
                </li>
                -->
             </ul>
           </div>
       </div>
       
    </div>
	
    <button type="button" class="toggle-page-menu-button" title="Click to toggle menu size" @click="menuStore.changePageMenuSize()">
			<span v-if="menuStore.getPageMenuSize"><i class="fa fa-chevron-left"></i></span>
            <span v-if="!menuStore.getPageMenuSize"><i class="fa fa-chevron-right"></i></span>
	</button>
	
</div>
            
</template>

<style scoped>

.sidemenu {
    position: relative;
}
.side-menu-large-icons-style{
/*justify-content: center;
padding: 1em !important;
*/
font-size:large;
}
.side-menu-icon{
text-align: center;
min-width: 1.5em !important;
}

.toggle-page-menu-button {
position: absolute;
background: white;
width: 24px;
height: 24px;
right: -12px;
font-size:12px;
z-index: 929;
/*display: flex;
justify-content: center;
align-items: center;*/
border-radius: 32px;
top: 32px;
box-shadow: 2px 1px 5px #00000033;
border: none;
}
.toggle-page-menu-button:focus{
outline: none;
}

@media (max-width: 991px) 
{
    .sidemenu.visible{
        left:0 !important;
    }
    .sidemenu {
    background: white;
    height: 100vh;
    position: fixed;
    width: 80vw;
    left: -80vw;
    top: 0;
    z-index: 1100;
    font-size: 16px;
    transition: left 1s ease 0s !important;
    box-sizing: border-box;
    width: 85vw;
    left: 85vw;
    }

    .sidemenu.show {
    left: 0;
    box-shadow: 0 0.5rem 1rem rgba(14, 26, 57, 0.15) !important;
    }

    .toggle-page-menu-button {
    display: none;
    }
}

.loading-message{
    padding: 12px;
    font-weight: bold;
    text-align: center;
}
.border-bottom{
        border-bottom:1px solid gray;
}

.hide-on-mobile{
    display: none;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
} 
.nav-link.disabled {
    color: rgba(14, 26, 57, 0.6);
    pointer-events: none;
    cursor: default; 
}

@media (max-width: 992px)
  {
    
    .nav-link {
      display: block;
      padding: 0.25rem 0.5rem;
  }
 
     .navbar-nav .nav-link {
        padding-right: 6px !important;
        padding-left: 6px !important;
  }
  /*
  .navbar-custom .navbar-nav > li > a {
      
    border-bottom: 5px solid transparent; 
     border-top: 5px solid transparent;
   }
  */
  }
.py-0{
padding-top: 0;
padding-bottom: 0;
}
.mr-auto, .mx-auto {
    margin-right: auto !important;
}

.mb-0, .my-0 {
    margin-bottom: 0 !important;
}
.mr-1, .mx-1 {
    margin-right: 0.25rem !important;
}
.ml-1, .mx-1 {
    margin-left: 0.25rem !important;
}

.text-center {
    text-align: center;
}
</style>