<script setup lang="ts">

    import { storeToRefs } from 'pinia';
    import { useAuthUserStore } from '@/m_auth/stores/authUser';
    import { usePageStore } from '@/m_page/stores/page';
    import { useAlertStore } from '@/g_stores/alert';
    import { toRef,ref , computed,provide} from "vue";
    import { useResourceFormStore } from '@/m_resource/stores/resourceForm'
    import { useApplicationStore } from '@/g_stores/application';
    import type { Ref } from 'vue'
    import { useRdbmsResourceStore } from '@/m_resource/stores/rdbmsResource'
    import { and } from '@vuelidate/validators';
   
    //define props
    const props = defineProps({
        formDefinition: Array<any>,
        widgetId:String,
        formId:String,
        dataSrcType:String,
        data:Object
    });
    const appStore = useApplicationStore()
    const formDefinition_ref:Ref<any> = toRef(props,'formDefinition')
    //const widgetIdRef:Ref<string> = ref('')
    let formIdR:Ref<string  | undefined> = toRef(props,'formId')
    let dataSrcTypeR:Ref<string  | undefined> = toRef(props,'dataSrcType')
    const widgetIdR:Ref<string  | undefined> = toRef(props,'widgetId')
    let cssPrefix:Ref<string> = ref('')
    provide("dataSrcTypeRef", dataSrcTypeR.value)

  
    let dataR:Ref<any> = toRef(props,'data')
   
    if (!formIdR.value)        cssPrefix.value=widgetIdR.value || ''
    else  cssPrefix.value=formIdR.value || ''
    
    if (!dataSrcTypeR.value)   dataSrcTypeR.value='form'

const getComponentName = (elementType:string) => {
    let cName:string = 'Widget'+elementType.substring(0,1).toUpperCase()+elementType.substring(1)+'Exe'
    if (elementType=='eresource')  cName = 'WidgetResourceExe'
    return cName
}
</script>

<template>
    <div idd="ResourceFormExe" v-if="formDefinition_ref" v-for="(widget,index) in formDefinition_ref" :key="widget.id">

        <component v-if="widget.Status=='Active' && widget.ComponentName" v-show="index==formDefinition_ref.length-1" 
            :parent-resource-widget-id="widgetIdR"
            :css-prefix="cssPrefix"
            :data-ref="dataR"
            :fd="widget" 
            :is="widget.ComponentName+'Exe'" >
        </component>
        <component v-if="widget.Status=='Active' && !widget.ComponentName" v-show="index==formDefinition_ref.length-1" 
            :parent-resource-widget-id="widgetIdR"
            :css-prefix="cssPrefix"
            :data-ref="dataR"
            :fd="widget" 
            :is="getComponentName(widget.ElementType)" >
        </component>
        <div v-if="!widget.ComponentName && appStore.debugMode" class="red-font">Component name is undefined for {{ widget.UuidRef }} / {{widget.ElementType}}</div>
    </div>
</template>

<style scoped>
    
    .red-font{
        color: red;
        font-size: large;
    }
    .border-bottom{
        border-bottom:1px solid gray;
    }

</style>