<script setup lang="ts">

    import { storeToRefs } from 'pinia';
    import { useAuthUserStore } from '@/m_auth/stores/authUser';
    import { useResourceDefinitionStore } from '@/m_resource/stores/resourceDefinition';
    import { usePageStore } from '@/m_page/stores/page';
    import { useTaskStore } from '@/g_stores/task';
    import { useAlertStore } from '@/g_stores/alert';
    import { reactive,toRef,ref,computed,defineAsyncComponent } from "vue";
    import type { Ref } from 'vue'
    
    //define props
    const props = defineProps({
        formDefinition: Array<any>,
        parentResourceWidgetId:String,
    });

    let formDefinition_ref:Ref<any> = toRef(props,'formDefinition')

    let parentId:Ref<any> = toRef(props,'parentResourceWidgetId') || ''

    const authStore = useAuthUserStore()
    
    const taskStore = useTaskStore()
    const pageStore = usePageStore()
  
    pageStore.setWidgetLoaded(parentId.value)
    
</script>

<template>
    <component v-if="formDefinition_ref" v-for="widget in formDefinition_ref" :key="widget.id" :parent-resource-widget-id="taskStore.getTaskId(parentId)" :fd="widget" :is="widget.ComponentName+'Exe'" >
    </component>
</template>

<style scoped>

    .border-bottom{
        border-bottom:1px solid gray;
    }

</style>