<script setup lang="ts">

    import { storeToRefs } from 'pinia';
    //import { useAuthUserStore } from '@/m_auth/stores/authUser';
    import { usePageStore } from '@/m_page/stores/page'
    import { useTaskStore } from '@/g_stores/task'
    //import { useApplicationStore } from '@/g_stores/application'
    //import { useAlertStore } from '@/g_stores/alert';
    import TaskFormExe from "../g_components/TaskFormExe.vue";
    import {  reactive,toRef,ref,computed,defineAsyncComponent } from "vue";
    import type { Ref } from 'vue'
    import  configuration from '@/config';
    import Utility from '@/g_libs/kt-utility';
    //define props
    const props = defineProps({
        taskId: String,
    });

    const taskId_ref:Ref<string | undefined> = toRef(props,'taskId')

    const taskId = taskId_ref.value || ''

    const taskStore = useTaskStore()

    const pageStore = usePageStore()

    const utility:Utility = new Utility()
    utility.createCssLink(configuration().api?.publishurl,taskStore.getTaskId(taskId))
 
    
</script>

<template>

    <TaskFormExe :parent-resource-widget-id="taskId" :form-definition="taskStore.getTaskFormDefinition(taskId)"/>
    <!--
    <button  type="button"  class="btn btn-success margin-bottom" title="Execute task" @click="taskStore.executeTask(taskId)">
        <i  class="fa fa-save"></i> Execute task {{taskStore.getTaskWidget(taskId)?.Parameters?.taskDefId?.name}}
    </button>
    -->

</template>

<style scoped>

    .border-bottom{
        border-bottom:1px solid gray;
    }
    .margin-bottom{
        margin-bottom: 1rem;
    }
</style>