<script setup lang="ts">

    import { reactive,toRef,ref,computed,defineAsyncComponent } from "vue";
    import type { Ref } from 'vue'
    
    //define props
    const props = defineProps({
        toolboxItems: Array<any>,
        resourceType:String
    });

    let toolboxItems_ref:Ref<any> = toRef(props,'toolboxItems')
    let collapsed:Ref<Record<PropertyKey,boolean>> = ref({})

    const setCollapse=function(value:string,element_type:string){
        if (element_type=="toolboxgroup")
        {
            if (collapsed.value[value]===undefined) collapsed.value[value] = true
            else
            {
                if (collapsed.value[value]) collapsed.value[value] = false
                else collapsed.value[value] = true
            }
        }
    }
    function startDrag(ev:any, item:any) {
      ev.dataTransfer.dropEffect = 'copy'
      ev.dataTransfer.effectAllowed = 'copy'
      const toolbox_item:string = JSON.stringify(item)
      ev.dataTransfer.setData('toolboxItem', toolbox_item)
      ev.dataTransfer.setData(item.ElementType, item.ElementType)
      
      let dragImgElement = document.createElement("div");  
      dragImgElement.innerHTML = "Miro drag image";  
     // ev.dataTransfer.setDragImage(dragImgElement,0,0)
    }
</script>

<template>
    <div class="toolbox-wrapper">
 
        <div class="helper" style="opacity: 0.5;">
        
            <p class="small text-center text-muted m-2">To build dataset drag &amp; drop components from toolbox</p>
        </div>

        <div :id="props.resourceType+'-toolbox'" class="">

            <div v-for="toolboxItem in toolboxItems_ref" :key="toolboxItem.id" title="Drag me" :kt-element-type="toolboxItem.ElementType" @dragstart="startDrag($event, toolboxItem)" :draggable="toolboxItem.ElementType!='toolboxgroup'" @click="setCollapse(toolboxItem.ToolboxGroup,toolboxItem.ElementType)" :class="{'toolbox-item element-drag-handle':toolboxItem.ElementType!='toolboxgroup'}" v-show="!toolboxItem.HideFromToolbox && (collapsed[toolboxItem.ToolboxGroup] || toolboxItem.ElementType=='toolboxgroup')">
                                
                    <div  style="cursor: pointer;" v-if="toolboxItem.ElementType=='toolboxgroup'" class="border-bottom mb-2">
                        <span class="bold"> {{toolboxItem.ToolboxGroup}}</span>
                        <i :class="{'fas fa-angle-down float-right':collapsed[toolboxItem.ToolboxGroup],'fa fa-angle-up float-right':!collapsed[toolboxItem.ToolboxGroup]}"></i>
                    </div>
                                                                    
                    <span v-if="toolboxItem.ElementType!='toolboxgroup'" class="element-drag-handle icon-muted" :class="toolboxItem.Facss"></span> 
                    <span v-if="toolboxItem.ElementType!='toolboxgroup'" class="element-drag-handle mx-1">{{toolboxItem.Label}}</span>
                    <i v-if="toolboxItem.ElementType!='toolboxgroup'"  class="element-drag-handle handler fas fa-grip-vertical text-dark mr-1" style="opacity:0.2"></i>
                    
            </div>
        </div>
    </div>
</template>

<style scoped>
.toolbox-wrapper{
    padding: 0.75rem;
}
.toolbox-item{
    border: 1px solid #d1d1d1;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
</style>