<script setup lang="ts">

    import { toRef,ref,reactive , inject,nextTick, onUpdated } from "vue"
    import { computed, watch,onMounted, onBeforeMount, onBeforeUnmount, onUnmounted } from "vue";
    import { required,email,helpers } from '@vuelidate/validators'
    import { usePageStore } from '@/m_page/stores/page'
    import { useRdbmsResourceStore } from '@/m_resource/stores/rdbmsResource'
    import { useResourceFormStore  } from '@/m_resource/stores/resourceForm'
    import { useResourceDefinitionStore } from "@/m_resource/stores/resourceDefinition";
    import type { Ref , ComputedRef} from 'vue'
    import { useCodesStore } from "@/g_stores/codes"
    import  FormWidgetExeBase  from './widgets/FormWidgetExeBase.vue'
    import  DropDown  from '@/g_components/DropDown.vue'
    import  DropDownSingle  from '@/g_components/DropDownSingle.vue'
    import { useAuthUserStore } from '@/m_auth/stores/authUser';

    var localVars = {
      editMode: false,
    }

    const formStore = useResourceFormStore()
    const pageStore = usePageStore()
    const rdbmsStore = useRdbmsResourceStore()
    const codesStore = useCodesStore()
    const resourceStore = useResourceDefinitionStore()
    const authStore = useAuthUserStore() 

    const props = defineProps({
        showEditCodes: Boolean,
        fd: Object,
    });

    const emit = defineEmits(['saved','closed'])

    let showDropdownItems=false
    let codeHead=ref()

    //let parentId:Ref<any> = toRef(props,'parentResourceWidgetId')!==undefined ? toRef(props,'parentResourceWidgetId') : ref('')
      
    let fd: Ref<any> = toRef(props, 'fd')
    let showMeRef: Ref<any> = toRef(props, 'showEditCodes')
  


    const dataSrcTypeRef = inject("dataSrcTypeRef") 
    //let cssPrefixR:Ref<string | undefined> = toRef(props,'cssPrefix')
    //if (!cssPrefixR.value) cssPrefixR.value = parentId.value

    pageStore.setWidgetLoaded(props.fd?.UuidRef)
    let codeId:Ref<string> = ref('')
    if (typeof props.fd?.CodeId==='number')  codeId.value = props.fd?.CodeId +'-'+authStore.getCurrentUserOrgId
    else codeId.value = props.fd?.CodeId
    const codeKey:Ref<string>=ref(codeId.value + '-' + authStore.getCurrentUserLangId.toString())
    
    //let selectedItemColor:ComputedRef<string> = computed(()=>{return rdbmsStore.resourceData[parentId.value]?.data[fd?.FieldName]===undefined ? '#B7BAC4': '#26314d' } )
    //const parentWidget:any = pageStore.getWidgetOnCurrentPage(.value)
    //const recId = parentWidget?.rdbmsRecId

    let isSelected = reactive<{ [key: string]: boolean }>({});

    /*let customStyle = computed(()=>{
      if (dataRef?.value[props.fd?.FieldName]==undefined) return 'color:#B7BAC4 !important;'
      else return ''
    })*/

   // let fontColor:string = 'color:'+fd?.Parameters?.ValueFontColor+' !important;'


//////////////////////////////////////////

   // const codeId = ref(true); // Replace with dynamic value if required
    let showIconActive = ref(true);
    let codesList = reactive([]);

    // Methods
    const addEmptyCodeItem = async () => {
      codesStore.addNewCodeItem(fd.value.CodeId, lang ,     {  id: 0,  Value: '', Name: '', Params: { Icon2: '', btnClass: '' },  Active: true, })
      await nextTick();
  
      scrollToBottom()
    }

    const removeCode = (index:any) => {
      codesList.splice(index, 1);
    };

    const toggleActive = (codeItem:any) => {
      codeItem.Active = !codeItem.Active;
    };


    const saveCodesDetails = () =>
     {  
      
      codesStore.saveCodesDetails(codeHead.value,lang)
      emit('saved')
      console.log('Saved Codes:', codesList);
    };


    let saveNewCode = () => {
    }

    
    const user =authStore.getCurrentUser || {}
    const lang:string = user.lang

    codesStore.getCodeHeadLang (fd.value.CodeId, lang ).then(
      function(data) {  
          codeHead.value = data.data                       
      },function(error){         
     }) 
  

    let submitted=  false
    let  isValidDescription=false


  let closeModal=()=>{
    emit('closed')
  }
  const scrollContainer = ref(null);

  const scrollToBottom = () => {
    const container = scrollContainer.value as unknown as HTMLElement;
    if (container) {
      container.scrollTop = container.scrollHeight;
    }
};

onUpdated(() => {

    scrollToBottom()

});


</script>

<template>

<div v-if="codeHead && fd &&  showEditCodes" >  

      <!--  <input v-model="showEditCodes" type="checkbox" id="modal-toggle">  must be sibling of class "mmodal" -->

			  <div class="mmodal">
				<div class="mmodal-content">

          <div class="modal-header py-0 mb-2">
            <div class="modal-title fnt12 col mx-0 p-0 my-2">
              <i class="fa fa-barcode mr-2"></i> 
              <span class="ng-binding"> Edit list</span> 

              <button type="button" class="close" @click="closeModal" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
          </div>

				 <!-- <h3  class="text-center mt-3 mb-0">Edit list </h3>-->
	
          <form  class="needs-validation form-horizontal"  @submit.prevent="saveNewCode()"  id="form"   name="form"      novalidate >

              <!--  <div class="form-group" v-if="fd?.localVars?.selectedCodeHead?.id > 0">
                  <label for="codeId">Code ID</label>
                  <input
                    type="text"
                    v-model="props.fd.localVars.selectedCodeHead.id"
                    disabled
                    class="form-control"
                    id="codeId"
                    name="codeId"
                    placeholder="Code ID" />
                </div>-->

                <!-- List Name -->
                <div  class="form-group"  :class="{  'is-invalid was-validated': submitted , }" >
                  <label   for="codeName"   :class="{ 'text-danger': submitted  }" >
                    List Name
                  </label>
                  <input
                    type="text"
                    v-model="codeHead.CodeName"
                    :readonly="true"
                    required
                    class="form-control"
                    id="codeName"
                    name="codeName"
                    placeholder="List group name" />
                  <p  v-if="submitted "  class="invalid-feedback" >
                    Enter List name
                  </p>
                </div>

                <!-- List Description -->
                <div  class="form-group" :class="{   'is-invalid was-validated': submitted && !isValidDescription,  'is-valid': submitted && isValidDescription, }">
                  <label   for="codeDescription"  :class="{ 'text-danger': submitted && !isValidDescription }" >
                    List Description
                  </label>
                  <textarea
                    v-model="codeHead.Description"
                    :readonly="true"
                    required
                    minlength="20"
                    class="form-control"
                    id="codeDescription"
                    name="codeDescription"
                    placeholder="List description" ></textarea>
                  <p   v-if="submitted && !isValidDescription"   class="invalid-feedback" >
                    Enter list description (min 20 chars)
                  </p>
                </div>
              </form>



      
					<!--	<div v-hide="fd?.localVars?.selectedCodeHead.id>0"  class="row text-center">
							<div  class="col-12 control-group mb-2"  >
														 
									 <button type="button" id="saveBtn" @click="saveNewCode()" class="btn btn-outline-success">
										 <span class='fa fa-save mr-2'></span>
													  Save 
									  </button>

								</div>
								
								<div  class="col">
									  <label for="modal-toggle" class="close-btn">    Close	  </label>  
								 </div>
						 </div>-->
			
		<div v-show="true || props.fd?.localVars?.selectedCodeHead?.id" class="row">			
			<div class="offset-6 col-11 pt-3 h5 text-center " v-if="props.fd?.localVars?.selectedCodeHead.id"> List items </div>
	
			 <div class="col-24 pt-4">
					<div>Details</div> 
					<label class="switch switch-green">
							<input v-model="showIconActive" type="checkbox"  class="switch-input">
							 <span class="switch-label" data-on="On" data-off="Off"></span>
							 <span class="switch-handle"></span>
						</label>
				</div>
		
		</div>
			 

    <div v-if="true || codeId" id="KT-CODES-DETAIL-EDIT">
        <form  id="formCodes" name="formCodes" class="mt-2 form-horizontal" role="form" novalidate>
        
          <div id="Details" class="">
            <div style="border-bottom: solid 1px gray;" class="row mx-1 w-100">
              <div class="col-2 my-2 pl-0">
                <label class="bold">ID</label>
              </div>
              <div class="col-7 my-2">
                <label class="bold">Value</label>
              </div>
              <div v-if="showIconActive" class="col-6 my-2">
                <label class="bold">Name</label>
              </div>
              <div v-if="showIconActive" class="col-4 my-2 text-center">
                <label class="bold">Icon</label>
              </div>
              <div v-if="showIconActive" class="col-3 my-2">
                <label class="bold">Active</label>
              </div>
            </div>

            <!-- Scrollable Container -->
            <div v-if="codesStore.getCodeList(codeId,lang).length > 0"  ref="scrollContainer" id="scrollcontainer" class="my-2" style="overflow-y: scroll; max-height: 250px;">
          
              <div v-for="(codeItem, index) in codesStore.getCodeList(codeId,lang)" :key="index" class="row mx-1 my-1">
                <div class="col-2 px-0">
                  <label class="form-control form-control-xs" style="border:none">
                    <nobr>{{ codeItem.id || '*' }}</nobr>
                  </label>
                </div>

                <div class="col-7 px-2 align-items-center">
                  <input type="text" v-model="codeItem.Value" @input="codeItem.Name = codeItem.Value" required placeholder="Code Value" class="form-control form-control-xs" />
                </div>

                <div v-if="showIconActive" class="col-7 px-2 align-items-center">
                  <input type="text" v-model="codeItem.Name" required placeholder="Item name" class="form-control form-control-xs" />
                </div>

                <div v-if="showIconActive" class="col-3 px-1 align-items-center text-center">
                  <div>{{ codeItem?.Params?.Icon2 }}</div>       <!-- Placeholder for icon picker -->
                </div>

                <div v-if="showIconActive" class="col-3 px-1 align-items-center text-center">
                  <button type="button" class="btn btn-sm p-0" :class="codeItem.Active ? 'btn-outline-success' : 'btn-outline-danger'" title="Status" @click="toggleActive(codeItem)">
                    <i class="px-1" :class="codeItem.Active ? 'fas fa-check' : 'fas fa-times'"></i>
                  </button>
                </div>

                <div class="col-1 px-1 ml-2 align-items-center">
                  <button type="button" class="btn btn-sm p-0 px-1" title="Remove code" @click="removeCode(index)">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- Add Button -->
          <div class="col-24 pb-2 text-center" style="border-bottom:solid 1px">
            <button type="button" id="addBtn" class="btn btn-sm btn-primary" @click="addEmptyCodeItem">
              <span class="fa fa-plus"></span>
            </button>
          </div>

          <!-- Save Button -->
          <div class="control-group my-3">
            <button type="button" @click="saveCodesDetails" id="saveBtn" class="btn btn-outline-success">
              <span class="fa fa-save mr-2"></span>
              Save code list
            </button>
          </div>
        </form>

  </div>


	<div v-show="fd?.localVars?.selectedCodeHead?.id>0" class="row text-center mt-3">
								 					 
								 <div  class="offset-16 col-4">
									  <label for="modal-toggle" class="close-btn">Cancel</label> 
								  </div>
								  
								 <div  class="col-4 control-group mb-2" >
															 
									 <button  type="button" id="saveBtn" @click="fd?.saveCodesDetails(fd?.localVars?.selectedCodeHead, fd?.codeList )"  class="btn btn-success">
											 <span class='fa fa-save mr-2'></span>
														  Save 
									 </button>

								 </div>
						  				
		</div>
		
		</div>
		</div>

</div>
	


</template>

<style scoped>

* {
    box-sizing: border-box;
}

.mmodal {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    /*opacity: 0;
    pointer-events: none;*/
    transition: opacity 0.3s ease;
}

#modal-toggle {
    display: none;
}

#modal-toggle:checked ~ .mmodal {
    opacity: 1;
    pointer-events: all;
}
.mmodal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 40%;
    max-width: 100%;
}

.list-wrapper{
  display: grid;
  grid-template-columns: repeat(24,1fr);
  grid-auto-flow: row;
}

.default-style{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size:1rem;
    line-height: 1.5;
    color: #26314d;
    background-color: #fff;
    background-clip: paddiv-box;
    border: 1px solid #E7E9EC;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .default-style {
      transition: none; 
    } 
    }
  .default-style-ms-expand {
    background-color: transparent;
    border: 0; }
  .default-style:focus {
    color: rgba(14, 26, 57, 0.9);
    background-color: #fff;
    border-color: #9eb6f3;
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgba(44, 96, 229, 0.25); }
  .default-styleplaceholder {
    color: #B7BAC4;
    opacity: 1; }
  .default-style:disabled, .default-style[readonly] {
    background-color: #F3F3F5;
    opacity: 1; }



</style>