<script setup lang="ts">
import { RouterView } from "vue-router";
//import AppLayout from '@/g_layouts/AppLayout.vue'
//import AppDefaultLayout from '@/g_layouts/AppDefaultLayout.vue'
import AppStandardLayout from '@/g_layouts/AppStandardLayout.vue'
import { usePageStore } from '@/m_page/stores/page';


//let layout = shallowRef(AppDefaultLayout)
const pageStore = usePageStore()
</script>

<template>

<router-view  v-slot="{Component}"> 
  <component :is="$route.meta?.layout || AppStandardLayout">
    <component :is="Component" :key="$route.path"/>
  </component>
  <div class="poster" :class="!pageStore.getOpenPageInProgress ? '' : 'active'">
      <div class="lds-ripple"><div></div><div></div></div>
  </div>
</router-view>

 </template>

<style scoped>

.poster{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    line-height: 100vh;
    background-color: #0E1A39;
    opacity: 0;
    text-align: center;
    display: none;
    }

    .poster.active{
      opacity: 0.5;
      display: block;
      transition: opacity 0.125s linear;
    }
    
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
</style>
